{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load event_log_tags %}


{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{% static 'famfamfam/icons/page_green.png' %}"/>{% firstof MODULE_EVENT_LOGS_LABEL trans 'Event Logs' %}
    </a>
    {% if event_log %}
    {% event_log_current_app request.user event_log %}
    {% else %}
    {% event_log_current_app request.user %}
    {% endif %}
</li>
{% endblock %}
