# Copy this file and rename it .env to populate your local environment.
# Lines beginning with # are comments. Be sure to uncomment your real variables.
#
# Key/values can be separated by : or = characters.
# Values can be wrapped in '', "", or no wrapping characters.
# Spaces can be in the middle or end of a line.
# Here are some examples of keys and values:
#
# A_KEY: value
# B_KEY = True
# C_KEY :   'this value'
# D_KEY="another-key-value"
#
# Values of False or True will be returned as booleans.


# DATABASE SIMPLE
DATABASE_URL='postgres://localhost/tendenci'
# DATABASE IN REALITY: database user "tendenci" and a database named after your project like "tendenci555555555"
# DATABASE_URL='postgres://tendenci:yourgreatpassword@localhost/tendenci555555555'


# EMAIL: CONFIGURATION FOR NOTIFICATIONS USES PYTHON-EMAIL, CHANGE FOR DOVECOT, POSTFIX, ETC...
EMAIL_HOST: "localhost"
EMAIL_PORT: "25"
NO_REPLY_ADDRESS: "no-reply@EXAMPLE.COM"


# SECURITY: CHANGE THESE! Also note that SITE_SETTINGS_KEY must be 32 characters
SECRET_KEY='your_unique_secret_key_Qoh222VG9pq8P9hOapH'
SITE_SETTINGS_KEY='tendenci_site_key_bdc635k2-283d-4a2c-a477-339ea866'


# AWS/S3 usage depends on all 4 settings below being set.
#AWS_ACCESS_KEY_ID='your_key_id'
#AWS_SECRET_ACCESS_KEY='your_access_key_id'
#AWS_STORAGE_BUCKET_NAME='bucket_name'
#AWS_LOCATION='your_name'


# Some other settings below can be uncommented to be used.
# They may be helpful in development situations.

#DEBUG='True'
#LOCAL_MEMCACHED_URL = '127.0.0.1:11211'

# SITE_MODE of dev is used to read the theme locally
# even if S3 settings are setup.
# This setting is 'prod' by default, which will base the theme
# path on whether or not S3 is configured

#SITE_MODE='dev'

# Whoosh is a local haystack search engine backend
# that can be used locally and on your own server.
# If hosting on Heroku, comment this line out and
# use and addon like websolr.
HAYSTACK_SEARCH_ENGINE='whoosh'
