{% extends "contacts/base.html" %}
{% load contact_tags %}
{% load styled_forms %}
{% load i18n %}

{% block title %}{{ block.super }}Add{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="/site_media/static/css/contacts.css">
{% endblock %}

{% block body %}
<div class="t">

    {% contact_nav request.user %}

    <h1>{% trans "Add:" %} {% firstof MODULE_CONTACTS_LABEL 'Conacts' %}</h1>

    <div class="contact-wrap">
    	<form action="{% url contact.add %}" method="post">{% csrf_token %}
    	<div class="forms">
            {{ form|styled_form }}
        	<input type="submit" value="Add {{ {% firstof MODULE_CONTACTS_LABEL 'Contact' %}}}" />
		</div>
        </form>
    </div>

</div>
{% endblock %}
