{% extends "memberships/base.html" %}
{% load styled_forms %}

{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/memberships.css' %}">
{% endblock %}

{% block content %}
<div class="t">
    <h2>{{ app.name }}</h2>
    <p>{{ app.description|safe|urlize }}</p>

    <div class="form-builder-wrap">
        <form method="post">{% csrf_token %}
        <div class="forms">
            {{ form|styled_form }}
            <input type="submit" value="{% trans 'Submit' %}&raquo;" />
        </div>
        </form>
    </div>
</div>
{% endblock %}
