{% load l10n %}
{% load styled_forms %}


{% if field_obj.field_name == '' %}
    <div class="page-header{% if field_obj.admin_only %} t-membershipapp-admin-only-header{% endif %}{% if field_obj.css_class %} {{ field_obj.css_class }}{% endif %}">
        <h3>{{ field_obj.label }}</h3>
        {% if field_obj.description %}{{ field_obj.description }}{% endif %}
    </div>
{% else %}
    {% if field or field_obj.display_only %}
        <div class="form-group{% if field_obj.admin_only %} t-membershipapp-admin-only{% endif %}{% if field_obj.css_class %} {{ field_obj.css_class }}{% endif %}">
			{% if field_obj.display_only %}
				<label class="col-sm-3 control-label">{{ field_obj.label }}</label>: <div class="col-sm-7" style="padding-top: 7px;">{{ field_obj.display_content|safe }}</div>
			{% else %}
	            {% if field_obj.field_stype == 'old_checkboxinput' %}
	                <div class="col-sm-offset-2 col-sm-10">
	                    {% if field.errors %}
	                        <div class="error">
	                            {% for error in field.errors %}
	                            <p>{{ error }}</p>
	                            {% endfor %}
	                        </div>
	                    {% endif %}
	
	                    <div class="checkbox">
	                        <label {% if field.field.required %} class="required"{% endif %}>
	                            {{ field }} {{ field.label }}
	                        </label>
	                    </div>
	
	                    {% if field.help_text %}
	                        <div class="help-block">{{ field.help_text|safe }}</div>
	                    {% endif %}
	                </div>
	                <div style="clear: both"><!-- IE7 --></div>
	            {% else %}
	                {% if field_obj.field_name == 'password' %}
	                        <label for="{{ field.id_for_label }}" class="col-sm-3 control-label{% if field_obj.required %} required{% endif %} {{ field_obj.label_type }}">{{ field_obj.label }}</label>
	
	                        <div class="col-sm-6 {{ field_obj.field_div_class }}">
	                            {% if field.errors %}
	                                <div class="error">
	                                    {% for error in field.errors %}
	                                        <p>{{ error }}</p>
	                                    {% endfor %}
	                                </div>
	                            {% endif %}
	
	                            {{ field }}
	
	                            {% if field.help_text %}
	                                <span class="help-block">{{ field.help_text|safe }}</span>
	                            {% endif %}
	                        </div>
	                    </div>
	
	                    <div class="form-group{% if field_obj.admin_only %} t-membershipapp-admin-only{% endif %}{% if field_obj.css_class %} {{ field_obj.css_class }}{% endif %}">
	                        <label for="{{ field.id_for_label }}" class="col-sm-3 control-label{% if field_obj.required %} required{% endif %} {{ field_obj.label_type }}">{{ field_pwd.label }}</label>
	
	                        <div class="col-sm-6 {{ field_obj.field_div_class }}">
	                            {{ field_pwd }}
	                        </div>
	                {% else %}
	                    <label {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}for="{{ field.id_for_label }}"{% endif %} class="col-sm-3 control-label{% if field.field.required %} required{% endif %} {{ field_obj.label_type }}">{{ field_obj.label }}</label>
	
	                    {% if field|is_checkboxselectmultiple %}
	                        {% if field.help_text %}
	                            <span class="help-block checkmultiple">{{ field.help_text|safe }}</span>
	                        {% endif %}
	                    {% endif %}
	
	                    {% if field|is_fileinput %}
	                        {% if field.help_text %}
	                            <span class="help-block">{{ field.help_text|safe }}</span>
	                        {% endif %}
	                    {% endif %}
	
	                    <div class="col-sm-{{ field|col_sm_width }} {% if field|is_fileinput %}fileinputbox{% else %}{{ field_obj.field_div_class }}{% endif %}">
	                        {% if field.errors %}
	                            <div class="error">
	                                {% for error in field.errors %}
	                                    <p>{{ error }}</p>
	                                {% endfor %}
	                            </div>
	                        {% endif %}
	
	                        {% if field|is_checkbox %}
	                            <div class="checkbox">
	                                <label>{{ field }}</label>
	                            </div>
	                        {% elif field|is_checkboxselectmultiple %}
	                            {% for choice in field.field.widget.choices %}
	                                <div class="checkbox">
	                                    <label>
	                                        <input type="checkbox"{% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}"{% for attr_name, attr_value in field.field.widget.attrs.items %} {{ attr_name }}="{{ attr_value }}"{% endfor %}>{{ choice.1|unlocalize }}
	                                    </label>
	                                </div>
	                            {% endfor %}
	                        {% elif field|is_radioselect %}
	                            {% for choice in field.field.widget.choices %}
	                                <div class="radio">
	                                    <label>
	                                        <input type="radio"{% if choice.0|stringformat:"s" == field.value|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}"{% for attr_name, attr_value in field.field.widget.attrs.items %} {{ attr_name }}="{{ attr_value }}"{% endfor %}>{{ choice.1|unlocalize }}
	                                    </label>
	                                </div>
	                            {% endfor %}
	                        {% else %}
	                            {{ field }}
	                        {% endif %}
	
	                        {% if not field|is_checkboxselectmultiple and not field|is_fileinput %}
	                            {% if field.help_text %}
	                                <span class="help-block">{{ field.help_text|safe }}</span>
	                            {% endif %}
	                        {% endif %}
	                    </div>
	                {% endif %}
	            {% endif %}
	         {% endif %}
        </div>
   {% endif %}
{% endif %}
