{% extends "jobs/base.html" %}
{% load job_tags %}
{% load culintro_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{{ job.get_title }}{% endblock %}
{% block meta_description %}{{ job.get_description }}{% endblock %}
{% block meta_keywords %}{{ job.get_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ job.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jobs.css">
{% endblock %}

{% block body %}

<div class="t">
    {% culintro_nav request.user job %}

    <div class="job-wrap">
        <h1>{{ job.title }}</h1>

		<h2>{% firstof MODULE_JOBS_LABEL 'Job' %} {% trans "Information" %}</h2>

{% if job.description %}
		<div class="section-block">
			<div class="label">{% trans "Description" %}</div>
			<div class="value">{{ job.description|safe }}</div>
		</div>
{% endif %}

{% if job.location_2 or job.location_other %}
		<div class="section-line">
			<div class="label">{% trans "Location" %}</div>
			{% if job.location_2 %}<div class="value">{{ job.location_2 }}</div>
			{% else %}
			<div class="value">{{ job.location_other }}</div>
			{% endif %}
			<div class="clear"></div>
		</div>
{% endif %}

{% if job.contact_name or job.contact_phone or job.contact_email %}
		<h2>{% trans "Contact Information" %}</h2>
		<div class="contact-wrap">
			<div>{{ job.contact_name }}</div>
			<div>{% trans "Phone:" %} {{ job.contact_phone }}</div>
			<div>{{ job.contact_email|obfuscate_email }}</div>
		</div>
		
{% endif %}
        {% include 'culintro/meta.html' %}
        {% url job job.pk as the_url %}
        <p>{% fb_like_button_iframe the_url %}</p>
    </div>

</div>
{% endblock %}
