{% load i18n %}
    <section id="base-links">
        <p>{{ SITE_GLOBAL_SITEMAILINGADDRESS }}<br />
        <a href="/login/">{% trans "Log in" %}</a> |
        <a href="/search/">{% trans "Search" %}</a> | <a href="/">{% trans "Home" %}</a> | <a href="/contact/">{% trans "Contact" %}</a><br />
        <a href="http://schipul.com/web-design/" target="_blank">Schipul Web Design</a> | <a href="http://www.tendenci.com/" target="_blank">Tendenci® Membership Management Software</a></p>
    </section>