{% extends "user_groups/base-wide.html" %}
{% load user_group_tags %}


{% block title %}{% trans 'Edit Group Permissions' %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin/django-admin-widgets.css' %}">

<style>
.selector select[multiple], select[size]{
	height: 250px;
}
.selector-available h2, .selector-chosen h2{
	font-size: 1.3em;
}
.edit-group-perms .selector { width: 840px; }
.edit-group-perms .selector select { width: 640px; }
.edit-group-perms .selector-available, .edit-group-perms .selector-chosen { display: block; width: 640px; text-align: center; margin-bottom: 5px; }
.selector ul.selector-chooser { display: block; background-image: none; width: 640px;  height: 28px;  margin: 3px 0 !important; padding: 5px;}
.edit-group-perms .selector ul.selector-chooser li {
 display: inline; 
 float: left;
 padding: 0 148px; }
 .selector-remove{
 	padding-left: 16px
 }
.edit-group-perms .selector-chosen .selector-filter { display: none; }
.selector .selector-available input {
    width: 90%;
}
.selector-available, .selector-chosen, .selector ul.selector-chooser {
	float: none;
}
.selector-add {
    background: url(/static/themes/t7-base/images/admin/selector_stacked-add.gif) top center no-repeat;
    margin-bottom: 2px;
}
.selector-remove {
    background: url(/static/themes/t7-base/images/admin/selector_stacked-remove.gif) top center no-repeat;
    margin-bottom: 2px;
}
</style>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/admin/django-admin.multiselect.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            jQuery.each($("select[multiple]"), function () {
            // "Locations" can be any label you want
            SelectFilter.init(this.id, "Permissions", 0, "/media/");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="t">
        <div class="t-group">
            <div class="t-perm">
                <h1>{% trans "Add/Remove Permissions" %}</h1>
                <h2>{% trans "Group" %}: <a href="{{ group.get_absolute_url }}">{{ group.label }}</a></h2>


                <div class="profile-wrap edit-group-perms" style="margin-top:1em;">
                    <form action="" method="post">{% csrf_token %}
                        <div class="field-wrapper">
                            {% if form.permissions.errors %}
                                {{ form.permissions.errors }}
                            {% endif %}
                            <label for="id_permissions" style="float:left; padding-right: 1em;">
                                <b>{% trans "Group Permissions" %}:</b>
                            </label>
							<br />
                            {{ form.permissions }}
                        </div>

                        <div style="clear:both">
                            <input class="btn btn-default" type="submit" value="{% trans 'Save' %}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
