{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{% trans "Blog Import Success!" %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000">
<p>{% blocktrans with request.user.get_full_name as author %}Your blog has been imported to the {{ SITE_GLOBAL_SITEDISPLAYNAME }} Articles module. Thank you for waiting.{% endblocktrans %}.</p>

<p>{% trans 'To view the blog go to' %}: <b><a href="{{ SITE_GLOBAL_SITEURL }}/articles">{{ SITE_GLOBAL_SITEURL }}/articles</a></b><br>

<P>{% trans 'Time submitted' %}:  {% now "D d M Y P" %}</P>

</body>
</html>
