{% load perm_tags %}
{% load base_filters %}

{% if SITE_GLOBAL_SEARCHINDEX %}
<form class="form-inline" action="{% url "photoset_latest" %}" method="get" role="search">
  <div class="form-group">
    
    <div class="input-group add-on">      
      <input class="form-control" type="text" name="q" value="{{ request.GET.q|striptags }}" placeholder="Search" />
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search" alt="{% trans 'Search' %}"></i>
        </button>
      </div>
    </div>
    
 </div>
  
{% has_perm user photos.add_photoset as can_add_photoset %}
  
  {% if can_add_photoset %}
  <div class="form-group pull-right">
    <a href="{% url "photoset_add" %}">
      <span class="btn btn-primary">{% trans 'Add Photo Set' %}</span>
    </a>
  </div>
  {% endif %}
  
  
</form>
<br />
{% endif %}
