div.forms .form-field ul{list-style:none;}
div.column2 ul, div.column3 ul{
	float: left;
	width: 90%;
}
div.column2 ul li {
	float: left;
	width: 45%;
	margin: 0;
	padding: 0;
}
div.column3 ul li {
	float: left;
	width: 30%;
	margin: 0;
	padding: 0;
}
div.column0 ul li {
	float: left;
	margin-right: 1em;
	padding: 0;
}
.size-s input[type="text"]{width: 20% !important;}
.size-m input[type="text"]{width: 50% !important;}

/*
div.section-break h2{
	font-size: 1.2em;
	margin: 1.5em 0 1em;
	padding: 3px 0;
	background-color: #e5ecf9;
	border-top: 1px dotted silver;
	color: #417690;
}
*/ 

div.admin-only h2{
	color: #9f2221;
}
div.forms div.form-field input.datepicker{
	width: 9em !important;
}
div.forms div.form-field input.timepicker{
	width: 8em !important;
}
.errors{
	background-color: #ffebeb;
	border: 2px solid #ff8b78;
	margin-bottom: 20px;
	padding: 10px;
	width: 75%;
}

/* view */
.bolded-content{
	font-weight: bold;
}
.corpmemb-view .content{
	line-height: 1.3em;
}

.status-pending{
	background-color: yellow;
}
.status-expired{
	color: red;
}
.status-archived{
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-weight: bold;
}
.status-archive{
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-weight: bold;
}
.status-disapproved{
    color:#C09853;
}
.pending-info-box{
	background-color: #F7FFAF;
}

/* import */
#corp-import-wrap .form-field {
    background-color: #F7F7F7;
    height: 25px;
    width: 725px;
}
#corp-import-wrap .form-field .label {
    border-bottom: 1px solid #EEEEEE;
    padding: 5px 10px 5px 0;
    text-align: right;
}
#corp-import-wrap .form-field .label {
    float: left;
   	width: 365px;
}
#corp-import-wrap .form-field .field{
	float: left;
}
 .corp-import-step{
 	padding: 1em 0 0.5em 0;
 }
 .import-timestamp{
 	float: right;
 }
 #corp-import{	
 	width: 80%;	
 }
 .corp-import-upload{
 	border-top: 1px dashed #ccc;
 }
#corp-import em{
	font-weight: bold;
 }
 .opt-link{
 	padding-left: 6px;
 }
  .opt-link:hover{
 	color: #03447F;
 }
 .errorlist{
 	color: red;
 }
.action-invalid{
	color: red;
	background-color: yellow
}
.corp-index h2{
	margin: 1em 0;
}
.corp-index table tr td{
	padding: 3px;
}
.corp-index table tr td.header{
	background-color: #e5ecf9;
	border-bottom: 1px dotted #ccc;
}

.wrap-search-item{
    border: 1px solid #CCC;
}
.clear-left{
	clear: left;
}
.t-search .corpmember-left{
	width: 65%;
}
.t-search .corpmember-right{
	width: 35%;
}
.t-search .float-left{
    float: left;
}
.t-search .corpmember-box-header{
	font-size: 1.4em;
	background-color: #f2f2f2;
	padding: 3px;
}
.t-search .corpmember-box-body{
	margin-bottom: 1em;
	padding: 0 2em;
	line-height: 1.5em;
}
.t-search .label{
	font-weight: bold;
}
.t-search .search-form input[type="text"]{
	width: 500px;
}
.t-search .search-form{
    margin-bottom: 10px;
}
.disapproved .corpmember-box-header{
	text-decoration: line-through;
}
.disapproved .meta, .disapproved{
	background-color: #ccc !important;
}

/* search */
.field-label{
    font-weight: bold;
    margin-right: 3px;
}
.indiv-join-link{
    font-size: 1.2em;
}	