{% extends 'top_menu/admin_top-new.html' %}
{% load photo_tags %}

{% block nav_icon_url %}{% static 'famfamfam/icons/photo.png' %}{% endblock %}

{% block nav_label %}{% firstof MODULE_PHOTOS_LABEL trans "Photos" %}{% endblock %}

{% block current_app %}
    {% if photo %}
        {% photo_current_app request.user photo %}
    {% elif photo_set %}
        {% photo_set_current_app request.user photo_set %}
    {% else %}
        {% photo_current_app request.user %}
    {% endif %}
{% endblock %}
