{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

{% has_perm user site_settings.change_setting as can_edit_setting %}

{% if nav_object %}
    {% has_perm user directories.view_directory nav_object as can_view_directory %}
    {% has_perm user directories.change_directory nav_object as can_edit_directory %}
    {% has_perm user directories.delete_directory nav_object as can_delete_directory %}
{% else %}
    {% has_perm user directories.view_directory as can_view_directory %}
    {% has_perm user directories.change_directory as can_edit_directory %}
    {% has_perm user directories.delete_directory as can_delete_directory %}
{% endif %}


<ul id="module-tabs" class="tabs">
    {% if user.is_authenticated %}
    <li class="dropdown" data-dropdown="dropdown">
        <a href="#" class="dropdown-toggle">{% trans "Tendenci" %}</a>
        <ul class="dropdown-menu">
            <a href="{% url dashboard %}" title="Tendenci Home Page">{% trans "Dashboard" %}</a>
            <li><a href="{% url profile.index %}">{% trans "My Profile" %}</a></li>
            <li><a href="{% url auth_logout %}">{% trans "Log Off" %}</a></li>
        </ul>
    </li>
    {% endif %}
    <li class="dropdown active" data-dropdown="dropdown">
        <a href="#" class="dropdown-toggle">{% firstof MODULE_DIRECTORIES_LABEL_PLURAL 'Directories' %}</a>
        {% if nav_object %}
        <div class="dropdown-menu">
        <ul class="first">
            <li class="heading">{% trans "All" %} {% firstof MODULE_DIRECTORIES_LABEL_PLURAL 'Directories' %}</li>
            <li class="divider"></li>
        {% else %}
            <div>
            <ul class="dropdown-menu">
        {% endif %}
            {% if can_edit_setting %}
                <li><a href="{% url settings.index "module" "directories" %}">{% trans "Settings" %}</a></li>
            {% endif %}
            <li><a href="{% url directories %}">{% trans "All" %} {% firstof MODULE_DIRECTORIES_LABEL_PLURAL 'Directories' %}</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url directory.add %}">{% trans "Add" %} {% firstof MODULE_DIRECTORIES_LABEL 'Directory' %}</a></li>
            {% endif %}
        </ul>
        {% if nav_object %}
            {% if can_view_directory or can_edit_directory %}
            <ul>
                <li class="heading">{% trans "This" %} {% firstof MODULE_DIRECTORIES_LABEL 'Directory' %}</li>
                <li class="divider"></li>
                {% if can_view_directory %}
                    <li><a href="{{ nav_object.get_absolute_url }}">{% trans "View" %} {% firstof MODULE_DIRECTORIES_LABEL 'Directory' %}</a></li>
                {% endif %}
                {% if can_edit_directory %}
                    <li><a href="{% url directory.edit nav_object.pk %}">{% trans "Edit" %} {% firstof MODULE_DIRECTORIES_LABEL 'Directory' %}</a></li>
                    <li><a href="{% url directory.edit.meta nav_object.pk %}">{% trans "Edit Meta" %}</a></li>
                    <li><a href="{% url category.update nav_object.opt_app_label nav_object.opt_module_name nav_object.pk %}">{% trans "Edit Categories" %}</a></li>
                {% endif %}
                {% if can_delete_directory %}
                    <li class="divider"></li>
                    <li><a class="delete" href="{% url directory.delete nav_object.pk %}">{% trans "Delete" %} {% firstof MODULE_DIRECTORIES_LABEL 'Directory' %}</a></li>
                {% endif %}
            </ul>
            {% endif %}
        {% endif %}
        </div>
    </li>
    {% if can_edit_directory %}
    <li><a href="{% url directory_pricing.search %}">{% trans "Pricing" %}</a></li>
    {% else %}
    {% if MODULE_NEWS_ENABLED %}
    <li><a href="{% url news %}">{% firstof MODULE_NEWS_LABEL 'News' %}</a></li>
    {% endif %}
    {% endif %}
</ul>
