{% extends "memberships/base-wide.html" %}
{% load pagination_tags %}
{% load membership_tags %}
{% load base_tags %}
{% load base_filters %}
{% load perm_tags %}
{% load i18n %}

{% block title %}Membership Entry Search{% endblock %}
{% block meta_description %}{{ block.super }}{% endblock %}
{% block meta_keywords %}{{ block.super }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/memberships.css">
{% endblock %}

{% block body %}
<div class="t">
    {% entry_nav request.user %}

    <h1>{{ SITE_GLOBAL_SITEPRIMARYKEYWORDS }} {% trans "Membership Entry Search" %}</h1>

	{% entry_search %}

    {% autopaginate entries 10 %}

	<div class="memberships-wrap">

    {% for entry in entries %}
		{% with entry.object as entry %}
		<div class="membership-wrap-search">

            <div class="result-head {{ entry.status_msg|lower }}">
                {% if entry.is_pending %}
                {% else %}
                <div class="member-number">{{ entry.membership.member_number }}</div>
                {% endif %}

                <div class="member-status"><a 
                    href="{% url membership.application_entries entry.pk %}">
                    {{ entry.status_msg }}</a></div>

                {% if entry.is_renewal %}
                <div class="member-subscription">Renewal</div>
                {% else %}
                <div class="member-subscription">Join</div>
                {% endif %}

                {% if entry.is_pending %}
                <div class="member-date">Since {{ entry.create_dt|date }}</div>
                {% else %}
                <div class="member-date">{% firstof entry.decision_dt|date  entry.create_dt|date %}</div>
                {% endif %}

                <div style="clear:both:"></div>
            </div>
            <div class="result-content">
                <div class="member-name">{{ entry.name }}</div>
                <div class="member-email">{{ entry.email }}</div>
            </div>

            <!-- <h2>
                <a href="{% url membership.application_entries entry.pk %}">
                {% firstof entry.name trans "Name was not recorded" %}
                &nbsp;-&nbsp; {% firstof entry.email trans "Email was not recorded" %}
                </a>
            </h2>

            <h3>{% blocktrans with entry.entry_time|date as entry_date %}Submitted {{ entry_date }}{% endblocktrans %}</h3>

            {% if entry.is_approved == 1 or entry.is_approved == 0 %}
                {% if entry.is_approved == 1 %}
                <div class="membership-status approved">
                    {% blocktrans with entry.decision_dt|date as entry_decision %}Approved on {{ entry_decision }}{% endblocktrans %}
                </div>
                {% else %}
                    {% if entry.is_approved = 0 %}
                    <div class="membership-status disapproved">
                        {% blocktrans with entry.decision_dt|date as entry_decision %}Disapproved on {{ entry_decision }}{% endblocktrans %}
                    </div>
                    {% endif %}
                {% endif %}
            {% endif %} -->

            <div style="clear:both;"></div>

		</div>
		{% endwith %}
	{% empty %}
		<div>{% trans "0 Results Found" %}</div>
    {% endfor %}
	</div>

    <div class="membership-side-panel">

        <div class="application-set">
            <div>{% trans "Applications" %}</div>
            <ul>
                {% for app in apps %}
                <li><a href="?q=application:{{ app.name|lower }}">{{ app.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="type-set">
            <div>{% trans "Membership Types" %}</div>
            <ul>
                {% for type in types %}
                <li><a href="?q=type:{{ type.name|lower }}">{{ type.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="entry-status">
            <div>Status</div>
            <ul>
                <li><a href="?q=status:pending">{% trans "Pending" %}</a></li>
                <li><a href="?q=status:approved">{% trans "Approved" %}</a></li>
                <li><a href="?q=status:disapproved">{% trans "Disapproved" %}</a></li>
            </ul>
        </div>

    </div>

    <div style="clear:both;"></div>
    {% paginate %}
</div>
{% endblock %}