

{% block messages %}
    {% if request.impersonation_message %}
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
            {{ request.impersonation_message|safe }}
        </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible fade in{% if message.tags %} {{ message.tags }}{% endif %}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
                <p>{{ message|safe }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
