{% extends "site_base.html" %}
{% load styled_forms %}

{% block extra_head %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="t">
  <div class="page-header">
    <h1>{% trans 'Security Check' %}</h1>
  </div>
  <p>{% trans 'Please enter your password again to access the sensitive site data.' %}</p>

  <form class="form-group" method='post' action="{% url "password_again" %}?next={{ next }}" >{% csrf_token %}
    {{ form|styled_form }}
    <br />
    <input class="btn btn-primary" type='submit' value='{% trans "Submit" %}'>
  </form>
</div>
{% endblock %}
