{% if SITE_GLOBAL_SEARCHINDEX %}
<form id="t-{{ module_name }}-search-form" class="form-inline t-search-form" action="{{ form_action }}" method="get" role="search">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" style="float: left; width:80%;"   type="text" name="q" value="{{ request.GET.q|striptags }}" placeholder="Search" />
      <button class="btn btn-default" style="float: left; width:20%;"   type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
    <div class="clearfix"></div>
 </div>
</form>
<br />
{% endif %}
