{% load theme_tags %}
<section id="about-info">
    <h2>About {{ SITE_GLOBAL_SITEDISPLAYNAME }}</h2>
    <div class="blurb">
        <p>We provide excellent service to our clients with dedication and high customer satisfaction. We help businesses reach their target audience and make an impact on their industry.</p>
    </div>
</section><!-- /#about-info -->
<section id="about-img">
    <img src="http://media.tendenciapp.com/images/photo.jpg" />
</section><!-- /#about-img -->
{% theme_setting setting_name %}