.t .event-wrap-search .attend-wrap {
	border-top: 1px solid #DDD;
}
.t .event-wrap-search .attend-wrap .attend {
	border: 1px solid silver;
	float: right;
	margin-top: 10px;
	padding: 5px;
	background-color: #F7F7F7;
}
.t .event-wrap-search .attend-wrap .attend a {
	text-decoration: none;
}
.t .event-wrap-search .content {
	margin-bottom: 10px;
}

.search-view .event-wrap {
	background-color: #EEE;
	border: 1px solid silver;
	margin-bottom: 10px;
	padding: 0;
}
.event-wrap h3 {
	margin-top: 10px;
    margin-bottom: 10px;
}
.search-view .event-wrap div.description {
	margin-bottom: 10px;
}
.event-wrap div.time-stamp {
	float: left;
	width: 80px;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	margin: 15px 0 0 15px


}
.event-wrap div.time-stamp .age-msg {
	font-weight: normal;
	font-size: .8em;
}

.event-wrap .event-info {
	background-color: white;
	padding: 10px;
	margin-left: 110px;
	
}
.search-view .no-events {
	font-size: 1.4em;
	background-color: #FFC;
	padding: 10px;
}

.search-view .event-info .attend-wrap {
	border-top: 1px solid #DDD;
}
.search-view .event-info .attend-wrap .attend {
	border: 1px solid silver;
	float: right;
	margin-top: 10px;
	padding: 5px;
	background-color: #F7F7F7;
}
.search-view .event-info .attend-wrap .attend a {
	text-decoration: none;
}
.search-view .event-info .options {
	float: right;
}

.search-view .event-info .time-period {
	margin-bottom: 10px;
}

.search-view .event-info .options {
	top: 0;
}

.search-view .event-info .registered .attend {
	background-color: orange;
	border: 1px solid orange;
}
.search-view .event-info .registered .attend a {
	color: white;
}

.search-view .event-info .closed .attend {
	background-color: darkred;
	border: 1px solid darkred;
}
.search-view .event-info .closed .attend a {
	color: white;
}
.highlight {
	xbackground-color: #FFC;
	xpadding: 10px;
	xborder: 1px solid #E0C240;
	margin-bottom: 10px;
}

.search-hint {
	color: gray;
}