.t h2 {
    margin: 0 auto 10px 0;
}

.t ul.events-nav {
    margin: 0; padding: 0;
    list-style-type: none;
    margin-bottom: 20px;
}
.t ul.events-nav li {
    display: inline;
}

.t .events-wrap {
    margin-bottom: 20px;
}

.t .event-wrap {
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.t .events-wrap .event-wrap-search {
    border: 1px solid #CCC;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    background-color: white;
}

.t .events-wrap .event-wrap h2 {
    width: 85%;
}
.t .events-wrap .event-wrap .content {
    margin-bottom: 10px;
}
.t .event-wrap .options {
    text-align: right;
    position: absolute;
    top: -30px; right: 0;
    padding: 5px;
    white-space: nowrap;
}

.event-wrap .t-meta-data{
	padding: 10px 10px 5px;
	border-top: 1px solid #ccc;
}

.t .event-search-wrap .options {
    text-align: right;
    position: absolute;
    top: 0; right: 0;
    padding: 5px;
    white-space: nowrap;
}

.t .search-form .form-field { float: left; }
.t .search-form #event_types_container{ margin: 0 20px;height: 58px; }

.t .quick-options {
    float: right;
    margin-right: 5px;
}
.t .quick-options ul {
    margin: 0; padding: 0;
    list-style-type: none;
}

.t .dropdown-options {
    float: right;
    display: none;
}
.t .dropdown-options span {
    font-size: .7em;
}
.t .dropdown-options ul {
    display: none;
}

.t h1 {
    margin: 0;
}
.t .back-to-search {
    margin-bottom: 20px;
}

.t form.search-form input[type="text"],
form.search-form input[type="text"] {
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
}
.t form.search-form input[type="text"].datepicker {
    width: 70px;
}
.t form.search-form select,
form.search-form select {
    padding: 5px;
}
.t form.search-form ul.errorlist {
    margin-left: 20px;
    color: red;
}
.t form.search-form input[type="submit"] {
    padding: 5px;
    cursor: pointer;
}

.attend-wrap .spots-taken {
    float: left;
    margin-top: 15px;
}

/*= Details View
 ------------------------- */
 
 .t div.event-desc {
    margin-bottom: 10px;
    /* border-bottom: 1px solid #CCC; */
}

.spots-status{
    color: #871B1B; 
}
 /* speaker and organizer */
.t .speaker-wrap {
    margin: 15px 0 15px 0;
    text-align: left;
    padding: 10px 10px 10px 10px;
    background-color: #EBEBEB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.t .speaker-photo {
    float: left;
    margin: 0 10px 10px 0;
}

.t .organizer-wrap {
	text-align: left;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #CCC;
}

.t .speaker,
.t .organizer {
    margin-bottom: 5px;
}

.t div.speaker-wrap div.speaker-desc-long {
    display: none;
}

.t div.speaker-wrap a.speaker-desc-toggle {
    margin: 10px 0 0 0;
    display: block;
}

.t div.organizer-wrap div.organizer-desc-long {
    display: none;
}

.t div.organizer-wrap a.organizer-desc-toggle {
    margin: 10px 0 0 0;
    display: block;
}

.t div.place div.event-place-desc-long {
    display: none;
}

.t div.place a.event-place-desc-toggle {
    margin: 10px 0 0 0;
    display: block;
}


/* registered and closed btn */
.t .event-wrap .vitals .registered a {
    background-color: orange;
    border: 1px solid orange;
}
.t .event-wrap .vitals .registered a:active,
.t .event-wrap .vitals .registered a:hover {
    background-color: orange;
    border: 1px solid orange;
}
.t .event-wrap .vitals .closed a {
    background-color: darkred;
    border: 1px solid darkred;
}
.t .event-wrap .vitals .closed a:active,
.t .event-wrap .vitals .closed a:hover {
    background-color: darkred;
    border: 1px solid darkred;
}

/* form */
div.forms div.form-field div.id_release_dt .field input {
    width: 30%;
}

div.forms div.form-field div.id_first_name .field input {
    width: 30%;
}

div.forms div.form-field div.id_last_name .field input {
    width: 30%;
}

div.forms div.form-field div.id_phone .field input {
    width: 18%;
}

div.forms div.form-field div.id_fax .field input {
    width: 18%;
}

/* start_dt */
div.forms div.form-field 
div.id_start_dt .field input {
    margin: 0 5px 0 0;
    width: 18%;
}
div.forms div.form-field 
div.id_start_dt .field input#id_start_dt_1 {
    width: 80px;
}
/* end_dt */
div.forms div.form-field 
div.id_end_dt .field input {
    margin: 0 5px 0 0;
    width: 18%;
}
div.forms div.form-field 
div.id_end_dt .field input#id_end_dt_1 {
    width: 80px;
}

div.forms div.form-field .field input.datepicker,
div.forms div.form-field .field input.timepicker {
    margin: 0 5px 0 0;
    width: 90px;
}

div.forms div.form-field .id_frequency {
    width: 120px;
    float: left;
}
div.forms div.form-field .id_repeat_type .label {
    visibility: hidden;
}
div.forms div.form-field .id_frequency select,
div.forms div.form-field .id_repeat_type select {
    margin: 0 5px 0 0;
    width: 90px;
}

div.forms div.form-field .field input.reg8n_price {
    width: 80px;
}

div.forms div.form-field .field input[name*='early_price'] {
    width: 100px;
}

div.forms div.form-field .field input[name*='regular_price'] {
    width: 100px;
}

div.forms div.form-field .field input[name*='late_price'] {
    width: 100px;
}

div.forms fieldset.attendees {
    background-color: #EFEFEF;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    padding: 10px;
}

input#id_regconf-limit {
    width: 100px;
}

input.short_text_input{
    width: 100px !important;
}

div.id_regconf-reminder_days{
    margin-left: 2em;
}
div.id_regconf-reminder_days label{
    font-size: 0.8em;
}

.become-a-member {
    display: block;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid silver;
}


/*= Print View
 ------------------------- */
.t-print .event-wrap {
    width: 8in;
    padding: .25in;
    margin: 20px 0;
    border: 1px solid silver;
}
.t-print .hide-this {
    width: 8.5in;
    margin: 20px 0;
    position: relative;
}
.t-print .guide {
    position: absolute;
    top: 0; right: 0;
}
.t-print object {
    visibility: hidden;
}

@media print {
    .hide-this {
        display: none;
    }
    .t-print .event-wrap {
        width: 100%;
        border: none;
        padding: 0; margin: 0;
    }
}


/*= Add and Edit View
 ------------------------- */

.errors {
    border: 2px solid #FF8B78;
    background-color: #FFEBE8;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 110px;
    width: 75%;
}
.clear {
    clear: both;
}
.wrap {
    white-space: pre-wrap;
}
.item-text {
    font-size: 1.4em;
    border-bottom: 1px solid silver;
    margin: 35px 0 10px 0;
    font-weight: bold;
}

/* label:field item */
.item {
    margin-bottom: 10px;
}
.item .errs {
    color: red;
    margin-left: 110px;
}
.item .label {
    float: left;
    font-size: 1.4em;
    text-align: right;
    width: 100px;
    white-space: nowrap;
}
.item .label-wrap {
    white-space: normal;
}

div.type-wrap{
    margin: 10px 0;
}
div.type-wrap .type-item{
    margin-bottom: 15px;
}
div.type-wrap .type-item .associated-events{
    list-style-type: none
}
div.type-wrap .type-item .associated-events li{
    margin-top: 10px;
}

.item .field,
.item .help {
    margin-left: 110px;
}
.item .field input,
.item .field textarea,
.item .field select {
    width: 100%;
}
.item .field .mceLayout {
    /* WYSIWYG; .1 keeps border intact */
    width: 100.1% !important; 
}
.item .field-short input,
.item .field-short select {
    width: 20%;
}

/* date-time item */
.item-dt {
    margin: 0 0 20px 110px;
}
.item-dt .errs {
    color: red;
}
.item-dt .label {
    font-size: 1.4em;
    margin-bottom: 5px;
}
.item-dt .field input {
    float: left;
    width: 15%;
    margin-right: 5px;
}

/* field:label item */
.item-checkbox {
    margin: 0 0 5px 110px;
}
.item-checkbox .label {
    font-size: 1.4em;
    margin-bottom: 5px;
}
.item-checkbox .field input {
    float: left;
    margin-right: 10px;
}

/* horizontal rule item */
.item-hr {
    height: 1px;
    background-color: silver;
    margin: 10px 0 10px 110px;
    width: 85%;
}
/* horizontal rule long item */
.item-hr-long {
    height: 1px;
    background-color: silver;
    margin: 20px 0 20px 0;
    width: 100%;
}
/* horizontal rule (transparent) item */
.item-hr-clear {
    height: 10px;
    width: 100%;
}

ul.errorlist {;
    margin-left: 0;
}

/* details page */
.t .event-wrap {
    padding: 0;
}
.event-wrap .info {
    padding: 10px;
    background-color: white;
    float: left;
    width: 67%;
}

.event-wrap .info .meta {
    border-top: none;
}

.event-wrap .vitals {
    float: right;
    margin: 0 0 15px 0;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 30.5%;
    background-color: #F7F7F7;
}

.event-wrap .vitals h4.vital-header {
    padding-bottom: 10px;
    color: #000;
}

.event-wrap .vitals .external-link {
    margin-bottom: 15px;
}

.event-wrap .vitals .external-link h4 a {
    text-decoration: underline;
}

.event-wrap .vitals .external-link h4 a:hover {
    text-decoration: underline;
    color: #000;
}

.event-wrap .vitals .register-wrap {
}
.event-wrap .vitals .register-btn a {
    color: white;
    margin: 0 auto;
    font-size: 1.6em;
    background-color: #006018;
    padding: 10px 0;
    border: 1px solid #005F18;
    width: 200px;
    display: block;
    text-decoration: none;
}
.event-wrap .vitals .register-btn a:active, 
.event-wrap .vitals .register-btn a:hover {
    background-color: #007F20;
}

.event-wrap .vitals .pricing {
    margin-bottom: 10px;
}

.event-wrap .vitals .place {
    margin-bottom: 15px;
    color: #555;
}

.event-wrap .vitals .place .line {
    margin: 5px 0 0 0;
    line-height: 1em;
}
.event-wrap .vitals .time-period .line {
    margin: 0;
    line-height: 1em;
}

.event-wrap .vitals .time-period {
    margin-bottom: 15px;
    color: #555;
}

.event-wrap .vitals .map {
    background-color: #EBEBEB;
    padding: 5px;
}

.event-wrap .hr {
    background-color: silver;
    height: 1px;
    margin: 15px;
}

.event-wrap .meta {
    margin-top: 0px;
    border-top: solid 1px #CCC;
}

/*= Monthly View
----------------------------- */
.month-view h1 {
    text-align: center;
}
.month-view div.weekday,
.month-view div.weekday-mobile {
    width: 13.8470282554%;
    float: left;
    text-align: center;
    border-bottom: 1px solid silver;
}

.month-view div.weekday-mobile {
    display: none;
}

.month-view .calendar-wrap {
    background-color: #F7F7F7;
}
.month-view .month-wrap {
    float: left;
    background-color: white;
    padding-right: 10px;
    width: 76%;
}

.month-view div.month-grid {
    border-left: 1px solid silver;
}
.month-view div.day {
    width: 13.7%;
    height: 116px;
    border: 1px solid silver;

    border-top: none;
    border-left: none;

    float: left;
    overflow: hidden;
}
.month-view div.today {
    background-color: #FFD;
}

.month-view div.day div.date-numeral {
    text-align: right;
    background-color: #EEE;
    position: relative;
}
.month-view div.day div.date-numeral a {
    display: block;
    text-decoration: none;
    padding-right: 5px;
}
.month-view div.day div.event-item {
    font-size: 11px;
    line-height: 1.1em;
    /* border-bottom: 1px dashed silver; */
    padding: 5px 5px;
}
.month-view div.day div.event-item span.event-title a {
    text-decoration: none;
}
.month-view div.day div.more-events {
    background-color: #FFC;
    padding: 5px;
}
div.event-priority {
    display: inline-block;
    background: url('../images/icons/star_icon.png') no-repeat;
    height: 16px;
    width: 16px;
}
div.event-recurring {
    display: inline-block;
    background: url('../images/icons/myevents12x12.gif') no-repeat;
    height: 12px;
    width: 12px;
}


.month-names {
    margin-bottom: 10px;
}
.month-names .month-name {
    font-size: 1.4em;
    float: left;
    margin-right: 0;
}
.month-names .month-name a {
    text-decoration: none;
    display: block;
    padding: 10px;
}
.month-names .month-name a:active,
.month-names .month-name a:hover {
    background-color: #DDD;
}
.month-names .previous a {
    background-color: #EEE;
}
.month-names .current a {
    background-color: #EEE;

    text-align: center;
}
.month-names .next a {
    background-color: #EEE;
}

.event-item {
    word-wrap: break-word;
    position: relative;
    background-color: #777;
}

.event-item a {
    color: white;
}

.event-item .click-mask {
    position: absolute;
    top:0; right:0; bottom:0; left:0;
}

.month-view .side-bar {
    float: right;
    padding-right: 10px;
    width: 18%;
}

.side-bar .header {
    text-align: center;
    font-size: 1.4em;
    padding: 20px 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #DDD;
}
.side-bar .types {
    margin: 0 10px;
    float: left;
}
.side-bar .types .type a {
    text-decoration: none;
    padding: 2px 5px;
    background-color: #FFC;
    display: block;
    margin: 5px 0;
    width: 130px;
    border: 2px solid #FFC;
}

/*= Weekly View
----------------------------- */
.week-view div.day {
    height: auto;
}

/*= Messages
 ------------------------- */
.recipient-set {
    background-color: #EEE;
    padding: 5px;
    border: 1px solid silver;
    margin-bottom: 5px;

}
.recipient-set ul {
    margin-left: 0;
}
.recipient-set li {
    display: inline;
    list-style-type: none;
    margin-right: 5px;
}

/*= Roster
 ------------------------- */
tr.non-paid-top {
    border: 1px solid #708090;
    border-bottom: none;
}
tr.non-paid-bottom {
    border: 1px solid #708090;
    border-top: none;
}
tr.non-paid-middle {
    border: 1px solid #708090;
    border-top: none;
    border-bottom: none;
}

.count-box {
    border: 1px solid silver;
    float: left;
    padding: 5px;
    margin-left: 7px;
}
.count-box div {
    text-align: center;
}
.roster-view-options {
    border: 1px solid silver;
    padding: 5px;
    margin-left: 7px;
    float: left;
}
.counts {
    margin-left:8px;
}

/*= Registration Confirmation
 ----------------------------- */
.regconf-section.payment a {
    text-decoration: underline;
}
.regconf-section.payment .payment-accounting {
    text-align: right;
}


.registration-green {
    background-color: green;
    color: white;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.registration-red {
    background-color: darkred;
    color: white;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.registration-orange {
    background-color: orange;
    color: white;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}


.registration-status div {
    color: white;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.registration-status .registered {
    background-color: #006018;
    border-color: #005F18;
}

.registration-status .almost-registered {
    background-color: orange;
    border-color: orange;
}

.registration-status .not-registered {
    background-color: darkred;
    border-color: darkred;
}

/* pricing list */

#id_captcha_1 { width: 138px; }
#register-button {
    width: 200px;
    margin-bottom: 10px;
}

div.pricing-list-wrap {
    margin: 15px 0 15px 0;
    text-align: left;
    padding: 10px 10px 10px 10px;
    background-color: #EBEBEB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;    
}

input.registration-green-button {
    background-color: green;
    color: white;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    width: 75%;
}

div.pricing-list-wrap ul{
    margin-left: 3px;
}

div.pricing-list-wrap li{
        list-style: none;
        text-align: left;
        padding: 3px 0;
        margin-left: 3px;
    }

table.pricing-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

table.pricing-list label {
    cursor: pointer;
}

table.pricing-list td {
    padding: 5px;
}

table.pricing-list .price-disabled {
    color: #999;
}

table.pricing-list .price-disabled label {
    cursor: default;
}

#is-registrant {
    font-size: .9em;
    margin-top: 3px;
}
#is-registrant a {
    color: #666;
    text-decoration: underline;
}

.addons-title{
    font-size: 1.5em;
}

.addons-wrap>h2{
    padding-top: 5px;
}

.addon-title{
    padding-top: 10px;
}

.addon-title>strong{
    font-size: 1.2em;
}

.addon-title>a{
    float: right;
    padding: 0px 10px;
}

.addon-detail {
    margin: 10px;
}

.addon-detail td{
    padding: 5px;
}

.colors ul {
    list-style-type: none;
    padding-left: 0; /* remove default */
    margin: 0 auto; /* remove default */
}
.colors li {
    float: left;
}

.message-item{
    margin-bottom: 2em;
}

.t .imports .download-csv {
    margin-bottom: 10px;
}

.t .imports .download-csv img{
    float: left;
    margin-right: 10px;
    border: 0;
}

.t .imports .download-csv .item-right{
    float: left;
}

.t .imports .download-csv a {
    font-size: 1.5em;
}

.t .imports .summary {
    padding: 5px;
}

.t .imports .result {
    padding: 10px 5px;
    border-top: 1px solid black;
}

.t .imports .result .error {
    color: #FF0000;
}

.t .imports .result .warning {
    color: #FFFF00;
}

.t .imports .result .message {
    color: #00FF00;
}

.clear-both {
    clear: both;
}

.t .files-wrap {
    margin-bottom: 20px;
}

.t .files-wrap .file-wrap {
    border: 1px solid #CCC;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    background-color: white;
}

.t .files-wrap .file-wrap h2 {
    width: 85%;
    margin-bottom: 6px;
}

.t .file-wrap .icon {
    float: left;
    margin-right: 10px;
}

.t .file-wrap h2 a.broken {
    text-decoration: line-through;
}

.t .event-tabs .dropdown {
    z-index: 0;
}

.t .event-tabs .nav-tabs{
	margin-bottom: 15px;
}

.t .fb-like-event {
    margin: 0px;
}

@media (max-width: 768px){
    .month-view .calendar-wrap .month-wrap,
    .month-view .calendar-wrap .side-bar {
        padding-right: 0px;
        width: 98%;
    }

    .month-view .month-labels .weekday,
    .month-view .event-title {
        display: none;
    }

    .month-view .month-labels .weekday-mobile {
        display: block;
    }

    .month-view .month-grid .day {
        width: 13.9%;
        height: 88px;
    }

    .month-view .side-bar .types {
        width: 100%;
        margin: 0;
    }

    .month-view .side-bar .types .type a {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }

    .event-wrap .info,
    .event-wrap .vitals {
        margin: 0;
        width: 100%;
    }

    .week-view .month-grid .day {
        height: auto;
    }
}
