{% extends "user_groups/base.html" %}
{% load user_group_tags %}
{% load base_tags %}
{% load perm_tags %}
{% load styled_forms %}
{% load i18n %}

{% block title %}{% firstof MODULE_EVENTS_LABEL_PLURAL trans 'User Groups' %} {% trans "Import" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/usergroups.css">
{% endblock %}

{% block content %}
<div class="t">

<div class="imports">
    <h1>{% trans "Preview Your Import" %}</h1>

    <p>{% trans "You're almost done! To complete your import click 'Import Now.'" %}</p>

    <div class="csv-icon">
        <img src="{{ STATIC_URL }}images/icons/xls-icon.gif" lt="{{ import_i.file.name }}" title="{{ import_i.file.name }}" />
        <p>{{ import_i.file.name }}<br /></p>
    </div>

    <div class="summary">
    <ul>
        <li>{{ total }} {% trans "Total User Groups" %}</li>
        <li>{{ import_i.total_created }} {% trans "Valid Groups" %}</li>
        <li class="last highlight">{{ import_i.total_invalid}} {% trans "Invalid Groups" %}</li>
    </ul>
    </div>

    <div style="clear: both; "></div>

    <div class="results">
    {% for group in user_groups_list %}
        <div class="result">
            <div class="header">
                <strong>{% trans "Row" %} {{ group.ROW_NUM }} - {{ group.name }}</strong>
            </div>
            <div class="verdict">
            {% if not group.IS_VALID %}
                <span class="error"><strong>{% trans 'ERROR' %}: {{ group.ERROR }}</strong></span><br/>
                <span class="error">{% trans "This group will be ignored (not added)" %}</span>
            {% else %}
                <span class="message">{% trans "This group will be included" %}</span>
            {% endif %}
            </div>
            <div class="details">
                {% trans 'Label' %}: {{ group.label }}<br/>
                {% trans 'Type' %}: {{ group.type }}<br/>
                {% trans 'Description' %}: {{ group.description }}<br/>
            </div>
        </div>
    {% endfor %}
    </div>

    <div align="right">
    <form class="import" method="post" action="{% url "group.import_process" import_i.pk %}">{% csrf_token %}
    <input type="submit" class="submit-btn" name="submit" value="{% trans 'Import Now' %}" >
    </form>
    </div>

</div>
</div>
{% endblock %}
