{% load base_filters %}
{% load base_tags %}
{% load perm_tags %}
{% load tagging_tags %}


{% has_perm user pages.change_page page as can_edit_page %}
{% has_perm user pages.delete_page page as can_delete_page %}
{% tags_for_object page as tags %}
{% tags_hash_tags page as hash_tags %}
{% tags_strip_hash page as nonhash_tags %}

    
 <ul class="list-unstyled">
   
   <li> <a class="pull-right" href="{% url 'page.print_view' page.slug %}">
     <span class="glyphicon glyphicon-print"></span>
     {% trans "Print" %}</a> </li>
   
   {% comment %}
   
   {% if show_source|default:False and news.source %}
   <strong>{% trans "Source:" %}</strong> 
   <a href="{% url 'news' %}?q=source:{{ news.source }}">
     {{ news.source|urlize }}</a>
   
   {% endif %}
   
   <strong>{% trans "Released:" %}</strong> <span>{{ news.release_dt|date:"long" }}</span>
   
   {% if news.first_name or news.last_name or news.phone or news.fax or news.email or news.website %}
   {% if news.first_name or news.last_name %}
   <strong>{% trans "Author:" %}</strong> <span>{{ news.first_name }} {{ news.last_name }}</span>
   {% endif %}
   
   {% if news.phone %}
   <strong>{% trans "Phone:" %}</strong> <span>{{ news.phone|phonenumber }}</span>
   {% endif %}
   
   {% if news.fax %}
   <strong>{% trans "Fax:" %}</strong> <span>{{ news.fax }}</span>
   {% endif %}
   
   {% if news.email %}
   <strong>{% trans "Email:" %}</strong> <span>{{ news.email|obfuscate_email }}</span>
   {% endif %}
   
   {% if news.website %}
   <strong>{% trans "Website:" %}</strong> <span>{{ news.website|urlize }}</span>
   {% endif %}
   {% endif %}
   {% endcomment %}
   
   {% with page.category_set as page_cat %}
   {% if page_cat.category %}
   
   
   <strong>{% trans "Category:" %}</strong> 
   <a href="{% url 'page.search' %}?q=category:{{ page_cat.category }}">
     {{ page_cat.category }}
   </a>
   {% if page_cat.sub_category %}
   
   <strong>{% trans "Subcategory:" %}</strong> 
   <a href="{% url 'page.search' %}?q=sub_category:{{ page_cat.sub_category }}">
     {{ page_cat.sub_category }}
   </a>
   {% endif %}
   
   
   {% endif %}
   {% endwith %}
   
   <!-- start: tags -->
   {% if nonhash_tags or hash_tags %}
   <li><strong>{% trans "Tag(s):" %}</strong>
     
     {% if nonhash_tags or can_edit_page %}
     {% for tag in nonhash_tags %}
     <a class="label label-default" href="{% url 'page.search' %}?q=tag:{{ tag|lower|urlencode }}">
       {{ tag }}
     </a>
     {% endfor %}
     {% endif %}
     
     {% if hash_tags and can_edit_page %}
     {% for tag in hash_tags %}
     <a class="label label-default" href="{% url 'page.search' %}?q=tag:{{ tag|lower|urlencode }}">
       {{ tag }}
     </a>
     {% endfor %}
     {% endif %}
     
   </li>
   {% endif %}
   <!-- end: tags -->  
   
   {% if user.is_authenticated %}
   {% if user.profile.is_superuser or user.id == page.creator_id or user.id == page.owner_id %}
   {% meta_creator_owner page %}
   {% endif %}
   {% endif %}
   
   {% if page.slug %}
   
   {% endif %}
   
 </ul>
    
    
 {% if request.user.is_authenticated and can_edit_page %}
    
  <nav class="navbar navbar-default t-meta-editor-bar">
     <div class="container-fluid">
         <div class="collapse navbar-collapse">
             <ul class="nav navbar-nav t-meta-options-links">
		      <li>{{ page.obj_perms }}</li>
		      <li>{{ page.obj_status }}</li>
		    </ul>
    
		    <ul class="nav navbar-nav navbar-right t-meta-options-links">
		      
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% spaceless %}
		          {% trans "Options" %} <span class="caret"></span>
		          {% endspaceless %}</a>
		        
		        <ul class="dropdown-menu" role="menu">
		          <li><a href="{% url 'page.edit' page.pk %}">{% trans "Edit" %}</a></li>
		          <li><a href="{% url 'event_log.search' %}?application=pages&object_id={{ page.pk }}">{% trans "Eventlogs" %}</a></li>
		          <li><a href="{% url 'versions' page.content_type_id page.pk %}">{% trans "Versions" %}</a></li>
		          <li><a href="{% url 'page.edit.meta' page.pk %}">{% trans "Edit Meta" %}</a>
		          </li>
		          <li>
		            <a href="{% url 'category.update' page.opt_app_label page.opt_module_name page.pk %}">{% trans "Edit Categories" %}</a>
		          </li>
		          {% if page.status and can_delete_page %}
		          <li><a class="t-meta-delete-link" href="{% url 'page.delete' page.pk %}">{% trans "Delete" %}</a>
		          </li>
		          {% endif %}
		        </ul> <!-- end: dropdown -->
		        
		      </li>
		    </ul> <!-- end: navbar -->
    </div>
  </div>
</nav>
{% endif %}

