.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

pre.code, .editbox {
  color: #FF00FF;
}

.editbox p {
  margin: 0;
}

span.css-at {
  color: #770088;
}

span.css-unit {
  color: #228811;
}

span.css-value {
  color: #770088;
}

span.css-identifier {
  color: #FF00FF;
}

span.css-important {
  color: #0000FF;
}

span.css-colorcode {
  color: #004499;
}

span.css-comment {
  color: #AA7700;
}

span.css-string {
  color: #AA2222;
}
