{% extends "jobs/base.html" %}
{% load job_tags %}
{% load perm_tags %}
{% load styled_forms %}

{% block title %}{% trans 'Add' %}{% firstof MODULE_JOBS_LABEL trans 'Job' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'timepicker/timepicker.css' %}" />
{% endblock %}

{% block content %}
<div class="t">
    <h1>Add {% firstof MODULE_JOBS_LABEL trans 'Job' %}</h1>

    <div class="job-wrap">
    <form action="{% url "job.add" %}" class="form-horizontal" method="post">{% csrf_token %}
        <div class="forms">
            {% if MODULE_JOBS_JOBSREQUIRESPAYMENT %}
                 <div class="pricing-table-block">
                 <h4>{% trans "Jobs Pricing" %}</h4>
                {% job_pricing_table %}
                {% if USER_IS_SUPERUSER %}
                <a href="{% url "job_pricing.add" %}">{% trans "Add pricing options" %}</a>
                {% endif %}
                </div>
            {% endif %}
            {{ form|styled_form }}

            <input type="submit" value="{% trans 'Add' %} {% firstof MODULE_JOBS_LABEL trans 'Job' %}" />
        </div>
    </form>

    </div>

</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    {{ form.media }}
    <script type="text/javascript" src="{% static 'js/global/tinymce.event_handlers.js' %}"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'timepicker/timepicker.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/slug.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/email-verification.js' %}"></script>

    <script type="text/javascript">
    {% include 'jobs/include/get_subcategories.js' %}
    </script>
    <script type="text/javascript">
        var slugit = new Slugify({
            input_element : 'input#id_title',
            slug_element : 'input#id_slug',
            submit_element : 'input[type="submit"]',
            help: false,
            limit : 150
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
            $('.timepicker').timepicker({'step':15});
        });
    </script>
    {% if request.user.is_superuser %}
    <script type="text/javascript">
    {% include 'categories/include/add_categories.js' %}
    </script>
    {% endif %}
    <script type="text/javascript">
        $('#meta-form').hide();
/*         $('#category-form').hide(); */
        $('#meta-title').on("click", function() {
            $('#meta-form').slideToggle('fast');
            if ($('#meta-title span').text() == '+') {
                $('#meta-title span').text('-');}
            else {$('#meta-title span').text('+');}
        });
/*         $('#category-title').on("click", function() {
            $('#category-form').slideToggle('fast');
             if ($('#category-title span').text() == '+') {
                $('#category-title span').text('-');}
            else {$('#category-title span').text('+');}
        }); */

    </script>

    {% if require_payment %}
    <script type="text/javascript">
    $(document).ready(function() {
        var payment_method_block =  $('.id_payment_method');
        var pricing_select = $('#id_pricing');
        var list_type_select = $('#id_list_type');

        var toggle_payment_method = function(){
            var pricing_id = pricing_select.val();
            var list_type = list_type_select.val();

            if (pricing_id && list_type){
                $.ajax({
                   type: "POST",
                   url: "{% url "job.query_price" %}",
                   data: {'pricing_id': pricing_id, 'list_type': list_type},
                   success: function(ret_data){
                       var obj = JSON.parse(ret_data);
                       var price = obj.price;
                       if (!isNaN(price) && parseFloat(price) <= 0){
                           payment_method_block.hide();
                       }else{
                           payment_method_block.show();
                       }
                     }
                });
            }
        };
        toggle_payment_method();
        $('#id_pricing').on("change", function(){
            toggle_payment_method();
        })
        $('#id_list_type').on("change", function(){
            toggle_payment_method();
        })

     });
    </script>
    {% endif %}
    {% include 'tags/autocomplete.html' %}
{% endblock %}
