{% extends "jobs/base-print.html" %}
{% load base_filters %}
{% load job_tags %}

{% block title %}{{ jobs.get_title }}{% endblock %}
{% block meta_description %}{{ jobs.get_description }}{% endblock %}
{% block meta_keywords %}{{ jobs.get_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ job.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'css/jobs.css' %}" />
{% endblock %}

{% block content %}
<div class="t-print">

    <div class='hide-this'>
        <h1>{% trans "Print View" %}</h1>

        <div class="guide">
            <div><a href="{{ job.get_absolute_url }}">&laquo; {% trans "Back to regular job view" %}</a></div>
            <div>{% trans "Your printed page will look <em>something</em> like this.</div>" %}
        </div>
    </div>

     <div class="job-wrap">
        <h2>{{ job.title }}</h2>
{% if job.description %}
        <div class="section-block">
            <div class="label">{% trans "Description" %}</div>
            <div class="value">{{ job.description|safe }}</div>
        </div>
{% endif %}

{% if job.period %}
        <div class="section-line">
            <div class="label">{% trans "Position Type" %}</div>
            <div class="value">{{ job.period }}</div>
            <div class="clear"></div>
        </div>
{% endif %}

{% if job.position_reports_to %}
        <div class="section-line">
            {% blocktrans with job.position_reports_to as repto%}<div class="label">Position Reports To</div>
            <div class="value">{{ repto }}</div>{% endblocktrans %}
            <div class="clear"></div>
        </div>
{% endif %}

{% if job.location %}
        <div class="section-line">
            <div class="label">{% trans "Location" %}</div>
            <div class="value">{{ job.location }}</div>
            <div class="clear"></div>
        </div>
{% endif %}

{% if job.start_dt %}
        <div class="section-line">
            {% blocktrans with job.start_dt as start_date %}<div class="label">Starts On</div>
            <div class="value">{{ start_date }}</div>{% endblocktrans %}
            <div class="clear"></div>
        </div>
{% endif %}

{% if job.salary_from %}
        <div class="section-line">
            <div class="label">{% trans "Salary" %}</div>
            <div class="value">{% blocktrans with job.salary_from as salfrom and job.salary_to as salto %}{{ salfrom }} to {{ salto }}{% endblocktrans %}</div>
            <div class="clear"></div>
        </div>
{% endif %}

{% if job.code %}
        <div class="section-line">
            <div class="label">{% trans "Code" %}</div>
            <div class="value">{{ job.code }}</div>
            <div class="clear"></div>
        </div>
{% endif %}


        <h2>{% trans "Job Requirements" %}</h2>
{% if job.experience %}
        <div class="section-block">
            <div class="label">{% trans "Experience" %}</div>
            <div class="value">{{ job.experience|safe }}</div>
        </div>
{% endif %}

{% if job.skills %}
        <div class="section-block">
            <div class="label">{% trans "Skills" %}</div>
            <div class="value">{{ job.skills|safe }}</div>
        </div>
{% endif %}

{% if job.education %}
        <div class="section-line">
            <div class="label">{% trans "Education Required" %}</div>
            <div class="value">{{ job.education|safe }}</div>
            <div class="clear"></div>
        </div>
{% endif %}


        <h2>{% trans "Company Information" %}</h2>
{% if job.contact_company %}
        <div class="company-wrap">
            {{ job.contact_company }}<br />
            {{ job.contact_address }}<br />
            {{ job.contact_city }} {{ job.contact_state }} {{ job.contact_zip_code }}<br />
            {{ job.contact_country }}
        </div>
{% endif %}


        <h2>{% trans "Contact Information" %}</h2>
{% if job.contact_name %}
        <div class="contact-wrap">
            <div>{{ job.contact_name }}</div>
            <div>{{ job.contact_phone|phonenumber }}</div>
            <div>{{ job.contact_fax }}</div>
            <div><a href="">{{ job.contact_email|urlize }}</a></div>
        </div>
{% endif %}
     </div>

</div>
{% endblock %}
