{% load base_tags %}
{% load base_filters %}
{% load i18n %}


<div class="meta">
    <div class="meta-left">
        {% if user.is_authenticated %}
            {% if not user.profile.is_superuser %}
            {% if user == staff.creator or user == staff.owner %}
            <div class="categories">
                <strong>{% trans "Owned by you" %}</strong>{% if not staff.status_detail == "active" %} - {% trans "status" %}: {{ staff.obj_status }}{% endif %}
            </div>
            {% endif %}
            {% endif %}

            {% if user.profile.is_superuser or user == staff.creator or user == staff.owner %}
                {% meta_creator_owner staff %}
            {% endif %}
        {% endif %}
    </div>
    
    <div class="meta-right">
        <a class="share-link" >{% trans "Share" %}</a>
    </div>
    
</div>

{% if request.user.is_authenticated and can_edit_page %}
    <nav class="navbar navbar-default t-meta-editor-bar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav t-meta-perm-status">
                    <li>{{ page.obj_perms }}</li>
                    <li>{{ page.obj_status }}</li>
                </ul>

                <ul class="nav navbar-nav navbar-right t-meta-options-links">
                    <li><a class="t-meta-eventlog-link" href="{% url 'event_log.search' %}?application=pages&object_id={{ page.pk }}">{% trans "Eventlogs" %}</a></li>
                    <li><a class="t-meta-versions-link" href="{% url 'versions' page.content_type_id page.pk %}">{% trans "Versions" %}</a></li>
                    <li><a class="t-meta-edit-link" href="{% url 'page.edit' page.pk %}">{% trans "Edit" %}</a></li>
                    <li class="dropup">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% spaceless %}
                            {% trans "Options" %} <span class="caret"></span>
                        {% endspaceless %}</a>

                        <ul class="dropdown-menu" role="menu">
                            {% if page.statsu and can_delete_page %}
                                <li>
                                    <a class="t-meta-delete-link" href="{% url 'page.delete' page.pk %}">{% trans "Delete" %}</a>
                                </li>
                            {% endif %}

                            <li>
                                <a href="{% url 'page.edit.meta' page.pk %}">{% trans "Edit Meta" %}</a>
                            </li>

                            <li>
                                <a href="{% url 'category.update' page.opt_app_label page.opt_module_name page.pk %}">{% trans "Edit Categories" %}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
