{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

{% has_perm user staff.change_staff opt_object as can_edit %}
{% has_perm user staff.delete_staff opt_object as can_delete %}

<div class="t-iconrow">
	{% if can_edit %}
		<a class="option-link edit" href="{% url "admin:staff_staff_change" opt_object.pk %}?next={{ request.path }}">{% trans 'Edit' %}</a>
	{% endif %}
    {% if can_delete %}
        <a class="option-link delete" href="{% url "admin:staff_staff_delete" opt_object.pk %}">{% trans 'Delete' %}</a>
    {% endif %}
</div>