# Ignore all local development files
schema.xml
django
*.db

# Ignore django cache
cache/
index/

# Ignore en_US message file
tendenci/locale/en_US/

# Ignore OS files
_notes/

# Ignore all dotfiles...
.*

# Ignore all pyc file
*.pyc

# except for .gitignore
!.gitignore

# except for .tx/config
!.tx/

# except for .travis.yml
!.travis.yml

# Ignore docs build files
docs/build/
docs/local/

# Ignore build directories and egg
/build
/dist
*.egg-info