include README.md
include LICENSE.md
include THEMING.md
include requirements.txt
recursive-include tendenci/apps *
recursive-include tendenci/bin *
recursive-include tendenci/libs *
recursive-include tendenci/locale *
recursive-include tendenci/templates *