include README.md
include LICENSE
include requirements.txt
recursive-include tendenci/apps *
recursive-include tendenci/bin *
recursive-include tendenci/libs *
recursive-include tendenci/locale *
recursive-include tendenci/themes *
prune tendenci/apps/*/static.t7
prune tendenci/apps/*/templates.t7
global-exclude __pycache__