future
six
configparser
Django>=4.2,<5.0
django-formtools>=2.5.1
Pillow==10.3.0
django-countries==7.5.1
django-localflavor==4.0
dj-pagination>=2.5.0
django-picklefield>=3.2
django-simple-captcha==0.6.0
#django-nocaptcha-recaptcha==0.0.20
tendenci-django-tagging==0.6
django-haystack==3.3.0
django-debug-toolbar>=3.4.0
django-sql-explorer==3.2.1
django-apptemplates>=1.5
feedparser>=6.0.11
pytz==2023.3
simplejson>=3.19.2
webcolors>=1.13
xlrd3>=1.1.0
xlwt>=1.3.0
beautifulsoup4==4.12.3
createsend==7.0.0
#django-celery==3.3.1
celery==5.3.6
mimeparse>=0.1.3
python-dateutil==2.8.2
pdfminer.six==20231228
stripe==7.13.0
pycryptodome==3.20.0
boto3==1.34.23
django-timezone-field==6.1.0
django-ses==3.5.2
django-tastypie==0.14.6
docutils==0.20
chardet==5.2.0
psycopg2==2.9.9
gunicorn==22.0.0
gevent==23.9.1
django-storages==1.14.2
Whoosh==2.7.4
simple-salesforce==1.12.6
selenium==4.16.0
raven==6.10.0
tendenci-django-admin-bootstrapped>=5.2
django-bootstrap3==23.6
unidecode
Markdown==3.7
bleach>=6.1.0
# dependencies for helpdesk
django-bootstrap-form>=3.1,<4
email-reply-parser
django-markdown-deux
xhtml2pdf==0.2.16
reportlab==4.2.2
python-magic
nameparser
Authlib==1.3.1
django-admin-rangefilter==0.13.2
# for forums tests
django-q2==1.6.2
# memcached client
pymemcache>=4.0.0
# two factor
django-two-factor-auth>=1.15.5
phonenumbers>=8.13.28
# QR code generator
django-qr-code==3.1.1
# Zoom SDK
pyzoom>=1.0.5
# Python JWT
PyJWT>=2.8.0
# Django model utils (FieldTracker)
django-model-utils>=4.3.1
# Create test data
model-bakery==1.17.0
httplib2==0.22.0
