{% extends "profiles/base.html" %}
{% load i18n %}
{% load profile_tags %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block extra_head %}
<style>
.field-wrapper label{
        float: left;
        width: 8em;
        margin-right: 1em;
        text-align:right;
    }
    .field-wrapper{
        margin: 5px 0;
    }
    .clear-left{
    	clear:left;
    }
    .submitbutton{
        margin: 1em 0 1em 9em;
    }
    .errorlist{
    	color: red;
    	list-style: none;
    	font-size: 0.8em;
    	margin: 0 0 0 9em;
    }
    .required{
    	font-weight: bold;
    }
</style>
{% endblock %}

{% block body %}

<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>



<div class="field-wrapper">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>{{ form.old_password }}
</div>
<div class="clear-left"></div>

<div class="field-wrapper">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>{{ form.new_password1 }}
</div>
<div class="clear-left"></div>

<div class="field-wrapper">
{{ form.new_password2.errors }}
    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>{{ form.new_password2 }}
</div>
<div class="clear-left"></div>



<div class="submit-row">
    <input type="submit" value="{% trans 'Change my password' %}" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form>
</div>

{% endblock %}
