{% load i18n %}

<table>
<tr id="price_registrant-hidden">
    <td width="50%">{% trans "Reg" %}#<span class="item-counter"></span></td>
    <td width="50%" align="right">
        <span class="currency-symbol">{{ SITE_GLOBAL_CURRENCYSYMBOL }}</span>
        <span class="reg-price"></span>
    </td>
</tr>
</table>
<div id="delete-hidden" class="delete">
    <div class="delete-button-wrap">
        <input type="button" class="delete-button" value="&nbsp;&nbsp;{% trans 'Delete' %}">
    </div>
</div>
<div id="registrant-hidden">
    <div class="registrant-header">
        <span class="showhide"></span>{% trans "Registrant" %} #<span class="item-counter">1</span>:
    </div>
    <div class="registrant-notice"></div>
    <div class="odd-registrant">
        <div class="form-field">
            <div class="error"></div>
            <div class="label required">{% trans "First Name" %}</div>
            <div class="field">
                <input value="{{ request.user.first_name }}" id="id_registrant-0-first_name" type="text" name="registrant-0-first_name" maxlength="50">
            </div>
        </div>
        <div class="form-field">
            <div class="error"></div>
            <div class="label required">{% trans "Last Name" %}</div>
            <div class="field">
                <input value="{{ request.user.last_name }}" id="id_registrant-0-last_name" type="text" name="registrant-0-last_name" maxlength="50">
            </div>
        </div>
        <div class="form-field">
            <div class="error"></div>
            <div class="label">{% trans "Company" %}</div>
            <div class="field">
                <input id="id_registrant-0-company_name" type="text" name="registrant-0-company_name" maxlength="100">
            </div>
        </div>
        <div class="form-field">
            <div class="error"></div>
            <div class="label">{% trans "Phone" %}</div>
            <div class="field">
                <input id="id_registrant-0-phone" type="text" name="registrant-0-phone" maxlength="20">
            </div>
        </div>
        <div class="form-field">
            <div class="error"></div>
            <div class="label required">{% trans "Email" %}</div>
            <div class="field">
                <input class="registrant-email" value="{{ request.user.email }}" type="text" name="registrant-0-email" id="id_registrant-0-email">
            </div>
        </div>
        {% if allow_memberid_pricing %}
        <div class="form-field">
            <div class="error"></div>
            <div class="label">{% trans "Member ID" %}</div>
            <div class="field">
                <input class="registrant-memberid" value="" type="text" name="registrant-0-memberid" id="id_registrant-0-memberid">
            </div>
        </div>
        {% endif %}
        <div class="form-field">
            <div class="field">
                <input class="registrant-pricing" type="hidden" name="registrant-0-pricing" id="id_registrant-0-pricing" value="">
            </div>
        </div>
    </div>
</div>
