{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

{% has_perm user photos.view_photoset as can_view %}
{% has_perm user photos.add_photoset as can_add %}
{% has_perm user photos.change_photoset as can_change %}
{% has_perm user photos.delete_photoset as can_delete %}


{% if can_change %}
<a href="{% url 'photoset_edit' opt_object.pk %}">{% trans "Edit Set" %}</a> 
{% endif %}

{% if can_delete %}
<a class="delete-set" href="{% url 'photoset_delete' opt_object.pk %}">{% trans "Delete Set" %}</a>
{% endif %}

{% if can_change %}
<a href="{% url 'photos_batch_add' opt_object.pk %}">{% trans "Add Photos" %}</a>
<a href="{% url 'photos_batch_edit' opt_object.pk %}">{% trans "Edit Photos" %}</a>
{% endif %}

{% comment %}

{% if user.profile.is_superuser %}
<a href="{% url 'photoset_zip' opt_object.pk %}">{% trans "Download Zip" %}</a>
{% endif %}

{% endcomment %}
