{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

{% has_perm user site_settings.change_setting as can_edit_setting %}

{% if nav_object %}

{% endif %}

{% is_admin user as isadmin %}

<div id="showh">
	<ul id="primary">
	
    {% if user.is_authenticated %}
	<li>
	    <a href="{% url dashboard %}" title="Tendenci Home Page">
		<img border="0" src="{{ STATIC_URL }}images/tendenci34x15.gif"
		alt="Tendenci User Home" align="top" width="34" height="15"></a>
	</li>
    {% endif %}

	<li>
		<span>{% trans 'Recurring Payment' %}</span>
		<ul id="secondary">
			<li><a href="{% url recurring_payment.customers %}">{% trans 'Recurring Payment' %}:</a></li> 
			
			{% if nav_object %}
				{% if isadmin or user.id == nav_object.user.id %}
				<li><a href="{{ nav_object.get_absolute_url }}">{% trans "View" %}</a></li>
				{% if nav_object.status_detail == 'active' %}
				<li><a href="{% url recurring_payment.disable_account nav_object.id %}" class="disable">{% trans "Disable Account" %}</a></li>
				<li><a href="{% url recurring_payment.authnet.update_payment_info  nav_object.id %}">{% trans "Payment Method" %}</a></li>
				{% endif %}
				{% endif %}
				{% if isadmin %}
				<li><a href="{% url admin:recurring_payments_recurringpayment_change nav_object.id %}">{% trans "Edit" %}</a></li>
				{% endif %}
			{% endif %}
			{% if isadmin %}
			<li><a href="{% url admin:recurring_payments_recurringpayment_add %}">{% trans "Add" %}</a></li>
			<li><a href="{% url recurring_payment.customers %}">{% trans "Customers" %}</a></li>
			{% endif %}
			

			{% if user.is_authenticated %}
			<li><a href="{% url auth_logout %}">{% trans "Log Off" %}</a></li> 
			{% endif %}
		</ul>
		
	</li>
	{% if MODULE_NEWS_ENABLED %}
	<li><a href="{% url invoices %}">{% firstof MODULE_INVOICES_LABEL trans 'Invoices' %}</a></li>
	{% endif %}
	</ul>
</div>

{% if nav_object %}
 <!-- disable recurring payment account form -->
    <form name="rp-disable" method="POST" action="{% url recurring_payment.disable_account nav_object.id  %}">{% csrf_token %}
        <input type="hidden" name="action" value="Disable Account">
    </form>
{% endif %}