{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

{% has_perm user campaign_monitor.add_campaign as can_add_campaign %}

<div id="showh">
	<ul id="primary">
	
    {% if user.is_authenticated %}
        <li>
            <a href="{% url dashboard %}" title="Tendenci Home Page">
            <img border="0" src="{{ STATIC_URL }}images/tendenci34x15.gif"
            alt="Tendenci User Home" align="top" width="34" height="15"></a>
        </li>
        
        <li>
            <span>{% trans "Campaigns" %}</span>
            <ul id="secondary">
                <li><a href="{% url campaign_monitor.campaign_index %}">{% trans "Campaigns:" %}</a></li> 
                {% if can_add_campaign %}
                    <li><a href="{% url campaign_monitor.campaign_add %}">{% trans "Add Campaign" %}</a></li>
                {% endif %}
                <li><a href="{% url auth_logout %}">{% trans "Log Off" %}</a></li>
            </ul>
        </li>

        <li>
            <a href="{% url campaign_monitor.template_index %}">
                {% trans "Templates" %}
            </a>
        </li>
    {% endif %}
    
	</ul>
</div>
