{% extends "architecture_projects/base.html" %}
{% load pagination_tags %}
{% load architecture_project_tags %}
{% load perm_tags %}
{% load search_tags %}

{% block title %}Architecture Projects{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/architectureproject.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/architectureproject-search.css">
<link rel="alternate" type="application/rss+xml" title="Latest Architecture Projects" href="{% url architecture_project.feed %}" />
{% endblock %}

{% block body %}
{% autopaginate architecture_projects 12 %}
{% has_perm user architecture_projects.add_architectureproject as can_add_architecture_project %}

<div class="t">
    <h1>Architecture Projects Search</h1>
    {% architecture_project_search %}
    {% if can_add_architecture_project %}
    <div class="clearfix"><a id="add-case-study" href="{% url admin:architecture_projects_architectureproject_add %}">Add Architecture Project &raquo;</a></div>
    {% endif %}

    <div id="categories">
        <a href="{% url architecture_project.search %}"><span class="blue-plus">&#43;</span> All</a>
        {% for cat in categories %}
            <a href="{{ cat.get_absolute_url }}"><span class="blue-plus">&#43;</span> {{ cat|title }}</a>
        {% endfor %}
    </div><!--- /categories -->

    <div class="cs-search-wrap clearfix">
        {% for architecture_project in architecture_projects %}
            {% search_result architecture_project %}
        {% empty %}
            <p>0 Architecture Projects Found</p>
        {% endfor %}
    </div>
    {% paginate %}
</div>
{% endblock body %}

{% block extra_body %}
{{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/global/dropdown.js"></script>
  <script type="text/javascript">
    var iconrow = new dropdown({
      container:  'more-options-wrap',
      trigger:  'more-options-trigger',
      target:    'more-options-target'
    });
  var lis = $('.cs-search-wrap ul');
  for(var i = 0; i < lis.length; i+=3) {
    lis.slice(i, i+3)
     .wrapAll('');
  }
  </script>
{% endblock %}
