{% extends "events/base.html" %}
{% load event_tags %}
{% load i18n %}

{% block body %}
<div class="t">
    {% event_nav user event %}
    <div class="info">
        <h1>{% firstof MODULE_EVENTS_LABEL trans 'Event' %} {% trans "Delete Page" %}</h1>
        <div class="delete-prompt">
            {% trans "Are you sure you want to permanently delete this recurring event?" %}
        </div>
    </div>
    <div class="event-info" style="margin-top:10px;">

        {% for event in events %}
        <h3><a href="{% url event event.pk %}">{% blocktrans with title=event.title %}{{ title }}{% endblocktrans %}</a></h3>
        <div class="place">{{ event.place }}</div>

        <div class="time-period">
            {% if event.all_day %}
            {{ event.start_dt|date:"l, M j, Y" }} - {{ event.end_dt|date:"l, M j, Y" }}
            {% else %}
             {{ event.start_dt|date:"l, M j, Y P" }} - {{ event.end_dt|date:"l, M j, Y P" }}
            {% endif %}
        </div>

        <div class="description">
        {% if event.meta.description %}
        {{ desc }}
        {% endif %}
        </div>
        {% endfor %}

        <div class="delete-form" style="margin-top:10px;">
            <form name="recurring-event-delete" method="POST" action="{% url event.delete_recurring event.pk %}">{% csrf_token %}
                <input type="hidden" name="action" value="delete">
                <input type="submit" name="submit" value="{% trans 'Confirm Delete' %}">
            </form>
        </div>

    </div>
</div>
{% endblock %}
