{% extends "events/base.html" %}
{% load event_tags %}
{% load perm_tags %}
{% load styled_forms %}
{% load i18n %}

{% block title %}{{ block.super }}{% trans 'Edit' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ STATIC_URL }}timepicker/timepicker.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events.css">

{% endblock %}

{% block body %}
<div class="t">
    {% event_nav request.user event %}

    <h1>{% firstof MODULE_EVENTS_LABEL trans 'Event' %}{% trans " Edit" %}</h1>

    <div class="event-tabs">
        <ul class="tabs">
            <li class="dropdown {% if label == 'overview' %}active{% endif %}">
                <a href="{% url event.edit event.pk %}">{% trans "Overview" %}</a>
            </li>
            <li class="dropdown {% if label == 'location' %}active{% endif %}">
                <a href="{% url event.location_edit event.pk %}">{% trans "Location" %}</a>
            </li>
            <li class="dropdown {% if label == 'organizer' %}active{% endif %}">
                <a href="{% url event.organizer_edit event.pk %}">{% trans "Organizer" %}</a>
            </li>
            <li class="dropdown {% if label == 'speakers' %}active{% endif %}">
                <a href="{% url event.speaker_edit event.pk %}">{% trans "Speaker(s)" %}</a>
            </li>
            <li class="dropdown {% if label == 'regconf' %}active{% endif %}">
                <a href="{% url event.regconf_edit event.pk %}">{% trans "Registration" %}</a>
            </li>
            <li class="dropdown {% if label == 'pricing' %}active{% endif %}">
                <a href="{% url event.pricing_edit event.pk %}">{% trans "Pricing(s)" %}</a>
            </li>
        </ul>
    </div>

    <div class="event-wrap">
        <form id="event-form" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="forms">
            {{ multi_event_forms|styled_multi_forms }}
            {% if label != "pricing" %}
            <input type="submit" value="{% trans 'Save and Continue Editing' %}" name="_continue"/>
            {% endif %}
            <input type="submit" value="{% trans 'Save Changes' %}" name="_save"/>
        </div>
        </form>

        <div id="confirm-dialog" title="{% trans 'Apply changes to all events?' %}">
            <p>{% blocktrans %}
            These changes would be applied to every event part of this series, including past events. Are you sure?
            {% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript" src="{{ TINYMCE_JS_URL }}"></script>
     <script type="text/javascript" src="{% url tinymce-filebrowser %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}django_tinymce/init_tinymce.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/global/tinymce.event_handlers.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}timepicker/timepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/events_formset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slug.js"></script>
    <script type="text/javascript">
        var slugit = new Slugify({
            input_element : 'input#id_title',
            slug_element : 'input#id_slug',
            submit_element : 'input[type="submit"]',
            help: false,
            limit : 150
        });
        var displayConfirmation = true;
        $('#confirm-dialog').dialog({
            autoOpen: false,
            resizable: false,
            width: 600,
            modal: true,
            buttons: {
                'Yes': function() {
                    displayConfirmation = false;
                    $('#event-form').submit();
                },
                Cancel: function() {
                    $(this).dialog('close');
                }
            }
        });
        $('#event-form').submit(function() {
            if ($('#id_apply_changes_to_2').is(':checked') && displayConfirmation) {
                $('#confirm-dialog').dialog('open');
                return false;
            }
        });
    </script>

    <script type="text/javascript">
        {% include 'events/include/event_place.js' %}
    </script>

    <script type="text/javascript">
     {% include 'events/include/event_form_custom_reg.js' %}
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            allDay = $('#id_all_day');
            start_dt_field = $('.id_start_dt').parent();
            end_dt_field = $('.id_end_dt').parent();
            start_event_dt_field = $('.id_start_event_date').parent();
            end_event_dt_field = $('.id_end_event_date').parent();
            if (allDay.prop('checked')) {
                start_dt_field.hide();
                end_dt_field.hide();
                start_event_dt_field.show();
                end_event_dt_field.show();
            } else {
                start_dt_field.show();
                end_dt_field.show();
                start_event_dt_field.hide();
                end_event_dt_field.hide();
            }
            $('#id_all_day').change(function() {
                if($(this).prop('checked')) {
                    start_dt_field.hide();
                    end_dt_field.hide();
                    start_event_dt_field.show();
                    end_event_dt_field.show();
                } else {
                    start_dt_field.show();
                    end_dt_field.show();
                    start_event_dt_field.hide();
                    end_event_dt_field.hide();
                }
            });

            $('.regconfpricing_formset .section-description').addClass('well');
        });
    </script>
    {% include 'tags/autocomplete.html' %}
{% endblock %}
