{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load discount_tags %}


{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{% static 'famfamfam/icons/money_delete.png' %}"/>{% firstof MODULE_DISCOUNTS_LABEL trans "Discounts" %}
    </a>

    {% if discount %}
        {% discount_current_app request.user discount %}
    {% else %}
        {% discount_current_app request.user %}
    {% endif %}
</li>
{% endblock %}
