{% extends "campaign_monitor/base.html" %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}Generate a Campaign{% endblock %}

{% block extra_head %}
{{ block.super }}
{% endblock %}

{% block body %}

<div>
    {% if task.status == "FAILED" or task.status == "REVOKED" %}
	<h1>{% trans "Campaign Generate Failed!" %}</h1>
	<p class="msg">Please try again. If the problem continues to persist please contact your hosting provider.</p>
    {% else %}
    <h1>{% trans "Campaign Generating!" %}</h1>    
	<p class="msg">We're building your new campaign right now. You'll be redirected to Campaign Monitor once it is ready.</p>
    {% endif %}
    
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script type="text/javascript">
    //reload every 30 seconds
    setInterval(function(){
            window.location.reload();
        }, 15000);
</script>
{% endblock %}
