{% extends "campaign_monitor/base.html" %}
{% load pagination_tags %}
{% load base_tags %}
{% load perm_tags %}
{% load campaign_monitor_tags %}
{% load i18n %}

{% block title %}{{ block.super }} {% trans "Index" %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/campaign_monitor.css">
{% endblock %}

{% block body %}
<div class="t">
    {% campaign_nav request.user %}

    <h1>{% trans "Campaign Monitor Campaigns" %}</h1>
    {% autopaginate campaigns 5 %}

    <div class="templates-wrap">
    {% for campaign in campaigns %}
        <div class="template-wrap">
            <div class="options options-search">
                <div class="quick-options">
                    {% campaign_options request.user campaign %}
                </div>
            </div>
            <h2><a href="{{ campaign.get_absolute_url }}">{{ campaign.name }}</a></h2>
            <p><b>{% trans "Subject" %}:</b> {{ campaign.subject }}</p>
            <p><b>{% trans "Status" %}</b>: {{ campaign.get_status_display }}</p>
        </div>
    {% empty %}
        <div>{% trans "0 Campaigns Found" %}</div>
    {% endfor %}
    </div>

    {% paginate %}
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
{% endblock %}
