{% for registrant in registrants %}
		<table width="90%"{% if forloop.counter > 1 %} class="registrant-contact-info"{% endif %}>
			<tr>
				<td width="55%"> <!-- name & phone -->
					{% if registrant.user %}
					<div title="View {{ registrant.first_name}}'s profile"><a href="{{ registrant.user.get_absolute_url }}">
						{% firstof registrant.lastname_firstname registrant.email %}
					</a></div>
					{% else %}
					<div title="{{ registrant.name }} does not have a user-account">
						{% if registrant.lastname_firstname or registrant.email %}
							{% firstof registrant.lastname_firstname registrant.email %}
						{% else %}
							Registrant #{{ forloop.counter }}
						{% endif %}
					</div>
					{% endif %}
					<div>{{ registrant.phone }}</div>
				</td>
			
				<td width="45%"> <!-- title & company -->
					{% if registrant.title %}
						<div>{{ registrant.title }}</div>
					{% endif %}
					{% if registrant.company_name %}
						<div>{{ registrant.company_name }}</div>
					{% endif %}
				</td> 
			</tr>
		</table>
	{% endfor %}