{% block messages %}
    {% if request.impersonation_message %}
    <ul class="messages">
        <li>{{ request.impersonation_message|safe }}</li>
    </ul>
    {% endif %}
    {% if request.session.theme %}
    <ul class="messages">
        <li>You are previewing the {{ request.session.theme }} theme.</li>
        <li><a href="{{ request.path }}?theme=">Stop previewing</a></li>
    </ul>
    {% endif %}
     {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
