{% extends "memberships/base.html" %}
{% load membership_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{% blocktrans with membership.user as mem_user %}Membership for {{ mem_user }}{% endblocktrans %}{% endblock %}
{% block meta_description %}{{ membership.get_description }}{% endblock %}
{% block meta_keywords %}{{ membership.get_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ membership.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/memberships.css">
{% endblock %}

{% block body %}
<div class="t">
{% membership_nav request.user membership %}
    <h1>{% blocktrans with membership.user.get_full_name as memname %}Membership for {{ memname }}{% endblocktrans %}</h1>
    <div class="membership-wrap">
        <p><a href="{{ membership.user.get_absolute_url }}">{% trans "View profile" %}</a></p>
        <p>
        {% blocktrans with membership.subscribe_dt|date as memjoin and membership.subscribe_dt|timesince as memtimesince%}
        Subscribed since {{ memjoin }} ({{ memtimesince }}){% endblocktrans %}
        </p>
        <p>
        {% if membership.expiration_dt %}
            {% blocktrans with membership.expiration_dt as membexpdate %}Expires {{ membexpdate }}{% endblocktrans %}
        {% else %}
            {% trans "Never expires" %}
        {% endif %}
        </p>
        <p><strong>{% trans "Membership Type" %}:</strong> {{ membership.memership_type }}</p>
        <p><strong>{% trans "Member Number" %}:</strong> {{ membership.member_number }}</p>
    </div>
</div>
{% endblock %}
