{% extends "memberships/base.html" %}
{% load membership_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{% blocktrans with membership.user as mem_user %}Membership for {{ mem_user }}{% endblocktrans %}{% endblock %}
{% block meta_description %}{{ membership.get_description }}{% endblock %}
{% block meta_keywords %}{{ membership.get_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ membership.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/memberships.css">
{% endblock %}

{% block body %}
<div class="membership-wrap">
{% membership_nav request.user membership %}
    <h1>{% blocktrans with membership.user.get_full_name as memname %}Membership for {{ memname }}{% endblocktrans %}</h1>
    <div><a href="{{ membership.user.get_absolute_url }}">{% trans "View profile" %}</a></div>
    <div>{% blocktrans with membership.join_dt|date as memjoin and membership.join_dt|timesince as memtimesince%}Joined {{ memjoin }} ({{ memtimesince }}){% endblocktrans %}</div>
    {% if membership.expiration_dt %}
        <div>{% blocktrans with membership.expiration_dt as membexpdate %}Expires {{ membexpdate }}{% endblocktrans %}</div>
    {% else %}
        <div>{% trans "Never expires" %}</div>
    {% endif %}

</div>
{% endblock %}
