{% load i18n %}


<style type="text/css">
.membership-renew-button {
    margin-top: 10px;
    padding: 10px 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid;
}
.membership-renew-button.renew-now {
    background-color: #92ff6c;
    border-color: green;
}
.membership-renew-button.renew-soon {
    background-color: #ffe44b;
    border-color: #fcc500;
}
</style>

{% if membership.can_renew %}
<div class="membership-renew-button renew-now">
    <a href="{{ membership.ma.get_absolute_url }}">{% blocktrans with membership.get_renewal_period_dt.1 as memdate %}Renew from now until {{ memdate }}{% endblocktrans %}</a>
</div>
{% else %}

    {% if membership.get_renewal_period_dt.0 > TODAY %}
        <div class="membership-renew-button renew-soon">
        {% trans "Renewal available in" %} {{ membership.get_renewal_period_dt.0|timeuntil }}
        </div>
    {% else %}
        <div class="membership-renew-button renew-soon">
        {% trans "Expired: Renewal Period has Passed" %}
        </div>
    {% endif %}

{% endif %}