{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load social_services_tags %}


{% block current_app %}
<li class="dropdown">
    <button type="button" class="btn btn-primary" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
        <img class="nav-icon" src="{% static 'famfamfam/icons/heart.png' %}"/>{% trans 'Social Services' %}
    <span class="caret"></span>
    </button>
    {% social_service_current_app request.user %}
</li>
{% endblock %}
