{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="/site_media/static/css/accounts.css">
{% endblock %}

{% block body %}
<h2>{% trans 'Fill out the form below to create your account' %}</h2>
<form method="post" action="">

<div class="field-wrapper required">
	{% if form.first_name.errors %}
		{{ form.first_name.errors }}
	{% endif %}
	<label for="id_first_name">{% trans 'First Name:'%}</label>
	{{ form.first_name }}
</div>
<div class="clear-left"></div>

<div class="field-wrapper required">
	{% if form.last_name.errors %}
		{{ form.last_name.errors }}
	{% endif %}
	<label for="id_last_name">{% trans 'Last Name:'%}</label>
	{{ form.last_name }}
</div>
<div class="clear-left"></div>

<div class="field-wrapper required">
	{{ form.email.errors }}
	<label for="id_email">{% trans 'Email Address:'%}</label>
	{{ form.email }}
</div>
<div class="clear-left"></div>

<p></p>
<div class="field-wrapper required">
	{% if form.username.errors %}
		{{ form.username.errors }}
	{% endif %}
	<label for="id_username">Username:</label>
	{{ form.username }}
</div>
<div class="clear-left"></div>

<div class="field-wrapper required">
	{{ form.password1.errors }}
	<label for="id_password1">Password:</label>
	{{ form.password1 }}
</div>
<div class="clear-left"></div>
<div class="field-wrapper">
	{{ form.password2.errors }}
	<label for="id_password2">Password (again):</label>
	{{ form.password2 }}
</div>
<div class="clear-left"></div>
<div class="submitbutton">
<input type="submit" name="submit" value="Create Account" />
</div>
</form>
 
{% endblock %}