{% extends "studygroups/base.html" %}
{% load studygroup_tags %}
{% load perm_tags %}
{% load styled_forms %}
{% load i18n %}

{% block title %}{% firstof MODULE_STUDYGROUPS_LABEL 'Study Group' %} {% trans 'Edit' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}chosen/chosen.css">
{% endblock %}

{% block content %}

<div class="t">
    <h1>{% firstof MODULE_STUDYGROUPS_LABEL 'Study Group' %} {% trans "Edit" %}</h1>

    <div class="studygroup-wrap">
        <form action="{% url "studygroups.edit" study_group.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    	<div class="forms">
            {% studygroup_form form formset %}

			<fieldset class="boxy-grey" >
                <legend id="category-title" style="cursor: pointer"><span>+</span> {% trans "Category" %}</legend>
                <div id="category-form">
                    {{ categoryform|styled_form }}
                </div>
            </fieldset>
			<fieldset class="boxy-grey">
                <legend id="meta-title" style="cursor: pointer"><span>+</span> {% trans "SEO Meta" %}</legend>
                <div id="meta-form">
                    {{ metaform|styled_form }}
                </div>
            </fieldset>

            <input type="submit" value="{% trans 'Save Study Group Changes' %}" />
            {% if study_group.status %}
        	<div class="form-delete-link">
        	    <a class="delete" title="{% trans 'Link to delete confirmation page' %}" href="{% url "studygroups.delete" study_group.pk %}">
        	        {% trans "Delete" %}
        	    </a>
        	</div>
        	{% endif %}
		</div>
        </form>
    </div>

</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    {{ form.media }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/global/tinymce.event_handlers.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}chosen/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/dynamic-formset.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			// delete confirmation
			$('.add-category').click(function(){
				select_box = $(this).parent().prev().find('select');
				var category = prompt('Category Name?','').toLowerCase();
				category = category.replace('"','')
				var option_html = '<option selected="selected" value="' + category + '">' + category + '</option>';
				if (category) select_box.append(option_html)
				return false;
			});
			$('.add-sub-category').click(function(){
				select_box = $(this).parent().prev().find('select');
				var sub_category = prompt('Category Name?','').toLowerCase();
				sub_category = sub_category.replace('"','')
				var option_html = '<option selected="selected" value="' + sub_category + '">' + sub_category + '</option>';
				if (sub_category) select_box.append(option_html)
				return false;
			});
		});
    </script>
	<script type="text/javascript">
        $('#meta-form').hide();
        $('#category-form').hide();
        $('#meta-title').click(function() {
            $('#meta-form').slideToggle('fast');
            if ($('#meta-title span').text() == '+') {
                $('#meta-title span').text('-');}
            else {$('#meta-title span').text('+');}
        });
        $('#category-title').click(function() {
            $('#category-form').slideToggle('fast');
             if ($('#category-title span').text() == '+') {
                $('#category-title span').text('-');}
            else {$('#category-title span').text('+');}
        });
    </script>
    <script type="text/javascript">
        $('.add-row').click(function() {
    	    addForm(this, 'officers');
    	    // Handle chosen jquery plugin
    	    $('#officer-table select').removeClass('chzn-done');
    	    $('#officer-table div.chzn-container').remove();
    	    $('select.officer-user').chosen();
    	    return false;
        });
    </script>
    <script type="text/javascript">
        $('select.officer-user').chosen();
    </script>
{% endblock %}
