{% extends "recurring_payments/base-wide.html" %}
{% load base_tags %}
{% load base_filters %}
{% load perm_tags %}
{% load recurring_payments_tags %}

{% block title %}{% trans 'Recurring Payment View' %}{% endblock %}

{% block extra_head %}
{{ block.super }}

<link type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<link type="text/css" href="{% static 'tablesorter/sortthemes.css' %}" rel="Stylesheet" />
<link type="text/css" href="{% static 'css/recurring_payments.css' %}" rel="Stylesheet" />


<link rel="stylesheet" href="{% static 'authnet_cim/paymentShipping.css' %}">

 <style>
     .bs-callout-warning{
         background-color: #FEFBED;
        border-left: 5px solid #F1E7BC;
        padding: 1em;
        color: red;
        display: block;
     }
     .rp-warning-wrap{
         margin: 1em 0;
     }

 </style>

{% endblock %}

{% block content %}

<div class="t">
<div id="t-rp">
<div id="t-view">
        {% if not is_active %}
        <div class="not-active-alert">{% trans 'This account is' %} {{ rp.status_detail }}</div>
        {% endif %}

        <h1>{% trans 'Recurring Payment Account' %} <small> - {{ rp.description }}</small> </h1>

        {% if is_active %}
        {% if rp.platform == 'stripe' %}
            <div class="pull-right">
                <form action="{% url 'stripe.update_card' rp.id %}?next={{ request.path }}" method="POST">{% csrf_token %}
                  <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ STRIPE_PUBLISHABLE_KEY }}"
                  data-name="{{ SITE_GLOBAL_SITEDISPLAYNAME }}"
                  data-panel-label="{% if rp.customer_profile_id %}Update Card Details{% else %}Add Card{% endif %}"
                  data-label="{% if rp.customer_profile_id %}Update Payment Method{% else %}Add Payment Method{% endif %}"
                  data-description="for membership auto renew"
                  {% if SITE_GLOBAL_STRIPEDATAIMAGE %}
                  data-image="{{ SITE_GLOBAL_STRIPEDATAIMAGE }}"
                  {% else %}
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  {% endif  %}
                  data-allow-remember-me=false
                  data-locale="auto"
                  data-email={{ rp.user.email }}
                  data-zip-code="true">
                  </script>
                </form>
                {% with rp.get_source_data as source_data %}
                {% if source_data %}
                <small class="text-muted">{% trans "Current card: " %} ····{{ source_data.last4 }} &nbsp;&nbsp;&nbsp; {{ source_data.exp_month }}/{{ source_data.exp_year }}</small>
                {% endif %}
                {% endwith %}
            </div>
        {% else %}
            <div id="btn-pm-wrap">
            <form method="GET" action="{% url 'recurring_payment.authnet.update_payment_info' rp.id %}">
            <input class="btn btn-primary" type="submit" value="{% if payment_profile %}{% trans 'Update Payment Info' %}{% else %}{% trans 'Add Payment Method' %}{% endif %}">
            </form>
            {% if payment_profile %}
            <div class="last-updated">{% trans 'Last updated by' %} {{ payment_profile.owner }} on {{ payment_profile.update_dt|date:'N j Y' }}</div>
            {% endif %}
            </div>

            {% if not payment_profile %}
            <div class="rp-warning-wrap"><span class="bs-callout-warning">{% trans 'NOT complete yet!' %} <br />{% trans 'Please click the button at right to add a payment method.' %}</span></div>
            {% endif %}
        {% endif %}
        {% endif %}

        <div class="rp-dname">{% trans 'Name' %}: <a href="{% url "profile" rp.user.username %}">{{ rp.user.get_full_name }} ({{ rp.user.email }})</a></div>
        {% if rp.url %}
        <div class="rp-dname">{% trans 'URL' %}: {{ rp.url|urlize }}</div>
        {% endif %}
        <div class="rp-dname">{% trans 'Description' %}: <span style="color:#669900;">{{ rp.description }}</span></div>

        <div style="clear: right;"></div>

        {% if num_accounts > 1 %}
        <div class="text-right"><a href="{% url "recurring_payment.my_accounts" rp.user.username %}">{% if is_owner %}{% trans 'View All My RP Accounts' %}{% else %}{% blocktrans with name=rp.user.first_name %}View All {{ name }}'s RP Accounts{% endblocktrans %}{% endif %}</a></div>
          {% endif %}

      <div> <!-- Nav tabs -->

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#rpview-overview" aria-controls="rpview-overview" role="tab" data-toggle="tab">{% trans "Overview" %}</a></li>
            <li role="presentation"><a href="#rpview-invoices" aria-controls="rpview-invoices" role="tab" data-toggle="tab">{% trans "Invoices" %}</a></li>
            <li role="presentation"><a href="#rpview-transactions" aria-controls="rpview-transactions" role="tab" data-toggle="tab">{% trans "Transaction History" %}</a></li>
          </ul>

    <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="rpview-overview">
          <div class="basic-info" style="margin-top: 1em;">
          {% trans 'Current account balance' %}: <span class="body-bold">{{ rp.get_outstanding_balance|format_currency }}</span>
          <br />
          <br />

          {% if last_paid_payment_transaction %}
                  {% trans 'The last payment' %} (<span class="body-bold">{{ last_paid_payment_transaction.amount|format_currency }}</span>)
                  {% trans 'received date' %}:  {{ last_paid_payment_transaction.create_dt  }}.
                  <br />
                  <br />
          {% endif %}


          {% if last_failed_payment_transaction %}
                  {% trans 'The last payment' %} ({{ last_paid_payment_transaction.amount|format_currency }})
                  {% trans 'was failed on' %} {{ last_failed_payment_transaction.create_dt|date  }}.

                  <br />
                  <br />
          {% endif %}
         </div>
    {% if rp.is_membership_auto_renew %}
    	{% if memberships %}
        <div>
        <table class="table">
            <tr>
                <th>{% trans "Membership type" %}</th>
                <th>{% trans "Member Number" %}</th>
                <th>{% trans "Expire date" %}</th>
                <th>{% trans "Status detail" %}</th>
            </tr>
            {% for m in memberships %}
            <tr>
                <td>{{ m.membership_type.name }}</td>
                <td><a href="{% url 'membership.details' m.id %}">{{ m.member_number }}</a></td>
                <td>{{ m.expire_dt }}</td>
                <td>{{ m.status_detail }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
		{% else %}
			<div>{% trans "No memberships set up yet" %}</div>
			{% if rp.memberships_not_tied %}
			<a href="{% url 'memberships.auto_renew_setup' rp.user.id %}">{% trans "Set up auto renew" %}</a>
			{% endif %}
		{% endif %}

    {% else %}
        <div>
          {% trans 'The number of billing cycle completed' %}: <span class="body-bold">{{ rp.num_billing_cycle_completed }}</span>
          <br />
          <br />
          {% trans 'The number of billing cycle failed' %}: {{ rp.num_billing_cycle_failed }}

          </div>

          <div class="l0"></div>

          <div class="section-header">{% trans 'Recurring Billing Settings' %}</div>

          <div class="rp-body">
        <div >{% trans 'Payment Amount' %}: <span class="body-bold">{{ rp.payment_amount|format_currency }}</span></div>
        {% if rp.tax_rate %}
        <div >{% trans 'Tax Rate' %}: <span class="body-bold">{{ rp.tax_rate_percentage }}</span></div>
        {% endif %}

        <div>{% trans 'Initial Billing Cycle Start Date' %}: <span class="body-bold">{{ rp.billing_start_dt }}</span></div>

        <div>{% trans 'Billing Frequency' %}: <span class="body-bold">{% trans 'Once every' %} {{ rp.billing_frequency }}
        {{ rp.billing_period }}{{ rp.billing_frequency|pluralize }}</span></div>

        <div>{% trans 'Billing Date' %}: <span class="body-bold">{{ rp.num_days }} day{{ rp.num_days|pluralize }}  {% trans 'after each billing cycle' %} {{ rp.due_sore }} date</span></div>

          </div>

          {% if rp.has_trial_period %}
              <div class="l0"></div>
              <div class="section-header">{% trans 'Trial Period' %}</div>
              <div class="rp-body">
                  <div>{% trans 'Amount' %}: <span class="body-bold">{{ rp.trial_amount|format_currency }}</span></div>
                  <div>{% trans 'From' %} {{ rp.trial_period_start_dt|date }} {% trans 'to' %} {{ rp.trial_period_end_dt|date }}</div>
              </div>

          {% endif %}
    {% endif %}
    </div>




    <div role="tabpanel" class="tab-pane" id="rpview-invoices">
    {% if rp_invoices %}
        <table width="90%" class="tablesorter" id="rpinvoicetable">
            <thead>
            <tr>
                <th class="iheader">{% trans 'Billing Cycle' %}</th>
                <th class="iheader">{% trans 'Amount' %}</th>
                <th class="iheader">{% trans 'Due Date' %}</th>
                <th class="iheader">{% trans 'Payment Received Date' %}</th>
                <th class="iheader">{% trans 'Paid?' %}</th>
                <th class="iheader">{% trans 'Invoice' %} #</th>
            </tr>
            </thead>
            <tbody>
            {% for rp_invoice in  rp_invoices %}
                <tr>
                    <td>{{ rp_invoice.billing_cycle_start_dt|date:"n/j/Y" }} - {{ rp_invoice.billing_cycle_end_dt|date:"n/j/Y" }}</td>
                    <td>{{ rp_invoice.invoice.total|format_currency }} </td>
                    <td>{{ rp_invoice.billing_dt|date:"n/j/Y" }}</td>
                    <td>{% if rp_invoice.payment_received_dt %}{{ rp_invoice.payment_received_dt|date:"n/j/Y" }}{% endif %}</td>
                    <td>{% if rp_invoice.invoice.balance <= 0 %}Y{% else %}N{% endif %}</td>
                    <td><a href="{% url "invoice.view" rp_invoice.invoice.id rp_invoice.invoice.guid   %}" title="view invoice" target="_blank">{{ rp_invoice.invoice.id }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans 'No invoices available yet.' %}
    {% endif %}
    </div>

    <div role="tabpanel" class="tab-pane" id="rpview-transactions">

    {% if payment_transactions %}
        <table width="90%" class="tablesorter" id="rptranstable">
            <thead>
            <tr>
                <th class="iheader">{% trans 'Date' %}</th>
                <th class="iheader">{% trans 'Invoice #' %}</th>
                <th class="iheader">{% trans 'Amount' %}</th>
                <th class="iheader">{% trans 'Result' %}</th>
                <th class="iheader">{% trans 'Reason if Failed' %}</th>
                <th class="iheader">{% trans 'View Receipt' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for pt in  payment_transactions %}
            {% with pt.recurring_payment_invoice as rp_invoice %}
                <tr>
                    <td>{{ pt.create_dt|date:"n/j/Y" }}</td>
                    <td><a href="{% url "invoice.view" rp_invoice.invoice.id rp_invoice.invoice.guid  %}" title="view invoice" target="_blank">{{ pt.recurring_payment_invoice.invoice.id }}</a></td>
                    <td>{{ pt.amount|format_currency }} </td>
                    <td>{% if pt.status  %}<span class="transaction-success">{% trans 'Success' %}</span>{% else %}<span class="transaction-failed">{% trans 'Failed' %}</span>{% endif %}</td>
                    <td>{% if not pt.status %}{{ pt.message_text }}{% endif %}</td>
                    <td>{% if pt.status  %}<a href="{% url "recurring_payment.transaction_receipt" rp.id pt.id %}" title="{% trans 'view receipt' %}" target="_blank">{{ pt.payment.id }}</a>{% endif %}</td>
                </tr>
            {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans 'No payment transactions available yet.' %}
    {% endif %}

    </div>

   </div>  <!-- End of tab-content -->

   </div> <!-- End of nav tabs -->

</div>
</div>
</div>
<p>&nbsp;</p>

 {% if is_active %}
 {% if rp.platform == 'authorizenet' %}
<form method="post" action="" id="formAuthorizeNetPopup" name="formAuthorizeNetPopup" target="iframeAuthorizeNet" style="display:none;">
  <input type="hidden" name="Token" value="111" />
  <input type="hidden" name="PaymentProfileId" value="{% if payment_profile %}{{ payment_profile.payment_profile_id }}{% endif %}" />
  <input type="hidden" name="ShippingAddressId" value="" />
</form>

    <div id="divAuthorizeNetPopup" style="display:none;" class="AuthorizeNetPopupSimpleTheme">
      <div class="AuthorizeNetPopupOuter">
        <iframe name="iframeAuthorizeNet" id="iframeAuthorizeNet" src="/recurring_payments/authnet/empty/" frameborder="0"
        scrolling="no"></iframe>
      </div>
      <div class="AuthorizeNetShadow AuthorizeNetShadowT"></div>
      <div class="AuthorizeNetShadow AuthorizeNetShadowR"></div>
      <div class="AuthorizeNetShadow AuthorizeNetShadowB"></div>
      <div class="AuthorizeNetShadow AuthorizeNetShadowL"></div>
      <div class="AuthorizeNetShadow AuthorizeNetShadowTR"></div>
      <div class="AuthorizeNetShadow AuthorizeNetShadowBR"></div>
      <div class="AuthorizeNetShadow AuthorizeNetShadowBL"></div>
      <div class="AuthorizeNetShadow AuthorizeNetShadowTL"></div>
    </div>

    <div id="divAuthorizeNetPopupScreen" style="display:none;"></div>
{% endif %}
{% endif %}
{% endblock %}

{% block extra_body %}
{{ block.super }}
{# dynamically load jquery #}
<script>
    if (!(window.jQuery)) {
        var s = document.createElement('script');
        s.setAttribute('src', '//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js');
        s.setAttribute('type', 'text/javascript');
        document.getElementsByTagName('head')[0].appendChild(s);}
</script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'tablesorter/jquery.tablesorter.min.js' %}"></script>


{% if is_active %}
{% if rp.platform == 'authorizenet' %}
<script type="text/javascript" src="{% static 'authnet_cim/popup.js' %}"></script>

<script type="text/javascript">
  //<![CDATA[
  // Uncomment this line if eCheck is enabled. This does not affect functionality, only the initial sizing of the popup page for add payment.
  AuthorizeNetPopup.options.eCheckEnabled = false;

  // Uncomment this line if you do not have absolutely positioned elements on your page that can obstruct the view of the popup.
  // This can speed up the processing of the page slightly.
 // AuthorizeNetPopup.options.skipZIndexCheck = true;

  AuthorizeNetPopup.options.useTestEnvironment = {{ test_mode }};
  //]]>

  (function($) {
      AuthorizeNetPopup.options.onPopupClosed = function(action_result) {
      if(action_result=="successfulSave"){
          $.ajax({
                 type: "POST",
                 url: "{% url "recurring_payment.authnet.update_payment_profile_local" %}",
                 data: {rpid : {{ rp.id }}{% if payment_profile %}, ppid : {{ payment_profile.id }}{% endif %} },
                 success: function(msg){
                   //alert( msg );
                   {% if not payment_profile %}
                      window.location.reload(true);
                   {% endif %}
                 }
               });
      }
      };
  }(jQuery));

</script>
{% endif %}
{% endif %}


<script type="text/javascript">
$(document).ready(function(){
    if(document.location.hash != ""){window.scrollTo(0,0);}
    //var $tabs = $("#rpview-tabs").tabs();

    // extend the default setting to always include the zebra widget.
        $.tablesorter.defaults.widgets = ['zebra'];
        // extend the default setting to always sort on the first column
        $.tablesorter.defaults.sortList = [[0,1]];

        $.tablesorter.addParser({
                // set a unique id
                id: 'billing-cycle',
                is: function(s) {
                        // return false so this parser is not auto detected
                        return false;
                },
                format: function(s) {
                        // format your data for normalization
                        var bc_dates = s.split(' - ');

                        if(bc_dates.length !== 2)
                                return 0;

                        var bc_start_dt = (bc_dates[0]).split('/');

                        return new Date(bc_start_dt[2], bc_start_dt[0], bc_start_dt[1]);

                },
                // set type, either numeric or text
                type: 'numeric'
        });


        // call the tablesorter plugin
        $("#rpinvoicetable").tablesorter({
             headers: {
            // assign the first column (we start counting zero)
            0: {
                // disable it by setting the property sorter to false
                sorter: 'billing-cycle'
                }
            }
        });

        $("#rptranstable").tablesorter({
             headers: {
            // assign the first column (we start counting zero)
            0: {
                // disable it by setting the property sorter to false
                //sorter: false
                }
            }
        });

     /* $("#btn-pm").on("click", function(){
         $.ajax({
           type: "POST",
           url: "{% url "recurring_payment.authnet.retrieve_token" %}",
           data: {rpid : {{rp.id}}, guid : '{{rp.guid}}' },
           success: function(t){
             $("input[name=Token]").val(t);
             {% if payment_profile %}
                 AuthorizeNetPopup.openEditPaymentPopup('{{ payment_profile.payment_profile_id }}');
             {% else %}
               AuthorizeNetPopup.openAddPaymentPopup();
             {% endif %}
           },
           error: function(t){
              alert("An error occured. Please try again.");
           }
         });
     }); */



});


</script>

<script type="text/javascript">
    // disable confirmation
    $('.disable').on("click", function(){
        var disable_account = confirm('Are you sure you want to disable this account?');    // confirm
        if(disable_account) $('form[name="rp-disable"]').submit(); // disable: if OK
        return false;    // cancel
    });
</script>

{% endblock %}
