{% extends "pages/base-print.html" %}
{% load page_tags %}

{% block title %}{{ block.super }}Print - {{ page.get_title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/pages.css">
{% endblock %}

{% block body %}

<div class="t-print">

	<div class='hide-this'>
		<h1>Print View</h1>

		<div class="guide">
			<div><a href="{{ article.get_absolute_url }}">&laquo; Back to regular page view</a></div>
			<div>Your printed page will look <em>something</em> like this.</div>
		</div>
	</div>

    <div class="page-wrap">

        <h2>{{ page.title }}</h2>
        <div class="content">{{ page.content|safe }}</div>
        <div class="meta">
            <div class="submitted">Submitted on {{ page.create_dt|date:"D d M Y P" }} by {{ page.creator }}</div>
        </div>
    </div>

</div>
{% endblock %}