{% extends "pages/base.html" %}
{% load pagination_tags %}
{% load page_tags %}
{% load base_tags %}
{% load base_filters %}
{% load perm_tags %}

{% block title %}{{ block.super }} Search{% endblock %}
{% block meta_description %}{{ block.super }}{% endblock %}
{% block meta_keywords %}{{ block.super }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/pages.css">
<link rel="alternate" type="application/rss+xml" title="Latest Pages" href="{% url page.feed %}" />
{% endblock %}

{% block body %}

<div class="t">
    <h1>{% firstof MODULE_PAGES_LABEL 'Pages' %} Search</h1>

	{% page_nav request.user %}
	
	{% page_search %}
    {% autopaginate pages 10 %}

	<div class="pages-wrap">
    {% for page in pages %}
		{% with page.object as page %}
		<div class="page-wrap-search">

			<div class="options options-search">
                <div class="quick-options">
					{% page_options request.user page %}
                </div>
			</div>

            <h2><a href="{{ page.get_absolute_url }}">{% firstof page.title 'Untitled'%}</a></h2>
            <div class="content">{{ page.content|striptags|truncatewords:20|safe }}</div>
			<div class="meta">
            	<div class="submitted">Submitted on {{ page.create_dt|date:"long" }} by {{ page.creator }}</div>
            </div>

            <!-- delete-page form -->
            <form name="page-delete" method="POST" action="{% url page.delete page.pk %}">{% csrf_token %}
                <input type="hidden" name="action" value="delete">
            </form>

		</div>
		{% endwith %}
	{% empty %}
		<div>0 Results Found</div>
    {% endfor %}
	</div>

    {% paginate %}
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">
		$(document).ready(function(){

			// delete confirmation
			$('.delete').click(function(){
				var delete_page = confirm("Permenantly delete {% firstof MODULE_PAGES_LABEL 'Page' %}?");	// confirm
				if(delete_page) $(this).parents('.page-wrap-search').find('form[name="page-delete"]').submit() // delete: if OK
				return false;	// cancel
			});
		});
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/global/dropdown.js"></script>
	<script type="text/javascript">
	var iconrow = new dropdown({
		container:	'more-options-wrap',
		trigger:	'more-options-trigger',
		target:		'more-options-target'
	});
	</script>
{% endblock %}
