#registration_form table {
    margin-top: 15px;
}
#registration_form table td {
    padding: 8px;
}
#registration_form div.errors {
    color: #990000;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #CCC; 
    margin: 10px 0 10px 0;
    color: #F76868;
}
#registration_form .create-button {
    cursor: pointer;
    padding: 5px;
}
#registration_form .required {
	font-weight: bold;
}