.t {
	width: 90%;
}
.t h2 {
	margin: 0 auto 10px 0;
}

.t ul.events-nav {
	margin: 0; padding: 0;
	list-style-type: none;
	margin-bottom: 20px;
}
.t ul.events-nav li {
	display: inline;
}

.t .events-wrap {
	margin-bottom: 20px;
}

.t .event-wrap {
	padding: 10px;
	margin-bottom: 20px;
	position: relative;
}

.t .events-wrap .event-wrap-search {
	border: 1px solid #CCC;
	padding: 10px;
	margin-bottom: 20px;
	position: relative;
	background-color: white;
}

.t .events-wrap .event-wrap h2 {
	width: 85%;
}
.t .events-wrap .event-wrap .content {
	margin-bottom: 10px;
}
.t .event-wrap .options {
	text-align: right;
	position: absolute;
	top: -30px; right: 0;
	padding: 5px;
	white-space: nowrap;
}
.t .event-search-wrap .options {
	text-align: right;
	position: absolute;
	top: 0; right: 0;
	padding: 5px;
	white-space: nowrap;
}

.t .quick-options {
	float: right;
	margin-right: 5px;
}
.t .quick-options ul {
	margin: 0; padding: 0;
	list-style-type: none;
}

.t .dropdown-options {
	float: right;
	display: none;
}
.t .dropdown-options span {
	font-size: .7em;
}
.t .dropdown-options ul {
	display: none;
}

.t h1 {
	margin: 0;
}
.t .back-to-search {
	margin-bottom: 20px;
}

.t form.search-form input[type="text"] {
	width: 60%;
	margin-bottom: 10px;
	padding: 5px;	
}

.t form.search-form input[type="submit"] {
	padding: 5px;	
	cursor: pointer;
}

/*= Details View
 ------------------------- */
 
 /* speaker and organizer */
.t .speaker-wrap,
.t .organizer-wrap {
	border: 1px solid silver;
	margin: 0 15px 10px;
	text-align: left;
	padding: 10px 10px 0;
	background-color: white;
}
.t .speaker,
.t .organizer {
	margin-bottom: 5px;
}

/* registered and closed btn */
.t .event-wrap .vitals .registered a {
	background-color: orange;
	border: 1px solid orange;
}
.t .event-wrap .vitals .registered a:active,
.t .event-wrap .vitals .registered a:hover {
	background-color: orange;
	border: 1px solid orange;
}
.t .event-wrap .vitals .closed a {
	background-color: darkred;
	border: 1px solid darkred;
}
.t .event-wrap .vitals .closed a:active,
.t .event-wrap .vitals .closed a:hover {
	background-color: darkred;
	border: 1px solid darkred;
}
 

.t .event-wrap .meta, .t .event-wrap-search .meta {
	border: 1px solid silver;
	padding: 10px;
	background-color: #F7F7F7;
	margin-top: 10px;
}
.t .event-wrap .meta .tags {
	margin-bottom: 5px;
}

.t .event-wrap-search .meta .submitted {
	float: left;
}

.t .event-wrap-search .meta .attend-link {
	float: right;
}
.t .event-wrap-search .meta .attend-link a {
	padding: 5px;
	background-color: #DDD;
	border: 1px solid silver;
}

/* form */
div.forms div.form-field div.id_release_dt .field input {
	width: 30%;
}

div.forms div.form-field div.id_first_name .field input {
	width: 30%;
}

div.forms div.form-field div.id_last_name .field input {
	width: 30%;
}

div.forms div.form-field div.id_phone .field input {
	width: 18%;
}

div.forms div.form-field div.id_fax .field input {
	width: 18%;
}

/* start_dt */
div.forms div.form-field 
div.id_start_dt .field input {
	margin: 0 5px 0 0;
	width: 18%;
}
div.forms div.form-field 
div.id_start_dt .field input#id_start_dt_1 {
	width: 80px;
}
/* end_dt */
div.forms div.form-field 
div.id_end_dt .field input {
	margin: 0 5px 0 0;
	width: 18%;
}
div.forms div.form-field 
div.id_end_dt .field input#id_end_dt_1 {
	width: 80px;
}

/* id_regconf-early_dt */
div.forms div.form-field 
div.id_regconf-early_dt .field input {
	margin: 0 5px 0 0;
	width: 18%;
}
div.forms div.form-field 
div.id_regconf-early_dt .field input#id_regconf-early_dt_1 {
	width: 80px;
}

/* id_regconf-regular_dt */
div.forms div.form-field 
div.id_regconf-regular_dt .field input {
	margin: 0 5px 0 0;
	width: 18%;
}
div.forms div.form-field 
div.id_regconf-regular_dt .field input#id_regconf-regular_dt_1 {
	width: 80px;
}

/* id_regconf-late_dt */
div.forms div.form-field 
div.id_regconf-late_dt .field input {
	margin: 0 5px 0 0;
	width: 18%;
}
div.forms div.form-field 
div.id_regconf-late_dt .field input#id_regconf-late_dt_1 {
	width: 80px;
}

/* id_regconf-late_dt */
div.forms div.form-field
div.id_regconf-end_dt .field input {
	margin: 0 5px 0 0;
	width: 18%;
}
div.forms div.form-field
div.id_regconf-end_dt .field input#id_regconf-end_dt_1 {
	width: 80px;
}

div.forms div.form-field .field input.datepicker,
div.forms div.form-field .field input.timepicker {
    width: 120px;
}

div.forms div.form-field .field input.reg8n_price {
    width: 80px;
}

input#id_regconf-early_price {
	width: 100px;	
}

input#id_regconf-regular_price {
	width: 100px;	
}

input#id_regconf-late_price {
	width: 100px;	
}

input#id_regconf-limit {
	width: 100px;	
}

input.short_text_input{
    width: 100px !important;
}

/*= Print View
 ------------------------- */
.t-print .event-wrap {
	width: 8in;
	padding: .25in;
	margin: 20px 0;
	border: 1px solid silver;
}
.t-print .hide-this {
	width: 8.5in;
	margin: 20px 0;
	position: relative;
}
.t-print .guide {
	position: absolute;
	top: 0; right: 0;
}
.t-print object {
	visibility: hidden;
}

@media print {
	.hide-this {
		display: none;
	}
	.t-print .event-wrap {
		width: 100%;
		border: none;
		padding: 0; margin: 0;
	}
}


/*= Add and Edit View
 ------------------------- */

.errors {
	border: 2px solid #FF8B78;
	background-color: #FFEBE8;
	padding: 10px;
	margin-bottom: 20px;
	margin-left: 110px;
	width: 75%;
}
.clear {
	clear: both;
}
.wrap {
	white-space: pre-wrap;
}
.item-text {
	font-size: 1.4em;
	border-bottom: 1px solid silver;
	margin: 35px 0 10px 0;
	font-weight: bold;
}

/* label:field item */
.item {
	margin-bottom: 10px;
}
.item .errs {
	color: red;
	margin-left: 110px;
}
.item .label {
	float: left;
	font-size: 1.4em;
	text-align: right;
	width: 100px;
	white-space: nowrap;
}
.item .label-wrap {
	white-space: normal;
}


.item .field,
.item .help {
	margin-left: 110px;
}
.item .field input,
.item .field textarea,
.item .field select {
	width: 100%;
}
.item .field .mceLayout {
	/* WYSIWYG; .1 keeps border intact */
	width: 100.1% !important; 
}
.item .field-short input,
.item .field-short select {
	width: 20%;
}

/* date-time item */
.item-dt {
	margin: 0 0 20px 110px;
}
.item-dt .errs {
	color: red;
}
.item-dt .label {
	font-size: 1.4em;
	margin-bottom: 5px;
}
.item-dt .field input {
	float: left;
	width: 15%;
	margin-right: 5px;
}

/* field:label item */
.item-checkbox {
	margin: 0 0 5px 110px;
}
.item-checkbox .label {
	font-size: 1.4em;
	margin-bottom: 5px;
}
.item-checkbox .field input {
	float: left;
	margin-right: 10px;
}

/* horizontal rule item */
.item-hr {
	height: 1px;
	background-color: silver;
	margin: 10px 0 10px 110px;
	width: 85%;
}
/* horizontal rule long item */
.item-hr-long {
	height: 1px;
	background-color: silver;
	margin: 20px 0 20px 0;
	width: 100%;
}
/* horizontal rule (transparent) item */
.item-hr-clear {
	height: 10px;
	width: 100%;
}


/* details page */
.t .event-wrap {
	xbackground-color: #F7F7F7;
	padding: 0;
}
.event-wrap .info {
	border: 1px solid silver;
	padding: 10px;
	background-color: white;
	width: 66%;
	float: left;
}
.event-wrap .vitals {
	float: right;
	margin: 10px 0;
	width: 31.5%;
	text-align: center;
	xbackground-color: #CFF;
}

.event-wrap .vitals .register-wrap {			
}
.event-wrap .vitals .register-btn a {
	color: white;
	margin: 0 auto;
	font-size: 1.6em;
	background-color: #006018;
	padding: 10px 0;
	border: 1px solid #005F18;
	width: 200px;
	display: block;
	text-decoration: none;
}
.event-wrap .vitals .register-btn a:active, 
.event-wrap .vitals .register-btn a:hover {
	background-color: #007F20;
}

.event-wrap .vitals .price {
	font-size: 1.4em;
	margin-bottom: 10px;
}		
.event-wrap .vitals .place {
	margin-bottom: 15px;
}
.event-wrap .vitals .place .line {
	margin: 0;
	line-height: 1em;
}
.event-wrap .vitals .time-period .line {
	margin: 0;
	line-height: 1em;
}
.event-wrap .hr {
	background-color: silver;
	height: 1px;
	margin: 15px;
}

/*= Monthly View
----------------------------- */
.month-view h1 {
	text-align: center;
}
.month-view div.weekday {
	width: 14.28%;
	float: left;
	text-align: center;
}

.month-view .calendar-wrap {
	background-color: #F7F7F7;
}
.month-view .month-wrap {
	float: left;
	background-color: white;
	padding-right: 10px;
	width: 80%;
}
.month-view div.month-grid {
	border: 1px solid silver;
	border-right: none;
	border-bottom: none;
}
.month-view div.day {
	width: 14.13%;
	height: 116px;
	border: 1px solid silver;

	border-top: none;
	border-left: none;

	float: left;
}
.month-view div.today {
	background-color: #FFD;
}

.month-view div.day div.date-numeral {
	text-align: right;
	background-color: #EEE;
	position: relative;
}
.month-view div.day div.date-numeral a {
	display: block;
	text-decoration: none;
	padding-right: 5px;
}
.month-view div.day div.event-item {
	font-size: 11px;
	line-height: 1.1em;
	/* border-bottom: 1px dashed silver; */
	padding: 5px 5px;
}
.month-view div.day div.event-item span.event-title a {
	text-decoration: none;
}
.month-view div.day div.more-events {
	background-color: #FFC;
	padding: 5px;
}


.month-names {
	margin-bottom: 10px;
}
.month-names .month-name {
	font-size: 1.4em;
	float: left;
	margin-right: 0;
}
.month-names .month-name a {
	text-decoration: none;
	display: block;
	padding: 10px;
}
.month-names .month-name a:active,
.month-names .month-name a:hover {
	background-color: #DDD;
}
.month-names .previous a {
	background-color: #EEE;
}
.month-names .current a {
	background-color: #EEE;
	width: 140px;
	text-align: center;
}
.month-names .next a {
	background-color: #EEE;
}

.event-item {
	word-wrap: break-word;
	position: relative;
}

.event-item a {
    color: white;
}

.event-item .click-mask {
	position: absolute;
	top:0; right:0; bottom:0; left:0;
}

	.side-bar .header {
	text-align: center;
	font-size: 1.4em;
	padding: 20px 0 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #DDD;
}
.side-bar .types {
	margin: 0 10px;
	float: left;
}
.side-bar .types .type a {
	text-decoration: none;
	padding: 2px 5px;
	background-color: #FFC;
	display: block;
	margin: 5px 0;
	width: 130px;
	border: 2px solid #FFC;
}

/*= Messages
 ------------------------- */
.recipient-set {
    background-color: #EEE;
    padding: 5px;
    border: 1px solid silver;
    margin-bottom: 5px;

}
.recipient-set ul {
    margin-left: 0;
}
.recipient-set li {
    display: inline;
    list-style-type: none;
    margin-right: 5px;
}

/*= Roster
 ------------------------- */
tr.non-paid-top {
    border: 1px solid #708090;
    border-bottom: none;
}
tr.non-paid-bottom {
    border: 1px solid #708090;
    border-top: none;
}
tr.non-paid-middle {
    border: 1px solid #708090;
    border-top: none;
    border-bottom: none;
}

.count-box {
    border: 1px solid silver;
    float: left;
    padding: 5px;
    margin-left: 7px;
}
.count-box div {
    text-align: center;
}
.roster-view-options {
    border: 1px solid silver;
    padding: 5px;
    margin-left: 7px;
    float: left;
}
.counts {
    margin-left:8px;
}

/*= Registration Confirmation
 ----------------------------- */
.regconf-section.payment a {
    text-decoration: underline;
}
.regconf-section.payment .payment-accounting {
    text-align: right;
}

.registration-status div {
    color: white;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

.registration-status .registered {
	background-color: #006018;
	border-color: #005F18;
}

.registration-status .almost-registered {
	background-color: orange;
	border-color: orange;
}

.registration-status .not-registered {
	background-color: darkred;
	border-color: darkred;
}
