

.t {
	width: 90%;
}
.t h2 {
	margin: 0 auto 10px 0;
}

.t ul.files-nav {
	margin: 0; padding: 0;
	list-style-type: none;
	margin-bottom: 20px;
}
.t ul.files-nav li {
	display: inline;
}

.t .files-wrap {
	margin-bottom: 20px;
}

.t .files-wrap .file-wrap {
	border: 1px solid #CCC;
	padding: 10px;
	margin-bottom: 20px;
	position: relative;
	background-color: white;
}

.t .files-wrap .file-wrap h2 {
	width: 85%;
	margin-bottom: 6px;
}
.t .files-wrap .file-wrap .content {
	margin-bottom: 10px;
}
.t .files-wrap .file-wrap .submitted {
	background-color: #EEE;
}
.t .files-wrap-search .file-wrap {
	border: 1px solid #CCC;
	padding: 10px;
	margin-bottom: 20px;
	position: relative;
	background-color: white;
}

.t .file-wrap .icon {
	float: left;
	margin-right: 10px;
}
.t .file-wrap .meta {
	margin-top: 20px;
}
.t .file-wrap h2 a.broken {
	text-decoration: line-through;
}

.t .files-wrap-search .file-wrap h2 {
	width: 85%;
}
.t .files-wrap-search .file-wrap .content {
	margin-bottom: 10px;
}
.t .files-wrap-search .file-wrap .submitted {
	background-color: #EEE;
}

.t .options {
	text-align: right;
	position: absolute;
	top: 0; right: 0;
	background-color: #EEE;
	padding: 5px;
	white-space: nowrap;
}

.t .quick-options {
	float: right;
	margin-right: 5px;
}
.t .quick-options ul {
	margin: 0; padding: 0;
	list-style-type: none;
}
.t .quick-options ul li {
	display: inline;
}

.t .dropdown-options {
	float: right;
	display: none; /* todo: port-over dropdown js */
}
.t .dropdown-options span {
	font-size: .7em;
}
.t .dropdown-options ul {
	display: none;
}

.t h1 {
	margin: 0;
}
.t .back-to-search {
	margin-bottom: 20px;
}
.t form.search-form input[type="text"] {
	width: 60%;
	margin-bottom: 10px;
	padding: 5px;	
}

.t form.search-form input[type="submit"] {
	padding: 5px;	
	cursor: pointer;
}

