.invoice-view-display{
	width: 95%;
	max-width: 650px;
}
.invoice-view-wrap{
	/*font-family: arial, Helvetica, sans-serif;*/
	font-size: 12px;
	border: 1px solid #ccc;
	padding: 5px;
	width: 100%;
	margin: 1em 0;
}
.invoice-view-payment-wrap{
	/*font-family: arial, Helvetica, sans-serif;*/
	font-size: 12px;
	border: 1px solid #FF6666;
	width: 100%;
	margin-top: 1em;
	padding: 3px;
}
.invoice-view-box{
	border: 2px solid #666;
	margin-bottom: 1em;
	padding: 3px;
}
.invoice-view-detail-left{
	float: left;
	width: 3em;
}
.invoice-view-detail-middle{
	float: left;
	width: 60%;
}
.invoice-view-detail-right{
	float: right;
	text-align: right;
}
.invoice-view-totals{
	float: right;
	text-align: right;
}
.invoice-view-totals .amounts{
	float:right;width:6em;
}
.invoice-view-payonline{
	float: right;
}
.clear-both{
	clear: both;
}
.clear-right{
	clear: right;
}
.clear-left{
	clear: left;
}
.invoice-item{
	padding-bottom: 2px;
}
.invoice-view-totals td{
	padding: 0;
	margin: 0;
}

.body_copy_yellow, .body-copy-yellow{
	/*background-color: #F9FF9A;*/
	background-color: yellow;
}
.body_copy_gray{
	background-color: gray;
}
.body_copy_alerts{
	color: red;
}
.errorlist{
		color: red;
	}
	
/* invoice search*/
.t .t-invoice .t-search .invoice-row{
	width: 95%;
	max-width: 620px;
	border: 1.5px solid #333;
	padding: .5px 1px 1px .5px;
	margin-bottom: 1em;
}
.invoice-row-inner{
	border: 1.5px solid #333;
}
.body-copy-yellow{
	background-color: yellow;
}
.t form.search-form input[type="text"] {
	margin-bottom:10px;
	padding:5px;
	width:500px;
}