.t {
	width: 90%;
}
.t h2 {
	margin: 0 auto 10px 0;
}

.t .locations-wrap {
	margin-bottom: 20px;
}

.t .locations-wrap .location-wrap {
	border: 1px solid #CCC;
	padding: 10px;
	margin-bottom: 20px;
	position: relative;
	background-color: white;
}

.t .locations-wrap .location-wrap h2 {
	width: 85%;
}
.t .locations-wrap .location-wrap .summary {
	margin-bottom: 10px;
}
.t .locations-wrap .location-wrap .mission {
	margin-bottom: 10px;
}
.t .locations-wrap .location-wrap .contact_name {
	margin-bottom: 10px;
}
.t .locations-wrap .location-wrap .submitted {
	background-color: #EEE;
}

.t .options {
	text-align: right;
	position: absolute;
	top: 0; right: 0;
	background-color: #EEE;
	padding: 5px;
	white-space: nowrap;
}

.t .quick-options {
	float: right;
	margin-right: 5px;
}
.t .quick-options ul {
	margin: 0; padding: 0;
	list-style-type: none;
}
.t .quick-options ul li {
	display: inline;
}

.t .dropdown-options {
	float: right;
	display: none; /* todo: port-over dropdown js */
}
.t .dropdown-options span {
	font-size: .7em;
}
.t .dropdown-options ul {
	display: none;
}

.t h1 {
	margin: 0;
}
.t .back-to-search {
	margin-bottom: 20px;
}


.t ul.location-nav {
	margin: 0; padding: 0;
	list-style-type: none;
	margin-bottom: 20px;
}
.t ul.location-nav li {
	display: inline;
}

/* form */
div.forms div.form-field div.id_city .field input {
	width: 30%;
}

div.forms div.form-field div.id_state .field input {
	width: 18%;
}

div.forms div.form-field div.id_zipcode .field input {
	width: 10%;
}

div.forms div.form-field div.id_country .field input {
	width: 45%;
}

div.forms div.form-field div.id_phone .field input {
	width: 18%;
}

div.forms div.form-field div.id_fax .field input {
	width: 18%;
}

div.forms div.form-field div.id_longitude .field input {
	width: 8%;
}

div.forms div.form-field div.id_latitude .field input {
	width: 8%;
}

div.forms div.form-field div.id_entityid .field input {
	width: 8%;
}

div.forms div.form-field div.id_entityownerid .field input {
	width: 8%;
}



