.t {
	width: 90%;
}
.t h2 {
	margin: 0 auto 10px 0;
}

.t ul.memberships-nav {
	margin: 0; padding: 0;
	list-style-type: none;
	margin-bottom: 20px;
}
.t ul.memberships-nav li {
	display: inline;
}

.t .memberships-wrap {
	margin-bottom: 20px;
}

.t .membership-wrap {
	padding: 10px;
	position: relative;
}

.t .search-form {
    margin-bottom: 10px;
}

.t .wrap-search-item {
    border: 1px solid #CCC;
}

/*= Membership Application Entry
---------------------------------- */
.t .application-entry-wrap #member-number {
	font-size: 1.5em;
	/*background-color: red;*/
	padding: 10px;
}
.t .application-entry-wrap .field {
    border: 1px solid silver;
    padding: 10px;
    margin: 0 0 10px;
}
.t .application-entry-wrap .field .label {
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    padding-bottom: 2px;
    margin-bottom: 10px;
}
.t .application-entry-wrap .entry_dt {
    font-size: .9em;
    margin-bottom: 3px;
}
.t .application-entry-wrap .pending,
.t .application-entry-wrap .approved_dt,
.t .application-entry-wrap .denied_dt {
    font-size: .9em;
    margin-bottom: 15px;
}

.t .options {
	text-align: right;
	position: absolute;
	top: -30px; right: 0;
	padding: 5px;
	white-space: nowrap;
}
.t .options-search {
	position: static;
}
.t .quick-options {
	float: right;
	margin-right: 5px;
}
.t .quick-options ul {
	margin: 0; padding: 0;
	list-style-type: none;
}

.t .dropdown-options {
	float: right;
	display: none; /* todo: port-over dropdown js */
}
.t .dropdown-options span {
	font-size: .7em;
}
.t .dropdown-options ul {
	display: none;
}

.t h1 {
	margin: 0;
}
.t .back-to-search {
	margin-bottom: 20px;
}

.t form.search-form input[type="text"] {
	width: 60%;
	margin-bottom: 10px;
	padding: 5px;	
}

.t form.search-form input[type="submit"] {
	padding: 5px;	
	cursor: pointer;
}

.t .profile-link {
    text-align: right;
}

/* Membership details
 ------------------------- */
 .t .memberships-wrap .membership-wrap-search {
	border: 1px solid silver;
	/*padding: 10px;*/
	margin-bottom: 10px;
	position: relative;
	background-color: white;

}

.result-head {
	background-color: #EEE;
	padding: 10px;
	margin: 7px 7px 0 7px;
	/*cursor: pointer;*/
}
.result-head.approved {
	border-top: 5px solid #7AE309;
}
.result-head.disapproved {
	border-top: 5px solid #E30918;
}
.result-head.pending {
	border-top: 5px solid #FFE44B;
}
.result-head .member-requires-approval {
	font-weight: bold;
	float: left;
}
.result-head .member-number {
	font-weight: bold;
	float: left;
}
.result-head .member-subscription {
	float: left;
	margin-top: 4px;
}

.result-head .member-status {
	text-align: right;
}
.result-head .member-status a {
	color: black;
	text-decoration: underline;
}
.result-head .member-date {
	font-size: .8em;
	text-align: right;
	margin-top: 4px;
}
.result-content {
	padding: 10px;
}

.result-content .member-name {
	margin-bottom: 3px;
}

/*.t .memberships-wrap .membership-wrap-search h2 {
    padding-bottom: 10px;
}
.t .memberships-wrap .membership-wrap-search h3 {
    float: left;
}
.t .memberships-wrap .membership-wrap-search div.membership-status {
    float: right;
}*/

.t .membership-wrap .meta, .t .membership-wrap-search .meta {
	border: 1px solid silver;
	padding: 10px;
	background-color: #F7F7F7;
	margin-top: 10px;
}
.t .memberships-wrap .membership-wrap h2 {
	width: 85%;
}
.t .memberships-wrap .membership-wrap .content {
	margin-bottom: 10px;
}
.t .memberships-wrap .category {
    margin-top: 5px;
}
.t .membership-wrap .meta .tags {
	margin-bottom: 5px;
}
.t .membership-wrap .fb-connect {
	margin-top: 10px;
}

/* form */
div.forms div.form-field div.id_release_dt .field input {
	width: 30%;
}

div.forms div.form-field div.id_first_name .field input {
	width: 30%;
}

div.forms div.form-field div.id_last_name .field input {
	width: 30%;
}

div.forms div.form-field div.id_phone .field input {
	width: 18%;
}

div.forms div.form-field div.id_fax .field input {
	width: 18%;
}
div.forms div.form-field div.id_release_dt .field input {
	margin: 0 5px 0 0;
	width: 18%;
}
div.forms div.form-field div.id_release_dt .field input#id_release_dt_1 {
	width: 80px;
}

div.pending-entries {
	border: 1px solid silver;
	background-color: #EEE;
	padding: 10px;
	margin-bottom: 10px;
}


/* Membership Details (print)
 ------------------------- */
.t-print .membership-wrap {
	width: 8in;
	padding: .25in;
	margin: 20px 0;
	border: 1px solid silver;
}
.t-print .hide-this {
	width: 8.5in;
	margin: 20px 0;
	position: relative;
}
.t-print .guide {
	position: absolute;
	top: 0; right: 0;
}
.t-print object {
	visibility: hidden;
}

@media print {
	.hide-this {
		display: none;
	}
	.t-print .membership-wrap {
		width: 100%;
		border: none;
		padding: 0; margin: 0;
	}
}

/* Membership Add/Edit
 ------------------------- */

.errors {
	border: 2px solid #FF8B78;
	background-color: #FFEBE8;
	padding: 10px;
	margin-bottom: 20px;
	margin-left: 110px;
	width: 75%;
}
.clear {
	clear: both;
}
.wrap {
	white-space: pre-wrap;
}
.item-text {
	font-size: 1.4em;
	border-bottom: 1px solid silver;
	margin: 20px 0;
	font-weight: bold;
}

/* label:field item */
.item {
	margin-bottom: 10px;
}
.item .errs {
	color: red;
	margin-left: 110px;
}
.item .label {
	float: left;
	font-size: 1.4em;
	text-align: right;
	width: 100px;
	white-space: nowrap;
}
.item .label-wrap {
	white-space: normal;
}


.item .field,
.item .help {
	margin-left: 110px;
}
.item .field input,
.item .field textarea,
.item .field select {
	width: 100%;
}
.item .field .mceLayout {
	/* WYSIWYG; .1 keeps border intact */
	width: 100.1% !important; 
}
.item .field-short input,
.item .field-short select {
	width: 20%;
}

/* date-time item */
.item-dt {
	margin: 0 0 20px 110px;
}
.item-dt .errs {
	color: red;
}
.item-dt .label {
	font-size: 1.4em;
	margin-bottom: 5px;
}
.item-dt .field input {
	float: left;
	width: 15%;
	margin-right: 5px;
}

/* field:label item */
.item-checkbox {
	margin: 0 0 5px 110px;
}
.item-checkbox .label {
	font-size: 1.4em;
	margin-bottom: 5px;
}
.item-checkbox .field input {
	float: left;
	margin-right: 10px;
}

/* horizontal rule item */
.item-hr {
	height: 1px;
	background-color: silver;
	margin: 10px 0 10px 110px;
	width: 85%;
}
/* horizontal rule long item */
.item-hr-long {
	height: 1px;
	background-color: silver;
	margin: 20px 0 20px 0;
	width: 100%;
}
/* horizontal rule (transparent) item */
.item-hr-clear {
	height: 10px;
	width: 100%;
}


div.forms fieldset.contact {
	background-color: #EFEFEF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
}

div.forms fieldset.contact legend {
	padding: 5px;
}

/* membership entry details page
---------------------------------------- */
.approval-status {
    margin-top: 10px;
    padding: 10px 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid;
}
.approval-status.pending {
    background-color: #ffe44b;
    border-color: #fcc500;
    font-size: 1em;
}
.approval-status.approved {
    background-color: #7AE309;
    border-color: green;
}
.approval-status.disapproved {
    background-color: #fb9292;
    border-color: red;
}

form.connect-with ul {
    margin-top: 10px;
}

form.connect-with li {
    list-style-type: none;
    margin: 5px 0;
}

/* membership entries search page
---------------------------------------- */
.memberships-wrap {
    width: 75%;
    float: left;
}
.membership-side-panel {
    width: 20%;
    float: left;
    background-color: #EEE;
    margin-left: 10px;
    padding: 10px 15px;
}

.membership-side-panel div {
    margin: 5px 0;
}
.membership-side-panel ul {

}
.membership-side-panel li {
    list-style-type: none;
    margin-bottom: 5px;
}

.membership-status {
    float: right;
}
.membership-status ul {
    margin-left: 0; /* browser reset */
}
.membership-status li {
    float: left;
    list-style-type: none;
    margin-left: 7px;
}
.membership-status.approved {
    background-color: #92ff6c;
    border: 1px solid green;
    padding: 10px 5px;
}
.membership-status.disapproved {
    background-color: #fb9292;
    border: 1px solid red;
    padding: 10px 5px;
}

/* Membership Import
------------------------------------- */

#import-wrap .form-field {
	width: 500px;
	/*height: 40px;*/
	background-color: #F7F7F7;
}
#import-wrap .form-field > div {
	clear: both;
}

#import-wrap .form-field .label,
#import-wrap .form-field .field {
	width: 200px;
	float: left;
}

#import-wrap .form-field .label {
	text-align: right;
	padding: 5px 10px 5px 0;
}

#import-wrap .form-field .field select {
	width: 200px;
}

#import-wrap form {
	margin-top: 10px;
}

#import-wrap form .errors {
	margin: 0 0 5px 0;
	width: 402px;
}

#import-wrap form .errors p {
	margin: 5px 0 0 0;
	line-height: 1em;
}

#import-wrap form input[type="submit"]{
	margin-top: 50px;
	float: left;
}

#import-wrap .form-field .error {
	display: none;
}

/* Step 4 */
#import-wrap h1 {
	margin-bottom: 0;
}
#import-wrap .timestamp {
	margin-top: 0;
	font-size: 13px;
}

#import-wrap em {
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
}

#import-wrap p.msg {
	margin: 14px 0 0 0;
}

#import-wrap.finished .link {
	margin-top: 0;
}
