.body-copy-alerts{
	color: red;
}
.body-copy-yellow{
	background-color: yellow;
}
.t {
	width: 90%;
	margin-top: 1em;
}

.t form.search-form input[type="text"] {
	margin-bottom:10px;
	padding:5px;
	width:60%;
}
.profile-icon img{
	padding: 4px;
	border: 1px solid silver;
}
.t-iconrow{
	float: right;
}
.clear-right{
	clear: right;
}
.clear-both{
	clear: both;
}

#userview-profile {
    padding-top: 10px;
}

/*LEFT COLUMN*/

#userview-profile .profile-left {
    padding: 0;
    margin: 0;
    width: 29%;
    overflow:hidden;
    float: left;
}

/*User Profile Image*/
#userview-profile .profile-left .profile-picture {
    
}

#userview-profile .profile-left .profile-picture img.t-usericon {
    padding: 4px;
    border: solid 1px silver;
}

/*Option Links*/
#userview-profile .profile-left .option-links a {
    display: block;
    width: auto;
    text-indent: 6px;
    font-size: 11px;
    text-decoration: none;
    border-bottom: dotted 1px silver;
    padding: 2px 0;
    margin: 0;
}

#userview-profile .profile-left .option-links a:hover {
    background: #EFF8FF;
}

/*Web Identites*/
#userview-profile .profile-left .web-identities {
    margin: 0;
    padding: 4px;
}

#userview-profile .profile-left .web-identities img {
    border: 0;
    margin-left: 2px;
}

/*Module Content*/
#userview-profile .profile-left .module-content {
    margin-top: 20px;
}

#userview-profile .profile-left .module-content h2{
    margin-bottom: 5px;
}

/*MEMBERSHIPS */
#userview-profile .profile-left .membership-details {
    margin-top: 20px;
}

#userview-profile .profile-left .membership-details h2{
    margin-bottom: 8px;
}

#userview-profile .profile-left .membership-details .member-info 
{
    padding-left: 6px;
}

#userview-profile .profile-left .membership-details .member-info div.data {
    margin: 4px 0;
    display: block;
}

#userview-profile .profile-left .membership-details .member-info div.data .type{
    color: #666;
}


/*RIGHT COLUMN*/

#userview-profile .profile-right {
    float: left;
    margin-left: 15px;
    width: 68%;
}

/*Global Boxes*/

#userview-profile .profile-section {
    margin-bottom: 18px;
}

#userview-profile .profile-section h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 4px 0;
    padding: 4px;
    border-top: solid 1px #BBB;
    border-bottom: dotted 1px #BBB;
    background: #F9F9F9;
}
.module-content h2{
	font-size: 1.2em;
    font-weight: bold;
}
.admin-section .column h3{
	font-size: 1.2em;
    font-weight: bold;
}

#userview-profile .profile-section small {
    font-size: .8em;
}

/* TABLES for Contact/Work/Education*/

#userview-profile .profile-section table.section-items {
    margin: 0;
    padding: 0;
}

#userview-profile .profile-section table.section-items tr td {
    vertical-align: top;
    padding-bottom: 3px;
}
#userview-profile .profile-section table.section-items tr td.type {
    color: #666;
}

#userview-profile .profile-section table.section-items tr td span.item {
    display: block;
}

/* ADDRESSES */
#userview-profile .profile-addresses .user-address {
    margin: 10px 2px;
}

#userview-profile .profile-addresses .additional-addresses {
    display: none;
}

#userview-profile .profile-addresses .additional-addresses address {
    margin-bottom: 10px;
    padding: 6px;
}

#userview-profile .profile-addresses address.adr span {
    font-style: normal;
}

#userview-profile .profile-addresses address .street-address, #userview-profile .profile-addresses address .mailing-name {
    display: block;
}

/*WORK INFO*/
#userview-profile .previous-careers {
    display: none;
}

#userview-profile .profile-right .work-info table.section-items {
    margin: 10px 0;
}

#userview-profile .profile-right .work-info .previous-careers table.section-items {
    margin-bottom: 0;
}

/*EDUCATION INFO*/
#userview-profile .education-history {
    display: none;
}

#userview-profile .profile-right .education-info table.section-items {
    margin: 10px 0;
}

#userview-profile .profile-right .education-info .education-history table.section-items {
    margin-bottom: 0;
}

/*BOTTOM COLUMN*/

#userview-profile .profile-bottom {
    clear: both;
    padding-top: 10px;
}

/*Skills*/
#userview-profile .user-skills .first-responder
{
    xfont-weight: normal;
    xfont-size: 10px;
    xline-height: 12px;
}

#userview-profile .user-skills .first-responder img 
{
    border: 0;
}

#userview-profile .user-skills .column 
{
    margin-left: 2%;
    width: 31%;
    float: left;
}

#userview-profile .user-skills .edit-skills
{
    clear: both;
    text-align: right;
}

/*Notes*/
#userview-profile .user-notes {
    clear: both;
}


/*Admin-Only Block*/

#userview-profile .admin-section {
    border: solid 1px #DDD;
    padding-top: 0px;
    padding: 0 6px 6px 6px;
    margin-top: 10px;
    clear: both;
}
#userview-profile .admin-section h2 {
    background: #EFEFEF;
    color: #AF0000;
    margin: 0;
    margin-top: 6px;
    padding: 4px;
}
#userview-profile .admin-section .speed-registration {
	border:1px solid #DDDDDD;
	font-size:12px;
	height:25px;
	line-height:25px;
	padding:6px;
	text-align:right;
	vertical-align:middle;
}

#userview-profile .admin-section .column {
    float: left;
    width: 30%;
    margin-left: 10px;
    margin-right: 5px;
    height: 100%;
}

#userview-profile .admin-section .column h3 {
    margin: 8px 0;
    padding: 0;
}

#userview-profile .admin-section .column a {
    display: block;
    margin-bottom: 4px;
}


.t h2 {
	margin: 0 auto 10px 0;
}

.t ul.profiles-nav {
	margin: 0; padding: 0;
	list-style-type: none;
	margin-bottom: 20px;
}
.t ul.profiles-nav li {
	display: inline;
}

.t .profiles-wrap {
	margin-bottom: 20px;
}

.t .profiles-wrap .wrap-search-item {
    border: 1px solid #CCC;
}

.t .profiles-wrap .profile-wrap {	
	padding: 10px 10px 0px 10px;
	position: relative;
	background-color: white;
}

.t .profiles-wrap .profile-wrap h2 {
	width: 85%;
}
.t .profiles-wrap .profile-wrap .content {
	margin: 0 0 10px 1em;
}
.t .profiles-wrap .profile-wrap .submitted {
	background-color: #EEE;
}

.t .options {
	text-align: right;
	position: absolute;
	top: 0; right: 0;
	background-color: #EEE;
	padding: 5px;
	white-space: nowrap;
}

.t .quick-options {
	float: right;
	margin-right: 5px;
}
.t .quick-options ul {
	margin: 0; padding: 0;
	list-style-type: none;
}
.t .quick-options ul li {
	display: inline;
}

.t .dropdown-options {
	float: right;
	display: none; /* todo: port-over dropdown js */
}
.t .dropdown-options span {
	font-size: .7em;
}
.t .dropdown-options ul {
	display: none;
}

.t h1 {
	margin: 0 0 10px;
}
.t .back-to-search {
	margin-bottom: 20px;
}
.deleted{
	color: red;
}

/* form */

div.forms div.form-field div.id_first_name .field input {
	width: 30%;
}

div.forms div.form-field div.id_last_name .field input {
	width: 30%;
}

div.forms div.form-field div.id_username .field input {
	width: 20%;
}

div.forms div.form-field div.id_password1 .field input {
	width: 20%;
}

div.forms div.form-field div.id_password2 .field input {
	width: 20%;
}

div.forms div.form-field div.id_phone .field input {
	width: 18%;
}

div.forms div.form-field div.id_phone2 .field input {
	width: 18%;
}

div.forms div.form-field div.id_fax .field input {
	width: 18%;
}

div.forms div.form-field div.id_work_phone .field input {
	width: 18%;
}

div.forms div.form-field div.id_home_phone .field input {
	width: 18%;
}

div.forms div.form-field div.id_mobile_phone .field input {
	width: 18%;
}

div.forms div.form-field div.id_sex .field select {
	width: 10%;
}

div.forms div.form-field div.id_city .field input {
	width: 30%;
}

div.forms div.form-field div.id_state .field input {
	width: 18%;
}

div.forms div.form-field div.id_zipcode .field input {
	width: 10%;
}

div.forms div.form-field div.id_county .field input {
	width: 45%;
}

div.forms div.form-field div.id_country .field input {
	width: 45%;
}

div.forms div.form-field div.id_dob .field input {
	width: 20%;
}

div.forms div.form-field div.id_ssn .field input {
	width: 20%;
}

.t .contribution {
	border-bottom: 1px solid #DDD;
	padding: 10px;
	margin: 10px 0;
}
.t .contribution .content-type {
	width: 9%;
	float: left;
}
.t .contribution .contrib-title {
	float: left;
	width: 70%;		
}
.t .contribution .contrib-create-dt {
	float: right;		
}

.t #userview-groups .group {
	border-bottom: 1px solid #DDD;
	padding: 10px;
	margin: 10px 0;
}

.t #userview-groups .content-type {
	width: 50%;
	float: left;
}
.t #userview-groups .contrib-title {
	float: left;
	width: 50%;		
}

#t-profile #t-add h2{
	color: #204177;
	font-size: 14px;
	font-weight: bold;
}
#t-profile #t-add {
    width: 550px;
}
.errorlist{
	color: #ff0000;
}
.errorlist li{
	list-style: none;
}

/* edit perms */
 .t .t-profile .t-perm h2{
  	font-size: 1.4em;
  }
  .t .t-profile .t-perm .field-wrapper{
  	margin: 1em 0;
  }

/* admin list */
div.admin-list {
    width: 70%;
}

div.admin-profile-image {
    float: left;
    padding: 10px;
}

div.admin-meta {
    float: left;
    padding: 10px;
}

div.admin-meta p {
    margin-bottom: 3px;
}

div.admin-item {
    border-bottom: 1px solid #CCC;
}

/* membership tab
------------------------------- */
.membership-wrap {
    border: 1px solid silver;
    padding: 10px;
    margin: 10px 0;
}
.membership-wrap div {
    margin: 5px 0
}

/* perms widget
------------------------------- */

.selector { width: 840px; }
.selector select { width: 640px; }
.selector-available, .selector-chosen { float: left; width: 640px; text-align: center; margin-bottom: 5px; }
.selector-add, .selector-remove { text-indent: 0; background-image: none;}
.selector ul.selector-chooser { background-image: none; width: 160px; margin: 0 auto; padding: 10px 240px; height: 28px; }
.selector ul.selector-chooser li { display: inline; float: left; padding: 0 16px; }
.selector-chosen .selector-filter { display: none; }