h1 {
	color:#204177;
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px;
	font-weight:bold;
}


.events-summary-chart {
	height: 300px;
	margin-bottom: 5px;
}

.events-summary-chart td {
	vertical-align: bottom;
	text-align: center;
	width: 24px;
}


.users-added-chart {
	height: 100px;
}

.users-added-chart td {
	vertical-align: bottom;
	text-align: center;
	width: 12px;
}

.events-summary {
	width: 220px;
	float: left;
}

.events-summary li {
	display: block;
	width: 200px;
	margin-bottom: 5px;
}


tr.odd {
	background-color: #DDDDDD;
}

.stat-table {
    margin-top: 10px;
}

.stat-table td {
    padding:5px;
    border:solid 1px;
}

.stat-table th {
    padding:5px;
    border:solid 1px;
    background-color: #CCCCCC;
}

.corp-mems-stats {
    padding-left:20px;
}
