table#file-editor {
    height: 1000px;
}

table#file-editor p.prev_dir {
    padding: 5px; 
}

table#file-editor div.pwd {
    background-color: #EEE;
    padding: 5px;
}

#editor-td {
    vertical-align: top;
}

.file_attrs {
	margin-bottom: 10px;
}

#right_files_list {
	margin-left: 10px;
}

#right_files_list h2 {
    margin-bottom: 10px;
}

#right_files_list ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

#right_files_list ul li {
	margin: 0;
    padding: 2px;
}

#right_files_list ul li.current_file {
    background-color: #FFB;
}

#right_files_list ul li.dir_item {
    background: url('../images/icons/closedFolder_16x16.gif') left center no-repeat;
    padding: 2px 2px 2px 20px;
}

textarea{
	width: 98%;
}

#id_content{
	overflow: auto;
}

.file-editor-header {
	font-size: 25px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	width: 98%;
}

.CodeMirror-line-numbers {
     width: 2.2em;
     color: #aaa;
     background-color: #eee;
     text-align: right;
     padding-right: .3em;
     font-size: 10pt;
     font-family: monospace;
     padding-top: .4em;
}

#file_version_box {
	margin-top: 10px;	
}

#file_version_box h2 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

#file_versions {
	width: 100%;
	height: 300px;
	overflow: auto;
}

.archived_file {
	padding: 5px;
}
.archived_file:hover{
	background-color:#FFFCDF;
	cursor: pointer;	
}
.archived_file{
	margin: 3px 0;
}

input.button {
    padding: 5px;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

.theme-selection{
    margin-left: 10px;
}
