#theme-bar {
    background: #f9e69a;
    border: 1px solid #010101;
    padding: 10px;
    margin-bottom: 20px;
}

#theme-bar .item {
	list-style:none;
	float:left;
    padding-right: 10px;
}

#theme-bar .editor-link {
    float: right;
}
