

.t {
	width: 60%;
}
.t h2 {
	margin: 0 auto 10px 0;
}

.t .groups-wrap {
	margin-bottom: 20px;
}

.t .groups-wrap .group-wrap {
	border: 1px solid #CCC;
	padding: 10px;
	margin-bottom: 20px;
	position: relative;
}

.t .groups-wrap .group-wrap h2 {
	width: 85%;
}
.t .groups-wrap .group-wrap .content {
	margin-bottom: 10px;
}
.t .groups-wrap .group-wrap .submitted {
	background-color: #EEE;
}

.t .options {
	text-align: right;
	position: absolute;
	top: 0; right: 0;
	background-color: #EEE;
	padding: 5px;
	white-space: nowrap;
}

.t .quick-options {
	float: right;
	margin-right: 5px;
}
.t .quick-options ul {
	margin: 0; padding: 0;
	list-style-type: none;
}
.t .quick-options ul li {
	display: inline;
}

.t .dropdown-options {
	float: right;
	display: none; /* todo: port-over dropdown js */
}
.t .dropdown-options span {
	font-size: .7em;
}
.t .dropdown-options ul {
	display: none;
}

.t h1 {
	margin: 0;
}
.t .back-to-search {
	margin-bottom: 20px;
}


.t ul.groups-nav {
	margin: 0; padding: 0;
	list-style-type: none;
	margin-bottom: 20px;
}
.t ul.groups-nav li {
	display: inline;
}

