{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load job_tags %}


{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{% static 'famfamfam/icons/briefcase.png' %}"/>{% firstof MODULE_JOBS_LABEL trans "Jobs" %}
    </a>

    {% if job %}
        {% job_current_app request.user job %}
    {% else %}
        {% job_current_app request.user %}
    {% endif %}
</li>
{% endblock %}

