{% extends "articles/base.html" %}
{% load article_tags %}
{% load tagging_tags %}
{% load category_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{{ article.get_title }}{% endblock %}
{% block meta_description %}{{ article.get_description }}{% endblock %}
{% block meta_keywords %}{{ article.get_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ article.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/articles.css">
{% endblock %}

{% block body %}
{% tags_for_object article as tags %}

<div class="t">
    {% article_nav request.user article %}

    <div class="article-wrap">

        <h1>{{ article.headline }}</h1>

		<div class="content">
			{{ article.body|safe }} 
		</div>
		<div class="fb-connect">{% fb_like_button_iframe article.get_absolute_url %}</div>
        {% include "articles/meta.html" %}
    </div>
</div>
{% endblock %}
