{% extends "entities/base.html" %}
{% load entity_tags %}

{% block title %}{{ block.super }}Edit{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/site_media/static/css/entities.css">
{% endblock %}

{% block body %}
<div class="t">
    <h1>{{ MODULE_ENTITIES_LABEL }} Edit</h1>
    
    {% entity_nav request.user %}

    <div class="entities-wrap">
    <form action="{% url entity.edit entity.id %}" method="post">
        {{ form.as_p }}
        <input type="submit" value="Save changes" />
    </form>

    </div>

</div>
{% endblock %}