{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load perm_tags %}


{% has_perm user site_settings.change_setting as can_edit_setting %}
{% has_perm user email_blocks.add_email_block as can_add %}

{% if nav_object %}
    {% has_perm user email_blocks.view_email_block nav_object as can_view %}
    {% has_perm user email_blocks.changeemail_block nav_object as can_edit %}
{% endif %}

{% if not SITE_GLOBAL_HIDEALLTABS %}
    <div id="showh">
        <ul id="primary">
            {% if user.is_authenticated and not SITE_GLOBAL_HIDETENDENCITABS %}
                <li>
                    <a href="{% url 'dashboard' %}" title="{% trans 'Tendenci Home Page' %}">
                    <img border="0" src="{{ STATIC_URL }}images/tendenci34x15.gif"
                    alt="{% trans 'Tendenci User Home' %}" title="{% trans 'Tendenci User Home' %}" align="top" width="34" height="15"></a>
                </li>
            {% endif %}

            <li>
                <span>{% trans "Emails" %}</span>

                <ul id="secondary">
                    <li><a href="{% url 'email.search' %}">{% trans "Emails:" %}</a></li>
                    <li><a href="{% url 'email_block.search' %}">{% trans "Email Blocks:" %}</a></li>

                    {% if nav_object %}
                        {% if can_view %}
                            <li><a href="{% url 'email_block.view' nav_object.pk %}">{% trans "View" %}</a></li>
                        {% endif %}

                        {% if can_edit %}
                            <li><a href="{% url 'email_block.edit' nav_object.pk %}">{% trans "Edit" %}</a></li>
                        {% endif %}
                    {% endif %}

                    <li><a href="{% url 'email_block.search' %}">{% trans "Search" %}</a></li>

                    {% if can_add %}
                        <li><a href="{% url 'email_block.add %}">{% trans "Add" %}</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <li><a href="{% url 'auth_logout' %}">{% trans "Log Off" %}</a></li>
                    {% endif %}
                </ul>
            </li>

            {% if MODULE_ARTICLES_ENABLED %}
                <li><a href="{% url 'articles' %}">{{ MODULE_ARTICLES_LABEL }}</a></li>
            {% endif %}

            {% if MODULE_NEWS_ENABLED %}
                <li><a href="{% url 'news' %}">{{ MODULE_NEWS_LABEL }}</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
