{% extends "email_blocks/base.html" %}
{% load i18n %}
{% load email_block_tags %}
{% load base_filters %}

{% block title %}{{ block.super }}{% trans 'Email Block View'%}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/iconrow.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/email_blocks.css">
{% endblock %}

{% block content %}
<div class="t">
<div class="quick-options">
    {% email_block_options email_block%}
</div>
<h1>{% trans 'Email Block View'%}</h1>
<div class="clear-right"></div>

<p>
<div>
    <a href="{% url "email_block.view" email_block.pk %}">
    {% if email_block.email %}
    {{ email_block.email|obfuscate_email }}
    {% else %}
    {{ email_block.email_domain }}
    {% endif %}
    </a>
</div>
<div class="content"><b>{% trans "Reason:" %}</b> {{ email_block.reason }}</div>
<br />
<div class="meta">
{% blocktrans with email_block.create_dt|date:"long" as emails_create %}<small>Created on {{ emails_create }} by: {% endblocktrans %} <a href="{% url "profile" email_block.creator.id %}">{{ email_block.creator }}</a></small>
 </div></p>


</div>
{% endblock %}
