{% load i18n %}
{% load staticfiles %}


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <img class="nav-icon" src="{% static 'famfamfam/icons/application_view_tile.png' %}"/><span class="nav-label">{% trans "Apps" %}</span><span class="caret"></span>
    </a>

    <ul id="t-admin-megamenu-apps-dd" class="dropdown-menu apps-dropdown" role="menu">
        <li>
            <div class="yamm-content content-dropdown">
                <div class="row">
                    <div class="col-sm-12 content-dropdown-col">
                        <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{% trans '1. Content' %}</a>
                                    </h4>
                                </div>

                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <ul class="list-unstyled col-sm-6 col-xs-12">
                                                <li class="content-item">
                                                    <a href="{% url 'admin:index' %}"
                                                        ><img class="nav-icon" src="{% static 'famfamfam/icons/database.png' %}"/><span class="nav-label">{% trans 'Admin Backend' %}</span>
                                                    </a>
                                                </li>

                                                {% if MODULE_ARTICLES_ENABLED %}
                                                    <li class="content-item">
                                                        <a href="{% url 'articles' %}"
                                                            ><img class="nav-icon" src="{% static 'famfamfam/icons/page_green.png' %}"/><span class="nav-label">{% trans 'Articles' %}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if MODULE_BOXES_ENABLED %}
                                                    <li class="content-item">
                                                        <a href="{% url 'admin:boxes_box_changelist' %}"
                                                            ><img class="nav-icon" src="{% static 'famfamfam/icons/box.png' %}"/><span class="nav-label">{% trans 'Boxes' %}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if MODULE_DIRECTORIES_ENABLED %}
                                                    <li class="content-item">
                                                        <a href="{% url 'directories' %}"
                                                            ><img class="nav-icon" src="{% static 'famfamfam/icons/folder_page_white.png' %}"/><span class="nav-label">{% trans 'Directories' %}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if MODULE_FILES_ENABLED %}
                                                    <li class="content-item">
                                                        <a href="{% url 'files' %}"
                                                            ><img class="nav-icon" src="{% static 'famfamfam/icons/folder.png' %}"/><span class="nav-label">{% trans 'Files' %}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if MODULE_FORMS_ENABLED %}
                                                    <li class="content-item">
                                                        <a href="{% url 'forms' %}"
                                                            ><img class="nav-icon" src="{% static 'famfamfam/icons/application_form.png' %}"/><span class="nav-label">{% trans 'Forms' %}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>

                                            <ul class="list-unstyled col-sm-6 col-xs-12">
                                                <li class="content-item">
                                                    <a href="//tendenci.com/help-files/" target="_blank"
                                                        ><img class="nav-icon" src="{% static 'famfamfam/icons/help.png' %}"/><span class="nav-label">{% trans 'Help Files' %}</span>
                                                    </a>
                                                </li>

                                                {% if MODULE_NAVS_ENABLED %}
                                                    <li class="content-item">
                                                        <a href="{% url 'navs.search' %}"
                                                            ><img class="nav-icon" src="{% static 'famfamfam/icons/folder_explore.png' %}"/><span class="nav-label">{% trans 'Navs' %}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if MODULE_NEWS_ENABLED %}
                                                    <li class="content-item">
                                                        <a href="{% url 'news' %}"
                                                            ><img class="nav-icon" src="{% static 'famfamfam/icons/newspaper.png' %}"/><span class="nav-label">{% trans 'News' %}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if MODULE_PAGES_ENABLED %}
                                                    <li class="content-item">
                                                        <a href="{% url 'pages' %}"
                                                            ><img class="nav-icon" src="{% static 'famfamfam/icons/page_white_stack.png' %}"/><span class="nav-label">{% trans 'Pages' %}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if MODULE_STORIES_ENABLED %}
                                                    <li class="content-item">
                                                        <a href="{% url 'stories' %}"
                                                            ><img class="nav-icon" src="{% static 'famfamfam/icons/book_open.png' %}"/><span class="nav-label">{% trans 'Stories' %}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                <li class="content-item">
                                                    <a href="{% url 'theme_editor.editor' %}"
                                                        ><img class="nav-icon" src="{% static 'famfamfam/icons/layout_edit.png' %}"/><span class="nav-label">{% trans 'Theme Editor' %}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">{% trans '2. Financial' %}</a>
                                    </h3>
                                </div>

                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="row">
                                            <ul class="list-unstyled col-sm-6 col-xs-12">
                                                {% if MODULE_DISCOUNTS_ENABLED %}
                                                    <li class="content-item">
                                                            <a href="{% url 'discounts' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/money_delete.png' %}"/>{% trans 'Discount' %}
                                                            </a>
                                                        
                                                    </li>
                                                {% endif %}

                                                {% if MODULE_DONATIONS_ENABLED %}
                                                    <li class="content-item">
                                                            <a href="{% url 'donation.search' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/money.png' %}"/>{% trans 'Donations' %}
                                                            </a>
                                                        
                                                    </li>
                                                {% endif %}
                                            </ul>

                                            <ul class="list-unstyled col-sm-6 col-xs-12">
                                                {% if MODULE_INVOICES_ENABLED %}
                                                    <li class="content-item">
                                                            <a href="{% url 'invoices' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/page_white_width.png' %}"/>{% trans 'Invoices' %}
                                                            </a>
                                                        
                                                    </li>
                                                {% endif %}

                                                <li class="content-item">
                                                        <a href="#">
                                                            <img class="nav-icon" src="{% static 'famfamfam/icons/report.png' %}"/>{% trans 'Reports' %}
                                                        </a>
                                                    
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">{% trans '3. Organizational' %}</a>
                                    </h4>
                                </div>

                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="row">
                                            <ul class="list-unstyled col-sm-6 col-xs-12">
                                                {% if MODULE_CASE_STUDIES_ENABLED %}
                                                    <li class="content-item">
                                                            <a href="{% url 'case_study' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/folder_table.png' %}"/>{% trans 'Case Studies' %}
                                                            </a>
                                                        
                                                    </li>
                                                {% endif %}

                                                {% if MODULE_JOBS_ENABLED %}
                                                    <li class="content-item">
                                                            <a href="{% url 'jobs' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/briefcase.png' %}"/>{% trans 'Jobs' %}
                                                            </a>
                                                        
                                                    </li>
                                                {% endif %}

                                                {% if MODULE_RESUMES_ENABLED %}
                                                    <li class="content-item">
                                                            <a href="{% url 'resumes' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/page_attach.png' %}"/>{% trans 'Resumes' %}
                                                            </a>
                                                        
                                                    </li>
                                                {% endif %}
                                            </ul>

                                            <ul class="list-unstyled col-sm-6 col-xs-12">
                                                {% if MODULE_STAFF_ENABLED %}
                                                    <li class="content-item">
                                                            <a href="{% url 'staff' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/drive_user.png' %}"/>{% trans 'Staff' %}
                                                            </a>
                                                        
                                                    </li>
                                                {% endif %}

                                                <li class="content-item">
                                                        <a href="#">
                                                            <img class="nav-icon" src="{% static 'famfamfam/icons/page_white_text_width.png' %}"/>{% trans 'Testimonials' %}
                                                        </a>
                                                    
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">{% trans '4. Locational' %}</a>
                                    </h4>
                                </div>

                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <div class="row">
                                            <ul class="list-unstyled col-sm-6 col-xs-12">
                                                {% if MODULE_LOCATIONS_ENABLED %}
                                                    <li class="content-item">
                                                            <a href="{% url 'locations' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/map_go.png' %}"/>{% trans 'Location' %}
                                                            </a>
                                                        
                                                    </li>
                                                {% endif %}
                                            </ul>

                                            <ul class="list-unstyled col-sm-6 col-xs-12">
                                                {% if MODULE_REGIONS_ENABLED %}
                                                    <li class="content-item">
                                                            <a href="{% url 'admin:regions_region_changelist' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/map.png' %}"/>{% trans 'Regions' %}
                                                            </a>
                                                        
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">{% trans '5. Media' %}</a>
                                    </h4>
                                </div>

                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <div class="row">
                                            {% if MODULE_PHOTOS_ENABLED %}
                                                <ul class="list-unstyled col-sm-6 col-xs-12">
                                                    <li class="content-item">
                                                            <a href="{% url 'photoset_latest' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/photos.png' %}"/>{% trans 'Photo Album' %}
                                                            </a>
                                                        
                                                    </li>
                                                </ul>
                                            {% endif %}

                                            {% if MODULE_VIDEOS_ENABLED %}
                                                <ul class="list-unstyled col-sm-6 col-xs-12">
                                                    <li class="content-item">
                                                            <a href="{% url 'video' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/camera.png' %}"/>{% trans 'Video' %}
                                                            </a>
                                                        
                                                    </li>
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                 </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">{% trans '6. Activities' %}</a>
                                    </h4>
                                </div>

                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <div class="row">
                                            {% if MODULE_EVENTS_ENABLED %}
                                                <ul class="list-unstyled col-sm-6 col-xs-12">
                                                    <li class="content-item">
                                                            <a href="{% url 'event.search' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/date.png' %}"/>{% trans 'Events List' %}
                                                            </a>
                                                        
                                                    </li>
                                                </ul>
                                            {% endif %}

                                            {% if MODULE_EVENTS_ENABLED %}
                                                <ul class="list-unstyled col-sm-6 col-xs-12">
                                                    <li class="content-item">
                                                            <a href="{% url 'event.month' %}">
                                                                <img class="nav-icon" src="{% static 'famfamfam/icons/calendar.png' %}"/>{% trans 'Calendar' %}
                                                            </a>
                                                        
                                                    </li>
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                 </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">{% trans '7. Reports' %}</a>
                                    </h4>
                                </div>

                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        <div class="row">
                                            <ul class="list-unstyled col-sm-6 col-xs-12">
                                                <li class="content-item">
                                                        <a href="{% url 'report_list' %}">{% trans "Invoice Reports" %}</a>
                                                    
                                                </li>

                                                <li class="content-item">
                                                        <a href="{% url 'reports-events-summary' %}">{% trans "Event logs Summary" %}</a>
                                                    
                                                </li>

                                                <li class="content-item">
                                                        <a href="{% url 'reports-admin-users' %}">{% trans "Administrators" %}</a>
                                                    
                                                </li>

                                                <li class="content-item">
                                                        <a href="{% url 'reports-user-added' %}">{% trans "Site Users Added" %}</a>
                                                    
                                                </li>

                                                <li class="content-item">
                                                        <a href="{% url 'reports-user-activity' %}">{% trans "User Activity Summary" %}</a>
                                                    
                                                </li>

                                                <li class="content-item">
                                                        <a href="{% url 'reports-user-access' %}">{% trans "Active User Logins" %}</a>
                                                    
                                                </li>
                                            </ul>

                                            <ul class="list-unstyled col-sm-6 col-xs-12">
                                                <li class="content-item">
                                                        <a href="{% url 'reports-contacts-referral' %}">{% trans "Contacts Report" %}</a>
                                                    
                                                </li>

                                                <li class="content-item">
                                                        <a href="{% url 'reports-memberships' %}">{% trans "Membership Reports" %}</a>
                                                    
                                                </li>

                                                {% if MODULE_CORPORATE_MEMBERSHIPS_ENABLED %}
                                                    <li class="content-item">
                                                            <a href="{% url 'corp_membership.summary_report' %}">{% trans "Corporate Membership Summary" %}</a>
                                                        
                                                    </li>
                                                {% endif %}

                                                <li class="content-item">
                                                        <a href="{% url 'reports-top-spenders' %}">{% trans "Top Spenders" %}</a>
                                                    
                                                </li>

                                                <li class="content-item">
                                                        <a href="{% url 'reports-users-not-in-groups' %}">{% trans "Users not in Groups" %}</a>
                                                    
                                                </li>

                                                <li class="content-item">
                                                        <a href="{% url 'reports-404-count' %}">{% trans "404 Tracker" %}</a>
                                                    
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                            </div>

                            {% if registered_apps.addons %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingEight">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">{% trans '8. Other Apps' %}</a>
                                        </h4>
                                    </div>

                                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                                        <div class="panel-body">
                                            <div class="row">
                                                <ul class="list-unstyled col-sm-6 col-xs-12">
                                                    {% for addon in enabled_addons %}
                                                        {% if forloop.counter0|divisibleby:'2' %}
                                                            <li class="content-item">
                                                                    <a href="{% firstof addon.url.list addon.url.search %}">{{ addon|title }}</a>
                                                                
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>

                                                <ul class="list-unstyled col-sm-6 col-xs-12">
                                                    {% for addon in enabled_addons %}
                                                        {% if not forloop.counter0|divisibleby:'2' %}
                                                            <li class="content-item">
                                                                    <a href="{% firstof addon.url.list addon.url.search %}">{{ addon|title }}</a>
                                                                
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            {% endif %}

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingNine">
                                    <h4 class="panel-title">
                                        <a href="{% url 'apps.list' %}">{% trans '9. Full App List' %}</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
