{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}
{% load pluginmanager_tags %}


{% list_plugins as plugins %}


<div class="navbar yamm navbar-inverse navbar-fixed-top t-top-nav" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'dashboard' %}" class="navbar-brand">
                <img class="nav-logo nav-icon" src="{% static 'famfamfam/icons/house.png' %}"/>
                <img class="nav-logo" src="{% static 'images/tendenci_white_small_100x51.gif' %}" height="24" />
            </a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
            <div class="clearfix visible-sm-block"></div>

            <ul class="inner-top-nav navbar-nav">
                {% include 'top_menu/_profile_dropdown.html' %}

                {% include 'top_menu/_community_dropdown.html' %}

                {% include 'top_menu/_apps_dropdown.html' %}

                {% include 'top_menu/_support_dropdown.html' %}

                {# Block containing the navigation for the current app #}
                {% block current_app %}{% endblock %}
            </ul>

            <ul class="inner-top-nav navbar-nav navbar-right">
                {% if USE_I18N %}
                    <li class="dropdown lang-dropdown">
                        {% include 'top_menu/change_lang-new.html' %}
                    </li>
                {% else %}
                    <li>
                        <form class="navbar-form"  action="{% url 'haystack_search' %}" method="get" name="search" id="admin-search-box" role="search">
                            <div class="form-group">
                                <input class="form-control" type="text" maxlength="255" value="" name="q" id="admin-search-bar" x-webkit-speech speech onwebkitspeechchange="this.form.submit();" placeholder="{% trans 'Search' %}">
                            </div>
                        </form>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'auth_logout' %}">
                        <span class="glyph">&#88;</span>{% trans "Logout" %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
