<div class="back-to-search">
    <a href="{% url dashboard %}">&laquo; Dashboard</a>&nbsp;&ndash;&nbsp;
    Settings:&nbsp;
    <a href="{% url settings.index "site" "global" %}">Global</a>
	<a href="{% url settings.index "module" "articles" %}">Articles</a>
    <a href="{% url settings.index "module" "pages" %}">Pages</a>
    <a href="{% url settings.index "module" "media" %}">Media</a>
    <a href="{% url settings.index "module" "photos" %}">Photos</a>
    <a href="{% url settings.index "module" "news" %}">News</a>
    <a href="{% url settings.index "module" "users" %}">Users</a>
</div>