{% extends "admin/base.html" %}
{% load i18n %}
{% load base_filters %}
{% load base_tags %}

{% block title %}{% blocktrans with t=title %}{{ t }}{% endblocktrans %} | {{ SITE_GLOBAL_SITEDISPLAYNAME }} Tendenci&reg;{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/admin.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/perms.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/labels.css" />
{% endblock %}

{% block branding %}
<h1 id="site-name" ><span><a href="{% url dashboard %}"><img src="{{ STATIC_URL }}images/tendenci_white_small_100x51.gif" /></a></span>
{% if user.is_authenticated %}<a href="/">{{ SITE_GLOBAL_SITEDISPLAYNAME }} ({{ SITE_GLOBAL_SITEURL }})</a>
{% else %}
{% trans "Web Administration" %}
{% endif %}
</h1>
{% endblock %}

{% block footer %}
<div id="footer">
<p><a href="http://tendenci.com">{% trans "Tendenci Membership Management Software" %}</a> by <a href="http://schipul.com">{% trans "Schipul - The Web Marketing Company" %}</a></p>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
