{% extends "articles/base.html" %}
{% load article_tags %}
{% load perm_tags %}
{% load styled_forms %}

{% block title %}{% firstof MODULE_ARTICLES_LABEL trans trans 'Article' %} {% trans "Edit" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'timepicker/timepicker.css' %}" />
<link rel="stylesheet" href="{% static 'css/popover.css' %}">
{% endblock %}

{% block content %}
<div class="t">
    <h1>{% firstof MODULE_ARTICLES_LABEL trans 'Article' %} {% trans "Edit" %}</h1>

    <div class="article-wrap">
        <form action="{% url "article.edit" article.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="forms">
             {{ form|styled_form }}
             <fieldset class="boxy-grey" >
                <legend id="category-title" style="cursor: pointer"><span>+</span> {% trans "Category" %}</legend>
                <div id="category-form">
                    {{ categoryform|styled_form }}
                </div>
            </fieldset>
            <input class="btn btn-default" type="submit" value="{% trans "Save Article Changes" %}" />
            <a class="btn btn-danger pull-right" title="{% trans "Link to delete confirmation page" %}" href="{% url "article.delete" article.pk %}">{% trans "Delete" %}</a>
          <br /><br />
        </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    {{ form.media }}
    <script type="text/javascript" src="{% static 'js/global/tinymce.event_handlers.js' %}"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'timepicker/timepicker.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/popover.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gplus-helptexts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/email-verification.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Release Datetime
            $('#id_release_dt_0').datepicker({ dateFormat: 'yy-mm-dd' });
            $('#id_release_dt_1').timepicker({'timeFormat': 'h:i A'});
        });
        gplusHelpTextsInit('{{ SITE_GLOBAL_SITEURL }}');
    </script>
    <script type="text/javascript">
       {% include 'categories/include/add_categories.js' %}
    </script>
    <script type="text/javascript">
        $('#category-form').hide();
        $('#category-title').on("click", function() {
            $('#category-form').slideToggle('fast');
             if ($('#category-title span').text() == '+') {
                $('#category-title span').text('-');}
            else {$('#category-title span').text('+');}
        });
    </script>
    {% include 'tags/autocomplete.html' %}
{% endblock %}
