{% extends "event_logs/base.html" %}
{% load event_log_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{{ block.super }}{{ event_log.event_data }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/event-logs.css">
<link rel="stylesheet" href="{{ LOCAL_STATIC_URL }}css/event-logs-info.css">
{% endblock %}

{% block body %}
<div class="t">
    {% event_log_nav request.user %}
    <div id="info">
    {% for model in logged_models %}
        <div class="event-model">
            <div class="event-model-label">
                <strong>{{ model.label }}</strong>
            </div>
            <div class="event-model-logs">
            {% for log in model.event_logs %}
                <div class="event-log">
                    {{ log.label }} : {{ log.id }}
                </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
