{% extends "event_logs/base.html" %}
{% load pagination_tags %}
{% load event_log_tags %}
{% load base_tags %}
{% load base_filters %}

{% block title %}{{ block.super }}Search{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/event-logs.css">
{% endblock %}

{% block body %}
<div class="t">

    {% event_log_nav request.user %}

    <h1>{% firstof MODULE_EVENT_LOGS_LABEL 'Event Logs' %} Search</h1>

	{% event_log_search %}
    {% autopaginate event_logs 10 %}
	
	<div class="event-logs-wrap">
    {% for event_log in event_logs %}
    	{% with event_log.object as event_log %}
		<div class="event-log-search-wrap">
        	<div class="el-search-header">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="el-sh-pk"><strong><a href="{{ event_log.get_absolute_url }}">{{ event_log.pk }}</a></strong></td>
                        <td class="el-sh-elid">
                        	<a href="{% url event_log.search %}?q={{ event_log.event_id }}">
                        		<img border="0" src="{% url event_log.colored_image event_log.color %}" width="40" height="20" />&nbsp; 
                                {{ event_log.event_id }}
                      		</a>
                      		<a href="{% url event_log.search %}?q={{ event_log.event_id|first_chars:"3" }}">()</a>
                        </td>
                        <td class="el-sh-source">
                        	{% if event_log.source %}
                            	<a href="{% url event_log.search %}?q={{ event_log.source|urlencode }}">{{ event_log.source }}</a>
                            {% else %}
                            	&nbsp;
                            {% endif %}
                        </td>
                        <td class="el-sh-dt">
                            {{ event_log.create_dt|date:"short" }}
                            <a href="{% url event_log.search %}?q={{ event_log.create_dt|urlencode }}&range=1">()</a>
                        </td>
                    </tr>
                    <tr>
                    	{% if event_log.user %}
                    		<td class="el-sh-user">
                            	User: <a href="{% url profile event_log.username %}">{{ event_log.username }}</a>
                                <a href="{% url event_log.search %}?q={{ event_log.username|urlencode }}">
                                	<img border="0" src="{{ STATIC_URL }}images/icons/crosscheck12x12.gif" />
                                </a>
                            </td>
                        {% else %}
                        	<td class="el-sh-user">
                            	User: {{ event_log.username }}
                                <a href="{% url event_log.search %}?q={{ event_log.username }}">
                                    <img border="0" src="{{ STATIC_URL }}images/icons/crosscheck12x12.gif" />
                                </a>
                            </td>
                       	{% endif %}
                    	<td>{{ event_log.description }}</td>
                        <td colspan="2">
                          	{% if event_log.user %}
                                User ID: <a href="{% url event_log.search %}?q={{ event_log.user.pk }}">{{ event_log.user.pk }}</a>
                            {% else %}
                                User ID: <a href="{% url event_log.search %}?q={{ event_log.username }}">0</a>
                            {% endif %}                      
                        </td>
                    </tr>
           	   </table>
            </div>
            <div class="el-meta">
            	<div class="el-meta-request">{{ event_log.request_method }} - {{ event_log.http_user_agent }}</div>
                <div class="el-meta-url">URL: <a href="{{ SITE_GLOBAL_SITEURL }}{{ event_log.url }}">{{ event_log.url }}</a></div>
                {% if event_log.query_string %}
               	 <div class="el-query-string">Query String: {{ event_log.query_string }}</div>
                {% endif %}
                {% if event_log.entity %}
                	<div class="el-meta-entity">
                    	Entity: 
                    	<a href="{% url event_log.search %}?q={{ event_log.entity.entity_name|urlencode }}">
                        	{{ event_log.entity.pk }}
                     	</a>
                    </div>
                {% endif %}
                <div class="el-meta-ips">
                	<table border="0" cellpadding="0" cellspacing="0">
                    	<tr>
                        	{% if event_log.user %}
                        		<td colspan="2">
                                	Creator: <a href="{% url profile event_log.username %}">{{ event_log.username }}</a>
                                    <a href="{% url event_log.search %}?q={{ event_log.user.pk }}">{{ event_log.user.pk }}</a>
                                </td>
                            {% else %}
                        		<td colspan="2">
                                	Creator: {{ event_log.username }}
                                    <a href="{% url event_log.search %}?q={{ event_log.username }}">0</a>
                                </td>
                            {% endif %}
                            <td>
                            	{% if event_log.entity %}
                                	Entity: <a href="{% url entity event_log.entity.pk %}">{{ event_log.entity.pk }}</a>
                                {% else %}
                                	Entity: N/A
                                {% endif %}
                            </td>
                        </tr>
                    	<tr>
                     	  <td>
                     	  	<img height="12" width="12" alt="Cookie" src="{{ STATIC_URL }}images/icons/cookie12x12.gif">
                            {% if event_log.session_id %}
                          	<a href="{% url event_log.search %}?q={{ event_log.session_id }}">
                            	{{ event_log.session_id }}
                            </a>
                            {% else %}
                            	{% if event_log.username == 'anonymous' %}
                                    <a href="{% url event_log.search %}?q={{ event_log.username }}">
                                    {{ event_log.username }}
                                    </a>                          	
                                {% else %}
                                	No session available
                                {% endif %}
                            {% endif %}
                          </td>                   	
                    	  <td>User IP: 
                          	<a href="{% url event_log.search %}?q={{ event_log.user_ip_address|urlencode }}">
                            	{{ event_log.user_ip_address }}
                            </a>
                          </td>
                    	  <td>Server IP: 
                          	<a href="{% url event_log.search %}?q={{ event_log.server_ip_address|urlencode }}">
                            	{{ event_log.server_ip_address }}
                            </a>
                          </td>
                    	</tr>
                    </table>
                </div>
            </div>
            <div class="el-event-data">
            	{% if event_log.headline %}
            		<p>Headline: {{ event_log.headline }}</p>
                {% endif %}
            	{{ event_log.event_data }}
                {% if event_log.content_type %}
                	<a href="{{ SITE_GLOBAL_SITEURL }}{{ event_log.url }}">(view)</a>
                {% endif %}
            </div>
		</div>
		{% endwith %}
	{% empty %}
		<div>0 Results Found</div>
    {% endfor %}
	</div>

    {% paginate %}
</div>
{% endblock %}