{% load theme_tags %}
{% load base_filters %}
{% load base_tags %}
{% load cache %}
{% load photo_tags %}
{% load i18n %}

{% theme_extends 'base.html' %}

{% block extra_head %}
{{ block.super }}
    <link rel="shortcut icon" href="{{ THEME_URL }}media/images/favicon.ico?v=2">
    <link rel="apple-touch-icon" href="{{ THEME_URL }}media/images/apple-touch-icon.png">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />
{% endblock extra_head %}

{% block html_body %}
<div id="container">
    <div id="header">
        <h1><a href="/">{{ SITE_GLOBAL_SITEDISPLAYNAME }}</a></h1>
        <h2>{% trans 'Website tagline' %}</h2>
    </div>

    <div id="menu">
        {% spaceless %}{% theme_include "nav.html" %}{% endspaceless %}
    </div>

    <div class="content content-middle">
        {% spaceless %}{% theme_include "base/messages.html" %}{% endspaceless %}

        {% block body %}
            <h2>{% trans 'Welcome to your Tendenci 5 powered Site!' %}</h2>
        {% endblock %}

    </div><!-- /content content-middle -->

    <div class="primary-sidebar content-middle ">
        <ul>
            <li>
                <h2>{% trans 'Search' %}</h2>
                <form id="searchform" method="get" action="/search">
                    <input type="text" value="type, hit enter" onfocus="if (this.value == 'type, hit enter') {this.value = '';}" onblur="if (this.value == '') {this.value = 'type, hit enter';}" size="18" maxlength="50" name="q" id="s" />
                </form>
            </li>
            <li>
                <h2>{% trans 'Meta' %}</h2>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url dashboard %}">{% trans 'Dashboard' %}</a></li>
                        <li><a href="{% url auth_logout %}">{% trans 'Log Out' %}</a></li>
                    {% else %}
                        {% if MODULE_USERS_SELFREGISTRATION %}
                        <li><a href="{% url registration_register %}">{% trans 'Register' %}</a></li>
                        {% endif %}
                        <li><a href="{% url auth_login %}">{% trans 'Log in' %}</a></li>
                    {% endif %}
                </ul>
            </li>

            <li>
                {% list_photos as photos limit=4 %}
            {% for photo in photos %}
                <img src="{% photo_image_url photo size=100x100 crop=True %}" alt="{{ photo }}" title="{{ photo }}" />
            {% endfor %}
            </li>


        </ul>
    </div>

    <div id="footer">
      {% spaceless %}{% theme_include "footer.html" %}{% endspaceless %}
    </div>

</div><!-- /container -->
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script type="text/javascript" src="{{ THEME_URL }}media/js/menu.js"></script>
{% endblock %}
