{# plugins #}
{# load these if you have it installed #}
{# load staff_tags #}
{# load casestudy_tags #}
{# load quote_tags #}
{# load testimonial_tags #}
{# load video_tags #}

{# core apps #}
{% load page_tags %}
{% load article_tags %}
{% load box_tags %}
{% load event_tags %}
{% load job_tags %}
{% load news_tags %}
{% load photo_tags %}
{% load story_tags %}

{% load mobile_tags %}


{# plugin apps #}
{# list_staff as items #}
{# list_quotes as items #}
{# list_testimonials as items #}
{# list_videos as items #}


{# core apps #}
{% list_pages as items %}
{% list_articles as items template="listnode_template_text.html" %}
{% list_boxes as items %}
{% list_events as items %}
{% list_jobs as items %}
{% list_news as items %}
{% list_photos as items %}
{% list_stories as items %}

{% toggle_mobile_link 'tag_test' 'toggle' %}
