{% load box_tags %}
{% load i18n %}
{% load theme_tags %}

<div id="boxes">
    {% list_boxes as sidebar_boxes tags=sidebar limit=20 %}
    {% if sidebar_boxes %}
        {% for box in sidebar_boxes %}
            <div id="box-{{ box.pk }}" class="boxes">
                <h3>{{ box.title }}</h3>
                <div class="box-content">{{ box.safe_content }}</div>
                {% include 'boxes/edit-link.html' %}
            </div>
        {% endfor %}
    {% else %}
        {% if request.user.is_authenticated %}
            <p><a href="/admin/boxes/box/add/">Add a box</a> and use the tag <strong>sidebar</strong> to add content to this area. The Title of the box will be the heading and the content will display below. You can add up to 20 boxes to your sidebar.</p>
        {% endif %}
    {% endif %}
</div>