/* general */
.t h1 {
	margin: 0 auto 10px 0;
}

.t h2 {
	margin: 0 auto 10px 0;
}

/* search form */
.t form.search-form input[type="text"] {
	width: 60%;
	margin-bottom: 10px;
	padding: 5px;
}

.t form.search-form input[type="submit"] {
	padding: 5px;
    margin-bottom: 10px;
	cursor: pointer;
}

.products-wrap {
    width: 90%;
}

.products-wrap .wrap-search-item {
    border: none;
}

.product-search-item {
    float: left;
    width: 164px;
    height: 260px;
}

.t .products-search-wrap {
    width: 100%
}

.products-wrap .wrap-search-item {
    float: left;
}

.t .product-search-item {
    width: 164px;
}

 .product-photo {
     height: 160px;
 }
 
.pagination {
    margin-bottom: 10px; font-size: 14px;
}

.pagination a {
    margin: 0 2px;
}

.product-image {
    float: left;
    width: 240px;
}

.product-image p {
    text-align: center;
}

.product-image .small-img {
    padding: 4px;
    border: solid 2px #ddd;
}

.product-info {
    float: right;
    width: 370px;
}

.product-info li {
    list-style-type: square;
    line-height: 16px;
    margin-bottom: 10px;
}

.more-products {
    clear: both;
}