{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block title %}
    {% if SITE_GLOBAL_SITEPRIMARYKEYWORDS %}{% blocktrans %}{{ SITE_GLOBAL_SITEPRIMARYKEYWORDS }}{% endblocktrans %}: {% endif %}
    {% if MODULE_DIRECTORIES_LABEL_PLURAL %}
        {% blocktrans %}
            {{ MODULE_DIRECTORIES_LABEL_PLURAL }} for {{ SITE_GLOBAL_SITEDISPLAYNAME }} in {{ SITE_GLOBAL_SITEGEOGRAPHICLOCATION }}
        {% endblocktrans %}
    {% else %}
        {% blocktrans %}
            Directories for {{ SITE_GLOBAL_SITEDISPLAYNAME }} in {{ SITE_GLOBAL_SITEGEOGRAPHICLOCATION }}
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if SITE_GLOBAL_SITEPRIMARYKEYWORDS %}{% blocktrans %}{{ SITE_GLOBAL_SITEPRIMARYKEYWORDS }}{% endblocktrans %}: {% endif %}
    {% if MODULE_DIRECTORIES_LABEL_PLURAL %}
        {% blocktrans %}
            {{ MODULE_DIRECTORIES_LABEL_PLURAL }} for {{ SITE_GLOBAL_SITEDISPLAYNAME }} in {{ SITE_GLOBAL_SITEGEOGRAPHICLOCATION }}
        {% endblocktrans %}
    {% else %}
        {% blocktrans %}
            Directories for {{ SITE_GLOBAL_SITEDISPLAYNAME }} in {{ SITE_GLOBAL_SITEGEOGRAPHICLOCATION }}
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% firstof MODULE_DIRECTORIES_LABEL_PLURAL trans "Directories" %},
    {% blocktrans %}
        {{ SITE_GLOBAL_SITEGEOGRAPHICLOCATION }}, {{ SITE_GLOBAL_SITEDISPLAYNAME }}, white papers, {{ SITE_GLOBAL_SITESECONDARYKEYWORDS }}
    {% endblocktrans %}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/directories.css' %}">
{% endblock %}

{% block banner %}{% endblock %}

{% block top_bar %}
    {% if request.user.is_authenticated %}
    	{% include "directories/top_nav.html" %}
        {% if request.user.impersonated_user and request.user.impersonated_user.is_superuser or request.user.is_superuser  %}
            {% if request.session.theme %}
                {% include "themes/theme_top.html" %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
