{% load i18n %}

<p>{% trans "Thank you for your payment!" %}</p>

<h3>{% trans "What would you like to do now?" %}</h3>
<ul>
    <li><a href="{{ SITE_GLOBAL_SITEURL }}{% url "directory" obj.slug %}" class="links">{% trans "View" %} {% firstof MODULE_DIRECTORIES_LABEL trans 'Directory' %}</a></li>
    <li><a href="{{ SITE_GLOBAL_SITEURL }}{% url "directory.search" %}" class="links">{% trans "Search" %} {% firstof MODULE_DIRECTORIES_LABEL_PLURAL trans 'Directories' %}</a></li>
    <li><a href="{{ SITE_GLOBAL_SITEURL }}{% url "directory.add" %}" class="links">{% trans "Add " %} {% firstof MODULE_DIRECTORIES_LABEL trans 'Directory' %}</a></li>
</ul>