{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load directory_tags %}

{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{{ STATIC_URL }}famfamfam/icons/folder_page_white.png"/>{% trans "Directories Pricing" %}
    </a>
    {% if directory_pricing %}
    {% directory_pricing_current_app request.user directory_pricing %}
    {% else %}
    {% directory_pricing_current_app request.user %}
    {% endif %}
</li>
{% endblock %}

