{% extends "navs/base.html" %}
{% load nav_tags %}
{% load perm_tags %}
{% load styled_forms %}

{% block title %}{{ block.super }} {% trans "Add" %}{% endblock title %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/navs.css' %}">
{% endblock %}

{% block content %}
<div class="t">
    <h1>{% firstof MODULE_NAVS_LABEL trans "Nav" %}  {% trans "Add" %}</h1>

    <div class="nav-wrap">
        <form action="{% url "navs.add" %}" method="post">{% csrf_token %}
        <div class="forms">
            {{ form|styled_form }}
            <input type="submit" value="{% trans 'Add Nav' %}" />
        </div>
        </form>
    </div>

</div>
{% endblock content %}

{% block extra_body %}
    {{ block.super }}
{% endblock %}
