{% load base_filters %}
{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

<div class="meta">
    <a href="{{ group.get_absolute_url }}">{% trans "View Group Members:" %} 
    {% blocktrans count group.members.count as count_members %}{{ count_members  }} member{% plural %}{{ count_members  }} members{% endblocktrans %}
    </a>
    <div class="submitted">{% blocktrans with group.create_dt|date:"long" as create_date and group.creator as group_creator %}Created on {{ create_date }} by {{ group_creator }}{% endblocktrans %}</div>
</div>
