{% extends "user_groups/base.html" %}
{% load pagination_tags %}
{% load user_group_tags %}
{% load base_tags %}
{% load base_filters %}

{% block title %}{{ block.super }}Search{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/site_media/static/css/iconrow.css">
<link rel="stylesheet" href="/site_media/static/css/usergroups.css">
{% endblock %}

{% block body %}
<div class="t">
 <div class="t-group">
 <div class="t-search">
 {% user_group_nav request.user %}
 <h1>{{ MODULE_USER_GROUPS_LABEL }} Search</h1>
 	{% group_search %}
    {% autopaginate groups 10 %}

	<div class="groups-wrap">
    {% for group in groups %}
    {% with group.object as group %}
		<div class="group-wrap {% cycle row1,row2 as rowcolours %}">

			<div class="options options-search">
				<div class="quick-options">
					{% user_group_options request.user group %} 	
				</div>
			</div>

            <h2><a href="{{ group.get_absolute_url }}">{% firstof group.name group.label 'Untitled' %}</a></h2>
            <div class="clear-right"></div>
            <div class="content">{{ group.notes|striptags|truncatewords:20 }}</div>
			<div class="meta">
				<a href="{{ group.get_absolute_url }}">View Group Members: 
            	{% with group.members.count as count_members %}
            		{{ count_members  }} member{{count_members|pluralize }}
            	{% endwith %}
            	</a>
            	<div class="submitted">Created on {{ group.create_dt|date:"long" }} by {{ group.creator }}</div>
            </div>

            
		</div>
		{% endwith %}
	{% empty %}
		<div>0 Results Found</div>
    {% endfor %}
	</div>

    {% paginate %}
 </div>
</div>
</div>
{% endblock %}

{% block extra_body %}

	
{% endblock %}