{% extends "corporate_memberships/base.html" %}
{% load corporate_memberships_tags %}

{% block title %}Corporate Membership Application Add{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/corporate_memberships.css">
{% endblock %}

{% block body %}
<div class="t">
     <h1>{{ corp_app.name }}</h1>
    <p>{{ corp_app.description|safe }}</p>


    <form method="post" enctype="multipart/form-data">
	<div class="forms">
		{% for field_obj in field_objs %}
				
			{% render_corp_field request field_obj form %}
			
		{% endfor %}
		
		<input type="submit" value="Submit" />
	</div>
	
	</form>
  
    
</div>
{% endblock %}

{% block extra_body %}
{% endblock %}