{% load base_filters %}

{# user info #}
<div class="invoice-view-box">
	{# make 3 blocks in the first box #}
	<div class="invoice-view-detail-left">
		{% if obj %}
			<a href="{% url corp_memb.view obj.id %}" title="View Corporate Membership">{{ obj.id }}</a>
		{% else %}
			{{ invoice.object_id }}
		{% endif%}
	</div>
	
	<div class="invoice-view-detail-middle">
		<div class="invoice-item">
			{% if obj %}
				{{ obj.name|truncatewords:5 }}
			{% else %}
				Corporate Membership Information not available
			{% endif%}
		</div>
		<div class="invoice-item">Corporate Membership Type: {{ obj.corporate_membership_type.name|truncatewords:30 }}</div>
	</div>
	
	<div class="invoice-view-detail-right">
		Amount: {{ invoice.total|format_currency }}
	</div>
	<div class="clear-both"></div>
</div>

	

