{% load base_tags %}
{% load perm_tags %}
{% load corporate_memberships_tags %}
{% load i18n %}

 {% is_admin request.user as is_admin %}
{% has_perm user site_settings.change_setting as can_edit_setting %}
{#{% has_perm user corporate_memberships.add_corporatemembership as can_add_corpmemb %}#}

{% if nav_object %}
    {% has_perm user corporate_memberships.view_corporatemembership nav_object as can_view_corpmemb %}
    {% allow_view_corp nav_object user as allow_view %}
    {% has_perm user corporate_memberships.change_corporatemembership nav_object as can_edit_corpmemb %}
    {% allow_edit_corp nav_object user as allow_edit %}
    {% has_perm user corporate_memberships.delete_corporatemembership nav_object as can_delete %}
{% else %}
    {% has_perm user corporate_memberships.view_corporatemembership as can_view_corpmemb %}
    {% has_perm user corporate_memberships.change_corporatemembership as can_edit_corpmemb %}
{% endif %}


<ul id="module-tabs" class="tabs">
    {% if user.is_authenticated %}
    <li class="dropdown" data-dropdown="dropdown">
        <a href="#" class="dropdown-toggle">{% trans "Tendenci" %}</a>
        <ul class="dropdown-menu">
            <a href="{% url dashboard %}" title="Tendenci Home Page">{% trans "Dashboard" %}</a>
            <li><a href="{% url profile.index %}">{% trans "My Profile" %}</a></li>
            <li><a href="{% url auth_logout %}">{% trans "Log Off" %}</a></li>
        </ul>
    </li>
    {% endif %}
    <li class="dropdown active" data-dropdown="dropdown">
        <a href="#" class="dropdown-toggle">{% firstof MODULE_CORPORATEMEMBERSHIPS_LABEL trans 'Corp. Memberships' %}</a>
        {% if nav_object %}
        <div class="dropdown-menu">
        <ul class="first">
            <li class="heading">{% trans "All Corp. Members" %}</li>
            <li class="divider"></li>
        {% else %}
            <div>
            <ul class="dropdown-menu">
        {% endif %}
            {% if can_edit_setting %}
            <li><a href="{% url settings.index "module" "corporatememberships" %}">{% trans "Settings" %}</a></li>
            {% endif %}
            <li><a href="{% url corp_memb.index %}">{% trans 'Index Page' %}</a></li>
            {% if user.is_authenticated %}
            <li>{% corp_memb_render_add_links %}</li>
            {% endif %}

            <li><a href="{% url corp_memb.search %}">{% trans "Search All" %}</a></li> 
            {% if is_admin %}
            <li><a href="{% url corp_memb.search %}?q=is_pending:true">{% trans "Pending Corp. Members" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url admin:corporate_memberships_corpapp_changelist %}">{% trans "Corp. Membership Applications" %}</a></li>
            <li><a href="{% url admin:corporate_memberships_corporatemembershiptype_changelist %}">{% trans "Corp. Membership Types" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url corp_import %}">{% trans "Import" %}</a></li>
            <li><a href="{% url corp_export %}">{% trans "Export" %}</a></li>
            {% endif %}
        </ul>
        {% if nav_object %}
            {% if can_view_corpmemb or can_edit_corpmemb %}
            <ul>
                <li class="heading">{% trans "This Corp. Member" %}</li>
                <li class="divider"></li>
                {% if can_view_corpmemb or allow_view %}
                <li><a href="{% url corp_memb.view nav_object.pk %}">{% trans "View Corp. Member" %}</a></li>
                {% endif %}
                {% if can_edit_corpmemb %}
                <li><a href="{% url corp_memb.edit nav_object.pk %}">{% trans "Edit Corp. Member" %}</a></li>
                <li><a class="option-link roster" href="{% url corp_memb.roster_search %}?name={{ nav_object.name|urlencode }}">{% trans "View Roster" %}</a></li>
                {% endif %}
                {% if can_delete %}
                <li class="divider"></li>
                <li><a class="option-link delete" href="{% url corp_memb.delete nav_object.pk %}">{% trans "Delete" %}</a></li>
                {% endif %}
            </ul>
            {% endif %}
        {% endif %}
        </div>
    </li>
    {% if MODULE_MEMBERSHIPS_ENABLED %}
    <li><a href="{% url membership.search %}">{% firstof MODULE_MEMBERSHIPS_LABEL 'Memberships' %}</a></li>
    {% endif %}
</ul>
