{% load base_tags %}
{% load perm_tags %}
{% load corporate_memberships_tags %}

 {% is_admin request.user as is_admin %}
{% has_perm user site_settings.change_setting as can_edit_setting %}
{#{% has_perm user corporate_memberships.add_corporatemembership as can_add_corpmemb %}#}

{% if nav_object %}
	{% has_perm user corporate_memberships.view_corporatemembership nav_object as can_view_corpmemb %}
	{% allow_view_corp nav_object user as allow_view %}
	{% has_perm user corporate_memberships.change_corporatemembership nav_object as can_edit_corpmemb %}
	{% allow_edit_corp nav_object user as allow_edit %}
{% else %}
	{% has_perm user corporate_memberships.view_corporatemembership as can_view_corpmemb %}
	{% has_perm user corporate_memberships.change_corporatemembership as can_edit_corpmemb %}
{% endif %}

<div id="showh">
	<ul id="primary">
	
    {% if user.is_authenticated %}
	<li>
	    <a href="{% url dashboard %}" title="Tendenci Home Page">
		<img border="0" src="{{ STATIC_URL }}images/tendenci34x15.gif"
		alt="Tendenci User Home" align="top" width="34" height="15"></a>
	</li>
    {% endif %}

	<li>
		<span>{% firstof MODULE_CORPORATEMEMBERSHIPS_LABEL 'Corp. Member' %}</span>
		<ul id="secondary">
			<li><a href="{% url corp_memb.index %}">{% firstof MODULE_CORPORATEMEMBERSHIPS_LABEL 'Corporate Memberships' %}:</a></li> 
			{% if can_edit_setting %}
				<li><a href="{% url settings.index "module" "corporatememberships" %}">Settings</a></li>
			{% endif %}
			{% if nav_object %}
				{% if can_view_corpmemb or allow_view %}
				<li><a href="{% url corp_memb.view nav_object.pk %}">View</a></li>
				{% endif %}
				{% if can_edit_corpmemb %}
				<li><a href="{% url corp_memb.edit nav_object.pk %}">Edit</a></li>
				{% endif %}
			{% endif %}
			<li><a href="{% url corp_memb.search %}">Search</a></li>
			
			{% if is_admin %}
				<li><a href="{% url corp_memb.search %}?q=is_pending:true">Pendings</a></li>
				<li><a href="{% url corp_import %}">Import</a></li>
				<li><a href="{% url corp_export %}">Export</a></li>
			{% endif %}
			
			{% if user.is_authenticated %}
				<li>{% corp_memb_render_add_links %}</li>
			{% endif %}

			{% if user.is_authenticated %}
			<li><a href="{% url auth_logout %}">Log Off</a></li> 
			{% endif %}
			
		</ul>
		
	</li>
	
	<li><a href="{% url membership.index %}">{% firstof MODULE_MEMBERSHIPS_LABEL 'Memberships' %}</a></li>
	
	</ul>
</div>
