{% load base_tags %}
{% load perm_tags %}
{% load corporate_memberships_tags %}
{% load i18n %}

{% has_perm user corporate_memberships.change_corporatemembership as can_edit %}
{% allow_edit_corp opt_object user as allow_edit %}
{% has_perm user corporate_memberships.delete_corporatemembership as can_delete %}

<div class="t-iconrow">

	{% if can_edit or allow_edit %}
		{% if opt_object.real_time_status_detail in 'expired - in grace period' %}
			<span class="status-expired">{{ opt_object.real_time_status_detail|capfirst }}</span>
		{% else %}
			{% if opt_object.status_detail in 'paid - pending approval'%}
				<span class="status-pending">{{ opt_object.real_time_status_detail|capfirst }}</span>
			{% else %}
				<span>{{ opt_object.real_time_status_detail|capfirst }}</span>
			{% endif %}
		{% endif %}
	{% endif %}

	{% if can_edit or allow_edit %}
		<a class="option-link edit" href="{% url corp_memb.edit opt_object.pk %}">Edit</a>
	{% endif %}

 {% if can_edit or allow_edit %}
	  <div class="more-options-wrap">
	    <a href="javascript:;" class="more-options-trigger">{% trans "More options" %} <small>&#9660;</small></a>
	    <div class="more-options-target">
	        <ul>
	        	{% if request.user.is_authenticated %}
					<li>
						<a class="option-link roster" href="{% url corp_memb.roster_search %}?name={{opt_object.name|urlencode}}">{% trans "Roster" %}</a>
					</li>				
				{% endif %}
				{% if can_delete %}
					<li>
						<a class="option-link delete" href="{% url corp_memb.delete opt_object.pk %}">{% trans "Delete" %}</a>
					</li>				
				{% endif %}
			 </ul>
	        </div>
	  </div>
  {% endif %}
</div>