{% extends "corporate_memberships/base.html" %}
{% load corporate_memberships_tags %}

{% block title %}Corporate Membership Edit{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui/jquery-ui-1.8.2.custom.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/timepicker.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/corporate_memberships.css">
{% endblock %}

{% block body %}
<div class="t">

     <h1>Renew Corporate Membership</h1>
     
  {% if form.errors %}<h1>Please correct the following errors</h1>{% endif %}

<form action="" method="post">{% csrf_token %}
<table>
{{ form }}
</table>
<input type="hidden" name="{{ stage_field }}" value="1" />
<p><input type="submit" value="Preview" /></p>
</form> 
    
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}

{% endblock %}