{% extends "events/base.html" %}
{% load event_tags %}
{% load base_tags %}
{% load base_filters %}
{% url "event.export_download" identifier as dl_url %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/events.css' %}">
<style>
    .display-hide {display: none;}
</style>
{% endblock %}

{% block content %}
<div class="t">
    <div class="events-wrap">
        <h1>{% trans "Events Export - Status" %}</h1>
        <div{% if not download_ready %} class="display-hide"{% endif %}>
            <p>{% trans "The export file is ready, click the download link below to download." %}</p>
            <div>
                <a href="{% url 'event.export_download' identifier %}">{% trans "Download Now" %}</a>
            </div>
        </div>

        {% if not download_ready %}
        {% blocktrans %}
        <p>Your request is being processed. Please check later by <strong>refreshing this page</strong>.</p>
        <p>In the meantime, we'll notify you via email at <strong>{{ request.user.email }}</strong> once the export is ready. Thank you for your patience!</p>
        {% endblocktrans %}
       {% endif %}
    </div>
</div>
{% endblock %}
