{% extends "events/base.html" %}
{% load event_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}
{% url "event.export_download" identifier as dl_url %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events.css">
<style>
    .display-hide {display: none;}
</style>
{% endblock %}

{% block content %}
<div class="t">
    <div class="events-wrap">
        <h1>{% trans "Events Export - Status" %}</h1>
        <div{% if not download_ready %} class="display-hide"{% endif %}>
            {% blocktrans %}
            <p>The export file is ready, click the download link below to download.</p>
            <div>
                <a href="{{ dl_url }}">Download Now</a>
            </div>
            {% endblocktrans %}
        </div>

        {% if not download_ready %}
        {% blocktrans %}
        <p>Your request is being processed. Please check later by <strong>refreshing this page</strong>.</p>
        <p>In the meantime, we'll notify you via email at <strong>{{ request.user.email }}</strong> once the export is ready. Thank you for your patience!</p>
        {% endblocktrans %}
       {% endif %}
    </div>
</div>
{% endblock %}

