{% extends "events/base.html" %}
{% load event_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events.css">
{% endblock %}

{% block content %}

<div class="t">
    <div class="events-wrap">

        <h1>{% trans "Events ICS" %}</h1>

        <div class="content">
            <form action="." method="POST" >{% csrf_token %}
                {{ form }}
                <input type="submit" value="{% trans 'Create ICS' %}" />
            </form>

        </div>

    </div>
</div>
{% endblock %}
