{% load base_filters %}
{% load base_tags %}
{% load event_tags %}
{% load perm_tags %}
{% load tagging_tags %}
{% load category_tags %}
{% load i18n %}

{% has_perm user events.change_event event as can_edit %}
{% has_perm user events.delete_event event as can_delete %}
{% has_perm user events.add_event as can_add %}
{% tags_for_object event as tags %}

<ul class="list-unstyled t-meta-data">

        {% if tags %}
        <li><strong>{% trans "Tags:" %} </strong>
            {% for tag in tags %}
                <a class="label label-default" href="{% url "event.search" %}?q=tag:{{ tag }}">{% blocktrans with tag_instance=tag %}{{ tag_instance }}{% endblocktrans %}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li class="submitted">{% blocktrans with event.create_dt|date:"long" as create_date %}Created on {{ create_date }}
            by:{% endblocktrans %} <a href="{{ event.creator.get_absolute_url }}">
            {% if event.creator.first_name %}{{ event.creator.first_name }} {{ event.creator.last_name }}
            {% else %}
            {% if event.creator %}{{ event.creator }}{% else %}{% trans "Unknown" %}{% endif %}
            {% endif %}</a>
        </li>

        <li class="submitted">{% blocktrans with event.update_dt|date:"long" as update_date %}Last updated {{ update_date }}
            by:{% endblocktrans %} <a href="{{ event.owner.get_absolute_url }}">
            {% if event.owner.first_name %}{{ event.owner.first_name }} {{ event.owner.last_name }}
            {% else %}
             {% if event.owner %}{{ event.owner }}{% else %}{% trans "Unknown" %}{% endif %}
            {% endif %}</a>
        </li>
        {% endif %}

    {% if user.is_authenticated %}
        <li>
            <a class="t-meta-print-link" href="{% url "event.print_view" event.pk %}"><span class="glyphicon glyphicon-print"></span> {% trans "Print" %}</a>
        </li>
    {% else %}
        <li>
            <a class="t-meta-print-link" href="{% url "event.print_view" event.pk %}"><span class="glyphicon glyphicon-print"></span> {% trans "Print" %}</a>
        </li>
    {% endif %}

    <div style="clear:both;"></div>
</ul>
{% if can_edit %}
<nav class="navbar-default t-meta-editor-bar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav t-meta-perm-status">
			        <li>{{ event.obj_perms }}</li>
			        <li>{{ event.obj_status }}</li>
   			  </ul>
    
		     <ul class="nav navbar-nav navbar-right t-meta-options-links">
		        <li><a class="t-meta-eventlog-link" href="{% url "event_log.search" %}?object_id={{ event.pk }}&source={{ event.opt_app_label }}">{% trans "Eventlogs" %}</a></li>
		        <li><a class="t-meta-edit-link" href="{% url "event.edit" event.pk %}">{% trans "Edit" %}</a></li>
		        <li class="dropup">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% spaceless %}
                            {% trans "Options" %} <span class="caret"></span>
                        {% endspaceless %}</a>

                        <ul class="dropdown-menu" role="menu">
			            {% if can_delete %}
			                <li>
			                    <a class="t-meta-delete-link" href="{% url "event.delete" event.pk %}">{% trans "Delete" %}</a>
			                </li>
			            {% endif %}
			            {% if can_delete and event.is_recurring_event %}
			                <li>
			                    <a class="t-meta-delete-link" href="{% url "event.delete_recurring" event.pk %}">{% trans "Delete Recurring Events" %}</a>
			                </li>
			            {% endif %}
			            {% if request.user.is_superuser and event.status == 0 %}
			                <li><a href="{% url "event.approve" event.pk %}">{% trans "Approve" %}</a></li>
			            {% endif %}
			            {% if can_add %}
			                <li>
			                    <a class="t-meta-option-link copy" href="{% url "event.copy" event.pk %}">{% trans "Copy" %}</a>
			                </li>
			            {% endif %}
			            <li><a href="{% url "event.ics_single" event.pk %}">{% trans "Export" %}</a></li>
			            <li><a href="{% url "event.edit.meta" event.pk %}">{% trans "Edit Meta" %}</a></li>
			            <li><a href="{% url "event.registrant.search" event.pk %}">{% trans "Registrants" %}</a></li>
			            <li><a href="{% url "event.registrant.roster" event.pk %}">{% trans "Registrant Roster" %}</a></li>
			     	</ul>
		        </li>
		    </ul>
   		 </div>
   	</div>
</nav>
{% endif %}
