{% extends "events/base-wide.html" %}
{% load event_tags %}
{% load tagging_tags %}
{% load base_tags %}
{% load category_tags %}
{% load i18n %}

{% block title %}{{ cur_date|date:"F j, Y" }} - {% trans 'Weekly Calendar' %} {% endblock %}
{% block meta_description %} {% endblock %}
{% block meta_keywords %} {% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="Latest Events" href="{% url "event.feed" %}" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/tipsy.css">
{% endblock %}

{% block content %}
<div class="month-view week-view">

    <div class="month-names">
        <div class="month-name previous"><a href="{{ prev_week_url }}">&laquo;</a></div>
        <div class="month-name current"><a>{% trans "Week of " %}{{ cur_date|date:"n/j/Y" }}</a></div>
        <div class="month-name next"><a href="{{ next_week_url }}">&raquo;</a></div>
        <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>

    <div class="calendar-wrap">

    <div class="month-wrap">

        <div class="month-labels">
        {% for weekday in weekdays %}
            <div class="weekday">{{ weekday }}</div>
        {% endfor %}
        {% for weekday in weekdays %}
            <div class="weekday-mobile">{{ weekday|slice:":3" }}</div>
        {% endfor %}
        <div style="clear:both;"></div>
        </div>

        <div class="month-grid">
        {% for day in week %}
            <div class="day{% if today.date == day %} today{% endif %}">
                <div class="date-numeral"><a href="{% url "event.day" day.year day.month day.day %}">{{ day.day }}</a></div>
                {% event_list day 'single_day' as events %}
                {% if events %}
                    {% for event in events %}
                    <div class="event-item" title="{{ event.type }}: {{ event }}" style="color:{{ event.type.fg_color }}; background-color:{{ event.type.bg_color }}" itemscope itemtype="http://schema.org/Event">
                        {% if event.priority %}
                        <div class="event-priority"></div>
                        {% endif %}
                        {% if event.is_recurring_event %}
                        <div class="event-recurring"></div>
                        {% endif %}
                        <a href="{{ event.get_absolute_url }}" class="time-stamp">
                        {% if not event.all_day %}
                        {{ event.start_dt|date:"f a" }}{% endif %}
                        </a>
                        <a href="{{ event.get_absolute_url }}" class="event-title" itemprop="url">
                            <span itemprop="name">{{ event.title }}</span>
                        </a>
                        <span style="display:none" itemprop="startDate" datetime="{{ event.start_dt|date:'c' }}">{{ event.start_dt|date:"l, M j, Y P" }}</span>
                        <br><a href="{{ event.get_absolute_url }}" itemprop="description">{{ event.description|striptags|safe|truncatewords:5 }}</a>
                        <a class='click-mask' href="{{ event.get_absolute_url }}"></a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
            <div style="clear:both;"></div>
        </div> <!-- END month-grid -->
    </div> <!-- END month-wrap -->

    {# TODO: If there are no types, don't show sidebar #}

    <div class="side-bar">
        <div class="header">{% trans "Legend" %}</div>
        <div class="types">
        {% for type in types %}
            <div class="type">
                <a style="color:{{ type.fg_color }}; background-color:{{ type.bg_color }}; border-color:{{ type.border_color }};">{{ type }}</a>
            </div>
        {% endfor %}
        </div>
    </div>
    <div style="clear:both;"></div>
    </div> <!-- END calendar-wrap -->
</div>

{% endblock %}

{% block extra_body %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipsy.js"></script>
<script type="text/javascript">
    $('.event-item').tipsy({
        gravity: 's',
        live: true
    });
</script>
{% endblock %}
