{% load i18n %}
{% load url from future %}
{% load base_tags %}
{% load perm_tags %}


{% has_perm user site_settings.change_setting as can_edit_setting %}
{% has_perm user entities.add_entity as can_add_entity %}

{% if app_object %}
    {% has_perm user entities.view_entity app_object as can_view_entity %}
    {% has_perm user entities.change_entity app_object as can_edit_entity %}
{% else %}
    {% has_perm user entities.view_entity as can_view_entity %}
    {% has_perm user entities.change_entity as can_edit_entity %}
{% endif %}


<ul class="dropdown-menu pull-left">
    <div class="yamm-content custom-yamm-content content-dropdown">
        <li class="content-item">
            <a href="{% url 'entities' %}">{% firstof MODULE_ENTITIES_LABEL trans 'Entities' %}</a>
        </li>

        {% if app_object %}
            {% if can_view_entity %}
                <li class="content-item">
                    <a href="{% url 'entity' app_object.pk %}">{% trans "View" %}</a>
                </li>
            {% endif %}

            {% if can_edit_entity %}
                <li class="content-item">
                    <a href="{% url 'entity.edit' app_object.pk %}">{% trans "Edit" %}</a>
                </li>
            {% endif %}
        {% endif %}

        <li class="content-item">
            <a href="{% url 'entity.search' %}">{% trans "Search" %}</a>
        </li>

        {% if can_add_entity %}
            <li class="content-item">
                <a href="{% url 'entity.add' %}">{% trans "Add" %}</a>
            </li>
        {% endif %}

        {% if user.is_authenticated %}
            <li class="content-item">
                <a href="{% url 'auth_logout' %}">{% trans "Log Off" %}</a>
            </li>
        {% endif %}
    </div>
</ul>
