{% extends "site_base.html" %}


{% block title %}
    {% if SITE_GLOBAL_SITEPRIMARYKEYWORDS %}{% blocktrans with keys=SITE_GLOBAL_SITEPRIMARYKEYWORDS %}{{ keys }}{% endblocktrans %}: {% endif %}
    {% if MODULE_CONTACTS_LABEL_PLURAL %}
        {% blocktrans with label_plural=MODULE_CONTACTS_LABEL_PLURAL display_name=SITE_GLOBAL_SITEDISPLAYNAME location=SITE_GLOBAL_SITEGEOGRAPHICLOCATION %}
            {{ label_plural }} for {{ display_name }} in {{ location }}
        {% endblocktrans %}
    {% else %}
        {% blocktrans with display_name=SITE_GLOBAL_SITEDISPLAYNAME location=SITE_GLOBAL_SITEGEOGRAPHICLOCATION %}
            Contacts for {{ display_name }} in {{ location }}
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
{% endblock %}

{% block banner %}{% endblock %}

{% block top_bar %}
    {% if request.user.is_authenticated %}
        {% include "contacts/top_nav.html" %}
        {% if request.user.impersonated_user and request.user.impersonated_user.is_superuser or request.user.is_superuser  %}
            {% if request.session.theme %}
                {% include "themes/theme_top.html" %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
