{% extends "make_payments/base.html" %}
{% load i18n %}
{% load styled_forms %}

{% block title %}{% trans 'Make a Payment' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/make_payments.css">
{% endblock %}

{% block body %}
<div class="t">

<h1>{% trans "Make a Payment" %}</h1>

<form method="post" action="{% url make_payment.add %}">{% csrf_token %}
    <div class="forms">
    {{ form|styled_form }}
    <div class="submitbutton">
        <input type="submit" name="submit" value="{% trans 'Make a Payment' %}" />
    </div>
    </div>
</form>

</div>
{% endblock %}
{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/email-verification.js"></script>
{% endblock %}
