{% extends "campaign_monitor/base.html" %}
{% load base_tags %}
{% load perm_tags %}
{% load campaign_monitor_tags %}

{% block title %}{{ template.name }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/site_media/static/css/campaign_monitor.css">
{% endblock %}

{% block body %}

<div class="t">
    {% template_nav request.user %}
    <div class="template-wrap">

        <div class="options options-search">
            <div class="quick-options">
                {% template_options request.user template %}
            </div>
        </div>
        <h1>{{ template.name }}</h1>
        <div class="content">
            <div>
                {% if template.cm_screenshot_url %}
                    <p><b>Screenshot:</b></p><a href="{{ template.cm_preview_url }}">
                        <img src="{{ template.cm_screenshot_url }}">
                    </a>
                {% else %}
                    <p><b>Screenshot:</b> Not Available</p>
                {% endif %}
                <p><a href="{{ template.cm_preview_url }}">Preview</a></p>
                {% if template.html_file %}
                    <p><b>Html File:</b> <a href="{{ template.get_html_url }}">Download</a></p>
                {% endif %}
                {% if template.zip_file %}
                    <p><b>Zip File:</b><a href="{{ template.get_zip_url }}">Download</a></p>
                {% endif %}
                {% if template.screenshot_file %}
                    <p><b>Screenshot File:</b><a href="{{ template.get_screenshot_url }}">Download</a></p>
                {% endif %}
            </div>
            <div style="clear: both"></div>
        </div>
    </div>

</div>
{% endblock %}
