{% extends "attorneys/base.html" %}
{% load pagination_tags %}
{% load attorneys_tags %}
{% load perm_tags %}
{% load base_filters %}

{% block title %}Attorneys{% endblock %}

{% block extra_head %}
{{ block.super }}
<style type="text/css">
{% include "attorneys/media/css/attorneys.css" %}
</style>
{% endblock %}

{% block body %}
{% autopaginate attorneys 6 %}
{% has_perm user attorneys.add_attorney as can_add_attorney %}
<div class="t">
    <h1>Attorney Search</h1>
    {% attorneys_search %}
    {% if can_add_attorney %}
    <div><a href="{% url admin:attorneys_attorney_add %}">Add Attorney</a></div>
    {% endif %}
    <div class="attorneys-wrap">
        {% for attorney in attorneys %}
        {% with attorney|get_object as attorney %}
        {% include "attorneys/search-result.html" %}
        {% endwith %}
        {% empty %}
            <p>0 Attorneys Found</p>
        {% endfor %}
    </div>
    {% paginate %}
</div>
{% endblock body %}

