{% extends "quotes/base.html" %}
{% load pagination_tags %}
{% load quote_tags %}
{% load perm_tags %}
{% load search_tags %}

{% block title %}{{ SITE_GLOBAL_SITEDISPLAYNAME }} Quotes - {{SITE_GLOBAL_SITEPRIMARYKEYWORDS }} Quotes, {{SITE_GLOBAL_SITESECONDARYKEYWORDS }} Quotes{% endblock %}
{% block meta_description %}{{ request.GET.q|striptags }} Quotes from {{ SITE_GLOBAL_SITEDISPLAYNAME }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/quotes.css">
{% endblock %}

{% block body %}
{% has_perm user quotes.add_quote as can_add_quote %}
<h1>{% firstof SITE_GLOBAL_QUOTES_LABEL_PLURAL "Quotes" %}</h1>

{% if SITE_GLOBAL_SEARCHINDEX %}
<form class="search-form" action="{% url quotes %}" method="get">
<input type="text" id="" name="q" value="{{ request.GET.q|striptags }}" />
<input type="submit" value="Search" />
</form>
{% endif %}

{% autopaginate quotes 20 %}
{% if can_add_quote %}
    <div class="clearfix"><a id="add-quote" href="{% url admin:quotes_quote_add %}">Add a Quote</a></div>
    {% endif %}

<div class="quotes-wrap">
<ul>
{% for quote in quotes %}
    {% search_result quote %}
    {% empty %}
    <li>0 {{ request.GET.q|striptags }} Quotes Found</li>
    {% endfor %}
</ul>
</div>
{% paginate %}
{% endblock body %}

{% block extra_body %}
{{ block.super }}
    <script type="text/javascript" src="{{ THEME_URL }}/js/jquery.isotope.min.js"></script>
    
{% endblock %}
