{% load base_filters %}
{% load base_tags %}
{% load cache %}
{% load photo_tags %}
{% load box_tags %}
{% load story_tags %}
{% load theme_tags %}
{% load i18n %}

{% theme_extends 'base.html' %}

{% block extra_head %}
{{ block.super }}
    <link rel="shortcut icon" href="{{ THEME_URL }}media/images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ THEME_URL }}media/images/apple-touch-icon.png">
    <link rel="stylesheet/less" href="{{ THEME_URL }}media/css/styles.less" type="text/css" media="screen" />
    <script src="{{ THEME_URL }}media/js/less-1.1.3.min.js" type="text/javascript"></script>
    <script src="{{ THEME_URL }}media/js/libs/modernizr-1.6.min.js" type="text/javascript"></script>
    <style>
    #home #rotator #stories .story .story-text {background-color: rgba(255, 255, 255, .7);}
    </style>
{% endblock extra_head %}

{% block body_ids %}home{% endblock body_ids %}
{% block body_classes %}home{% endblock body_classes %}

{% block html_body %}
<div id="wrapper" class="container">
    {% theme_include "header.html" %}
    <div class="container">
        <section id="rotator" class="no-band">
            <div id="stories">
            {% list_stories as rotator_list limit=6 tags="rotator" %}
            {% if rotator_list %}
                {% for story in rotator_list %}
                <div class="story story-{% cycle "even" "odd" %}">
                  <div class="story-image"><a href="{{ story.full_story_link }}"><img width="954" height="376" src="{% image_url story.photo size=954x376 crop=true quality=90 %}" alt="{{ story.title }} from {{ SITE_GLOBAL_SITEDISPLAYNAME }}"></a></div>
                    <div class="story-text">
                        <h2 class="headline"><a href="{{ story.full_story_link }}">{{ story.title }}</a></h2>
                        <div class="story-summary">{{ story.title|striptags|truncatewords_html:"12" }} | <span class="read-more"><a href="{{ story.full_story_link }}">{% trans "Read More" %}</a></span></div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="story story-even">
                  <div class="story-image"><a href="#"><img width="954" height="376" src="http://media.tendenciapp.com/images/sizes/rotator_1000x500.jpg" alt="Sample"></a></div>
                    <div class="story-text">
                        <h2 class="headline"><a href="#">Sample Story</a></h2>
                        <div class="story-summary">Great new content. {% if request.user.is_authenticated %}<a href="/stories/add/">Add your first story</a> to take the place of this photo. Be sure to <strong>tag it rotator</strong> so that it shows up in this area.{% endif %} | <span class="read-more"><a href="#">Read More</a></span></div>
                    </div>
                </div>
                <div class="story story-odd">
                  <div class="story-image"><a href="#"><img width="954" height="376" src="http://media.tendenciapp.com/images/sizes/rotator_1000x500.jpg" alt="Sample"></a></div>
                    <div class="story-text">
                        <h2 class="headline"><a href="#">Second Story</a></h2>
                        <div class="story-summary">Great new content. {% if request.user.is_authenticated %}<a href="/stories/add/">Add your first story</a> to take the place of this photo. Be sure to <strong>tag it rotator</strong> so that it shows up in this area.{% endif %} | <span class="read-more"><a href="#">Read More</a></span></div>
                    </div>
                </div>
            {% endif %}
            </div>
            <div id="stories-pager"></div>
        </section><!-- /#rotator -->
    </div>
    {% if "on" == MODULE_THEME_FEATURED_AREA|join:"" %}
    <div class="container">
        <section id="featured" class="band clearfix">
        {% list_stories as featured_list limit=3 tags="featured" %}
        {% if featured_list %}
            {% for story in featured_list %}
            <div class="featured-box{% if forloop.last %} last{% endif %}">
                <a href="{{ story.full_story_link }}"><img src="{% image_url story.photo size=72x72 crop=true quality=90 %}" alt="{{ story.title }} at {{ SITE_GLOBAL_SITEDISPLAYNAME }}" />
                <span>{{ story.title }}</span></a>
            </div>
            {% endfor %}
        {% else %}
            <div class="featured-box">
                <a href="#"><img src="http://media.tendenciapp.com/images/sizes/pic_80x80.jpg" />
                <span>{% trans "HEADLINE 1" %}</span></a>
            </div>
            <div class="featured-box">
                <a href="#"><img src="http://media.tendenciapp.com/images/sizes/pic_80x80.jpg" />
                <span>{% trans "HEADLINE 2" %}</span></a>
            </div>
            <div class="featured-box last">
                <a href="#"><img src="http://media.tendenciapp.com/images/sizes/pic_80x80.jpg" />
                <span>{% trans "HEADLINE 3" %}</span></a>
            </div>
        {% endif %}
        </section><!-- /#featured -->
    </div>
    {% endif %}
    <div class="container">
        <section id="home-content" class="no-band clearfix">
            <section id="sidebar">
                {% theme_include "sidebar.html" %}
            </section>
            <div id="info-box-large">
                {% list_boxes as aboutus_box tags=aboutus limit=1 %}
                {% if aboutus_box %}
                    {% for box in aboutus_box %}
                        <div id="box-{{ box.pk }}" class="boxes">
                            <h3><a href="/"><span>{{ box.title }}</span></a></h3>
                            <div class="box-content">{{ box.safe_content }}</div>
                            {% include 'boxes/edit-link.html' %}
                        </div>
                    {% endfor %}
                {% else %}
                <h3><a href="/about"><span>{% trans "About" %}</span> {% trans "Us" %}</a></h3>
                <img src="http://media.tendenciapp.com/images/sizes/pic_400x200.jpg" alt="About {{ SITE_GLOBAL_SITEDISPLAYNAME }}" />
                <p>All about us. {% if request.user.is_authenticated %}</p><p><a href="/admin/boxes/box/add/">Add a box</a> and use the tag <strong>aboutus</strong> to bring that content into this area. This will replace the image and the text, The title of the box will appear as the heading.{% endif %} <a href="/" class="readmore">Read more</a></p>
                {% endif %}
            </div>
            <div id="photo-box">
                <h3><a href="/photos"><span>{% trans "Photo" %}</span> {% trans "Gallery" %}</a></h3>
                {% list_photos as photos_list limit=6 %}
                {% if photos_list|length > 2 %}
                    {% for photos in photos_list %}
                    <a href="{{ photo.get_absolute_url }}"><img src="{% photo_image_url photo size=80x80 crop=True %}" alt="{{ photo.title }}" /></a>
                    {% endfor %}
                {% else %}
                <a href="#"><img src="http://media.tendenciapp.com/images/sizes/pic_80x80.jpg" alt="title" /></a>
                <a href="#"><img src="http://media.tendenciapp.com/images/sizes/pic_80x80.jpg" alt="title" /></a>
                <a href="#"><img src="http://media.tendenciapp.com/images/sizes/pic_80x80.jpg" alt="title" /></a>
                <a href="#"><img src="http://media.tendenciapp.com/images/sizes/pic_80x80.jpg" alt="title" /></a>
                <a href="#"><img src="http://media.tendenciapp.com/images/sizes/pic_80x80.jpg" alt="title" /></a>
                <a href="#"><img src="http://media.tendenciapp.com/images/sizes/pic_80x80.jpg" alt="title" /></a>
                {% endif %}
                <a href="/photos/" class="readmore">{% trans "See More Photos" %}</a>
            </div>
            <div id="border-box"></div>
            <div id="info-box-small">
                {% list_boxes as people_box tags=people limit=1 %}
                {% if people_box %}
                    {% for box in people_box %}
                        <div id="box-{{ box.pk }}" class="boxes">
                            <h3><a href="/"><span>{{ box.title }}</span></a></h3>
                            <div class="box-content">{{ box.safe_content }}</div>
                            {% include 'boxes/edit-link.html' %}
                        </div>
                    {% endfor %}
                {% else %}
                <h3><a href="/about"><span>{% trans "Our" %}</span> {% trans "People" %}</a></h3>
                <a href="#"><img style="height: 160px; width: 110px;" src="http://media.tendenciapp.com/images/person.jpg" alt="title" /></a>
                <div class="info-small-text">
                    <h4><a href="#">Thomas Purser</a></h4>
                    <strong><em>Sales Manager</em></strong>
                    <p>Thomas is our top sales manager. He manages sales better than anyone at the company. {% if request.user.is_authenticated %}</p><p><a href="/admin/boxes/box/add/">Add a box</a> and use the tag <strong>people</strong> to bring that content into this area. This will replace the image and the text, The title of the box will appear as the heading.{% endif %}
                    <a href="/" class="readmore">{% trans "See More People" %}</a>
                </div>
                {% endif %}
            </div>
        </section><!-- /#home-content -->
    </div>
    <div class="container">
        <section id="footer" class="band">
            <footer>{% theme_include "footer.html" %}</footer>  
        </section><!-- /#footer -->
    </div>
</div><!-- /#wrapper -->
{% endblock %}

{% block extra_body %}
{{ block.super }}
    <script src="{{ THEME_URL }}media/js/jquery.cycle.all.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#stories").cycle({
            timeout: 10000,
            speed: 2000,
            pager: '#stories-pager',
            pagerEvent: 'mouseover'
        });
    });
    </script>
{% endblock %}
