{% extends "testimonials/base.html" %}
{% load pagination_tags %}
{% load testimonial_tags %}
{% load perm_tags %}
{% load search_tags %}

{% block title %}Testimonials{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/testimonial.css' %}">
<link rel="alternate" type="application/rss+xml" title="Latest Testimonials" href="{% url 'testimonial.feed' %}" />
{% endblock %}

{% block content %}
{% autopaginate testimonials 5 %}
{% has_perm user testimonials.add_testimonial as can_add_testimonial %}

<div id="testimonials-search">
  <div class="page-header">
    <h1>{% firstof MODULE_TESTIMONIALS_LABEL_PLURAL "Testimonials"%}</h1>
  </div>

    {% testimonial_search %}
    
    <div class="tsm-search-wrap">
        {% for testimonial in testimonials %}
            {% search_result testimonial %}
        {% empty %}
            <p>0 Testimonials Found</p>
        {% endfor %}
    </div>
    {% paginate %}
</div>
{% endblock %}
