{% load styled_forms %}
{% load perm_tags %}
{% load i18n %}

{% has_perm user forms.change_form form as can_edit %}

<style>
.id_captcha input[type="text"]{
    width: 160px !important;
}
</style>
    <h4>{% blocktrans with t=form.title %}{{ t }}{% endblocktrans %}</h4>
    <p>{% blocktrans with i=form.intro|safe %}{{ i }}{% endblocktrans %}</p>

    <div class="form-builder-wrap">
        <form method="post" enctype="multipart/form-data" action="{{ form.get_absolute_url }}">{% csrf_token %}
        <div class="forms">
            {{ form_for_form|styled_form }}
            <input type="submit" value="{% trans 'Submit' %}" />
        </div>
        </form>
    </div>
