{% extends form_template %}
{% load forms_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{% blocktrans with t=entry.form.title %}Entry - {{ t }}{% endblocktrans %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms-builder.css">
{% endblock %}

{% block body %}
<div class="t">
    {% forms_nav request.user %}
    <div class="form-builder-wrap">
        <h2>{% blocktrans with t=entry.form.title %}Entry - {{ t }}{% endblocktrans %}</h2>
         <div class="quick-options">
            {% forms_entry_options request.user entry %}
         </div>
        {% for field in entry.entry_fields %}
            {% if field.field.field_type == 'FileField' %}
            <p>
                <strong>{% blocktrans with l=field.field.label %}{{ l }}{% endblocktrans %}</strong><br />
                <a href="{{ field|media_url }}">{% blocktrans with n=field.value|basename %}{{ n }}{% endblocktrans %}</a>
            </p>
            {% else %}
            <p>
                <strong>{% blocktrans with l=field.field.label %}{{ l }}{% endblocktrans %}</strong><br />
                <em>{% blocktrans with v=field.value %}{{ v }}{% endblocktrans %}</em>
            </p>
            {% endif %}
        {% endfor %}
        {% if entry.entry_path %}
            <p>
                <strong>{% trans 'Entry Path' %}</strong><br />
                <em>{{ entry.entry_path }}</em>
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
