{% load nav_tags %}
{% load box_tags %}

<div id="header">
    <div class="nav-mask">
      <div id="nav-middle" class="nav-color"></div>
    </div><!--/.nav-mask-->
    
    <div id="header-boxes" class="clearfix sixteen columns">
        <div id="header-left-container" class="twelve columns alpha">
            {% if request.path == "/" %}
            <div class="logo"><h1>{% box 1 %}</h1></div>
            {% else %}
            <div class="logo"><h2>{% box 1 %}</h2></div>
            {% endif %}
        </div><!-- /#header-left-container -->

        <div id="header-right-container" class="four columns omega">
            <div id="header-cta">
                <p><a href="{{ MODULE_THEME_HEADER_CTA_LINK }}">{{ MODULE_THEME_HEADER_CTA_TITLE }}</a></p>
            </div><!-- /#header-cta -->
      
            <div id="search">
                <form method="get" action="/search/">
                  <table width="199" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td width="190" valign="middle">

                          <input type="text" size="26" maxlength="160" title="Search site..." name="q" style="background:  none; border: none; padding: 0px 10px; color: #333; font-size: 12px;  font-family:Arial, Helvetica, sans-serif; font-style: italic; width:  150px; height: 29px;">

                          <input type="image" src="{{ THEME_URL }}media/images/search-mag.png" value="Search" style="background: none; border: none; position: absolute; width: 29px; height: 29px; right: 0px; bottom: -2px;">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
            </div><!-- /#search -->
             
            <div id="header-links">
            {% box 3 %}
            </div><!-- /#header-links -->   
      
        </div><!-- /#header-right-container -->
    </div><!-- /#header-boxes -->
                  
</div><!-- /#header -->

<div id="nav-container">
  {% nav 1 %}
</div><!-- /#nav container-->
          
