{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
<title>{% trans "Export is Ready" %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000">
    <p>
        Hello {{ user.first_name }},<br /><br />
        {% if corp_profile %}
        Your roster export for corp "{{ corp_profile.name }}" is ready.
        {% else %}
        Your membership export is ready.
        {% endif %}
        <br /><br />
        The details of the export:<br />
        Export Status Detail: {% if export_status_detail %}{{ export_status_detail }}{% else %}ALL{% endif %}  <br />
        Export Type: {% if export_type == 'all_fields' %}All fields{% else %}Main fields{% endif %} <br /><br />
        
        To download the export file, go to: <br />
        <a href="{{ site_url }}{{ download_url }}">{{ site_url }}{{ download_url }}</a>
        <br /><br />
        Note that the download link will expire in one week.
        <br /><br />
        Thanks,<br />
        {{ site_display_name }}
        <br /><br />    
    </p>
    <P>Time submitted:  {% now "D d M Y P" %}</P>
    
</body>
</html>