{% extends "forms/base.html" %}
{% load styled_forms %}
{% load forms_tags %}

{% block title %}{% firstof MODULE_FORMS_LABEL 'Forms' %} Edit{% endblock %}

{% block body %}

<div class="t">
    {% forms_nav request.user form_instance %}
	
    <h1>{% firstof MODULE_FORMS_LABEL 'Forms' %} Edit</h1>

	<div class="form-builder-wrap">
    	<form action="{% url form_edit form_instance.pk %}" method="post">{% csrf_token %}
    	<div class="forms">
            {{ form|styled_form }}
        	<input type="submit" value="Apply Change(s)" />
		</div>
        </form>
    </div>
	
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/slug.js"></script>
<script type="text/javascript">
    var slugit = new Slugify({
        input_element : 'input#id_title',
        slug_element : 'input#id_slug',
        submit_element : 'input[type="submit"]',
        help: false,
        limit : 150
    });
</script>
{% endblock %}
