{% extends "forms/base.html" %}
{% load styled_forms %}

{% block title %}{{ form.title }}{% endblock %}

{% block body %}
<style>
.id_captcha input[type="text"]{
	width: 160px !important;
}
</style>
<div class="t">
    <h2>{{ form.title }}</h2>
    <p>{{ form.intro|safe }}</p>

	<div class="form-builder-wrap">
    	<form method="post" enctype="multipart/form-data">
    	<div class="forms">
            {{ form_for_form|styled_form }}
        	<input type="submit" value="Submit" />
		</div>
        </form>
    </div>
</div>
{% endblock %}
