{% extends "site_settings/base.html" %}
{% load site_setting_tags %}
{% load base_filters %}

{% block title %}{% trans 'Settings' %}{% endblock %}

{% block content %}

{% regroup settings by scope_category as settings_list %}
{% for settings in settings_list %}
    <h2 id="id_{{ settings.grouper }}">{{ settings.grouper|capfirst }}</h2>
    <ul>
        {% for setting in settings.list|dictsort:"label" %}
            {% url "settings.index" setting.scope setting.scope_category as setting_cat_url %}
            {% if not setting.client_editable %}
                {% if user.is_superuser %}
                    <li><a href="{{ setting_cat_url }}#id_{{ setting.name }}">{{ setting.label }}</a></li>
                {% endif %}
            {% else %}
                <li><a href="{{ setting_cat_url }}#id_{{ setting.name }}">{{ setting.label }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% empty %}
    <p>{% trans 'No settings are currently available' %}</p>
{% endfor %}

{% endblock %}
