{% extends "profiles/base.html" %}
{% load i18n %}
{% load profile_tags %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/iconrow.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/profiles.css">
{% endblock %}

{% block body %}
<div class="t">
{% users_nav request.user user_this %}

 {% users_options request.user user_this %}
<h1>{% trans 'Password change successful' %}</h1>
<div class="clear-right"></div>

{% if request.user.id != user_this.id %}
<p>{% trans 'Password was changed for ' %} <a href="{{user_this.get_absolute_url}}">{{ user_this.username }}</a></p>
{% else %}
<p>{% trans 'Your password was changed.' %}</p>
{% endif %}

</div>
{% endblock %}
