{% extends "locations/base-wide.html" %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{% trans "Import Locations from CSV file" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
    <link rel="stylesheet" href="{{ LOCAL_STATIC_URL }}css/locations.css">
{% endblock %}

{% block body %}

<div class="imports">
<h1>{% trans "Import Locations" %}</h1>
<p>{% trans "Download the template (.xls or .csv). Populate the template with your information. Upload your updated spread sheet. Review and adjust settings.  Preview import." %}
</p>

<h2>{% trans "Download: " %}<span style="font-size:12px;font-weight:normal;text-transform:none;">{% trans "(**skip if you already have your spread sheet ready)" %}</span></h2>
<div class="download-csv">
<img src="{{ STATIC_URL }}images/icons/xls-icon.gif" alt="{% trans 'Download CSV Template' %}" title="{% trans 'Download CSV Template' %}"/>
<div class="item-right">
    <p><a href="{% url locations.download_location_upload_template_csv %}">{% trans ".csv Template" %}</a></p>
</div>
<div class="clear-both"></div>
</div>

<div id="import-wrap">

    <p class="timestamp">{% trans "Step 1/4" %} &middot; {{ now }}</p>

    <form method='post' action='{% url locations_import_upload_file %}' enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='{% trans "Import .csv File" %}'>
    </form>
</div>
{% endblock %}
