{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load locations_tags %}


{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{% static 'famfamfam/icons/map_go.png' %}"/>{% firstof MODULE_LOCATIONS_LABEL trans "Locations" %}
    </a>

    {% if location %}
        {% location_current_app request.user location %}
    {% else %}
        {% location_current_app request.user %}
    {% endif %}
</li>
{% endblock %}

