{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

{% has_perm user site_settings.change_setting as can_edit_setting %}
{% has_perm user articles.add_article as can_add_article %}

{% if nav_object %}
    {% has_perm user articles.view_article nav_object as can_view_article %}
    {% has_perm user articles.change_article nav_object as can_edit_article %}
    {% has_perm user articles.delete_article nav_object as can_delete_article %}
{% else %}
    {% has_perm user articles.view_article as can_view_article %}
    {% has_perm user articles.change_article as can_edit_article %}
{% endif %}

<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{{ STATIC_URL }}famfamfam/icons/application.png"/>{% trans "Articles" %}
    </a>
</li>

