{% extends "articles/base.html" %}
{% load article_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}
{% load meta_tags %}

{% block title %}{% blocktrans with title=article.title %}{{ title }}{% endblocktrans %}{% endblock %}
{% block meta_description %}{% blocktrans with description=article.description %}{{ description }}{% endblocktrans %}{% endblock %}
{% block meta_keywords %}{% blocktrans with keywords=article.get_keywords %}{{ keywords }}{% endblocktrans %}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ article.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{% meta_og_image article "body" %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/articles.css">
{% endblock %}

{% block body %}

<div class="t">
    {% article_nav request.user article %}

    <div class="article-wrap">

        <h1>{% blocktrans with headline=article.headline %}{{ headline }}{% endblocktrans %}</h1>
        {% if article.google_profile %}
        {% if article.has_google_author %}
        <a href="{{ article.google_profile }}?rel=author">{% trans "View author's Google+ profile" %}</a>
        {% elif article.has_google_publisher %}
        <a href="{{ article.google_profile }}" rel="publisher">{% trans "View publisher's Google+ page" %}</a>
        {% endif %}
        {% endif %}

        <div class="content">
            {% blocktrans with body=article.body|safe %}{{ body }}{% endblocktrans %}
        </div>
        {% if article.source %}
            <div class="submitted"><strong>{% trans "Source:" %}</strong> {{ article.source|urlize }}</div>
            {% endif %}

            {% if article.first_name or article.last_name or article.phone or article.fax or article.email or article.website %}
            <div class="contact">
                {% if article.first_name or article.last_name %}
                    <div>{{ article.first_name }} {{ article.last_name }}</div>
                {% endif %}
                {% if article.phone %}
                    <div>{{ article.phone|phonenumber }}</div>
                {% endif %}
                {% if article.fax %}
                    <div>{{ article.fax }}</div>
                {% endif %}
                {% if article.email %}
                <div>{{ article.email|obfuscate_email }}</div>
                {% endif %}
                {% if article.website %}
                <div>{{ article.website|urlize }}</div>
                {% endif %}
            </div>
        {% endif %}
        <div class="fb-connect">{% fb_like_button_iframe article.get_absolute_url %}</div>
        {% include "articles/meta.html" %}
    </div>
</div>
{% endblock %}
