{% extends "redirects/base.html" %}
{% load styled_forms %}
{% load redirect_tags %}
{% load i18n %}

{% block title %}{{ block.super }}{% trans 'Add' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/redirects.css">
{% endblock %}

{% block body %}
<div class="t">
 {% redirect_nav request.user %}
    <h1>{% trans "Redirects Add" %}</h1>

    <div class="redirect-wrap">
        <form action="{% url redirect.add %}" method="post">{% csrf_token %}
        <div class="forms">
            {{ form|styled_form }}
            <input type="submit" value="{% trans 'Add Redirect' %}" />
        </div>
        </form>
    </div>

</div>
{% endblock %}
