{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load redirect_tags %}


{% block current_app %}
<li class="dropdown">
<button type="button" class="btn btn-primary" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="nav-icon" src="{% static 'famfamfam/icons/page_green.png' %}"/>{% firstof MODULE_REDIRECTS_LABEL trans 'Redirects' %}
         <span class="caret"></span>
    </button>
    {% if redirect %}
    {% redirect_current_app request.user redirect %}
    {% else %}
    {% redirect_current_app request.user %}
    {% endif %}
</li>
{% endblock %}
