<script src="https://{{ recaptcha_domain }}/recaptcha/api.js?render={{ public_key }}{% if api_params %}&{{ api_params }}{% endif %}"></script>
<script>
    var element_{{ widget_uuid }};
    grecaptcha.ready(function() {
        element_{{ widget_uuid }} = document.querySelector('.g-recaptcha[data-widget-uuid="{{ widget_uuid }}"]');
        element_{{ widget_uuid }}.form.addEventListener('submit', recaptchaFormSubmit{{ widget_uuid }});
        console.log(element_{{ widget_uuid }});
    });
    function recaptchaFormSubmit{{ widget_uuid }}(event) {
        event.preventDefault();
        // get click button
        const clickedButton = event.submitter;
        {% if action %}
        grecaptcha.execute('{{ public_key }}', {action: '{{ action|escape }}'})
        {% else %}
        grecaptcha.execute('{{ public_key }}', {})
        {% endif %}
        .then(function(token) {
            console.log("reCAPTCHA validated for 'data-widget-uuid=\"{{ widget_uuid }}\"'. Setting input value...")
            element_{{ widget_uuid }}.value = token;
            // insert hidden input for submit button
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = clickedButton.name;
            hiddenInput.value = clickedButton.value;
            element_{{ widget_uuid }}.form.appendChild(hiddenInput);

            element_{{ widget_uuid }}.form.submit();
        });
    }
</script>
