div.mce-fullscreen {
    top: 30px !important;
    z-index: 1050 !important;
}
.tox.tox-tinymce.tox-fullscreen {
  left: 0;
  position: fixed;
  top: 30px !important;
}
#t-admin-megamenu .navbar-brand{
	max-height: 30px;
}