html {
    margin-top: 30px;
}

#t-admin-megamenu {
    min-height: 30px;
    z-index: 9999999 !important;
}

#t-admin-megamenu a {
    text-transform: none;
}

#t-admin-megamenu .nav-logo {
    display: inline-block;
    margin: 3px 0;
    vertical-align: middle;
}

#t-admin-megamenu .nav-icon {
    position: relative;
    margin: 0 10px 0 0;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

#t-admin-megamenu .nav-label {
    display: inline-block;
    line-height: 16px;          /* make sure this is the same height as the .nav-icon */
    vertical-align: middle;
}

#t-admin-megamenu .nav-label+.caret {
    margin-left: 4px;
}

#t-admin-megamenu .fa-globe {
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 0 1px;
    vertical-align: middle;
}

#t-admin-megamenu .navbar-brand {
    height: 100%;
    padding: 0 15px;
}

#t-admin-megamenu .dropdown-toggle,
#t-admin-megamenu-logout {
    padding: 5px 15px;
}

#t-admin-megamenu-logout > .glyph {
    display: inline-block;
    margin-right: 9px;
    line-height: 14px;
}

#t-admin-megamenu-toggle {
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px 10px;
}

#t-admin-megamenu .yamm-content {
    padding: 0 15px;
}

#t-admin-megamenu .content-head,
#t-admin-megamenu .content-head > a {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.75;
}

#t-admin-megamenu .content-item {
    margin-bottom: 5px;
}

#t-admin-megamenu .list-unstyled > .content-item:last-child {
    margin: 0;
}

#t-admin-megamenu-apps-dd .panel-group {
    margin-bottom: 0;
}


#t-admin-megamenu-lang-dd {
    height: 500px;
    overflow-y: scroll;
}


/* Extra small devices (< 768px) */
@media (max-width: 767px) {
    #t-admin-megamenu a:link,
    #t-admin-megamenu a:visited {
        text-shadow: none;
        color: #999999;
    }

    #t-admin-megamenu .content-head,
    #t-admin-megamenu .content-head > a {
        color: #999999;
    }

    #t-admin-megamenu .dropdown-menu {
        margin: -5px 0;
    }

    #t-admin-megamenu .content-dropdown-col {
        padding: 10px 15px;
    }

    #t-admin-megamenu-profile-dd .content-dropdown-col,
    #t-admin-megamenu-community-dd .content-dropdown-col {
        border-bottom: 1px solid #333;
    }

    #t-admin-megamenu-apps-dd .panel-body .list-unstyled {
        margin-top: 5px;
    }

    #t-admin-megamenu-apps-dd .panel-body .list-unstyled:first-child {
        margin-top: 0;
    }
}


/* Small devices (> 767px) */
@media (min-width: 768px) {
    #t-admin-megamenu-profile-dd {
        min-width: 550px;
    }

    #t-admin-megamenu-community-dd {
        min-width: 445px;
    }

    #t-admin-megamenu-profile-dd .list-unstyled,
    #t-admin-megamenu-community-dd .list-unstyled {
        padding: 0 10px 10px;
    }

    #t-admin-megamenu-profile-dd .admin-col,
    #t-admin-megamenu-community-dd .admin-col {
        background-color: #eeffdd;
        min-height: 165px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #t-admin-megamenu-apps-dd {
        left: 0;
        right: 0;
    }

    #t-admin-megamenu .navbar-header {
        width: 50%;             /* to push the first navbar-nav (the one which floats left) */
    }

    #t-admin-megamenu .navbar-nav:first-child {
        margin-left: -15px;
    }

    html {
        margin-top: 60px; /* 2x #t-admin-megamenu height */
    }
}
