{% load i18n %}
{% block messages %}
    {% if request.impersonation_message %}
    <div class="alert alert-warning block-message alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {% blocktrans with msg=request.impersonation_message|safe %}{{ msg }}{% endblocktrans %}
    </div>
    {% endif %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <p>{% blocktrans with msg=message|safe %}{{ msg }}{% endblocktrans %}</p>
        </div>
    {% endfor %}

  {% endif %}
{% endblock %}