{% extends "site_base.html" %}
{% load styled_forms %}
{% load i18n %}

{% block extra_head %}
{{ block.super }}
{% endblock %}

{% block body %}
<div class="t">
    <h1>{% trans 'Security Check' %}</h1>
    <p>{% trans 'Please enter your password again to access the sensitive site data.' %}</p>
    <form method='post' action="{% url password_again %}?next={{ next }}" >{% csrf_token %}
    {{ form|styled_form }}
    <input type='submit' value='{% trans "Submit" %}'>
    </form>
</div>
{% endblock %}
