{% extends "photos/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load photo_tags %}

{% block title %}{% blocktrans %}Latest Photo Sets{% endblocktrans %}{% endblock %}
{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/site_media/static/css/photos.css">
<link rel="alternate" type="application/rss+xml" title="Latest photo albums" href="{% url photo.feed.latest-albums %}" />
{% endblock %}

{% block body %}
<div class="t">

    {% photo_set_nav user %}

    <div id="photo-sets-header-wrap">
        <h1>{{ SITE_GLOBAL_SITEPRIMARYKEYWORDS }} {{ MODULE_PHOTOS_LABEL }}</h1>
    </div>

	{% photo_set_search %}
    {% autopaginate photo_sets %}

    {% if photo_sets %}

        {% for photo_set in photo_sets %}
        {% with photo_set.object as photo_set %}
		<div class="photo-set">
        	<table><tr>
            	<td class="image">
                	<a href="{{ photo_set.get_absolute_url }}"><img src="{{ photo_set.get_cover_photo }}" /></a>
                </td>
                <td class="info">
                	<h2><a href="{{ photo_set.get_absolute_url }}">{{ photo_set.name }}</a></h2>
					<div>{{ photo_set.image_set.count }} photo{{ photo_set.image_set.count|pluralize }} </div>
                    <div class="description">{{ photo_set.description|striptags|truncatewords_html:25|safe }}</div>
                    <div class="actions">
						{% photo_set_options request.user photo_set %}
                    </div>
                </td>
			</tr></table>
        </div>
        {% endwith %}
        {% endfor %}

        {% paginate %}
    {% else %}
    <p>No photo sets were found.</p>
    {% endif %}

</div>

{% endblock %}
{% block extra_body %}
{{ block.super }}
<script type="text/javascript">

	// photo: delete confirmation
	$('.photo-set .info .actions .delete-set').click(function(){
		var delete_photo = confirm('Permenantly delete photo set?'); // confirm
		if(!delete_photo) return false; // do not delete
	});

</script>
{% endblock %}
