{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/accounts.css">
{% endblock %}

{% block body %}
<h2>{% trans "Forgot your password?" %}</h2>
<p>{% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
<form method='post' action=''>{% csrf_token %}
    {{form.as_p}}

    <div class="submitbutton">
    <input type="submit" name="submit" value="{% trans 'Reset my password' %}" />
    </div>
</form>

{% if from_registration %}
<p><a href="{% url registration_register %}?registration_approved=True">{% trans "I want to make a new account. Take me back to registration." %}</a></p>
{% endif %}

<p><a href="{% url auth_login %}">{% trans "Log in" %}</a></p>
{% endblock %}
