{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}{% trans "User Registration" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/accounts.css">
{% endblock %}

{% block body %}
<h2>{% trans 'Fill out the form below to create your account' %}</h2>
<form method="post" action="." id="registration_form">{% csrf_token %}
{% if form.errors.values %}
<div class="errors">
    {% for field in form %}
        {% if field.errors %}
        {% for error in field.errors %}
        <p>{{ field.label }} - {{ error }}</p>
        {% endfor %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}

<table border="0" cellspacing="0" cellpadding="0">
     <tr>
         <td><label for="id_username" class="required">{% trans 'Username'%}</label></td>
         <td>{{ form.username }}</td>
     </tr>
     <tr>
         <td><label for="id_first_name" class="required">{% trans 'First Name:'%}</label></td>
         <td>{{ form.first_name }}</td>
     </tr>
     <tr>
         <td><label for="id_last_name" class="required">{% trans 'Last Name:'%}</label></td>
         <td>{{ form.last_name }}</td>
     </tr>
     <tr>
         <td><label for="id_email" class="required">{% trans 'Email Address (Enter twice to verify):'%}</label></td>
         <td>{{ form.email }}</td>
     </tr>
     <tr>
         <td><label for="id_password1" class="required">{% trans "Password:" %}</label></td>
         <td>{{ form.password1 }}</td>
     </tr>
     <tr>
         <td><label for="id_password2" class="required">{% trans "Password (again):" %}</label></td>
         <td>{{ form.password2 }}</td>
     </tr>
     <tr>
         <td><label for="id_captcha" class="required">{% trans "Security:" %}</label></td>
         <td>{{ form.captcha }}</td>
     </tr>
     <tr>
         <td>&nbsp;</td>
         <td><input class="create-button" type="submit" name="submit" value="{% trans 'Create Account' %}" /></td>
     </tr>
</table>
</form>

{% endblock %}
{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/email-verification.js"></script>
{% endblock %}
