{% load base_filters %}
{% load i18n %}
<div id="bottom-admin-bar">
    <ul>
        <li><a href="http://tendenci.com/help-files/" target="_blank">{% trans "Search Helpfiles" %}</a></li>
        <li><a href="mailto:support@schipul.com">{% trans "E-mail Support" %}</a></li>
        <li><a href="http://schipul.com/py/" target="_blank">{% trans "Make a Payment" %}</a></li>
        <li class="noClick">{% trans "Call Schipul: " %}281-497-6567 ext. 411</li>
        {% with "How Are We Doing?,Suggestions?,Questions?" as feedback_text %}
        <li id="feedback-menu"><a id="feedback" href="{% url tendenci_feedback %}">{{ feedback_text|split:","|random }}</a></li>
        {% endwith %}
    </ul>
</div>