.vTextField {
	width: auto;
}

.levelBtn {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.levelLeft {
	background-image: url('/static/images/arrow-left.jpg');
}

.levelRight {
	margin-left: 10px;
	background-image: url('/static/images/arrow-right.jpg');
}


.field-level {
    width: 70px;
}

.field-title input,
.field-css input,
.field-page select {
    max-width: 300px;
    width: 100%;
}

.field-new_window {
    width: 30px;
}