{% extends "files/base.html" %}
{% load file_tags %}

{% block title %}{{ block.super }}Add{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/files.css">
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/tiny_mce.js"></script>
{% endblock %}

{% block body %}
<div class="t">

    {% file_nav request.user %}

    <h1>{% firstof MODULE_FILES_LABEL 'File' %} Add</h1>

    <div class="file-wrap">
    <form action="{% url file.add %}" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        <input type="submit" value="Add File" />
    </form>

    </div>

</div>
{% endblock %}