{% extends "imports/base.html" %}
{% load i18n %}
{% load dashboard_tags %}

{% block title %}Import Users{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/user_imports.css">
{% endblock %}

{% block body %}
<div class="t">
{% dashboard_nav user %}	
	
<div class="imports">
<h1>Import Users</h1>
<p>Download the template (.xls or .csv). Populate the template with your information. 
Upload your updated spread sheet. Review and adjust settings.  Preview import.
</p>

<h2>Download: <span style="font-size:12px;font-weight:normal;text-transform:none;">(**skip if you already have your spread sheet ready)</span></h2>
<div class="download-csv">
<img src="/site_media/static/images/icons/xls-icon.gif" alt="Download CSV Template" title="Download CSV Template"/>
<div class="item-right">
	<p><a href="{% url import.download_user_upload_template_xls %}">.xls Template</a> <span>(recommended)</span></p>
	<p>-- OR --</p>
	<p><a href="{% url import.download_user_upload_template_csv %}">.csv Template</a></p>
	
</div>
<div class="clear-both"></div>
</div>


{% if form.non_field_errors %}
	{{ form.non_field_errors }}
{% endif %}

<form class="import" action="." method="post" enctype="multipart/form-data" >

<div class="select-file">
	<h2>Upload Your Spread Sheet </h2>
	<p>{{ form.file }}</p>
</div>

<div class="wrap">

<div class="column1">

	<div class="user-settings">
	<h2>Make Users </h2>

	{{form.interactive}}

	<h2>Update </h2>
	{{form.override}}
	
	</div>

</div> <!-- column1 -->


<div class="column2">

	<div class="duplicates">
	<h2>Identify Duplicates by  </h2>
	<p>{{ form.key }}</p>
	</div>
	
	<div class="usergroup">
	<h2>Add Users to Group  </h2>
	<div class="usergroup-field">
	{{ form.group }}
	</div>
	
		<div class="reset-group">{{form.clear_group_membership}}
		<label for="clear-user-group">Reset group before importing <br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(existing group members will be deleted) </label>
		</div>
	</div>

</div> <!-- column2 -->
<div class="clear-both"></div>

<div>
<input type="submit" class="submit-btn"  name="submit" value="Preview Import">
</div>
<div class="clear-both"></div>
</div>
</form>

</div>
</div>
{% endblock %}
