
	
	{% if is_completed %}
		INSERTS: <b>{{ count_insert }}</b><br>
		UPDATES: <b>{{ count_update }}</b><br>
		INVALID: <b>{{ count_invalid }}</b><br>
		<b>TOTAL: {{ total }}</b><br /><br />
		
		<a href="{% url import.user_upload_recap id %}">Download recap</a>
		<br /><br />
		<a href="{% url profile.search %}">Search Users</a>  
		<a href="{% url import.user_upload_add %}">Import More Users</a> 
		
	{% else %}
		<div class="loading-icon" style="position:absolute;top:100;left:50;width:300px;padding:5px;border:1px solid #071C7F;margin-bottom:3em;">
			<img src="/site_media/static/images/icons/loading.gif" alt="loading"/> 
			 loading ... <span style="color:red;">{{ total_done  }}</span>/{{ total }} completed
		</div>
	{%endif%}