{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load invoice_tags %}


{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{% static 'famfamfam/icons/page_white_width.png' %}"/>{% firstof MODULE_INVOICES_LABEL trans "Invoices" %}
    </a>

    {% if invoice %}
        {% invoice_current_app request.user invoice %}
    {% else %}
        {% invoice_current_app request.user %}
    {% endif %}
</li>
{% endblock %}

