.t .cs-search-wrap { width: 100%; }
.t .cs-search-item { border: 0; margin: 0; padding: 0; }

.t .cs-search-item img {  }

.cs-search-wrap ul { list-style: none; margin: 0; padding: 0; float: left; width: 192px; }
.cs-search-wrap ul li.cs-search-item { margin: 0; padding: 0; position: relative; }
.cs-search-wrap ul li.cs-search-item:hover { z-index: 99; }
.cs-search-wrap ul li.cs-search-item .cs-item { position: relative; width: 184px; min-height: 186px; height:auto !important; height: 178px; margin-bottom: 20px; }
.cs-search-wrap ul li.cs-search-item .cs-item img { width: 184px; height: 154px; }
.cs-search-wrap ul li.cs-search-item .cs-item a.cs-img-link { display: block; width: 184px; height: 154px; position: relative; z-index: 10; margin-bottom: 10px; }
.cs-search-wrap ul li.cs-search-item .cs-item h2 { font-size: 14px; line-height: 18px; margin: 0 0 2px 0; padding: 0; }
.cs-search-wrap ul li.cs-search-item .cs-item h2 a { color: #777; font-size: 18px; line-height: 18px; }
.cs-search-wrap ul li.cs-search-item .cs-item h2 a:hover { color: #A1DBEA; }

.cs-search-wrap ul li.cs-search-item .cs-full { width: 180px; display: none; position: absolute; top: 0; left: 0; }

.cs-search-wrap ul li.cs-search-item:hover .cs-full p { color: #777; margin: 0; }
.cs-search-wrap ul li.cs-search-item:hover .cs-full p a { color: #A1DBEA; text-decoration: none; }

#categories { margin-bottom: 20px; }
#categories a { color: #777; margin-right: 16px; }
#categories a:hover { color: #A1DBEA; }

#add-case-study { display: block; float: right; text-align: right; padding: 6px 8px; background: #ebebeb; text-decoration: none; margin-bottom: 20px; }
#add-case-study:hover { background: #444; color: #fff; }
#sidebar { display: none!important; }
#content { width: 950px!important; }
section { width: 950px!important; }
.t { border: none!important; width: 950px!important; }
.blue-plus { color: #a1dbea; }