#categories { margin-bottom: 20px; }
#categories a { color: #777; margin-right: 16px; }
#categories a:hover { color: #A1DBEA; }

#sidebar { display: none!important; }
#content { width: 950px!important; }
section { width: 950px!important; }
.t { border: none!important; width: 950px!important; }
.blue-plus { color: #a1dbea; }

#cs-photos-large { margin-bottom: 20px; }
#cs-photos-large ul { margin: 0; }
#cs-photos-large ul li { list-style: none; }
#cs-photos-small .thumb { float: left; margin-bottom: 14px; margin-right: 6px; }

#results { float: left; width: 400px; margin-right: 20px; }
#client { float: left; width: 200px; margin-right: 20px; }
#overview { float: left; width: 300px; }