<ul>
    <li><a href="/events/month/">Events</a>
        <ul>
            <li><a href="/events/month/">Calendar</a></li>
            <li><a href="/photos/set/latest/">Event Photos</a></li>
        </ul>
    </li>
    <li><a href="/">Members</a>
        <ul>
            <li><a href="/">Benefits</a></li>
            <li><a href="/">Join Now</a></li>
            <li><a href="/accounts/login/">Login</a></li>
        </ul>
    </li>
    <li><a href="/news/search/">News</a></li>
    <li><a href="/jobs/search/">Jobs</a></li>
    <li><a href="/about-us/">About Us</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/">Home</a></li>
</ul>