{% load base_filters %}
{% load i18n %}

<tr>
    <td>
        {% if obj %}
            {{ obj.corporate_membership_type.name|truncatewords:30 }}
            #<a href="{% url "corpmembership.view" obj.id %}" title="Corporate Membership">{{ obj.id }}</a>

            &nbsp;{{ obj|truncatewords:5 }}

        {% else %}
            {% trans "Corporate Membership information not available" %}
        {% endif%}
    </td>
    <td class="td-right">
        {{ invoice.total|format_currency }}
    </td>
</tr>

{% if obj.renewal %}
    {% for renew_entry in obj.indivmembershiprenewentry_set.all %}
        <tr>
            <td>
                <a href="{% url 'profile' renew_entry.membership.user.username %}">{{ renew_entry.membership.user.get_full_name }} #{{ renew_entry.membership.member_number }}</a>
            </td>
            <td class="td-right"></td>
        </tr>
    {% endfor %}
{% endif%}
