{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load corporate_memberships_tags %}


{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{% static 'famfamfam/icons/user_suit.png' %}"/>{% firstof MODULE_CORPORATE_MEMBERSHIPS_LABEL trans "Corporate Memberships" %}
    </a>

    {% if corp_membership %}
        {% corpmemb_current_app request.user corp_membership %}
    {% else %}
        {% corpmemb_current_app request.user %}
    {% endif %}
</li>
{% endblock %}

