{% extends "profiles/base.html" %}
{% load i18n %}
{% load profile_tags %}
{% load perm_tags %}

{% block title %}{% trans 'Profile Export'%}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/iconrow.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/profiles.css">
{% endblock %}

{% block body %}
<div class="t">
    {% users_nav request.user user_this %}
    
    <h1>{% trans "Profiles CSV Export" %}</h1>
    
    <div id="t-profile">
        <form method="post" action="">{% csrf_token %}
	    {{ form.as_p }}
	    <input type='submit' value='Export'>
	    </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
{% endblock %}

