{% extends "profiles/base.html" %}
{% load i18n %}
{% load profile_tags %}
{% load perm_tags %}

{% block title %}{% trans 'Profile Export'%}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/iconrow.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/profiles.css">
{% endblock %}

{% block body %}
<div class="t">
    {% users_nav request.user user_this %}
    
    <h1>{% trans "Profiles CSV Export" %}</h1>
    
    <div id="wait">
        <p>{% trans "Please wait." %}. <img src="{{ STATIC_URL }}images/ajax-loader.gif"></p>
    </div>
    
    <div id="done" style="display:none;">
        <p>{% trans "Your file is being downloaded." %}</p>
    </div>
    
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script type="text/javascript">
function refresh(){
    $.ajax({
        url: "{% url profile.export_check task_id %}",
        success: function(data){
            if (data != "DNE"){
                $("#done").show();
                $("#wait").hide();
                window.location = "{% url profile.export_download task_id %}"
            } else {
                setTimeout(refresh, 2000);
            }
        }
    });
}
$(document).ready(function(){
    refresh();
});
</script>
{% endblock %}

