{% extends "profiles/base.html" %}
{% load i18n %}
{% load profile_tags %}
{% load perm_tags %}

{% block title %}{% trans 'Profile Export'%}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/profiles.css">
{% endblock %}

{% block body %}
<div class="t">
    {% users_nav request.user None %}
    <h1>{% trans "Profile Export" %}</h1>

    <div id="profile-export">
        <div class="alert">
            <strong>{% trans 'Note' %}</strong>: {% blocktrans %}An email will be sent to you at <strong>{{ request.user.email }}</strong> once the export is ready.{% endblocktrans %}
        </div>

        <form method="post" action="">{% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                {{ field }}
            {% endfor %}
            <div><input class="btn" type='submit' value="{% trans 'Export Profiles' %}"></div>
        </form>
    </div>
</div>
{% endblock %}
