{% extends "profiles/base-wide.html" %}
{% load i18n %}
{% load profile_tags %}

{% block title %}{% trans 'Merge Users'%}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/iconrow.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/profiles.css">
{% endblock %}

{% block body %}
{{ block.super }}
<div class="t">
    {% users_nav request.user user_this %}
    <p>{% blocktrans %}
    Check the boxes below to select which user accounts you would like to merge. The Master account will be the account into which all other users are merged. Please review the user account information listed below before merging.
    {% endblocktrans %}<p>

    <div class="profiles-wrap">
    {% for profile in profiles %}
        {% merge_detail profile %}
    {% endfor %}
    </div>

    <form method="POST" action="">{% csrf_token %}
    {{ form }}
    <input type="submit" value="{% trans 'Merge' %}">
    </form>
</div>
{% endblock %}
