{% load i18n %}
<div class="group">
<form method="POST" action="">{% csrf_token %}
    <table>
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "First Name" %}</th>
            <th>{% trans "Last Name" %}</th>
            <th>{% trans "Email" %}</th>
        </tr>
        {% for profile in profiles %}
        <tr>
            <td>{{ profile.user.id }}</td>
            <td><a href="{% url profile profile.user.username %}">{{ profile.user.username }}</a></td>
            <td>{{ profile.user.first_name }}</td>
            <td>{{ profile.user.last_name }}</td>
            <td>{{ profile.user.email }}</td>
        </tr>
        <input name="id_users" type="hidden" value="{{ profile.user.id }}">
        {% endfor %}
    </table>
    {% if request.user.is_superuser %}
    <input class="merge_button" type="submit" value="Merge these users" />
    {% endif %}
</form>
</div>
