{% load i18n %}
{% load url from future %}
{% load base_tags %}
{% load perm_tags %}


{% has_perm user site_settings.change_setting as can_edit_setting %}
{% has_perm user profiles.add_profile as can_add_profile %}

{% if app_object %}
    {% has_perm user profiles.view_profile app_object as can_view_profile %}
    {% has_perm user profiles.change_profile app_object as can_edit_profile %}
    {% has_perm user profiles.delete_profile app_object as can_delete_profile %}
{% else %}
    {% has_perm user profiles.view_profile as can_view_profile %}
    {% has_perm user user.change_user as can_edit_profile %}
{% endif %}


<ul class="dropdown-menu pull-left">
    <div class="yamm-content custom-yamm-content content-dropdown">
        {% if app_object %}
            {# "All Users" Section #}
            <li class="heading">{% trans "All Users" %}</li>
        {% endif %}

        {% if can_edit_setting %}
            <li class="content-item">
                <a href="{% url 'settings.index' 'module' 'users' %}">{% trans "Settings" %}</a>
            </li>
        {% endif %}

        <li class="content-item">
            <a href="{% url 'profile.search' %}">{% trans "Search Users" %}</a>
        </li>

        {% if can_add_profile %}
            <li class="content-item">
                <a href="{% url 'profile.add' %}">{% trans "Add a User" %}</a>
            </li>
        {% endif %}

        {% if user.profile.is_superuser %}
            <li class="content-item">
                <a href="{% url 'profile.similar' %}">{% trans "Similar Users List" %}</a>
            </li>
        {% endif %}

        {% if user.profile.is_staff %}
            <li class="content-item">
                <a href="{% url 'reports-memberships' %}">{% trans "Membership Reports" %}</a>
            </li>

            <li class="content-item">
                <a href="{% url 'profile.admins' %}">{% trans "Admin List" %}</a>
            </li>

            <li class="divider"></li>

            <li class="content-item">
                <a href="{% url 'profiles.user_import' %}">{% trans "Import" %}</a>
            </li>

            <li class="content-item">
                <a href="{% url 'profile.export' %}">{% trans "Export" %}</a>
            </li>
        {% endif %}

        {% if app_object %}
            {# End "All Users" Section #}

            {# Edit links need to point to the user_this instead of app_object since the views for profile pull from auth.user #}
            {% if can_view_profile or can_edit %}
                <li class="divider"></li>

                {# "This User" Section #}
                <li class="heading">{% trans "This User" %}</li>

                {% if can_view_profile %}
                    <li class="content-item">
                        <a href="{{ app_object.get_absolute_url }}">{% trans "View User Profile" %}</a>
                    </li>
                {% endif %}

                {% if can_edit %}
                    <li class="content-item">
                        <a href="{% url 'profile.edit' user_this.id %}">{% trans "Edit User Profile" %}</a>
                    </li>

                    <li class="content-item">
                        <a href="{% url 'profile.edit_groups' user_this.username %}">{% trans "Edit Groups" %}</a>
                    </li>
                {% endif %}

                {% if user.profile.is_staff %}
                    <li class="divider"></li>

                    <li class="content-item">
                        <a href="{% url 'profile.edit_perms' user_this.id %}">{% trans "Edit Permissions" %}</a>
                    </li>

                    <li class="content-item">
                        <a href="{% url 'auth_password_change' user_this.id %}">{% trans "Change Password" %}</a>
                    </li>
                {% endif %}

                {% if can_delete_profile %}
                    <li class="divider"></li>

                    <li class="content-item">
                        <a class="delete" href="{% url 'profile.delete' user_this.pk %}">{% trans "Delete User" %}</a>
                    </li>
                {% endif %}
                {# End "This User" Section #}
            {% endif %}
        {% endif %}
    </div>
</ul>
