{% extends "navs/base.html" %}
{% load nav_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{{ block.super }} {{ current_nav.title }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/navs.css">
{% endblock %}

{% block body %}

<div class="t">
    {% nav_nav request.user current_nav %}
    <div class="nav-wrap">
        <h1>{{ current_nav.title }}</h1>
        <div class="content">
            {{ current_nav.description }}
        </div>
        {% nav current_nav.id %}
    </div>
</div>
{% endblock %}
