{% extends "projects/base.html" %}
{% load project_tags %}
{% load base_tags %}
{% load base_filters %}
{% load styled_forms %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'timepicker/timepicker.css' %}">
{% endblock %}

{% block content %}
<div class="t">
    <h1>{% firstof MODULE_PROJECTS_LABEL 'Project' %} {% trans "Add" %}</h1>

    <form id="t-projects-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        
      {{ multi_project_forms|styled_multi_forms }}
      
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary text-capitalize">
                    {% if MODULE_PROJECTS_LABEL %}
                        {% blocktrans with module_projects_label=MODULE_PROJECTS_LABEL %}
                            Add {{ module_projects_label }}
                        {% endblocktrans %}
                    {% else %}
                        {% trans "Add Project" %}
                    {% endif %}
                </button>
            </div>
        </div>
    </form>

</div>

{% endblock %}

{% block extra_body %}
{{ block.super }}
 <link href="{% static 'tiny_mce/custom.css' %}" type="text/css" media="all" rel="stylesheet">
 <script type="text/javascript" src="{{ TINYMCE_JS_URL }}"></script>
 <script type="text/javascript" src="{% url 'tinymce-filebrowser' %}"></script>
 <script type="text/javascript" src="{% static 'tiny_mce/init_tinymce.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/global/tinymce.event_handlers.js' %}"></script>
 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
 <script type="text/javascript" src="{% static 'timepicker/timepicker.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/slug.js' %}"></script>
 
 <script type="text/javascript">
        $(document).ready(function () {
            // Slugify
            var slugit = new Slugify({
                input_element : '#id_project_name',
                slug_element : '#id_slug',
                submit_element : 'button[type="submit"]',
                help: false,
                limit : 150
            });

            // Release Datetime
            $('#id_start_dt').datepicker({ dateFormat: 'yy-mm-dd' });
            $('#id_end_dt').datepicker({ dateFormat: 'yy-mm-dd' });

        });
    </script>
 
{% endblock %}
