{% extends "chapters/base.html" %}
{% load base_filters %}


{% block title %}{% trans 'My Coordinating State Groups' %}{% endblock %}

{% block extra_head %}
    {{ block.super }}

{% endblock extra_head %}

{% block content %}
    <h1>{% trans 'My Coordinating State Groups' %}</h1>

	{% if coordinating_agencies %}
		<ol>
		{% for agency in coordinating_agencies %}
		<li><a href="{% url 'group.detail' agency.group.slug %}">{{ agency.group.name }}</a></li>
		{% endfor %}
		</ol>
	{% endif %}

{% endblock %}

{% block extra_body %}
    {{ block.super }}
{% endblock %}
