{% load base_tags %}
{% load perm_tags %}

{% has_perm user site_settings.change_setting as can_edit_setting %}
{% has_perm user chapters.add_chapter as can_add_chapter %}
{% has_perm user chapters.add_position as can_add_position %}

{% if nav_object %}
    {% has_perm user chapters.view_chapter nav_object as can_view_chapter %}
    {% has_perm user chapters.change_chapter nav_object as can_edit_chapter %}
    {% has_perm user chapters.delete_chapter nav_object as can_delete_chapter %}
{% else %}
    {% has_perm user chapters.view_chapter as can_view_chapter %}
    {% has_perm user chapters.change_chapter as can_edit_chapter %}
{% endif %}


{% if not SITE_GLOBAL_HIDEALLTABS %}
<ul id="module-tabs" class="tabs">
    {% if user.is_authenticated and not SITE_GLOBAL_HIDETENDENCITABS %}
    <li class="dropdown" data-dropdown="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Tendenci" %}</a>
        <ul class="dropdown-menu">
            <a href="{% url "dashboard" %}" title="Tendenci Home Page">{% trans "Dashboard" %}</a>
            <li><a href="{% url "profile.index" %}">{% trans "My Profile" %}</a></li>
            <li><a href="{% url "auth_logout" %}">{% trans "Log Off" %}</a></li>
        </ul>
    </li>
    {% endif %}
    <li class="dropdown active" data-dropdown="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% firstof MODULE_COMMITTEES_LABEL 'Chapters' %}</a>
        <div class="dropdown-menu">
        {% if nav_object %}
        <ul class="first">
            <li class="heading">{% trans "All Chapters" %}</li>
            <li class="divider"></li>
        {% else %}
        <ul>
        {% endif %}
            {% if can_edit_setting %}
                <li><a href="{% url "settings.index" "module" "chapters" %}">{% trans "Settings" %}</a></li>
            {% endif %}
            <li><a href="{% url "chapters.search" %}">{% trans "Search Chapters" %}</a></li>
            {% if can_add_chapter %}
                <li><a href="{% url "chapters.add" %}">{% trans "Add Chapter" %}</a></li>
            {% endif %}
            {% if can_add_position %}
                <li><a href="{% url "admin:chapters_position_add" %}">{% trans "Add Position" %}</a></li>
            {% endif %}
        </ul>
        {% if nav_object %}
            {% if can_view_chapter or can_edit_chapter %}
            <ul>
                <li class="heading">{% trans "This Chapter" %}</li>
                <li class="divider"></li>
                {% if can_view_chapter %}
                    <li><a href="{{ nav_object.get_absolute_url }}">{% trans "View Chapter" %}</a></li>
                {% endif %}
                {% if can_edit_chapter %}
                    <li><a href="{% url "chapters.edit" nav_object.pk %}">{% trans "Edit Chapter" %}</a></li>
                    <li><a href="{% url "chapters.edit.meta" nav_object.pk %}">{% trans "Edit Meta" %}</a></li>
                    <li><a href="{% url "category.update" nav_object.opt_app_label chapter.opt_module_name nav_object.pk %}">{% trans "Edit Categories" %}</a></li>
                {% endif %}
                {% if can_delete_chapter %}
                    <li class="divider"></li>
                    <li><a class="delete" href="{% url "chapters.delete" nav_object.pk %}">{% trans "Delete Chapter" %}</a></li>
                {% endif %}
            </ul>
            {% endif %}
        {% endif %}
        </div>
    </li>
    {% if nav_object and request.user.is_authenticated %}
    <li><a href="{% url "files" %}?group={{ nav_object.group_id }}">{% trans 'Files' %}</a></li>
    {% endif %}
</ul>
{% endif %}
