
{% load perm_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"https://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{% trans "Event Registration Cancelled - Notification" %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">

<div style="margin-bottom:20px;">

    <p style="margin:2px">

        {% if not user_is_registrant %}
            {% if user.is_anonymous %}
                {% if can_auto_refund %}
                    {% trans "An anonymous user has canceled the registration for:" %}
                {% else %}
                    {% trans "An anonymous user has requested cancellation of the registration for:" %}
                {% endif %}
            {% else %}
                {% if can_auto_refund %}
                    <a href="{{ SITE_GLOBAL_SITEURL }}{% url 'profile' user.username %}">{% blocktrans with user.first_name as first_name and user.last_name as last_name %}{{ first_name }} {{ last_name }}</a> has canceled the registration for: {% endblocktrans %}
                {% else %}
                    <a href="{{ SITE_GLOBAL_SITEURL }}{% url 'profile' user.username %}">{% blocktrans with user.first_name as first_name and user.last_name as last_name %}{{ first_name }} {{ last_name }}</a> has requested cancellation of the registration for: {% endblocktrans %}
                {% endif %}
{% if registrant.first_name or registrant.last_name %} {{ registrant.first_name }} {{ registrant.last_name }} {% else %} {% trans "Guest" %} #{{ registrant.pk }} {% endif %}
            {% endif %}
        {% else %}
            {% if registrant.first_name or registrant.last_name %}
                {% if can_auto_refund %}
                    <a href="{{ SITE_GLOBAL_SITEURL }}{% url 'profile' user.username %}">{% blocktrans with registrant.first_name as first_name and registrant.last_name as last_name %}{{ first_name }} {{ last_name }} </a> has canceled their registration. {% endblocktrans %}
                {% else %}
                    <a href="{{ SITE_GLOBAL_SITEURL }}{% url 'profile' user.username %}">{% blocktrans with registrant.first_name as first_name and registrant.last_name as last_name %}{{ first_name }} {{ last_name }} </a> has requested to cancel their registration. {% endblocktrans %}
                {% endif %}
            {% else %}
                {% if can_auto_refund %}
                    {% blocktrans with registrant.pk as registrant_id %}Guest #{{ registrant_id }} has canceled their registration.{% endblocktrans %}
                {% else %}
                    {% blocktrans with registrant.pk as registrant_id %}Guest #{{ registrant_id }} has requested to cancel their registration.{% endblocktrans %}
                {% endif %}
            {% endif %}
        {% endif %}

        <br/>
        {% blocktrans with event.title as title and event.start_dt as start_dt %}
        Registration: {{ title }} on {{ start_dt }} on {{ SITE_GLOBAL_SITEDISPLAYNAME }}
        {% endblocktrans %}

        <div>
            <p>
                {% if allow_refunds == "Auto" and not can_auto_refund %}
                    {% trans "Automatic refunds are turned on, but the system was not able to refund in this case. You can still refund manually from the invoice." %}
                {% endif %}
                <br/>
                <a href="{{ SITE_GLOBAL_SITEURL }}{% url 'invoice.view' registrant.registration.invoice.pk registrant.registration.invoice.guid %}">
                    {% if can_refund and not can_auto_refund %}
                        {% trans "Refund their registration here" %}
                    {% else %}
                        {% trans "View their registration invoice here" %}
                    {% endif %}
                </a>
            </p>
        </div>

</p>
<p style="margin:2px"><a href="{{ SITE_GLOBAL_SITEURL }}{% url "event.registration_confirmation" event.pk registrant.registration.pk %}">{% trans "View registration details" %}</a></p>
</div>

<div style="margin-bottom:20px;">
<p style="margin:2px;">{{ event.title }}</p>
<p style="margin:2px;">{{ event.dt_display }}</p>
<p style="margin:2px"><a href="{{ SITE_GLOBAL_SITEURL }}{{ event.get_absolute_url }}">{% trans "View event details" %}</a></p>
</div>

<p>{% blocktrans with event.registrants.count as eventreg and registrants_paid.count as regpaid and event.money_collected as eventmoney and registrants_pending.count as regpend and event.money_outstanding as eventout %}We now have {{ eventreg }} registrants, {{ regpaid }} paid
    (${{ eventmoney }}) and {{ regpend }} pending ({{ eventout }}){% endblocktrans %}</p>

<p><a href="{{ SITE_GLOBAL_SITEURL }}/settings/site/global/#id_allnoticerecipients">
    {% trans "Remove my email from this notification list" %}</a></p>


</body>
</html>
