{% extends "discounts/base.html" %}
{% load discount_tags %}
{% load tagging_tags %}
{% load category_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}Discount {{ discount.discount_code }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/discounts.css">
{% endblock %}

{% block body %}
{% tags_for_object discount as tags %}

<div class="t">
    {% discount_nav request.user discount %}
    
    <div class="discount-wrap">
        <div class="options">{% discount_options request.user discount %}</div>
        <h1>{{ discount.discount_code }}</h1>
		<div class="content">
            <p><b>Discount Code:</b> {{ discount.discount_code }}</p>
            <p><b>Discount Value:</b> {{ discount.value }}</p>
            <p><b>Max # of uses:</b> {{ discount.cap }}</p>
            <p><b>Current # of uses:</b> {{ discount.num_of_uses }}</p>
		</div>
    </div>
</div>
{% endblock %}
