{% extends "make_payments/base.html" %}

{% block title %}Make a Payment{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/site_media/static/css/iconrow.css">
<style>
	.t form ul li{
		list-style: none;
	}
	.errorlist{
		color: red;
	}
</style>
{% endblock %}

{% block body %}
<div class="t">

<h1>Make a Payment</h1>

<form method="post" action=".">

{{ form.as_p }}

<div class="submit-row">
		<input type="submit" value="Submit" class="default" />
	</div>
</form>

</div>
{% endblock %}
