{% load perm_tags %}
{% load base_filters %}
{% load invoice_tags %}

{% is_admin request.user as isadmin %}

{% if search_line_display %}
	{{ search_line_display|safe }}
{% else %}
       <table width="100%">
          {% invoices_search_line_header request invoice '#000000' %}  
            
          {# display object info #} 
         
          <tr>
          	<td>ID</td>
          	<td>First Name</td>
          	<td>Last Name</td>
          	<td>Date</td>
          	<td>Amount</td>
          	<td>Balance</td>
          </tr>
          {% if obj %}
	          <tr>
	          	<td><a href="{{ obj.get_absolute_url }}">{{obj.id}}</a></td>
	          	<td>{{obj.creator.first_name}}</td>
	          	<td>{{obj.creator.last_name}}</td>
	          	<td>{{obj.create_dt|date:'long'}}</td>
	          	<td>{{invoice.total|format_currency}}</td>
	          	<td><div {% if invoice.balance > 0 %}class="body-copy-yellow"{% endif %}>{{invoice.balance|format_currency}}</div></td>
	          </tr> 
           {% endif %}   
                
        </table>
{% endif %}