{% load perm_tags %}
{% load base_filters %}
{% load invoice_tags %}

{% is_admin request.user as isadmin %}
{% if invoice.invoice_object_type == 'make_payment'  %}
       <table width="100%">
         {% invoices_search_line_header request invoice '#66cc00' %}  
            
          {# display make payment info #} 
          <tr>
          	<td>MakePaymentID</td>
          	<td>First Name</td>
          	<td>Last Name</td>
          	<td>Date</td>
          	<td>Amount</td>
          	<td>Balance</td>
          </tr>
           
          <tr>
          	<td><a href="{% url make_payments.views.view mp.id %}">{{mp.id}}</a></td>
          	<td>{{mp.first_name}}</td>
          	<td>{{mp.last_name}}</td>
          	<td>{{mp.create_dt|date:'N j, Y h:i a'}}</td>
          	<td>{{mp.payment_amount|format_currency}}</td>
          	<td><div {% if invoice.balance > 0 %}class="body-copy-yellow"{% endif %}>{{invoice.balance|format_currency}}</div></td>
          </tr>  
        
        </table>

{% endif %}
{% if invoice.invoice_object_type == 'event_registration'  %}
       <table width="100%">
          {% invoices_search_line_header request invoice '#ff6600' %}  
            
          {# display event registration #} 
          <tr>
          	<td>RegID</td>
          	<td colspan="2">Title</td>
          	<td>Date</td>
          	<td>Price</td>
          	<td>Balance</td>
          </tr>
          
           <tr>
          	<td><a href="{# eloy - fill out regration view link #}">{{reg8n.id}}</a></td>
          	<td colspan="2"><a href="{# url events.views.index reg8n.event.id #}">{{reg8n.event.title|truncatewords:5}}</a></td>
          	<td>{{reg8n.event.start_dt|date:'N j, Y h:i a'}}</td>
          	<td>{{reg8n.amount_paid|format_currency}}</td>
          	<td><div {% if invoice.balance > 0 %}class="body-copy-yellow"{% endif %}>{{invoice.balance|format_currency}}</div></td>
          </tr>     
        </table>
{% endif %}

{% if invoice.invoice_object_type == 'job'  %}
       <table width="100%">
          {% invoices_search_line_header request invoice '#669900' %}  
            
          {# display job info #} 
          <tr>
          	<td>JobID</td>
          	<td>Contact</td>
          	<td>Title</td>
          	<td>Date</td>
          	<td>Price</td>
          	<td>Balance</td>
          </tr>
           
          <tr>
          	<td><a href="{% url job job.slug %}">{{job.id}}</a></td>
          	<td>{{job.contact_name}}</td>
          	<td><a href="{% url job job.slug %}">{{job.title|truncatewords:5}}</a></td>
          	<td>{{job.activation_dt|date:'N j, Y h:i a'}}</td>
          	<td>{{invoice.total|format_currency}}</td>
          	<td><div {% if invoice.balance > 0 %}class="body-copy-yellow"{% endif %}>{{invoice.balance|format_currency}}</div></td>
          </tr>  
        
        </table>
{% endif %}

{% if invoice.invoice_object_type == 'directory'  %}
       <table width="100%">
          {% invoices_search_line_header request invoice '#cccc33' %}  
            
          {# display directory info #} 
          <tr>
          	<td>ID</td>
          	<td>Name</td>
          	<td>Headline</td>
          	<td>Date</td>
          	<td>Amount</td>
          	<td>Balance</td>
          </tr>
           
          <tr>
          	<td><a href="{% url directory directory.slug %}">{{directory.id}}</a></td>
          	<td>{{directory.first_name}} {{directory.last_name}}</td>
          	<td><a href="{% url directory directory.slug %}">{{directory.headline|truncatewords:5}}</a></td>
          	<td>{{directory.activation_dt|date:'N j, Y h:i a'}}</td>
          	<td>{{invoice.total|format_currency}}</td>
          	<td><div {% if invoice.balance > 0 %}class="body-copy-yellow"{% endif %}>{{invoice.balance|format_currency}}</div></td>
          </tr>        
        </table>
{% endif %}

{% if invoice.invoice_object_type == 'donation'  %}
       <table width="100%">
          {% invoices_search_line_header request invoice '#663300' %}  
            
          {# display donation info #} 
          <tr>
          	<td>DonationID</td>
          	<td>First Name</td>
          	<td>Last Name</td>
          	<td>Date</td>
          	<td>Amount</td>
          	<td>Balance</td>
          </tr>
           
          <tr>
          	<td><a href="{% url donations.views.view donation.id %}">{{donation.id}}</a></td>
          	<td>{{donation.first_name}}</td>
          	<td>{{donation.last_name}}</td>
          	<td>{{donation.create_dt|date:'N j, Y h:i a'}}</td>
          	<td>{{donation.donation_amount|format_currency}}</td>
          	<td><div {% if invoice.balance > 0 %}class="body-copy-yellow"{% endif %}>{{invoice.balance|format_currency}}</div></td>
          </tr>         
        </table>
{% endif %}