{% load base_filters %}

{% if payments %}
	<p class="payment-history-header">Payment History</p>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr class="payment-table-header">
		<td>Information</td>
		<td class="td-right">Line Amount</td>
	</tr>
    {% for payment in payments %}
		<tr>
			<td>
				Payment #<a href="{%url payment.view payment.id%}" title="View Payment">{{ payment.id }}</a>
				by {{payment.last_name|capfirst }}, {{ payment.first_name|capfirst }}&nbsp;&ndash;&nbsp;
				{% if not payment.status_detail %}
		         	{% if not payment.verified %}
		         		abandoned
		         	{% else %}
		         		verified, not received
		         	{% endif %}
	       		{% else %}
		            {% if payment.status_detail == 'void' %}
		            	voided
		            {% else %}
		            	{{ payment.status_detail }}
		            {% endif %}
		         {% endif %}
				&nbsp;<a href="#" onclick="$(this).next().toggle(); return false;">(details)</a>
				<div class="payment-details">
					<p><strong>Description:</strong> {{ payment.description }}</p>
					{% if payment.trans_id %}
						<p><strong>Transaction ID:</strong> {{ payment.trans_id }}</p>
					{% endif %}
					{% if payment.trans_string %}
						<p><strong>Transaction String:</strong> {{ payment.trans_string }}</p>
					{% endif %}
					{% if payment.response_reason_text %}
						<p><strong>Response:</strong> {{ payment.response_reason_text }}</p>
					{% endif %}
					<p><strong>Payment Status:</strong>
		         	{% if not payment.status_detail %}
			         	{% if not payment.verified %}
			         		abandoned
			         	{% else %}
			         		verified, not received
			         	{% endif %}
		       		{% else %}
			            {% if payment.status_detail == 'void' %}
			            	voided
			            {% else %}
			            	{{ payment.status_detail }}
			            {% endif %}
		         	{% endif %}</p>
				<div>
			</td>
			<td class="td-right">{{ payment.amount|format_currency }}</td>
		</tr>
    {% endfor %}
    </table>
{% endif %}
