{% extends "invoices/base-print.html" %}
{% load invoice_tags %}
{% load perm_tags %}
{% load base_filters %}

{% block title %}{{ block.super }}Invoice View{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/site_media/static/css/invoices.css">
{% endblock %}

{% block body %}
<div class="t">
<h1>{{ SITE_GLOBAL_SITEDISPLAYNAME }} Invoice View</h1>
<div>{{ SITE_GLOBAL_SITEDISPLAYNAME }} {{ SITE_GLOBAL_SITEMAILINGADDRESS }}</div>
<div>{{ SITE_GLOBAL_NONPROFITSTATEMENT }}</div>

<div>{{ notify }}</div>
<div class="invoice-view-display">
{% is_admin request.user as isadmin %}
<div class="invoice-view-wrap">
	{% if invoice.is_tendered %}
		<span>TENDERED: {{ invoice.tender_date|date:'N j, Y h:i a' }}</span>
	{% else %}
		<div class="subtitles">E-S-T-I-M-A-T-E &nbsp;&nbsp;</div>
	{% endif %}
	
	{% if invoice.invoice_object_type == 'make_payment'  %}
		{% invoice_makepayments_display request invoice %}
	{% endif %}
	{% if invoice.invoice_object_type == 'event_registration'  %}
		{% invoice_event_display request invoice %}
	{% endif %}
	{% if invoice.invoice_object_type == 'job'  %}
		{% invoice_job_display request invoice %}
	{% endif %}
	{% if invoice.invoice_object_type == 'directory'  %}
		{% invoice_directory_display request invoice %}
	{% endif %}
	{% if invoice.invoice_object_type == 'donation'  %}
		{% invoice_donation_display request invoice %}
	{% endif %}

	
	{% invoice_total_display request invoice %}
	
	{% if invoice.balance > 0 and merchant_login %}
		<div class="invoice-view-box">   
        <div class="invoice-view-payonline">
        <a href="{% url payments.views.pay_online invoice.id invoice.guid %}" class="body_copy_yellow" title="Pay Online">Pay Online Now</a>
        </div>
        <div class="clear-right"></div>
       </div>
	{% endif %}
</div>

{% payment_history_display request invoice %}

</div>
{% endblock %}