{% extends "invoices/base.html" %}
{% load invoice_tags %}
{% load perm_tags %}
{% load base_filters %}

{% block title %}{{ block.super }}Invoice View{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="/site_media/static/css/invoices.css">
{% endblock %}

{% block body %}
<div class="t">
 {% invoice_nav  invoice %}
<h1>{{ SITE_GLOBAL_SITEDISPLAYNAME }} Invoice View 
{% if obj_name %}
	for {{ obj_name|capfirst }}
{% endif %}
</h1>
<div>{{ SITE_GLOBAL_SITEDISPLAYNAME }} {{ SITE_GLOBAL_SITEMAILINGADDRESS }}</div>
<div>{{ SITE_GLOBAL_NONPROFITSTATEMENT }}</div>

<div>{{ notify }}</div>
<div class="invoice-view-display">

{% is_admin request.user as isadmin %}
<div class="invoice-view-wrap">
	{% if invoice.is_tendered %}
		<span>TENDERED: {{ invoice.tender_date|date:'N j, Y h:i a' }}</span>
	{% else %}
		<div class="subtitles">E-S-T-I-M-A-T-E &nbsp;&nbsp;</div>
	{% endif %}
	
	{% invoice_object_display request invoice %}

	{% invoice_total_display request invoice %}
	
	{% if invoice.balance > 0 and merchant_login %}
		<div class="invoice-view-box">   
        <div class="invoice-view-payonline">
        <a href="{% url payments.views.pay_online invoice.id invoice.guid %}" class="body_copy_yellow" title="Pay Online">Pay Online Now</a>
        </div>
        <div class="clear-right"></div>
       </div>
	{% endif %}
</div>

{% payment_history_display request invoice %}


<br />
<div class="">
<a href="{% url invoice.print_view invoice.id guid%}">Click here for a printer friendly version of this invoice.</a>
</div>

{% is_admin request.user as isadmin %}
{% if isadmin %}
<br />
<div class="">
<a href="{% url invoice.detail invoice.id%}">View accounting entries associated with this invoice.</a>
</div>
{% endif %}

{% if form %}
{# admin notes form #}
<div style="margin-top: 1em;">
<form method="post" action=".">{% csrf_token %}
<div><label for="id_admin_notes" class="field-label">Admin Notes:</label></div>
<div>{{ form.admin_notes }}</div>
<input type="submit" name="submit" value="Add/Update Notes" />
</form>
</div>
{% endif %}

</div>

</div>
{% endblock %}
