{% extends "invoices/base.html" %}
{% load invoice_tags %}
{% load perm_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{{ block.super }}{% if obj_name %}{{ obj_name|capfirst }}{% endif %} Invoice{% endblock %}


{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="/site_media/static/css/invoices.css">
{% endblock %}

{% block body %}
<div class="t">
{% invoice_nav  invoice %}
{% is_admin request.user as user_is_admin %}
{% has_perm request.user invoices.change_invoice as can_edit_invoice %}
<h1>{% if obj_name %}{{ obj_name|capfirst }}{% endif %} Invoice</h1>

{% if SITE_GLOBAL_SITEMAILINGADDRESS %}
<address class="invoice-site-address">{{ SITE_GLOBAL_SITEMAILINGADDRESS }}</address>
{% endif %}

{% if user_is_admin or can_edit_invoice %}
<div class="invoice-options">
	<ul>
		{% if invoice.is_tendered %}
			<li><a class="admin-option" href="{%url invoice.adjust invoice.id %}">{% trans "Adjust Invoice" %}</a></li>
		{% endif%}
		<li><a class="admin-option" href="{% url invoice.detail invoice.id%}">{% trans "Accounting Entries" %}</a></li>
		<li><a class="admin-option" href="{% url invoice.detail invoice.id%}" onclick="$('.invoice-admin-notes').toggle(); return false;">{% trans "Make Notes" %}</a></li>
	</ul>
</div>
{% endif %}

<div class="invoice-options">
	<ul>
		<li><a href="{% url invoice.print_view invoice.id guid%}">Print Invoice</a></li>
	</ul>
</div>

{% if user_is_admin or can_edit_invoice %}
<div class="invoice-admin-notes">
	<form method="post" action=".">
	{% csrf_token %}
	<p>{{ form.admin_notes }}</p>
	<input type="submit" name="submit" value="Update Notes" />
	</form>
</div>
{% endif %}

{% with invoice.get_object as object %}
<div class="invoice-meta">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>Invoice #</td>
			<td class="td-right">{{ invoice.id }}</td>
		</tr>
		{% if object %}
			<tr>
				<td>{% trans "Invoice For" %}</td>
				<td class="td-right">{{ object }}</td>
			</tr>
		{% endif %}
		<tr>
			<td>{% trans "Invoice Date" %}</td>
			<td class="td-right">{{ invoice.create_dt|date:'N j, Y h:i a' }}</td>
		</tr>
		<tr>
			<td>{% trans "Invoice Status" %}</td>
			{% if invoice.is_tendered %}
				<td class="invoice-status td-right">{% blocktrans with invoice.tender_date|date:'N j, Y h:i a' as tenddate %} Tendered {{ tenddate }} {% endblocktrans %}</td>
			{% else %}
				<td class="invoice-status-red td-right">{% trans "Estimate" %}</td>
			{% endif %}
		</tr>
		<tr class="invoice-meta-amount">
			<td>{% trans "Invoice Amount" %}</td>
			<td class="td-right">{{ invoice.total|format_currency }}</td>
		</tr>
	</table>
</div>
{% endwith %}

<div class="invoice-table">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr class="invoice-table-header">
			<td>Description</td>
			<td class="td-right">Line Amount</td>
		</tr>
		{% invoice_object_display request invoice %}
	</table>
</div>

<div class="invoice-total-wrap">
	<div class="invoice-total">
		{% invoice_total_display request invoice %}
	</div>
</div>
<div style="clear: both"></div>
<div class="payment-table">
	{% payment_history_display request invoice %}
</div>
</div>
{% endblock %}
