{% extends "recurring_payments/base-print.html" %}
{% load base_tags %}
{% load base_filters %}
{% load perm_tags %}
{% load i18n %}

{% block title %}Recurring Payment Receipt{% endblock %}

{% block extra_head %}
{{ block.super }}

<style>
	.l0{
	    background-color: #D2D2D2;
	    border: 0 none;
	    height: 1px;
	    margin: 1em 0;
	    width: 90%;
	}
	.rp-receipt-label{
		float: left;
		width: 9em;
		font-weight: bold;
	}
	.clear-left{
		clear: left;
	}
	
	.rp-receipt-label, .rp-receipt-field{
		padding: 3px 0;
	}
	.rp-receipt h1{
		margin-bottom: 1em;
	}
	.rp-receipt{
		width: 500px;
		margin: 0 auto;
	}

	.rp-total, .rp-total-label{
		font-weight: bold;
		border-top: 1px dashed #ccc;
		padding-top: 3px;
	}
	.totals{
		width: 5em;
	}

</style>


  

{% endblock %}

{% block body %}
 {% is_admin request.user as isadmin %}
 
<div class="t">
	<div class="rp-receipt">
		<h1>Payment Receipt </h1>
	    
	
		<div class="rp-receipt-label">Name</div>
		<div class="rp-receipt-field">{{ rp.user.get_full_name }}({{ rp.user.email }})</div>
		<div class="clear-left"></div>
		
		
		<div class="rp-receipt-label">Date</div>
		<div class="rp-receipt-field">{{ payment_transaction.create_dt|date }}</div>
		<div class="clear-left"></div>
		
		<div class="rp-receipt-label">Card #</div>
		<div class="rp-receipt-field">****{{ payment_profile.card_num }}</div>
		<div class="clear-left"></div>
		
		<div class="rp-receipt-label">Description</div>
		<div class="rp-receipt-field">{{ rp.description }}</div>
		<div class="clear-left"></div>
		
		<div class="rp-receipt-label">Billing Cycle</div>
		<div class="rp-receipt-field">{{ payment_transaction.recurring_payment_invoice.billing_cycle_start_dt|date:"n/j/Y" }}
		- {{ payment_transaction.recurring_payment_invoice.billing_cycle_end_dt|date:"n/j/Y" }}
		</div>
		
		<div class="rp-receipt-label">&nbsp;</div>
		<div class="rp-receipt-field">
			<table>
				<tr>
					<td class="totals">Subtotal: </td><td align="right">{{ invoice.subtotal|format_currency }}</td>
				</tr>
				<tr>
					<td class="totals">Tax: </td><td align="right">{{ invoice.tax|format_currency }}</td>
				</tr>
				<tr>
					<td class="rp-total-label totals">Total: </td><td class="rp-total" align="right">{{ invoice.total|format_currency }}</td>
				</tr>
			
			</table>
		</div>
		<div class="clear-left"></div>
	
				
		<div class="l0"></div>
		
		<div style="font-weight: bold;">Billing Info</div>
		
		<div class="rp-receipt-label">Name</div>
		<div class="rp-receipt-field">{{ payment_transaction.payment.first_name }} {{ payment_transaction.payment.last_name }}</div>
		<div class="clear-left"></div>
		
		<div class="rp-receipt-label">Address</div>
		<div class="rp-receipt-field">{{ payment_transaction.payment.address }}</div>
		<div class="clear-left"></div>
		
		<div class="rp-receipt-label">City</div>
		<div class="rp-receipt-field">{{ payment_transaction.payment.city }}</div>
		<div class="clear-left"></div>
		
		<div class="rp-receipt-label">Zip code</div>
		<div class="rp-receipt-field">{{ payment_transaction.payment.zip }}</div>
		<div class="clear-left"></div>
		
		<div class="rp-receipt-label">Phone</div>
		<div class="rp-receipt-field">{{ payment_transaction.payment.phone }}</div>
		<div class="clear-left"></div>
		
		<div class="rp-receipt-label">Email</div>
		<div class="rp-receipt-field">{{ payment_transaction.payment.email }}</div>
		<div class="clear-left"></div>
		
		<div>&nbsp;</div>
		<div><a href="{% url recurring_payment.view_account rp.id %}">View Account</a></div>
		
	
	</div>
</div>


{% endblock %}

