{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load email_tags %}


{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{% static 'famfamfam/icons/email.png' %}"/>{% firstof MODULE_EMAILS_LABEL trans "Emails" %}
    </a>

    {% if email %}
        {% emails_current_app email %}
    {% else %}
        {% emails_current_app %}
    {% endif %}
</li>
{% endblock %}

