{% extends "forms/base.html" %}
{% load bootstrap_pagination_tags %}
{% load forms_tags %}
{% load base_filters %}
{% load perm_tags %}

{% block title %}{{ block.super }}{% trans 'Entries' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/forms-builder.css' %}">
{% endblock %}

{% block content %}
{% has_perm user forms.change_formentry as can_edit %}
{% has_perm user forms.delete_formentry as can_delete %}

<div id="form-entries">
  <div class="page-header">
    <h1>{% firstof MODULE_FORMS_LABEL trans 'Form' %} {% trans 'Entries' %}</h1>
  </div>
  
  <ul class="nav nav-pills">
    <li role="presentation"><h2>{{ form.title }}</h2></li>
    <li class="pull-right" role="presentation">
      <a class="btn btn-primary" href="{% url "admin:forms_form_export" form.pk %}">{% trans "Export All Entries" %}</a>
    </li>
    {% if form.has_files %}
    <li class="pull-right" role="presentation">
      <a class="btn btn-primary" href="{% url 'form_entries_export_full' form.pk %}">{% trans "Export All Entries (Including uploaded files)" %}</a>
    </li>
    {% endif %}
    {% autopaginate entries 10 %}
  </ul>
  
  {% for entry in entries %}
  <div class="panel panel-default">  
    <div class="panel-body">
      <ul class="list-inline">
        
        <li class="pull-left">
          <a href="{{ entry.get_absolute_url }}">
          	{% for row in entry.summary %}
            	{{ row }}<br>
          	{% endfor %}
          </a>
        </li>
        
        <!-- edit/delete form -->
	    {% if can_edit or can_delete %}
	        <li class="pull-right">
	          <div class="form-group">
			    {% if can_edit %}
		            <a class="btn btn-warning" method="POST" title="{% trans 'Edit this form entry' %}" href="{% url 'form_entry_edit' entry.pk %}">
		              {% trans "Edit" %}
		            </a>
	    		{% endif %}
			    {% if can_delete %}
		            <a class="btn btn-danger" method="POST" title="{% trans 'Link to delete confirmation page' %}" href="{% url 'form_entry_delete' entry.pk %}">
		              {% trans "Delete" %}
		            </a>
			    {% endif %}
	          </div>
	        </li>
		{% endif %}
        
      </ul>
    </div>
  </div>
  
  {% empty %}
  
  <div>{% trans "0 Entries Found" %}</div>
  
  {% endfor %}
</div>

{% paginate %}
{% endblock %}

{% block extra_body %}
{{ block.super }}

<script type="text/javascript">
  $(document).ready(function(){
  // delete confirmation
  $('.delete').on("click", function(){
  var delete_form = confirm('{% trans "Permanently delete entry?" %}');    // confirm
  if(delete_form) $(this).parents('.form-builder-wrap').find('form[name="entry-delete"]').submit() // delete: if OK
  return false;    // cancel
  });
  });
</script>
{% endblock %}
