{% load base_tags %}
{% load perm_tags %}

{% has_perm user forms.change_form opt_object as can_edit %}
{% has_perm user forms.delete_form opt_object as can_delete %}
{% has_perm user forms.add_form as can_add %}

{% if can_edit %}
    <nav class="navbar-default t-meta-editor-bar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav t-meta-options-links">
                    <li>{{ opt_object.obj_perms }}</li>
                    <li>{{ opt_object.obj_status }}</li>
                </ul>

                <ul class="nav navbar-nav navbar-right t-meta-options-links">
                    <li class="dropup">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% spaceless %}
                            {% trans "Options" %} <span class="caret"></span>
                        {% endspaceless %}</a>

                        <ul class="dropdown-menu" role="menu">
					     {% if request.user.is_staff %}
                          <li><a class="edit-link" href="{% url "admin:forms_form_change" opt_object.pk %}">{% trans "Edit" %}</a></li>
					      <li><a href="{% url "admin:forms_form_change" opt_object.pk %}">{% trans "Edit Fields" %}</a></li>
                         {% else %}
                          <li><a class="edit-link" href="{% url "form_edit" opt_object.pk %}">{% trans "Edit" %}</a></li>
						 {% endif %}
					      <li><a href="{% url 'form_entries' opt_object.pk %}">{% trans "Entries" %}</a></li>
					      <li><a href="{% url "admin:forms_form_export" opt_object.pk %}">{% trans "Export Entries" %}</a></li>
					      {% if can_add %}
					      <li><a href="{% url 'form_copy' opt_object.pk %}">{% trans "Copy" %}</a></li>
					      {% endif %}
					      {% if can_delete %}
					      <li><a href="{% url 'form_delete' opt_object.pk %}">{% trans "Delete" %}</a></li>
					      {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
