
{% extends "events/base.html" %}
{% load event_tags %}
{% load styled_forms %}

{% block title %}{{ block.super }}{% trans 'Add' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'timepicker/timepicker.css' %}" />
<link rel="stylesheet" href="{% static 'css/events.css' %}">
<script type="text/javascript" src="{{ TINYMCE_JS_URL }}"></script>
{% endblock %}

{% block content %}
    <div>{% trans "Done!" %}</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'timepicker/timepicker.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
            $('.timepicker').timepicker({'step': 15});
        });

    </script>
{% endblock %}
