{% load base_tags %}
{% load perm_tags %}

<div class="back-to-search">
    <a href="/dashboard">&laquo; Dashboard</a>
    {% has_perm user articles.add_article as can_add %}
    
    {% url article.search as search_url %}
    {% if not search_url in request.path %}
    	<a href="{{ search_url }}">Search {{ MODULE_ARTICLES_LABEL|lower }}</a>&nbsp;
    {% endif %}
    
    {% url article.add as add_url %}
    {% if not add_url in request.path %}
    {% if can_add %}
	    <a href="{{ add_url }}">Add {{ MODULE_ARTICLES_LABEL|lower }}</a>
    {% endif %}
    {% endif %}
</div>