{% extends "articles/base.html" %}
{% load pagination_tags %}
{% load article_tags %}
{% load base_tags %}

{% block title %}Search Page{% endblock %}

{% block head %}
<link rel="stylesheet" href="/site_media/static/css/articles.css">
{% endblock %}

{% block body %}
<div class="t">
    <h1>Articles Search Page</h1>

    <div class="back-to-search">
    	<a href="/">&laquo; Homepage</a>
        <a href="{% url article.add %}">Add article</a>
	</div>

    {% autopaginate articles 10 %}

	<div class="articles-wrap">
    {% for article in articles %}
    	{% has_perm user articles.view_article article as can_view %}
    	{% if can_view %}
		<div class="article-wrap">
			<div class="options">

                <div class="dropdown-options">
                    <div><a href="javascript:;">More <span>&#9660;</span></a></div>
                    <ul>
                        <li>Review Reports</li>
                        <li>Optimize Meta Tags</li>
                        <li>Attach Files</li>
                        <li>View Revisions</li>
                        <li>Delete</li>
                    </ul>
                </div>

                <div class="quick-options">
					{% article_options article request.user %} 	       
                </div>
			</div>


            <h2><a href="{% url article article.id %}">{{ article.headline }}</a></h2>
            <div class="content">{{ article.body|striptags|truncatewords:20 }}</div>
			<div class="meta">
            	<div class="submitted">Submitted on {{ article.create_dt|date:"D d M Y P" }} by {{ article.creator }}</div>
            </div>

            <!-- delete-article form -->
            <form name="article-delete" method="POST" action="{% url article.delete article.id %}">
                <input type="hidden" name="action" value="delete">
            </form>
		</div>
		{% endif %}
	{% empty %}
		<div>0 Results Found</div>
    {% endfor %}
	</div>

    {% paginate %}
</div>
{% endblock %}

{% block body_bottom %}

	<script type="text/javascript" src="/site_media/static/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){

			// delete confirmation
			$('.delete').click(function(){
				var delete_article = confirm('Permenantly delete article?');	// confirm
				if(delete_article) $(this).parents('.article-wrap').find('form[name="article-delete"]').submit() // delete: if OK
				return false;	// cancel
			});
		});
    </script>
{% endblock %}