{% extends "articles/base.html" %}
{% load article_tags %}
{% load tagging_tags %}
{% load base_tags %}
{% load category_tags %}

{% block title %}{{ block.super }}{{ article.meta.get_title }}{% endblock %}
{% block meta_description %}{{ article.meta.get_description }}{% endblock %}
{% block meta_keywords %}{{ article.meta.get_keywords }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/site_media/static/css/articles.css">
{% endblock %}

{% block body %}
{% tags_for_object article as tags %}

<div class="t">
    {% article_nav request.user article %}

    <div class="article-wrap">

        <div class="options">
            <div class="dropdown-options">
                <div><a href="javascript:;">More <span>&#9660;</span></a></div>
                <ul>
                    <li>Review Reports</li>
                    <li>Optimize Meta Tags</li>
                    <li>Attach Files</li>
                    <li>View Revisions</li>
                    <li>Delete</li>
                </ul>
            </div>
        </div>

        <h2>{{ article.headline }}</h2>
        <div class="content">{{ article.body|safe }}</div>
        <div class="meta">
			<div class="categories">
				{% get_category_for_object article as category %}
				{% if category %}
					Category:&nbsp;<a href="{% url article.search %}?q={{ category }}">{{ category }}</a>&nbsp;
				{% endif %}
				{% get_sub_category_for_object article as sub_category %}
				{% if sub_category %}
					Sub Category:&nbsp;<a href="{% url article.search %}?q={{ sub_category }}">{{ sub_category }}</a>&nbsp;
				{% endif %}				
			</div>
			
			<div class="tags">
				Tags: 
				{% for tag in tags %}
					<a href="{% url article.search %}?q={{ tag }}">{{ tag }}</a>
				{% endfor %}
			</div>

            <div class="submitted">Submitted on {{ article.create_dt|date:"D d M Y P" }} 
			by {% firstof article.creator.get_profile.display_name article.creator %}</div>
        </div>
        
		<br />
        {% url article article.pk as the_url %}
        <p>{% fb_like_button_iframe the_url %}</p>
    </div>

    <!-- delete-article form -->
    <form name="article-delete" method="POST" action="{% url article.delete article.pk %}">
        <input type="hidden" name="action" value="delete">
    </form>

</div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
		$(document).ready(function(){

			// delete confirmation
			$('.delete').click(function(){
				var delete_article = confirm('Permenantly delete {{ MODULE_ARTICLES_LABEL }}?');	// confirm
				if(delete_article) $('.t').find('form[name="article-delete"]').submit() // delete: if OK
				return false;	// cancel
			});
		});
    </script>
{% endblock %}