{% extends "articles/base.html" %}
{% load article_tags %}
{% load tagging_tags %}
{% load category_tags %}
{% load base_tags %}
{% load base_filters %}

{% block title %}{{ article.get_title }}{% endblock %}
{% block meta_description %}{{ article.get_description }}{% endblock %}
{% block meta_keywords %}{{ article.get_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ article.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/articles.css">
{% endblock %}

{% block body %}
{% tags_for_object article as tags %}

<div class="t">
    {% article_nav request.user article %}

    <div class="article-wrap">

        <h2>{{ article.headline }}</h2>

		<div class="options">
             <div class="quick-options">
				{% article_options request.user article %} 	       
             </div>
		</div>

		<div class="content">
			{{ article.body|safe }}
			<p>Release Date: {{ article.release_dt }}</p>
			{% if article.source %}<p>Source: {{ article.source|urlize }}{% endif %}</p>
			
			<div class="contact">
				{% if article.first_name and article.last_name %}
					<div>{{ article.first_name }} {{ article.last_name }}</div>
				{% endif %}	
				{% if article.phone %}
					<div>{{ article.phone }}</div>	
				{% endif %}	
				{% if article.fax %}
					<div>{{ article.fax }}</div>	
				{% endif %}	
				{% if article.email %}
				<div>{{ article.email|obfuscate_email }}</div>
				{% endif %}
				{% if article.website %}	
				<div>{{ article.website|urlize }}</div>	
				{% endif %}
			</div>             
		</div>

        <div class="meta">
			<div class="categories">
				{% get_category_for_object article as category %}
				{% if category %}
					Category:&nbsp;<a href="{% url article.search %}?q=category:{{ category }}">{{ category }}</a>&nbsp;
				{% endif %}
				{% get_sub_category_for_object article as sub_category %}
				{% if sub_category %}
					Sub Category:&nbsp;<a href="{% url article.search %}?q=sub_category:{{ sub_category }}">{{ sub_category }}</a>&nbsp;
				{% endif %}
			</div>
			
			<div class="tags">
				{% if tags %}
					Tags: 
					{% for tag in tags %}
						<a href="{% url article.search %}?q={{ tag }}">{{ tag }}</a>
					{% endfor %}
				{% endif %}
			</div>

            <div class="submitted">
            	Submitted on {{ article.create_dt|date:"long" }} by 
				{% firstof article.creator.get_profile.display_name article.creator %}
			</div>
        </div>

        <div class="fb-connect">{% fb_like_button_iframe article.get_absolute_url %}</div>

    </div>

    <!-- delete-article form -->
    <form name="article-delete" method="POST" action="{% url article.delete article.pk %}">{% csrf_token %}
        <input type="hidden" name="action" value="delete">
    </form>

</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">
		$(document).ready(function(){
			// delete confirmation
			$('.delete').click(function(){
				var delete_article = confirm('Permenantly delete {% firstof MODULE_ARTICLES_LABEL 'Article' %}?');	// confirm
				if(delete_article) $('.t').find('form[name="article-delete"]').submit() // delete: if OK
				return false;	// cancel
			});
		});
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/global/dropdown.js"></script>
	<script type="text/javascript">
	var iconrow = new dropdown({
		container:	'more-options-wrap',
		trigger:	'more-options-trigger',
		target:		'more-options-target'
	});
	</script>
{% endblock %}
