{% extends "pages/base.html" %}
{% load page_tags %}
{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/pages.css">
{% endblock %}

{% block body %}
<div class="t">
    {% page_nav request.user %}

    <div class="pages-wrap">

        <h1>{% trans "Pages Export" %}</h1>

        <div class="content">
            <form action="." method="POST" >{% csrf_token %}
                <input type="submit" value="{% trans 'Download' %}" />
            </form>
        </div>

    </div>
</div>
{% endblock %}
