{% extends "theme_editor/base_list.html" %}

{% load theme_editor_tags %}
{% load theme_editor_filters %}

{% block title %}{{ block.super }}{% trans 'Theme Picker' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/theme-editor.css' %}" />
{% endblock %}

{% block content %}
<h1>{% trans "Theme Picker" %}</h1>


{% for theme in themes %}
    {% theme_detail theme current_theme%}
{% endfor %}

{% endblock %}
{% block extra_body %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/lightbox/jquery.lightbox_me.js' %}"></script>
<script type="text/javascript">
    $(".theme-info").each(function(){
        if ( $(this).attr('data') == "{{ current_theme }}" ){
            $(this).addClass('selected');
        }
    });

    $('.screenshot img').on("click", function(){
        var data = $(this).parents('.theme-info').attr('data');

        $('.lightbox').each(function(){
            if ( $(this).attr('data') == data ){
                $(this).lightbox_me({
                    centered: true,
                    closeClick: true,
                });
            }
        });
    });

</script>
{% endblock %}
