{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load video_tags %}


{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{% static 'famfamfam/icons/camera.png' %}"/>{% trans 'Videos' %}
    </a>

    {% if video %}
        {% video_current_app request.user video %}
    {% else %}
        {% video_current_app request.user %}
    {% endif %}
</li>
{% endblock %}