{% load i18n %}
{% load box_tags %}

<div class="container">
  {% box 10 %}
  <!--  <p class="text-center">
        {{ SITE_GLOBAL_SITEMAILINGADDRESS }} | 
        <a href="/contact/">{% trans "Contact Us" %}</a> | <a href="/sitemap/">{% trans "Site Map" %}</a> | 
        <a href="/photos/">{% trans "Photos" %}</a> | 
        <a href="/login/">{% trans "Login to This Site" %}</a> | <a href="/">{% trans "Login" %}</a>
      
        <a href="/search/">{% trans "Search This Site" %}</a> | <a href="/">{% trans "Home" %}</a>
       
    </p>

    <p class="text-center">
        &copy; 2015 | 
        <a href="http://tendenci.com">{% trans "Tendenci&reg; Membership Management Software" %}</a> | <a href="/policy/">{% trans "Privacy" %}</a>
    </p>-->
</div>
