{% extends "directories/base.html" %}
{% load directory_tags %}
{% load styled_forms %}
{% load i18n %}

{% block title %}{% firstof MODULE_DIRECTORIES_LABEL 'Directory' %} {% trans "Edit Meta Information" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/directories.css">
{% endblock %}

{% block body %}
<div class="t">

    {% directory_nav user %}
    <h1>{% firstof MODULE_DIRECTORIES_LABEL 'Directory' %} {% trans "Meta Information for" %}<br />
    {{ directory.headline }}</h1>

    <div class="directory-wrap">
		<div class="options">
             <div class="quick-options">
				{% directory_options request.user directory %} 	       
             </div>
		</div>
    	<form action="{% url directory.edit.meta directory.pk %}" method="post">{% csrf_token %}
    	<div class="forms">
            {{ form|styled_form }}
        	<input type="submit" value="Save Changes" />
			 or <a href="javascript:history.go(-1);">{% trans "Cancel" %}</a>
		</div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">
		$(document).ready(function(){
			// delete confirmation
			$('.delete').click(function(){
				var delete_directory = confirm('Permenantly delete {% firstof MODULE_DIRECTORIES_LABEL 'Directory' %}?');	// confirm
				if(delete_directory) $('.t').find('form[name="directory-delete"]').submit() // delete: if OK
				return false;	// cancel
			});
		});
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/global/dropdown.js"></script>
	<script type="text/javascript">
	var iconrow = new dropdown({
		container:	'more-options-wrap',
		trigger:	'more-options-trigger',
		target:		'more-options-target'
	});
	</script>
{% endblock %}
