{% extends "events/base.html" %}
{% load event_tags %}
{% load styled_forms %}

{% block title %}{{ block.super }}{% trans "Purchase Event Assets" %} {{ event.title }} {{ event.start_dt|date:"M j, Y" }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/events.css' %}" />
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
<div class="t">
    <h1>{% trans "Purchase Recording and Materials" %}</h1>
    <div>&nbsp;</div>
    <div class="well">
    	<div class="event-title"><a href="{% url "event" event.id %}">{{ event.title }}</a></div>
    	<div class="event-time">
            <div class="line">{{ event.start_dt|date:"M j, Y" }}</div>
            <div class="line"> {% if not event.all_day %}
            {{ event.start_dt|date:"P" }} - {{ event.end_dt|date:"P" }}{% endif %}</div>
        </div>
    </div>
    
    <div class="form-wrap">
        <form class="form-horizontal" action="" method="post">{% csrf_token %}
            <div class="forms">
                {{ form|styled_form }}
                
	            <div class="form-group">
		            <div class="col-sm-offset-3 col-sm-9">
		                <button type="submit" class="btn btn-primary text-capitalize">
		                        {% trans "Submit" %}
		                </button>
		            </div>
	        	</div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}

 {% endblock %}

