{% load base_filters %}
{% load perm_tags %}
{% load event_filters %}

<span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
  {% if registration.enabled %}
  {% if event.is_over and not request.user.is_superuser %}
  <meta itemprop="availability" content="{% trans "Event has ended" %}">
  <div class="registration-red">
    {% trans "Event has ended" %}
  </div>
  {% else %}
  {% if spots_taken >= limit and limit > 0 %}
  <meta itemprop="availability" content="{% trans "Event is full" %}">
  <div class="registration-orange">
    {% trans "Event is full" %}
    {% if request.user.is_superuser and not event.is_over %}
    <div><a class="text-danger" href="{% url "event.register" event.pk %}">{% trans "Admin: Register" %}</a></div>
    {% endif %}
  </div>
  {% else %}
  {% if reg_ended and not event.is_over %}
  
  
  <div class="registration-red">
    <meta itemprop="availability" content="{% trans "Registration has ended" %}">
    {% trans "Registration has ended" %}
  </div>
  {% endif %}
  {% if not reg_started %}
  <div class="registration-red">
    <meta itemprop="availability" content="{% trans "Registration starts on " %}{{ earliest_time }}">
    <div itemprop="availabilityStarts">{% trans "Registration starts on " %}</div>
    <div><strong>{{ earliest_time }}</strong></div>
  </div>
  {% endif %}
  {% if pricing %}
  <div class="pricing-list-wrap">
    <form action="{% url "event.register" event.pk %}" method="get">
      
      {% if pricing|length == 1 and pricing.0.price == 0 and pricing.0|can_register_by:request.user %}
      <input class="btn btn-success" type="submit" name="submit" value="{% trans 'RSVP Now' %}" />
      {% else %}
      <ul class="list-unstyled">
        {% for price in pricing %}
        <li>
		{% if MODULE_EVENTS_RBONPRICINGLIST %}
		   <input style="vertical-align:top;" type="radio" name="pricing_id" value="{{ price.id }}">
          <span for="price-{{ price.id }}">
		{% endif %}
				{{ price.title }}{% if price.target_display %} ({{ price.target_display }}) {% endif %}
	          <div class="event-price" itemprop="price" content="{{ price.price }}">
	            <strong>{{ price.price|format_currency }}</strong><br>
	            {% include "events/include/pricing_spots_status.html" %}
	          </div>
         
	          ({% trans "Ends" %} 
	          {{ price.end_dt|date:"m/d/Y" }})
	          <span itemprop="priceCurrency" content="USD" />
		{% if MODULE_EVENTS_RBONPRICINGLIST %}
          </span>
		{% endif %}
        </li>
        {% endfor %}
      </ul>
      {% if not MODULE_EVENTS_CANREGISTERAGAIN and registrant and not user.is_superuser %}
       	{% if registrant.reg8n_status == 'payment-required' and event.registration_configuration.can_pay_online %}
       	<a class="btn btn-lg btn-warning" href="{% url "payment.pay_online" registrant.registration.invoice.pk registrant.registration.invoice.guid %}">
              {% trans "Complete registration!" %}</a>
       	{% else %}
      	<a class="btn btn-success" href="{% url 'event.registration_confirmation' event.id registrant.registration.id %}">{% trans "View/Update My Registration" %}</a>
      	{% endif %}
      {% else %}
      <meta itemprop="availability" content="Register now!">
      <input class="btn btn-success" {% if event.status_detail == "template" %}disabled="disabled"{% endif %} type="submit" name="submit" value="{% trans 'Register' %}" />
	 {% endif %}
      {% endif %}
      
      {% if event.registration_configuration.has_member_price %}
      {% if not request.user.profile.is_member %}
      <a class="become-a-member" href="{% url "membership-referer-url" %}?next={% url "membership-applications" %}">{% trans "Become a member" %}</a>
      {% endif %}
      {% endif %}
      
    </form>
    
    {% if is_registrant %}
    <div id="is-registrant"><a href="{% url "profile" user.username %}">
        {% trans "You have already registered" %}</a>
        {% if request.user.is_superuser %}
    	<br />{% trans "Admin: the Register button above allow you to register somebody else." %}
    	{% endif %}
        {% if not MODULE_EVENTS_CANREGISTERAGAIN and registrant and user.is_superuser %}
	     <br /> <a href="{% url 'event.registration_confirmation' event.id registrant.registration.id %}">{% trans "View/Update My Registration" %}</a>
	    {% endif %}
    </div>
    
    {% endif %}
    
  </div>
  {% endif %}
  {% endif %}
  {% endif %}
  {% else %}
  <meta itemprop="availability" content="{% trans "There is no registration required for this event." %}">
  {% endif %}
  </span>
