{% load base_tags %}
{% load base_filters %}


<ul class="list-unstyled t-meta-data">
  {% if user.is_authenticated %}
       {% if newsletter.send_status %}
        <li><strong>{% trans "Status:" %}</strong> {{ newsletter.send_status|title }}</li>
     {% endif %}

     {% if newsletter.date_created %}
     <li><strong>{% trans "Created:" %}</strong> {{ newsletter.date_created }}</li>
     {% endif %}
     {% if newsletter.date_submitted %}
     <li><strong>{% trans "Submitted:" %}</strong> {{ newsletter.date_submitted }}</li>
     {% endif %}

     {% if newsletter.date_email_sent %}
     <li><strong>{% trans "Sent:" %}</strong> {{ newsletter.date_email_sent }}</li>
        {% endif %}

        {% if newsletter.date_last_resent %}
         <li><strong>{% trans "Resent:" %}</strong> {{ newsletter.date_last_resent }}</li>
          <li><strong>{% trans "Resend Count:" %}</strong> {{ newsletter.resend_count }}</li>
        {% endif %}
    {% endif %}
</ul>

{% if user.profile.is_superuser %}
   <nav class="navbar navbar-default t-meta-editor-bar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav t-meta-options-links">
                    <li>{{ newsletter.obj_perms }}</li>
                    <li>{{ newsletter.obj_status }}</li>
                </ul>

                <ul class="nav navbar-nav navbar-right t-meta-options-links">
                    <li><a class="t-meta-eventlog-link" href="{% url 'event_log.search' %}?application=newsletters&model_name=newsletter&object_id={{ newsletter.pk }}">{% trans "Eventlogs" %}</a></li>
                    <li><a class="t-meta-edit-link" href="{%  url 'newsletter.action.step4' newsletter.pk %}">{% trans "Edit" %}</a></li>
                    <li class="dropup">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% spaceless %}
                            {% trans "Options" %} <span class="caret"></span>
                        {% endspaceless %}</a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a class="t-meta-clone-link" href="{% url 'newsletter.clone' newsletter.pk %}" title="Clone">{% trans "Clone" %}</a></li>
                            {% if not newsletter.date_email_sent %}
                            <li><a href="{% url 'newsletter.action.step5' newsletter.pk %}">{% trans "Send" %}</a></li>
                          {% else %}
                          <li><a class="resend-link" href="{% url 'newsletter.resend.view' newsletter.pk %}" data-title="{{ newsletter.actionname }}" data-href="{% url 'newsletter.resend.view' newsletter.pk %}">{% trans "Resend" %}</a></li>
                          {% endif %}
                           <li><a class="t-meta-delete-link" href="{% url 'newsletter.delete' newsletter.pk %}">{% trans "Delete" %}</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
