{% load i18n %}


{% if SITE_GLOBAL_SEARCHINDEX %}
    <form id="t-articles-search-form" class="form-inline t-search-form" action="{% url 'articles' %}" method="get">
        <div class="form-group{% if form.search_category.errors %} has-error{% endif %}">
            <label for="{{ form.search_category.id_for_label }}" class="control-label">{{ form.search_category.label }}</label>
            {{ form.search_category }}

            {% if form.search_category.errors %}
                <p class="help-block">
                    <ul class="list-unstyled">
                        {% for error in form.search_category.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}
        </div>

        <div class="form-group{% if form.q.errors %} has-error{% endif %}">
            {{ form.q }}

            {% if form.q.errors %}
                <p class="help-block">
                    <ul class="list-unstyled">
                        {% for error in form.q.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
    </form>
{% endif %}
