{% extends "redirects/base.html" %}
{% load styled_forms %}
{% load redirect_tags %}

{% block title %}{{ block.super }} {% trans 'Edit' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/redirects.css' %}">
{% endblock %}

{% block content %}
<div class="t">
    <h1>{% trans "Redirect Edit" %}</h1>

	{% include 'redirects/cache_warning.html' %}
    <div class="redirect-wrap">
        <form action="{% url "redirect.edit" redirect.pk %}" method="post">{% csrf_token %}
        <div class="forms">
            {{ form|styled_form }}
            <input class="btn btn-primary" type="submit" value="{% trans 'Save Changes' %}" />
        </div>
        </form>
    </div>

</div>
{% endblock %}
