table {
    font-size: 12px;
    margin-top: 5px;
    white-space: nowrap;
    border: 1px solid silver;
}

tr.header {
    background-color: #DDD;
    text-align: left;
}

tr.even {
    background-color: #EEE;
    border: 1px solid silver;
    border-top: 0;
    border-bottom: 0;
}

tr td {
    padding: 10px;
}