{% load theme_tags %}
{% load base_tags %}
{% load i18n %}
<section id="about-info">
    <h3>{% trans 'About' %} {{ SITE_GLOBAL_SITEDISPLAYNAME }}</h3>
    <div class="blurb">
        <p>{% blocktrans %}We provide excellent service to our clients with dedication and high customer satisfaction. We help businesses reach their target audience and make an impact on their industry.{% endblocktrans %}</p>
    </div>
</section><!-- /#about-info -->
<section id="about-img">
    <img src="{% stock_image_url "400x200" %}" />
</section><!-- /#about-img -->
{% theme_setting setting_name %}