{% load base_filters %}
{% load base_tags %}
{% load photo_tags %}
{% load perm_tags %}
{% load humanize %}
{% load i18n %}

{% if image %}

<div class="meta">
    <div class="meta-left">
        {% if user.is_authenticated %}
            {% if not user.profile.is_superuser %}
            {% if user == image.creator or user == image.owner %}
            <div class="categories">
                <strong>{% trans 'Owned by you' %}</strong>{% if not image.status_detail == "active" %} - status: {{ image.obj_status }}{% endif %}
            </div>
            {% endif %}
            {% endif %}

            {% if user.profile.is_superuser or user == image.creator or user == image.owner %}
                {% meta_creator_owner image %}
            {% endif %}
        {% endif %}
    </div>
    <div class="meta-right">
    </div>
</div>

{% if user.profile.is_superuser %}
<div class="editor-bar">

    <div class="perm-status">
    <ul>
        <li>{{ image.obj_perms }}</li>
        <li>{{ image.obj_status }}</li>
    </ul>
    </div>
    <div class="edit-links">
    <ul>
        <li><a class="eventlog-link" href="{% url "event_log.search" %}?object_id={{ image.pk }}&source={{ image.opt_app_label }}">{% trans "Eventlogs" %}</a></li>
        <li><a class="edit-link" href="{% url "photo_edit" image.pk %}">{% trans "Edit" %}</a></li>
        <li><a class="options-link" href="#">{% trans "Options" %} <small>&#9650;</small></a>
        <div class="options-list">
            <ul>
            <li><a class="delete" href="{% url "photo_destroy" image.pk %}">{% trans "Delete" %}</a></li>
            </ul>
        </div>
        </li>
    </ul>
    </div>
</div>
{% endif %}

{% endif %}
