{% load i18n %}
{% load base_tags %}
{% load perm_tags %}


{% has_perm user site_settings.change_setting as can_edit_setting %}
{% has_perm user photos.add_image as can_add_photo %}
{% has_perm user photos.add_photoset as can_add_photoset %}

{% if app_object %}
    {% has_perm user photos.view_image app_object as can_view_photo %}
    {% has_perm user photos.change_image app_object as can_edit_photo %}
    {% has_perm user photos.delete_image app_object as can_delete_photo %}
{% else %}
    {% has_perm user photos.view_image as can_view_photo %}
    {% has_perm user photos.change_image as can_edit_photo %}
{% endif %}


<ul class="dropdown-menu">
    <li>
        <div class="yamm-content custom-yamm-content content-dropdown">
            <div class="row">
                <ul class="list-unstyled content-dropdown-col col-sm-6 col-xs-12">
                    {% if app_object %}
                        <li>
                            <span class="content-head text-content-head">{% trans "All Photos" %}</span>
                        </li>
                    {% endif %}

                    {% if can_edit_setting %}
                        <li class="content-item">
                            <span class="app-name">
                                <a href="{% url 'settings.index' 'module' 'photos' %}">{% trans "Settings" %}</a>
                            </span>
                        </li>
                    {% endif %}

                    <li class="content-item">
                        <span class="app-name">
                            <a href="{% url 'photoset_latest' %}">{% trans "Search Sets" %}</a>
                        </span>
                    </li>

                    {% if can_add_photoset %}
                        <li class="content-item">
                            <span class="app-name">
                                <a href="{% url 'photoset_add' %}">{% trans "Add Photo Set" %}</a>
                            </span>
                        </li>
                    {% endif %}
                </ul>

                {% if app_object %}
                    {% if can_view_photo or can_edit_photo%}
                        <ul class="list-unstyled content-dropdown-col col-sm-6 col-xs-12">
                            <li>
                                <span class="content-head text-content-head">{% trans "This Photo" %}</span>
                            </li>

                            {% if can_view_photo %}
                                <li class="content-item">
                                    <span class="app-name">
                                        <a href="{{ app_object.get_absolute_url }}">{% trans "View Photo" %}</a>
                                    </span>
                                </li>
                            {% endif %}

                            {% if can_edit_photo %}
                                <li class="content-item">
                                    <span class="app-name">
                                        <a href="{% url 'photo_edit' app_object.pk %}">{% trans "Edit Photo" %}</a>
                                    </span>
                                </li>
                            {% endif %}

                            {% if can_delete_photo %}
                                <li class="divider"></li>

                                <li class="content-item">
                                    <span class="app-name">
                                        <a class="delete" href="{% url 'photo_destroy' app_object.pk %}">{% trans "Delete Photo" %}</a>
                                    </span>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </li>
</ul>
