{% extends "stories/base.html" %}
{% load story_tags %}

{% block title %}{{ block.super }}Add{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/site_media/static/css/stories.css">
{% endblock %}

{% block body %}
<div class="t">
 {% stories_nav request.user %}
    <h1>{% firstof MODULE_STORIES_LABEL "Story" %} Add</h1>
   
    <div class="article-wrap">
    <form action="{% url story.add %}" method="post">
        {{ form.as_p }}
        <input type="submit" value="Add {{ MODULE_STORIES_LABEL }}" />
    </form>

    </div>

</div>
{% endblock %}