{% extends "stories/base.html" %}
{% load i18n %}
{% load base_tags %}

{% block title %}{% trans "Delete Story" %} {{ story.title }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/stories.css">
{% endblock %}

{% block body %}

<div class="t">
    <h1>{% trans "Delete a Story" %}</h1>
    
    <div class="story-wrap">
        <div class="delete-prompt"> 
        	{% trans "Are you sure you want to delete this story?" %}
        </div>
        {% if story.image %}
        <div class="photo">
            <img src="{% image_url story.image size=300x300 crop=True quality=88 %}" title="{{ story.title }}" />
        </div>
        {% endif %}
        <div class="content">
        <h1>{{ story.title }}</h1>
        {{ story.content|safe }}
        </div>
        <div class="delete-form">
            <form action="{% url story.delete story.id %}" method="post">{% csrf_token %}
                <input type="submit" value="Delete Story" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
