{% extends "stories/base.html" %}

{% block title %}Delete Page{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/stories.css">
{% endblock %}

{% block body %}

<div class="t">
    <h1>Delete a Story</h1>
    
    <div class="back-to-search"><a href="{% url story.search %}">Search</a>
    <a href="{% url story.add %}">Add</a>
    </div>

    <div class="story-wrap">
    <div class="delete-prompt"> 
    	Are you sure you want to delete this story?
    </div>
     <h2>{{ story.title }}</h2>
     <div class="content">{{ story.content|safe }}</div>
	
	<div class="delete-form">
    <form action="{% url story.delete story.id %}" method="post">{% csrf_token %}
        <input type="submit" value="Delete Story" />
    </form>
    </div>

    </div>

</div>
{% endblock %}
