{% extends "stories/base.html" %}
{% load story_tags %}

{% block title %}{{ block.super }}Edit{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/site_media/static/css/stories.css">
{% endblock %}

{% block body %}
<div class="t">
    <h1>{{ MODULE_STORIES_LABEL }} Edit</h1>
    
    {% stories_nav request.user %}

    <div class="story-wrap">
    <form action="{% url story.edit story.id %}" method="post">
        {{ form.as_p }}
        <input type="submit" value="Save changes" />
    </form>

    </div>

</div>
{% endblock %}