{% extends "stories/base.html" %}
{% load story_tags %}
{% load category_tags %}
{% load base_filters %}

{% block title %}{{ block.super }}{{ story.title }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/stories.css">
{% endblock %}

{% block body %}
<div class="t">
    {% stories_nav user story %}
    <div class="quick-options">
 	{% stories_options user story %}
 	</div>
        <h2>{{ story.title }}</h2>
        {% if story.image %}
        <div class="photo">
            <img src="{{ story.image.file.url }}" title="{{ story.title }}" />
        </div>
        {% endif %}
        <div class="content">{{ story.content|safe }}</div>
        <div class="meta">
			<div class="categories">
				{% get_category_for_object story as category %}
				{% if category %}
					Category:&nbsp;<a href="{% url story.search %}?q=category:{{ category }}">{{ category }}</a>&nbsp;
				{% endif %}
				{% get_sub_category_for_object story as sub_category %}
				{% if sub_category %}
					Sub Category:&nbsp;<a href="{% url story.search %}?q=sub_category:{{ sub_category }}">{{ sub_category }}</a>&nbsp;
				{% endif %}				
			</div>

            <div class="submitted">Submitted on {{ story.create_dt|date:"long" }} by {{ story.creator }}</div>
        </div>
  
</div>
{% endblock %}
