{% extends "directories/base.html" %}
{% load base_filters %}
{% load base_tags %}
{% load directory_tags %}
{% load directory_filters %}


{% block title %}{{ directory.get_title }}{% endblock %}
{% block meta_description %}{{ directory.get_description }}{% endblock %}
{% block meta_keywords %}{{ directory.get_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ directory.get_canonical_url }}">{% endblock %}

{% block content %}
    <article id="t-directories-directory-{{ directory.pk }}" class="t-directories-directory">
	{% with directory|is_directory_owner_with_membership:user as directory_owner_with_membership %}
        <div class="page-header">
            <h1>{{ directory.headline }}</h1>
           
		   {% if directory.status_detail == 'pending' %}
				<div class="pull-right clearfix">
				{% if directory_owner_with_membership %}
             	<a href="{% url 'directory.edit' directory.id %}" class="btn btn-default">{% trans "Edit" %}</a>
                {% endif %}
             	{% if request.user.is_superuser %}
		     	<a href="{% url 'directory.approve' directory.id %}" class="btn btn-success">{% trans "Approve it" %}</a>
             	{% endif %}
				</div>
			{% endif %}
        </div>

        <div class="t-directories-directory-body">
            {% if directory.logo %}
                <p class="t-directories-directory-image-container">
                    <img class="t-directories-directory-image" src="{{ directory.get_logo_url }}" alt="{{ directory.headline|truncatechars:123 }}" title="{{ directory.headline|truncatechars:123 }}">
                </p>
            {% endif %}

            {{ directory.body|safe }}

			{% if directory.corpprofile %}
			{% if user.profile.is_superuser or user == directory.creator or user == directory.owner or directory_owner_with_membership %}
			<p><a href="{% url 'corpmembership.view_profile' directory.corpprofile.id %}">{% trans "View Corp Member Profile" %}</a></p>
			{% endif %}
			{% endif %}
        </div>
    {% endwith %}

		{% if directory.has_social_media %}
		{% include "directories/include/social_media_links.html" %}
		{% endif %}

        {% include "directories/meta.html" with show_source=True show_contact=True %}
    </article>
    <br />
{% endblock %}

{% block extra_body %}
    {{ block.super }}
	{% include "directories/include/affiliates_js.html" %}
{% endblock %}


