{% load perm_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
<title>News Add Notice</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
{% is_admin request.user as isadmin %}
<body bgcolor="#ffffff" text="#000000">
<p>The following news was 
  added to the {{ SITE_GLOBAL_SITEDISPLAYNAME }} {% firstof MODULE_NEWS_LABEL 'News' %} module
  by {{request.user.get_full_name}}
  {% if isadmin %}(administrator){% else %} and needs to be activated{% endif %}:</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="2%">&nbsp;</td>
    <td width="23%"> Headline:</td>
    <td width="75%"><b>{{ object.headline }}</b></td>
  </tr>
  <tr> 
    <td width="2%">&nbsp;</td>
    <td width="23%"> Source:</td>
    <td width="75%"><b>{{ object.source }}</b></td>
  </tr>
</table>
<p>To view the details of this 
  news, go to: <b><a href="{{ SITE_GLOBAL_SITEURL }}{% url news.view object.id %}">{{ SITE_GLOBAL_SITEURL }}{% url news.view object.id %}</a></b><br>
  <br>
 {% if not isadmin %}
	<p>To activate this news, 
	  go to: <b><a href="{{ SITE_GLOBAL_SITEURL }}{% url news.edit object.id %}">{{ SITE_GLOBAL_SITEURL }}{% url news.edit object.id %}</a></b> </p>
 {% endif %}
<P>Time submitted: {% now "D d M Y P" %}</P>
 
</body>
</html>
