{% extends "base-wide.html" %}
{% load i18n %}

{% block title %}{{SITE_GLOBAL_SITEPRIMARYKEYWORDS }} {% trans 'Membership Application for' %}  {{SITE_GLOBAL_SITEDISPLAYNAME }} {% trans 'in' %} {{SITE_GLOBAL_SITEGEOGRAPHICLOCATION }}{% endblock %}
{% block meta_description %}{{SITE_GLOBAL_SITEPRIMARYKEYWORDS }}: {% trans 'Membership Application' %} {{SITE_GLOBAL_SITEDISPLAYNAME }} in {{SITE_GLOBAL_SITEGEOGRAPHICLOCATION }}{% endblock %}
{% block meta_keywords %} {% trans 'Membership Application' %},  {{SITE_GLOBAL_SITEGEOGRAPHICLOCATION }}, {{SITE_GLOBAL_SITEDISPLAYNAME }}, {{SITE_GLOBAL_SITESECONDARYKEYWORDS }}{% endblock %}

{% block messages %}{{ block.super }}{% endblock %}
