{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load staticfiles %}
{% load membership_tags %}


{% block current_app %}
    <li class="dropdown">
         <button type="button" class="btn btn-primary" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% spaceless %}
            <img class="nav-icon" src="{% static 'famfamfam/icons/arrow_join.png' %}"/>
            <span class="nav-label">{% firstof MODULE_MEMBERSHIPS_LABEL trans "Memberships" %}</span>
            <span class="caret"></span>
        {% endspaceless %}</button>

        {% if membership %}
            {% membership_current_app request.user membership %}
        {% else %}
            {% membership_current_app request.user %}
        {% endif %}
    </li>
{% endblock %}

