{% extends "profiles/base.html" %}
{% load profile_tags %}


{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/iconrow.css' %}">
    <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock %}

{% block content %}
    {% users_options request.user user_this %}

    <h1>{% trans "Password change successful" %}</h1>

    {% if request.user.id != user_this.id %}
        <p>{% trans "Password was changed for " %}<a href="{{user_this.get_absolute_url}}">{{ user_this.username }}</a></p>
    {% else %}
        <p>{% trans "Your password was changed." %}</p>
    {% endif %}
{% endblock %}
