
{% blocktrans with name=site_name|safe %}You're receiving this e-mail because you requested a password reset for your user account at {{ name }}{% endblocktrans %}.
<br /><br />
{% trans "Note: Username and Password are case sensitive. Please go to the following pages and choose a new password for your account:" %}
<br /><br />
{% for user in user_list %}
{% trans "Username:" %} {{ user.user.username }}<br />
{{ site_url }}{% url 'password_reset_confirm' uidb64=user.uid token=user.token %}<br />
{% endfor %}
<br /><br /><br />

{% trans "Thanks for using our site!" %}
<br /><br />
{% blocktrans with name=site_name|safe %}The {{ name }} team{% endblocktrans %}
<br /><br />
