{% extends "actions/base.html" %}
{% load i18n %}
{% load base_filters %}

{% block title %}
{{ block.super }}{% trans 'Tendenci Newsletter Send Confirmation'%}
{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="/site_media/static/css/newsletters.css">
{% endblock %}

{% block body %}
<div class="t">
 <div id="t-newsletters">
<div id="t-add">
<h1>{% trans "Send Marketing Action/Newsletter Confirmation" %}</h1>
{% if action.status_detail == 'closed' %}
<p>
{% trans "Your newsletter has been distributed. Here is the summary of the submission." %}<br /><br />

{% trans "Total Attempted to Send = " %}<b>{{ action.attempted }}</b><br />
{% trans "Bad Address or E-mail Blocked = " %}<b>{{ action.failed }}</b><br />
{% trans "Total Processed = " %}<b>{{ action.sent }}</b><br /><br />

<b>{% trans "Start time:" %}</b> {{ action.start_dt|date:"l, d-M-Y h:i A" }} <br />
<b>{% trans "Finish time:" %}</b> {{ action.finish_dt|date:"l, d-M-Y h:i A" }} <br />
</p>
<p><a href="{% url action.recap action.id %}">{% trans "View Distribution Recap" %}</a></p>  
<p><a href="{% url action.view action.id %}">{% trans "View detail of your e-mail." %}</a></p>  
{% else %}
<p>
{% trans "Your newsletter has been scheduled to send within the next 10 minutes. Please note that it may take several hours to complete the process depending on the size of your user group. You will receive an email notification when it's done." %}
</p>  

<p><a href="{% url action.view action.id %}">{% trans "Click here to check the status of your e-mail." %}</a></p>   
{% endif %} 

{% if action.article %}
<p><a href="{% url article action.article.slug %}">{% trans "Click here to edit the related article." %}</a></p> 
{% endif %} 

<p>
{% trans "Thanks!" %}
<br />
<br />
{% trans "The Schipul Family" %}
</p>

 </div>

</div>
</div>
{% endblock %}
