{% extends "actions/base.html" %}
{% load i18n %}
{% load base_filters %}

{% block title %}
{{ block.super }}{% trans 'Newsletter Distribution Recap'%}
{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="/site_media/static/css/newsletters.css">

{% endblock %}

{% block body %}
<div class="t">
 <div id="t-newsletters">
   <div id="t-view">
<h1>{% trans 'Newsletter Distribution Recap'%}</h1>

<h3><a href="{% url action.view action.id %}">{% trans "Subject: " %}{{ action.email.subject }}</a></h3>
<b>{% trans "Group: " %}<a href="{% url group.detail action.group.slug %}" target="_blank">{{ action.group.name }}</a></b> <br />
<p>{% trans "Date Submitted: " %}{{ action.submit_dt|date:"N j, Y f A" }}</p>

{% if action_recaps %}
{% for ar in action_recaps %}
	<div class="recap-wrap">
	<ol>
	{% for e in ar.recap %}
		<li>{{ e.email }} {% if action.send_to_email2 %}, {{ e.email2 }} {% endif %}{{ e.last_name }}, 
		{{ e.first_name }} - {{ e.notes }} </li>
	{% endfor %}
	</ol>
	
	<div>{% trans "Total Attempted to Send = " %}{{ ar.attempted }} </div>
	<div>{% trans "Bad Address or E-mail blocked = " %}{{ ar.failed }} </div>
	<div><b>{% trans "Total Processed = " %}{{ ar.sent }} </b></div>
	<br />
	<div>{% trans "Start Time: " %}{{ ar.start_dt|date:"l, d-M-Y h:i A" }} </div>
	<div>{% trans "Finish Time: " %}{{ ar.finish_dt|date:"l, d-M-Y h:i A" }}</div>
	
	</div>
{% endfor %}
{% else %}
	<p>{% trans "Recap not available." %}</p>
{% endif %}
                               
 </div>
 </div>
</div>

{% endblock %}
