{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfils %}
{% load contribution_tags %}


{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{% static 'famfamfam/icons/page_green.png' %}"/>{% firstof MODULE_CONTRIBUTIONS_LABEL trans "Contributions" %}
    </a>

    {% if contribution %}
        {% contribution_current_app request.user contribution %}
    {% else %}
        {% contribution_current_app request.user %}
    {% endif %}
</li>
{% endblock %}
