<p><a title="Tendenci Help Files: Calendar Events" href="http://tendenci.com/help-files/topic/2/" target="_blank">Events</a> are a great source of knowledge transfer, networking and income for your organization! Use your site to <strong>build excitement</strong> through promotion, sharing of details and early registration pricing!&nbsp;</p>
<h3>Adding Events</h3>
<p>When adding Events in Tendenci, you will be able to:<img style="float: right; margin-left: 5px;" title="event-pricing.png" src="http://media.tendenciapp.com/images/tendenci_guide/event-pricing.png" alt="event-pricing.png" width="200" height="NaN"></p>
<ul>
<li>Add complete event details</li>
<li>Include speaker info and images</li>
<li>Accept multiple payment types, including online payment (<a title="Tendenci Help Files: Merchant Account" href="http://tendenci.com/help-files/topic/89/">requires vendor account set up</a>)</li>
<li>Set multiple pricing tiers</li>
</ul>
<p>(<a title="Events Add" href="/events/add/" target="_blank">Click here to add an event.</a>)</p>
<h3>Event Calendar Display</h3>
<p>Use <a title="Tendenci Help Files: Event Types" href="http://tendenci.com/help-files/what-are-event-types/" target="_blank">Event Types</a> to color-code events for display on the site calendar. This is a quick way for your site visitors to separate meetings from deadlines, luncheons from galas!</p>
<p><img title="calendar-events.png" src="http://media.tendenciapp.com/images/tendenci_guide/calendar-events.png" alt="calendar-events.png" width="400" height="NaN"></p>
<h3>Event List on the Home Page</h3>
<p><img style="float: left; margin-right: 5px;" title="upcoming-events.png" src="http://media.tendenciapp.com/images/tendenci_guide/upcoming-events.png" alt="upcoming-events.png" width="200">Remember, your site template may display the next event automatically on your home page. Some templates will list the next three. Check out your home page to see how you are promoting your events!</p>
<h3>Event Management</h3>
<p>As the event approaches, you will use the flexibility of Tendenci to smoothly carry out all the last minute details. You can quickly:</p>
<ul>
<li><a title="Tendenci Help Files: Adding a Registration" href="http://tendenci.com/help-files/adding-a-phonemail-in-registration/" target="_blank">Add phone-in registrations</a> to the event</li>
<li><a title="Tendenci Help Files: Canceling a Registration" href="http://tendenci.com/help-files/cancelling-an-attendees-registration/" target="_blank">Cancel registrations</a> if needed</li>
<li>Send reminders or program changes to registrants</li>
<li>Print a roster of attendees, including paid/unpaid status, to use at the check-in table!</li>
</ul>
<p>What better way to promote this month's event than to show photos of your last awesome event?? Read on to learn how to add photos to your site!</p>

