{% extends "tendenci_guide/base.html" %}
{% load base_filters %}

{% block extra_head %}
{{ block.super }}
<style>
.guide-nav { float:left; width: 20%; padding-right: 20px; }
.guide-nav li {list-style: none; margin-bottom: 4px; }
.guide-nav li a { padding: 4px; display: block; }
.guide-nav li a.active { border: 1px solid #333; }
.guide-content { float:left; width: 75%; }
.guide-content h3 { padding-top: 20px; clear: both; display: block; }
</style>
{% endblock extra_head %}

{% block body %}
<div class="guide-nav">
{% include "tendenci_guide/sidebar.html" %}
</div>
<div class="guide-content">
<h1>{{ title|title }}</h1>

{% include guide_file %}

{% for guide in guides %}
    {% if not forloop.last %}
        {% ifequal guide slug %}
            {% with forloop.counter as num %}
                {% for guide in guides %}
                    {% ifequal forloop.counter0 num %}
                        <h3>Next: <a href="{% url tendenci_guide.guide_page guide %}">{{ guide|split_str:"-"|join:" "|title }}</a></h3>
                    {% endifequal %}
                {% endfor %}
            {% endwith %}
        {% endifequal %}
    {% endif %}
{% endfor %}
</div>
{% endblock body %}