
<p>The Dashboard is command central for your site. You can <a title="Dashboard" href="/dashboard/" target="_blank">bring up the Dashboard</a> at any time by clicking the Tendenci icon in the top left corner of your screen. (You must be logged in to see the icon.)</p>
<p><img title="tendenci-toolbar.png" src="http://media.tendenciapp.com/images/tendenci_guide/tendenci-toolbar.png" alt="tendenci-toolbar.png" width="400" height="NaN"></p>
 
<h3>Icons</h3>
<p>Each icon on the Dashboard represents a module that controls data or settings for your site.</p>
<p><img title="tendenci-dashboard.png" src="http://media.tendenciapp.com/images/tendenci_guide/tendenci-dashboard.png" alt="tendenci-dashboard.png" width="400" height="NaN"></p>
<p>For example, if you click <strong><span style="color: #0000ff;">Users</span></strong>, you will have the option to:</p>
<ul>
<li><strong><span style="color: #0000ff;">Search </span></strong>your User database, </li>
<li><strong><span style="color: #0000ff;">Add </span></strong>new Users, </li>
<li><strong><span style="color: #0000ff;">Edit </span></strong>User records and reset passwords, and </li>
<li>Control site reflexes associated with your Users, such as whether or not New Users are&nbsp;automatically&nbsp;signed up for your newsletter.&nbsp;</li>
</ul>
 
<h3>Dashboard Nav Menu</h3>
<p><img style="float: right;" title="Dashboard-nav-expanded.png" src="http://media.tendenciapp.com/images/tendenci_guide/Dashboard-nav-expanded.png" alt="Dashboard-nav-expanded.png" width="200">Take a moment to run your mouse over the navigation bar at the top of your screen. As an alternative to using the Dashboard icons, you will find quick access to all of the things you will manage as site administrator.&nbsp;</p>
 
<h3>Tech Support</h3>
<p>And don’t miss the links to “Search Helpfiles” and “E-mail Support” at the very bottom left.</p>
<p><img title="tendenci-support-bar.png" src="http://media.tendenciapp.com/images/tendenci_guide/tendenci-support-bar.png" alt="tendenci-support-bar.png" width="220"></p>
<p>The <a href="http://tendenci.com/help-files/">Tendenci help files</a> are a great way to find answers to specific questions about using Tendenci. If you can’t find an answer there, <a title="Contact our support team!" href="mailto:support@schipul.com">contact our Support team!</a></p>
