<p>Well, that about covers it! At this point, you should be able to add and modify most of the content on your site.</p>
<p>Here are a few parting tips:</p>
<ol>
<li><strong>Keep your content fresh!</strong> Add new articles, photos and stories regularly. Or start a blog on the site! Encourage multiple members of your organization to publish content on the site.</li>
<li><strong>Use photos! </strong>People love to see themselves on the site. This is a great way to show how much fun you had at your last event and encourage people to come to the next one!<br> <br> </li>
<li><strong>Make money off your Jobs Listings!</strong> Encouraging companies to list job openings in your database is not only a great service for your members, but can be a bigger money maker too! (We didn't cover this one but you will find the interface very similar.)<br> <br> </li>
<li><strong>Use the Help Files!</strong> Our users have built hundreds of help files on using Tendenci features, from very specific reflexes to addressing larger concepts. If you can't find it in the <a title="Tendenci Help Files" href="http://tendenci.com/help-files/" target="_blank">Tendenci Help Files</a>, <a title="Contact our Support Team!" href="mailto:support@tendenci.com">contact our Support Team</a>!</li>
</ol>
<h3>Ready to get started?? Let's <strong><a href="/dashboard">Go to the Dashboard!</a></strong></h3>
