
{% load perm_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"https://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{% trans 'Event Added - Notification' %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">

<p>{% blocktrans with first_name=user.first_name last_name=user.last_name %}{{ first_name }} {{ last_name }} just added the following event from {{ SITE_GLOBAL_SITEDISPLAYNAME }}{% endblocktrans %}</p>

<div style="margin-bottom:20px;">
<p style="margin:2px">{{ event.title }}</p>
<p style="margin:2px">{{ event.dt_display }}</p>
<p style="margin:2px"><a href="{{ SITE_GLOBAL_SITEURL }}{{ event.get_absolute_url }}">{% trans "View event details" %}</a></p>
</div>

{% if event.is_recurring_event %}
<p style="margin:2px">{% trans "This is a recurring event, you can view the rest of the events here" %}:
<a href="{% url "event.recurring" event.pk %}">{% trans "View recurring event list" %}</a></p>
{% endif %}

<p><a href="{{ SITE_GLOBAL_SITEURL }}/settings/site/global/#id_allnoticerecipients">
{% trans "Remove my email from this notification list" %}</a></p>

<table><tr><td><!--comment--></td></tr></table>
</body>
</html>
