{% load i18n %}
{% load base_filters %}
<div id="registrant_summary_{{ forloop.counter0 }}">
    <p><b>#{{ forloop.counter }}</b></p>
    <ul>
    	{% trans "Email" as email_label %}
        {% trans "Price" as price_label %}
        {% for field in registrant %}
        	
            {% if field.name == "email" %}
                <li>{{ email_label }}:  {{ field.value.0 }}</li>
            {% elif field.name in flat_ignore_fields %}

            {% elif field.name == "pricing" %}
                {% if not event.free_event %}
                    {% if not registrant.cleaned_data.override %}
                        <li>Price:  {{ currency_symbol }}{{ registrant.cleaned_data.pricing.price }}</li>
                    {% endif %}
                {% endif %}
            {% elif field.name == "override_price" %}
                {% if registrant.cleaned_data.override %}
                    <li>{{ price_label }}:  {{ currency_symbol }}{{ field.value }}</li>
                {% endif %}
            {% else %}
                <li>{{ field.label }}:  {{ field.value|field_to_string }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
