{% load styled_forms %}
{% load base_filters %}
{% load i18n %}

{% if field_obj.field_name == '' %}
    {% if field_obj.field_name == '' %}
        <div class="section-break{% if field_obj.admin_only %} admin-only-header{% endif %}{% if field_obj.css_class %} {{ field_obj.css_class  }}{% endif %}">
            <h2>{% blocktrans with label=field_obj.label %}{{ label  }}{% endblocktrans %}</h2>
            {% if field_obj.description %}
            <div>{% blocktrans with description=field_obj.description %}{{ description }}{% endblocktrans %}</div>
            {% endif %}
        </div>
    {% endif %}
{% else %}
   {% if field_obj.display_only %}
   <div class="form-field">
       <div>
           {% blocktrans with label=field_obj.label content=field_obj.display_content|safe %}<b>{{ label }}</b>: {{ content }}{% endblocktrans %}
       </div>


   </div>
   {% else %}
       {% if field %}
        <div class="form-field{% if field_obj.admin_only %} admin-only{% endif %}{% if field_obj.css_class %} {{ field_obj.css_class  }}{% endif %}">
            <div class="{{ field.auto_id }}">
                {% if field_obj.field_stype == 'checkboxinput' %}
                    <div class="checkbox-input">
                        {% if field.errors %}
                            <div class="error">
                                {% for error in field.errors %}
                                <p>{% blocktrans with err=error %}{{ err }}{% endblocktrans %}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="field">
                            {{ field }}
                            <span class="label{% if field.field.required %} required{% endif %}">
                                {% blocktrans with label_tag=field.label_tag %}{{ label_tag }}{% endblocktrans %}
                            </span>
                        </div>

                        {% if field.help_text %}
                            <div class="help-text">{% blocktrans with help_text=field.help_text|safe %}{{ help_text }}{% endblocktrans %}</div>
                        {% endif %}
                    </div>
                    <div style="clear: both"><!-- IE7 --></div>
                {% else %}
                        {% if field_obj.field_stype == 'radioselect' %}
                        {% if field.errors %}
                             <div class="error">
                                 {% for error in field.errors %}
                                    <p>{% blocktrans with err=error %}{{ err }}{% endblocktrans %}</p>
                                 {% endfor %}
                             </div>
                            {% endif %}
                        {% endif %}

                        <div class="label{% if field.field.required %} required{% endif %} {{ field_obj.label_type }}">
                            {% blocktrans with label=field_obj.label %}{{ label }}{% endblocktrans %}
                        </div>

                        <div class="field {{ field_obj.field_div_class }}">
                            {{ field }}
                            {% if field_obj.field_stype != 'radioselect' %}
                            {% if field.errors %}
                             <span class="error">
                                 {% for error in field.errors %}
                                    {% blocktrans with err=error %}{{ err }}{% endblocktrans %}
                                 {% endfor %}
                             </span>
                            {% endif %}
                            {% endif %}

                            {% if field.help_text %}
                                <div class="help-text"><small>{% blocktrans with help_text=field.help_text|safe %}{{ help_text }}{% endblocktrans %}</small></div>
                            {% endif %}

                            {% if field_obj.field_type == 'FileField' and field.value %}
                            <div><small>{% trans 'Currently' %}: {{ field.value|basename }}</small></div>
                            {% endif %}
                        </div>

                        {# if field_obj.field_stype == 'textarea' #}
                        <div class="clear"></div>
                        {# endif #}


                {% endif %}
             </div>
        </div>
        {% endif %}
    {% endif %}
{% endif %}