{% extends "site_base.html" %}

{% block title %}{{ block.super }}Sitemap of Tendenci CMS Platform{% endblock %}
{% block meta_description %}{{ block.super }}, Sitemap of features in Tendenci Content Management System. Tendenci is an online platform for editing your website including web pages, membership management and easy event registration.{% endblock  %}
{% block meta_keywords %}{{ block.super }}, Tendenci Sitemap, Tendenci CMS platform sitemap, Tendenci by Schipul{% endblock %}

{% block body %}
	<h1>Tendenci Sitemap</h1>
    {% include "nav.html" %}
{% endblock %}