{% load base_filters %}
{% load i18n %}

{% for acctran in acct_trans %}
    <tr class="{{entry_class}}">
    <td align="right" width="10%">{{ acctran.account.account_number }}</td>
    <td align="right" width="10%">{% if acctran.amount > 0 %}{{acctran.amount|format_currency}}{% else %}&nbsp;{% endif %}</td>
    <td align="right" width="10%">{% if acctran.amount < 0 %}{{acctran.credit|format_currency}}{% else %}&nbsp;{% endif %}</td>
    <td width="30%">{{acctran.create_dt|date:'long'}}</td>
    <td width="40%">{% blocktrans with d=acctran.account.description %}{{ d }}{% endblocktrans %}</td>
    </tr>
{% endfor %}