{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

{% is_admin user as user_is_admin %}
{% has_perm user site_settings.change_setting as can_edit_setting %}
{% has_perm user jobs.add_job as can_add_job %}
{% has_perm user jobs.add_jobpricing as can_add_jobpricing %}

{% if nav_object %}
	{% has_perm user jobs.view_job nav_object as can_view_job %}
	{% has_perm user jobs.change_job nav_object as can_edit_job %}
{% else %}
	{% has_perm user jobs.view_job as can_view_job %}
	{% has_perm user jobs.change_job as can_edit_job %}
{% endif %}

<div id="showh">
	<ul id="primary">
	
    {% if user.is_authenticated %}
	<li>
	    <a href="{% url dashboard %}" title="Tendenci Home Page">
		<img border="0" src="{{ STATIC_URL }}images/tendenci34x15.gif"
		alt="Tendenci User Home" align="top" width="34" height="15"></a>
	</li>
    {% endif %}

	<li>
		<span>{% firstof MODULE_JOBS_LABEL 'Jobs' %}</span>
		<ul id="secondary">
			<li><a href="{% url jobs %}">{% firstof MODULE_JOBS_LABEL 'Jobs' %}:</a></li> 
			{% if can_edit_setting %}
				<li><a href="{% url settings.index "module" "jobs" %}">{% trans "Settings" %}</a></li>
			{% endif %}
            {% if user_is_admin %}
                <li><a href="{% url job.pending %}">{% trans "Pending" %}</a></li>
            {% endif %}
			{% if nav_object %}
				{% if can_view_job %}
				<li><a href="{{ nav_object.get_absolute_url }}">{% trans "View" %}</a></li>
                <li><a class="option-link print" href="{% url job.print_view nav_object.slug %}">{% trans "Print" %}</a></li>
				{% endif %}
				{% if can_edit_job %}
				<li><a href="{% url job.edit nav_object.pk %}">{% trans "Edit" %}</a></li>
				<li><a href="{% url job.edit.meta nav_object.pk %}">{% trans "Edit Meta" %}</a></li>
				<li><a href="{% url category.update nav_object.opt_app_label nav_object.opt_module_name nav_object.pk %}">{% trans "Edit Categories" %}</a></li>
				{% endif %}
			{% endif %}
			<li><a href="{% url job.search %}">{% trans "Search" %}</a></li>
			<li><a href="{% url job.add %}">{% trans "Add" %}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url job_pricing.search %}">{% trans "Pricing" %}</a></li>
            {% endif %}
			{% if user.is_authenticated %}
			<li><a href="{% url auth_logout %}">{% trans "Log Off" %}</a></li> 
			{% endif %}
		</ul>
		
	</li>
	{% if MODULE_RESUMES_ENABLED %}
	<li><a href="{% url resumes %}">{% firstof MODULE_NEWS_LABEL 'Resumes' %}</a></li>
	{% endif %}
	</ul>
</div>
