{% extends "jobs/base.html" %}
{% load job_tags %}
{% load tagging_tags %}
{% load base_tags %}
{% load base_filters %}
{% load category_tags %}

{% block title %}{{ job.get_title }}{% endblock %}
{% block meta_description %}{{ job.get_description }}{% endblock %}
{% block meta_keywords %}{{ job.get_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ job.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jobs.css">
{% endblock %}

{% block body %}
{% tags_for_object job as tags %}

<div class="t">
    {% job_nav request.user job %}

    <div class="job-wrap">
		<div class="options">
             <div class="quick-options">
				{% job_options request.user job %} 	       
             </div>
		</div>
			
        <h1>{{ job.title }}</h1>

		<h2>Job Information</h2>

{% if job.description %}
		<div class="section-block">
			<div class="label">Description</div>
			<div class="value">{{ job.description|safe }}</div>
		</div>
{% endif %}

{% if job.job_url %}
		<div class="section-line">
			<div class="label">URL</div>
			<div class="value">{{ job.job_url|urlize }}</div>
			<div class="clear"></div>
		</div>
{% endif %}

{% if job.level %}
		<div class="section-line">
			<div class="label">Level</div>
			<div class="value">{{ job.level }}</div>
			<div class="clear"></div>
		</div>
{% endif %}

{% if job.period %}
		<div class="section-line">
			<div class="label">Period</div>
			<div class="value">{{ job.period }}</div>
			<div class="clear"></div>
		</div>
{% endif %}

{% if job.position_reports_to %}
		<div class="section-line">
			<div class="label">Position Reports To</div>
			<div class="value">{{ job.position_reports_to }}</div>
			<div class="clear"></div>
		</div>
{% endif %}

{% if job.location %}
		<div class="section-line">
			<div class="label">Location</div>
			<div class="value">{{ job.location }}</div>
			<div class="clear"></div>
		</div>
{% endif %}

{% if job.percent_travel %}
		<div class="section-line">
			<div class="label">Travel Required</div>
			<div class="value">{{ job.percent_travel }} percent of the time (approximate)</div>
			<div class="clear"></div>
		</div>
{% endif %}

{% if job.start_dt %}
		<div class="section-line">
			<div class="label">Starts On</div>
			<div class="value">{{ job.start_dt }}</div>
			<div class="clear"></div>
		</div>
{% endif %}

{% if job.salary_from and job.salary_to %}
		<div class="section-line">
			<div class="label">Salary</div>
			<div class="value">{{ job.salary_from }} to {{ job.salary_to }}</div>
			<div class="clear"></div>
		</div>
{% endif %}

{% if job.code %}
		<div class="section-line">
			<div class="label">Code</div>
			<div class="value">{{ job.code }}</div>
			<div class="clear"></div>
		</div>
{% endif %}


{% if job.experience or job.skills or job.education or job.computer_skills %}
		<h2>Job Requirements</h2>
{% endif %}

{% if job.experience %}
<div class="section-block">
	<div class="label">Experience</div>
	<div class="value">{{ job.experience }}</div>
</div>
{% endif %}
{% if job.skills %}
<div class="section-block">
	<div class="label">Skills</div>
	<div class="value">{{ job.skills }}</div>
</div>
{% endif %}
{% if job.computer_skills %}
<div class="section-block">
	<div class="label">Computer Skills</div>
	<div class="value">{{ job.computer_skills }}</div>
</div>
{% endif %}
{% if job.education %}
<div class="section-block">
	<div class="label">Education Required</div>
	<div class="value">{{ job.education }}</div>
</div>
{% endif %}

		
{% if job.contact_company or job.contact_address or job.contact_city or job.contact_state  %}
		<h2>Company Information</h2>
		<div class="company-wrap">
			<div>{{ job.contact_company }}</div>
			<div>{{ job.contact_address }}</div>
			<div>{{ job.contact_city }} {{ job.contact_state }} {{ job.contact_zip_code }}</div>
			<div>{{ job.contact_country }}</div>
		</div>
{% endif %}

{% if job.contact_name and job.contact_phone and job.contact_email and job.contact_fax  %}
		<h2>Contact Information</h2>
		<div class="contact-wrap">
			<div>{{ job.contact_name }}</div>
			<div>Phone: {{ job.contact_phone }}</div>
			<div>Fax: {{ job.contact_fax }}</div>
			<div>{{ job.contact_email|obfuscate_email }}</div>
			<div>{{ job.contact_website|urlize }}</div>
		</div>
		
		{% if job.contact_method %}
				<div class="section-line">
					<div class="label">Contact Method</div>
					<div class="value">{{ job.contact_method }}</div>
					<div class="clear"></div>
				</div>
		{% endif %}
		
		{% if job.is_agency %}
				<div class="section-line">
					<div class="label">Agency</div>
					<div class="value">{{ job.is_agency }}</div>
					<div class="clear"></div>
				</div>
		{% endif %}
{% endif %}

        <div class="meta">
			<div class="categories">
				{% get_category_for_object job as category %}
				{% if category %}
					Category:&nbsp;<a href="{% url job.search %}?q=category:{{ category }}">{{ category }}</a>&nbsp;
				{% endif %}
				{% get_sub_category_for_object job as sub_category %}
				{% if sub_category %}
					Sub Category:&nbsp;<a href="{% url job.search %}?q=sub_category:{{ sub_category }}">{{ sub_category }}</a>&nbsp;
				{% endif %}				
			</div>
			
			<div class="tags">
				{% if tags %}
					Tags: 
					{% for tag in tags %}
						<a href="{% url job.search %}?q={{ tag }}">{{ tag }}</a>
					{% endfor %}
				{% endif %}
			</div>

            <div class="submitted">Submitted on {{ job.create_dt|date:"long" }} 
			by {% firstof job.creator.get_profile.display_name job.creator %}</div>
        </div>
        
		<br />
        {% url job job.pk as the_url %}
        <p>{% fb_like_button_iframe the_url %}</p>
    </div>

    <!-- delete-job form -->
    <form name="job-delete" method="POST" action="{% url job.delete job.pk %}">{% csrf_token %}
        <input type="hidden" name="action" value="delete">
    </form>

</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">
		$(document).ready(function(){
			// delete confirmation
			$('.delete').click(function(){
				var delete_job = confirm('Permenantly delete {% firstof MODULE_JOBS_LABEL 'Job' %}?');	// confirm
				if(delete_job) $('.t').find('form[name="job-delete"]').submit() // delete: if OK
				return false;	// cancel
			});
		});
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/global/dropdown.js"></script>
	<script type="text/javascript">
	var iconrow = new dropdown({
		container:	'more-options-wrap',
		trigger:	'more-options-trigger',
		target:		'more-options-target'
	});
	</script>
{% endblock %}
