{% extends "stories/base-print.html" %}
{% load story_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{% blocktrans with t=story.get_title %}{{ t }}{% endblocktrans %}{% endblock %}
{% block meta_description %}{% blocktrans with d=story.get_description %}{{ d }}{% endblocktrans %}{% endblock %}
{% block meta_keywords %}{% blocktrans with k=story.get_keywords %}{{ k }}{% endblocktrans %}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ story.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/stories.css">
{% endblock %}

{% block body %}
<div class="t-print">

    <div class='hide-this'>
        <h1>{% trans "Print View" %}</h1>

        <div class="guide">
            <div><a href="{% url story story.pk %}">&laquo; {% trans "Back to regular story view" %}</a></div>
            <div>{% trans "Your printed page will look <em>something</em> like this." %}</div>
        </div>
    </div>

    <div class="story-wrap">
        <h2>{% blocktrans with t=story.title %}{{ t }}{% endblocktrans %}</h2>
        <div class="content">{% blocktrans with c=story.content|safe %}{{ c }}{% endblocktrans %}</div>
    </div>

</div>
{% endblock %}
