{% load i18n %}
{% load base_tags %}
{% load perm_tags %}


{% has_perm user site_settings.change_setting as can_edit_setting %}
{% has_perm user stories.add_story as can_add_story %}

{% if app_object %}
    {% has_perm user stories.view_story app_object as can_view_story %}
    {% has_perm user stories.change_story app_object as can_edit_story %}
    {% has_perm user stories.delete_story app_object as can_delete_story %}
{% else %}
    {% has_perm user stories.view_story as can_view_story %}
    {% has_perm user stories.change_story as can_edit_story %}
    {% has_perm user stories.delete_story as can_delete_story %}
{% endif %}


<ul id="t-admin-megamenu-stories-dd" class="dropdown-menu" role="menu">
    <li>
        <div class="yamm-content content-dropdown">
            <div class="row">
                <ul class="list-unstyled content-dropdown-col col-sm-12 col-xs-12">
                    {% if app_object %}
                        <li>
                            {# "All Stories" Section #}
                            <span class="content-head text-content-head">{% trans "All Stories" %}</span>
                        </li>
                    {% endif %}

                    {% if can_edit_setting %}
                        <li class="content-item">
                            <span class="app-name">
                                <a href="{% url 'settings.index' 'module' 'stories' %}">{% trans "Settings" %}</a>
                            </span>
                        </li>
                    {% endif %}

                    <li class="content-item">
                        <span class="app-name">
                            <a href="{% url 'stories' %}">{% trans "Story List" %}</a>
                        </span>
                    </li>

                    {% if can_add_story %}
                        <li class="content-item">
                            <span class="app-name">
                                <a href="{% url 'story.add' %}">{% trans "Add Story" %}</a>
                            </span>
                        </li>
                    {% endif %}

                    {% if user.profile.is_superuser %}
                        <li class="content-item">
                            <span class="app-name">
                                <a href="{% url 'story.export' %}">{% trans "Export Stories" %}</a>
                            </span>
                        </li>
                    {% endif %}
                </ul>

                {% if app_object %}
                    {% if can_view_story or can_edit_story %}
                        <ul class="list-unstyled content-dropdown-col col-sm-12 col-xs-12">
                            <li>
                                <span class="content-head text-content-head">{% trans "This Story" %}</span>
                            </li>

                            {% if can_view_story %}
                                <li class="content-item">
                                    <span class="app-name">
                                        <a href="{% url 'story' app_object.pk %}">{% trans "View Story" %}</a>
                                    </span>
                                </li>
                            {% endif %}

                            {% if can_edit_story %}
                                <li class="content-item">
                                    <span class="app-name">
                                        <a href="{% url 'story.edit' app_object.pk %}">{% trans "Edit Story" %}</a>
                                    </span>
                                </li>
                            {% endif %}

                            {% if can_delete_story %}
                                <li class="divider"></li>

                                <li class="content-item">
                                    <span class="app-name">
                                        <a class="delete" href="{% url 'story.delete' story.pk %}">{% trans "Delete Story" %}</a>
                                    </span>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </li>
</ul>
