{% extends "stories/base.html" %}
{% load story_tags %}
{% load category_tags %}
{% load base_filters %}
{% load base_tags %}
{% load i18n %}

{% block title %}{{ block.super }}{% blocktrans with t=story.title %}{{ t }}{% endblocktrans %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/stories.css">
{% endblock %}

{% block body %}
<div class="t">
    {% stories_nav user story %}
    <div class="story-wrap">
        {% if story.image %}
        <div class="photo">
            <img src="{% image_url story.image size=300x300 crop=True quality=88 %}" title="{% blocktrans with t=story.title|truncatechars:123 %}{{ t }}{% endblocktrans %}" alt="{% blocktrans with t=story.title|truncatechars:123 %}{{ t }}{% endblocktrans %}" />
        </div>
        {% endif %}
        <div class="content">
        <h1>{% blocktrans with t=story.title %}{{ t }}{% endblocktrans %}</h1>
        {% blocktrans with c=story.content|safe %}{{ c }}{% endblocktrans %}
        </div>
        {% include "stories/meta.html" %}
    </div>
</div>
{% endblock %}
