{% extends "theme_editor/base_list.html" %}

{% load i18n %}
{% load humanize %}
{% load base_filters %}

{% block title %}{{ block.super }}{% trans 'Theme Editor' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/theme-editor.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/tipsy.css">
{% endblock %}

{% block body %}
<div class="t">
    <div class="editor-nav" style="float:right">
        <a href="{% url theme_editor.editor %}" >{% trans "Back to Theme-Editor" %}</a>
    </div>

    <h1>{% trans "Tendenci Apps" %}</h1>
    <strong>{% trans "Choose an app that you wish to override:" %}</strong>
    <div class="apps-wrap">
        <div class="app">
            <!--default templates dir, will be here until all templates are moved into their app dirs -->
            <a href="{% url theme_editor.original_templates %}">{% trans 'default templates' %}</a>
        </div>
    {% for app in apps %}
        <div class="app">
            <a href="{% url theme_editor.original_templates app.0 %}">{{ app.0 }}</a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
