{% load i18n %}
<div class="theme-info" data="{{ theme.orig_name }}">
<table><tr>

    <td class="screenshot">
        {% if theme.screenshot %}
            <img src="{% firstof theme.screenshot_thumbnail theme.screenshot %}" />
            <div class="lightbox" data="{{ theme.orig_name }}" style="display:none">
                <img src="{{ theme.screenshot }}" />
            </div>
        {% else %}
            <div class="screenshot-placeholder"></div>
        {% endif %}
    </td>

    <td class="info">
        <h2>{{ theme.name }}</h2>
        <div class="description">
            {% if theme.description %}
                {% blocktrans with d=theme.description %}{{ d }}{% endblocktrans %}
            {% else %}
                {% trans "No information available." %}
            {% endif %}
        </div>

        <div class="author-info">
            {% if theme.author %}
            <div class="author">{% trans "Author: " %}{{ theme.author }}</div>
            {% if theme.author_uri %}
            <a href="{{ theme.author_uri }}">{% trans "View author's website" %}</a>
            {% endif %}
            {% endif %}
        </div>

        <form class="theme_picker_form" method="post" action="">{% csrf_token %}
            <input type="hidden" id="id_theme_choices" name="theme" value="{{theme.orig_name}}">
            <input class="theme_picker_submit" type="submit" value="{% trans 'Make this my active theme' %}"/>
        </form>

        <div class="extra-info">
            {% if theme.tags %}
            <div class="tags">
                {% trans "Tags: " %}{{ theme.tags }}
            </div>
            {% endif %}

            {% if theme.version %}
            <div class="version">
                {% trans "Version: " %}{{ theme.version }}
            </div>
            {% endif %}
        </div>

    </td>
</tr></table>
</div>
