<ul>
    <li class="app">
        <input type="radio" id="palette1" name="palette" value="1">
        <label for="palette1">
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFF8E3/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/CCCC9F/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/33332D/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/9FB4CC/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/DB4105/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/000000/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFFFFF/" />
        </label>
    </li>
    <li class="app">
        <input type="radio" id="palette2" name="palette" value="2">
        <label for="palette2">
            <img style="width:15px; height:15px" src="/event-logs/colored-image/10222B/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/95AB63/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/BDD684/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/E2F0D6/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/F6FFE0/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/000000/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFFFFF/" />
        </label>
    </li>
    <li class="app">
        <input type="radio" id="palette3" name="palette" value="3">
        <label for="palette3">
            <img style="width:15px; height:15px" src="/event-logs/colored-image/292929/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/5B7876/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/8F9E8B/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/F2E6B6/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/412A22/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/000000/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFFFFF/" />
        </label>
    </li>
    <li class="app">
        <input type="radio" id="palette4" name="palette" value="4">
        <label for="palette4">
            <img style="width:15px; height:15px" src="/event-logs/colored-image/595241/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/ACCFCC/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/8A0917/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/B8AE9C/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/000000/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFFFFF/" />
        </label>
    </li>
    <li class="app">
        <input type="radio" id="palette5" name="palette" value="5">
        <label for="palette5">
            <img style="width:15px; height:15px" src="/event-logs/colored-image/B9121B/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/4C1B1B/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/F6E497/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FCFAE1/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/BD8D46/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/000000/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFFFFF/" />
        </label>
    </li>
    <li class="app">
        <input type="radio" id="palette6" name="palette" value="6">
        <label for="palette6">
            <img style="width:15px; height:15px" src="/event-logs/colored-image/CFC291/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFF6C5/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/A1E8D9/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FF712C/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/695D46/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/000000/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFFFFF/" />
        </label>
    </li>
    <li class="app">
        <input type="radio" id="palette7" name="palette" value="7">
        <label for="palette7">
            <img style="width:15px; height:15px" src="/event-logs/colored-image/E7E8D1/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/D3CEAA/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FBF7E4/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/424242/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/8E001C/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/000000/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFFFFF/" />
        </label>
    </li>
    <li class="app">
        <input type="radio" id="palette8" name="palette" value="8">
        <label for="palette8">
            <img style="width:15px; height:15px" src="/event-logs/colored-image/705B35/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/C7B07B/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/E8D9AC/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFF6D9/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/570026/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/000000/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFFFFF/" />
        </label>
    </li>
    <li class="app">
        <input type="radio" id="palette9" name="palette" value="9">
        <label for="palette9">
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FCFFF5/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/D1DBBD/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/91AA9D/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/3E606F/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/193441/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/000000/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFFFFF/" />
        </label>
    </li>
    <li class="app">
        <input type="radio" id="palette10" name="palette" value="10">
        <label for="palette10">
            <img style="width:15px; height:15px" src="/event-logs/colored-image/105B63/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFFAD5/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFD34E/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/DB9E36/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/BD4932/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/000000/" />
            <img style="width:15px; height:15px" src="/event-logs/colored-image/FFFFFF/" />
        </label>
    </li>
</ul>
