{% load perm_tags %}
{% has_perm request.user corporate_memberships.approve_corpmembership corp_membership as can_approve_corpmemb %}
<div>
<span class="corp-{{ corp_membership.real_time_status_detail|slugify }}">{% if not corp_membership.is_pending  %}{{ corp_membership.real_time_status_detail }}{% endif %}</span>
{% if corp_membership.status_detail == "archive" %}
    {% with corp_membership.corp_profile.corp_membership as current_corp_membership %}
        {% if current_corp_membership %}
            <a href="{% url 'corpmembership.view' current_corp_membership.id %}">{% trans "View Current" %}</a>
        {% endif %}
    {% endwith %}
{% endif %}
    
{% if request.user.is_superuser and corp_membership.is_pending %}
<a href="{% url 'corpmembership.edit' corp_membership.id %}" class="btn btn-default " title="Admin: Edit">{% trans "Edit" %}</a>
{% endif %}
  
{% if corp_membership.is_renewal_pending %}
    {% blocktrans with corp_membership.renew_dt|date:"d-M-Y" as renewal %} Renewed on {{ renewal }} {% endblocktrans %}<br />
    {% if request.user.is_superuser %}
        <a href="{% url "corpmembership.approve" corp_membership.id %}" title="Admin: Approve/Disapprove">{% trans "Approve / Disapprove" %}</a>
    {% endif %}
{% else %}
    {% if corp_membership.is_join_pending and can_approve_corpmemb %}
         <a class="btn btn-info" href="{% url "corpmembership.approve" corp_membership.pk %}" title="Admin: Approve/Disapprove">{% trans "Approve / Disapprove" %}</a>
    {% endif %}

    {% if corp_membership.can_renew %}
        <a class="btn btn-warning" href="{% url "corpmembership.renew" corp_membership.id %}" title="Renew">{% trans "Renew" %}</a>
    {% else %}
        {% if corp_membership.is_expired and request.user.is_superuser %}
         <a class="btn btn-warning" href="{% url "corpmembership.renew" corp_membership.id %}" title="Admin: Renew">{% trans "Admin: Renew" %}</a>
        {% endif %}
    {% endif %}
{% endif %}
</div>
