{% extends "site_base.html" %}

{% block title %}{{SITE_GLOBAL_SITEPRIMARYKEYWORDS }} Committees, {{SITE_GLOBAL_SITESECONDARYKEYWORDS }} Committees{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <style type="text/css">
        {% include "committees/media/css/committees.css" %}
    </style>
{% endblock %}


{% block top_bar %}
{% if request.user.is_authenticated %}
	{% include "committees/top_nav.html" %}
    {% if request.user.impersonated_user and request.user.impersonated_user.is_superuser or request.user.is_superuser %}
        {% if request.session.theme %}
            {% include "themes/theme_top.html" %}
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
