{% extends "committees/base.html" %}
{% load committee_tags %}
{% load i18n %}

{% block title %}{% trans "Delete Committee" %} - {{ committee.get_title }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/delete.css">
{% endblock %}

{% block content %}
<div class="t">
    <div class="committee-wrap">
        <h1>{% trans "Delete a Committee" %}</h1>
        <h2>{{ committee.title }} - <a href="{{ committee.get_absolute_url }}">{{ committee.get_absolute_url }}</a></h2>
        <div class="content">{{ committee.content|safe|truncatewords_html:"60" }}</div>
        <div class="delete-prompt">
        	{% trans "Are you sure you want to permanently delete this committee?" %}
        </div>
        <div class="delete-form">
            <form name="committee-delete" method="POST" action="{% url "committees.delete" committee.pk %}">{% csrf_token %}
                <input type="hidden" name="action" value="delete">
                <input type="submit" name="submit" value="{% trans 'Confirm Delete' %}">
            </form>
        </div>
        <div class="back-item"><a href="{{ committee.get_absolute_url }}">&laquo; {% trans "Back to committee" %} {{ committee.title }}</a></div>
        <div class="back-search"><a href="{% url "committees.search" %}">&laquo; {% trans "Back to all" %} {% firstof MODULE_COMMITTEES_LABEL 'committees' %} </a></div>
    </div>
</div>
{% endblock %}
