{% load theme_tags %}
{% load box_tags %}
{% load i18n %}

<div id="footer" class="container footer">
  <div class="row">
    <div class="col-md-4  col-xs-6">
      <div class="footer-link space">
      {% box 8 %}
      </div>
    </div>
    <div class="col-md-4  col-xs-6">
      <div class="footer-link space">
      {% box 9 %}
      </div>
    </div>
    <div class="col-md-4 col-xs-6">
      <div class="footer-link">
        <div class="login-form">
          {% if request.user.is_authenticated %}
          <p>{% trans 'Logged in as' %} <a href="/profiles/">{{ request.user }}</a> | <a href="/accounts/logout/">{% trans 'Logout' %}</a></p>
          {% else %}
          <h5>{% trans 'Log In' %}</h5>
          <form method="post" action="/accounts/login/?next={{ request.path }}">{% csrf_token %}
            <p><input id="id_username" name="username" type="text" title="{% trans 'Username' %}" maxlength="30" /></p>
            <p><input type="password" title="{% trans 'password' %}" name="password" id="id_password"  /></p>
            <input name="submit" type="submit" value="{% trans 'Log in' %}" />
          </form>
          {% endif %}
        </div>
      </div>
      <div class="footer-link space">
      {% box 2 %}
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      <hr>
      <div class="copy text-center space">
      {% box 10 %}
      </div>
    </div>
  </div>
</div>
​