@base-width: 1010px;
@secondary: #464D09;

body {
	margin: 0;
	font-family: sans-serif;
	background-color: #102133;
}

/*.container { width: 100%; margin: 0; padding: 0; }*/
.container() {background-color: #EFEFEF;}
.center() { width: @base-width; margin: 0 auto;}


header {
	.center;
	position: relative;
	margin-bottom: 10px;

	#login {
		width: 400px;
		float: right;
		text-align: right;
		padding: 10px 0 0 0;

		input[type="text"],
		input[type="password"] {
			font-size: 14px;
		}


		input[type="submit"] {
			font-size: 12px;
			font-weight: bold;
			background-color: #96A518;
			padding: 4px 10px;
			border: 0;
		}
	}
	#logo img {
		background-color: silver;
		width: 215px;
		height: 105px;
		float: left;
	}
	#nav {
		position: absolute;
		bottom: 0;
		right: 0;

		ul {
			padding: 0;
			margin: 0;

			li {
				color: white;
				list-style-type: none;
				display: inline;
				padding: 0 10px 0 0;

				a {
					color: white;
					font-size: 1.1em;
					text-decoration: none;
				}
			}

		}
	}
}

header #nav li:after {
	content: " | ";
}

header #nav li:last-child:after {
	content: "";
}


#story-item {
	.center;
	position: relative;
	margin-bottom: 40px;

	img {
		width: 100%;
		height: 540px;
		background-color: silver;
	}

	#blurb {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: rgba(255,255,255, 0.5);
		padding: 10px;
		width: 450px;
		height: 120px;

		h2 {
			margin: 0;
		}

		p {
			margin: 5px 0 0 0;
		}
	}

	#tabs {
		position: absolute;
		right: 0;
		bottom: -24px;
		width: 470px;
		background-color: #96A518;

		border-top: 1px black dashed;


		ul {
			padding: 0;
			margin: 0;

			li {
				list-style-type: none;
				float: right;
				width: 115px;
				text-align: center;
				padding: 5px 0;
			}

		}
	}
}

.green-gradient {
	background-image: linear-gradient(top, #667008 5%, #464D09 63%);
	background-image: -o-linear-gradient(top, #667008 5%, #464D09 63%);
	background-image: -moz-linear-gradient(top, #667008 5%, #464D09 63%);
	background-image: -webkit-linear-gradient(top, #667008 5%, #464D09 63%);
	background-image: -ms-linear-gradient(top, #667008 5%, #464D09 63%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.05, #667008),
		color-stop(0.63, @secondary)
	)
}

.pr-btn {
	.green-gradient;
	color: white;
	font-weight: bold;
	padding: 15px;
	width: 275px;
	margin-bottom: 10px;
}

#home-content {
	.container;
	opacity: 0.85;

	h2 {
		color: #454C08;
		font-size: 20px;
		margin: 0 0 10px 0;
	}

	ul {
		padding: 0;
		margin: 0;

		li {
			/*list-style-type: none;*/
		}
	}

	#sections {
		.center;
		padding: 10px 0 10px 0;

		#upcoming-events {
			float: left;
			width: 320px;
			border-right: 2px dashed #454C08;

			li {
				list-style-type: none;
				margin-bottom: 10px;

				.numeral {
					padding: 5px;
					border: 2px solid silver;
					float: left;
					text-align: center;
					font-weight: bold;
				}

				.month {
					font-size: 14px;
					margin-left: 40px;
				}

				.blurb {
					font-size: 14px;
					margin-left: 40px;
				}	
			}

			.join-btn {
				.pr-btn;
			}
			.renew-btn {
				.pr-btn;
			}
		}

		#about {
			float: right;
			width: 670px;
			padding-bottom: 10px;
			border-bottom: 2px dashed #454C08;

			h2 {
				float: left;
				width: 350px;
			}

			img {
				float: right;
				width: 315px;
				height: 150px;
				background-color: #DDD;
			}
		}

		#news {
			float: right;
			width: 670px;
			padding: 10px 0 20px 0;

			h2 {
				float: left;
				width: 350px;
			}

			ul#news-items {
				width: 315px;
				float: right;
				list-style-type: square;
				list-style-position: inside;
			}

			.blurb {
				width: 325px;
			}
		}
	}
}

footer {
	.center;
	color: white;
	font-size: 13px;
	margin-top: 15px;

	#sponsor {
		float: left;
		width: 700px;
		border-right: 2px dashed #BCA57B;
		img {
			background-color: #DDD;
			width: 650px;
			height: 110px;
		}
	}

	#contact-us {
		float: left;
		padding-left: 20px;
		width: 280px;

		img {
			background-color: #DDD;
			width: 30px;
			height: 29px;
			margin: 10px 0 10px 0;
		}
	}

	#footer-links {
		ul {
			padding: 0;
			margin: 0;

			li {
				list-style-type: none;
				display: inline;
				border-right: 1px solid @secondary;
				padding: 0 7px 0 5px;

				a {
					color: @secondary;
					text-decoration: none;
				}
			}

			li:last-child {
				border-right: none;
			}
		}
	}



}


.clear {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}







