{% extends "locations/base.html" %}
{% load pagination_tags %}
{% load locations_tags %}
{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

{% block title %}{{ block.super }}Search{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/locations.css">
{% endblock %}

{% block body %}
<div class="t">

    {% location_nav request.user %}

    <h1>{% trans "Search" %} {{ MODULE_LOCATIONS_LABEL }}</h1>
    {% location_search %}

    {% autopaginate locations 10 %}
	
	<div class="locations-wrap">
    {% for location in locations %}
		{% with location.object as location %}
		<div class="location-wrap-search">

			<div class="options">
                <div class="quick-options">
					{% location_options request.user location %} 	       
                </div>
			</div>

            <h2><a href="{{ location.get_absolute_url }}">{% firstof location.location_name "Untitled" %}</a></h2>

            <div class="image">
                <a title="Google Directions" href="http://maps.google.com/maps?q={{ location.get_address }}">
                <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ location.latitude }},{{ location.longitude }}&size=200x200&markers=color:red|label:A|{{ location.latitude }},{{ location.longitude }}&zoom=8&sensor=false"></a>
            </div>

            <div class="details">
                <p>{{ location.address }} <br />{{ location.city }}, {{ location.state }} {{ location.zipcode }}</p>
                <p>{{ location.phone }}</p>
                <p>{{ location.email }}</p>
            </div>

            <div style="clear:both;"><!--ie-bug--></div>
            <div class="content">{{ location.description|striptags|truncatewords:20|safe }}</div>


            <!-- delete-location form -->
            <form name="location-delete" method="POST" action="{% url location.delete location.pk %}">{% csrf_token %}
                <input type="hidden" name="action" value="delete">
            </form>

		</div>
		{% endwith %}
	{% empty %}
		<div>{% trans "0 Results Found" %}</div>
    {% endfor %}
	</div>

    {% paginate %}
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">
		$(document).ready(function(){

			// delete confirmation
			$('.delete').click(function(){
				var delete_location = confirm("Permenantly delete {% firstof MODULE_LOCATIONS_LABEL 'Location' %}?");	// confirm
				if(delete_location) $(this).parents('.location-wrap').find('form[name="location-delete"]').submit() // delete: if OK
				return false;	// cancel
			});
		});
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/global/dropdown.js"></script>
	<script type="text/javascript">
	var iconrow = new dropdown({
		container:	'more-options-wrap',
		trigger:	'more-options-trigger',
		target:		'more-options-target'
	});
	</script>
{% endblock %}
