<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-9" />
<title>JavaScript Smart Floating Banners</title>
<script type="text/javascript" src="/site_media/media/static/js/jquery-1.4.2.min.js"></script>

</head>
<body>
<script type="text/javascript">
$(document).ready(function(){

	$(window).scroll(function(){
		if  ($(window).scrollTop()+10 > $(".smartBannerIdentifier").offset().top){
		   $(".banner").css("position", "fixed");
		   $(".banner").css("top", "10px");
		}
		
		if  ($(window).scrollTop() <= $(".smartBannerIdentifier").offset().top){
		   $(".banner").css("position", "relative");
		   $(".banner").css("top", $(".smartBannerIdentifier").offset);
		}
	}); 


});
</script>
<style>
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.mainWrap {
	width: 900px;
	margin: 0 auto;
}
.leftWrap {
	float: left;
	width:600px;
	background-color: #F0F0F0;
	padding: 10px;
}
.rightWrap {
	float: right;
	width:250px;
	background-color:#666666;
}
.banner {
	width:250px;
	background-color: #FF0000;
}
</style>

<div class="mainWrap">

	<div class="leftWrap">
		<strong><a href="http://www.webresourcesdepot.com/smart-floating-banners">Click to go to the original Smart Floating Banners post</a>.</strong>
		<br />
		<a href="../example1/default.html">Check floating banners example 1</a> <br />
        <a href="../example2/default.html">Check floating banners example 2</a><br />
		<br />

		<br />
		<br />
		some content
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		some content
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		some content
		<br />
		<br />

		<br />
		<br />
		<br />
		<br />
		some content
		<br />
		<br />
		<br />
		<br />

		<br />
		<br />
		some content
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		some content
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		some content
		<br />
		<br />

		<br />
		<br />
		<br />
		<br />
		some content
		<br />
		<br />
		<br />
		<br />

		<br />
		<br />
		some content
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		some content
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		<br />
		some content
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		some content
		<br />

		<br />
		<br />
		<br />
		<br />
		<br />
		some content
		<br />
		<br />
		<br />

		some content
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		some content
		<br />
		<br />

		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		<br />
		some content
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		<br />
		<br />
		<br />
		<br />
		<br />
		some content
		<br />
		<br />
		<br />

		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		some content
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		<br />
		<br />
		<br />
		<br />
		some content
		<br />
		<br />
		<br />
		<br />

		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		some content
		<br />

		<br />
		<br />
		<br />
		<br />
		<br />
  </div>
	
	<div class="rightWrap">
		<br />
		<br />

		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		some content
		<div class="smartBannerIdentifier"></div>
		<div class="banner">

		
			<script type="text/javascript">
			<!-- 
			var jobthread_widget_title = "Jobs";
			var jobthread_widget_outer_style = "background-color:#dddddd;border:1px solid #999999;width:250px;";
			var jobthread_widget_inner_style = "background-color:#ffffff;color:#666666;border:1px solid #999999;margin-left:10px;margin-right:10px;padding:10px 10px 2px 8px;font:11px Arial, Helvetica, Sans-serif;line-height:16px;";
			var jobthread_widget_title_style = "color:#313131;font-weight:bold;";
			var jobthread_widget_link_style = "color:#0464bb;font-size:11px;font-weight:normal;text-decoration:none;border:none;";
			var jobthread_widget_top_style = "padding-top:8px;";
			var jobthread_widget_bottom_style = "padding-bottom:4px;";
			//-->
			</script>
			<script type="text/javascript" src="http://syndication.jobthread.com/widget/?id=62ad0c&num_jobs=5"></script>
		
		</div>
	</div>

</div>




</body>

</html>
