{% extends "photos/base.html" %}

{% load i18n %}
{% load humanize %}
{% load tagging_tags %}
{% load photo_tags %}
{% load pagination_tags %}
{% load smart_if %}

{% block meta_description %}{{ photo.title|striptags|truncatewords:20 }}{% endblock %}
{% block meta_keywords %}{{ photo.meta_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ photo.get_canonical_url }}" />{% endblock %}

{% block title %}{% firstof photo.title "Untitled" %} - {% blocktrans %}Photo{% endblocktrans %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/site_media/static/css/photos.css">
{% endblock %}

{% block body %}
{% tags_for_object photo as tags %}

	<div class="photo-instance">
        <div class="photo-title-wrap">
            <h2>{% firstof photo.title "Untitled" %}</h2>
        </div>
        <div class="photo-nav">
			<div class="photo-back"><a href="{% url photoset_details set_id %}">&laquo; Back to photo set</a></div>
        </div>
        <div class="photo-traverse">
            <ul>
				{% if photo_prev_url %}<li><a href="{{ photo_prev_url }}">&laquo; Prev</a></li>{% endif %}
                {% if photo_next_url %}<li><a href="{{ photo_next_url }}">Next &raquo;</a></li>{% endif %}
            </ul>
        </div>
        <div class="hr"></div>
        <div class="photo-wrap">
            <div class="photo">
                <a href="{{ photo_next_url }}"><img src="{{ photo.get_medium_640_url }}" alt="{{ photo.title }}"/></a>
            </div>
        </div>
        <div class="photo-caption-wrap">
            {{ photo.caption|safe }}
        </div>
        <div class="photo-tags">
            Tags: {% for tag in tags %} {{ tag }} {% endfor %}
        </div>
        <div class="photo-author-wrap">
            Uploaded by {% firstof  photo.member.get_profile.display_name photo.member.username %}
        </div>
        <div class="hr"></div>
        <div class="photo-options">
			{% photo_options request.user photo %}
        </div>
	</div><!-- END .photo-instance -->

<!-- delete photo form -->
<form name="photo-delete" method="POST" action="{% url photo_destroy photo.pk set_id %}">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="delete_id" value="{{ photo.pk }}" />
</form>
    
{% endblock %}


{% block extra_body %}
{{ block.super }}
<script type="text/javascript" src="/site_media/static/js/tendenci5.api.client.js"></script>
<script type="text/javascript" src="/site_media/static/js/jquery.tools.min.js"></script>
<script src="/site_media/static/js/json2.js" type="text/javascript"></script>
<script src="/site_media/static/js/storme-api-client.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){

	// photo: delete confirmation
	$('.photo-options .photo-delete').click(function(){
		var delete_photo = confirm('Permenantly delete photo?');	// confirm
		if(delete_photo) $('form[name="photo-delete"]').submit();	// delete: if OK
		return false;	// cancel
	});

	// keyboard shorcut (left, right)
	$(document).keyup(function(event){
		if(event.target.tagName == 'INPUT') return false; // avoid input fields
		if(event.keyCode == 37) window.location = '{{ photo_prev_url }}'; // left arrow
		else if(event.keyCode == 39) window.location = '{{ photo_next_url }}'; // right arrow
	});

	var mini_slide = new MiniSlide({
		photo_id: {{ photo.pk }},
		set_id: {{ photo_set_id }}
	});

	//mini_slide.init();

});

var MiniSlide = function(params){
	var self = this;

	// api clients
	this.photo_client = new PhotoClient();
	this.photo_neighbor_client = new PhotoNeighborClient();

	// storage
	self.photo_id = params.photo_id;
	self.set_id = params.set_id;
	self.photos = {}

	// vital html elements
	self.elm_switch = $(params.elm_switch);
	self.elm_prev = $(params.elm_prev);
	self.elm_next = $(params.elm_next);
	self.elm_scrollable = $(params.elm_scrollable);

	// initialize:
	// bind event handlers
	// make elements scrollable
	// run initial populate
	self.init = function(){
		self.bind_switch(); // collapse/expand
		self.bind_prev(); // previous link w/in mini-slider
		self.bind_next(); // next link w/in mini-slider
		self.make_scrollable(); // make mini-sliders scrollable
		self.init_populate() // initial populate
	};

	// bind collapse/expand link to event handler
	self.bind_switch = function(){

		// photoset: collapse/expand
		$('.photo-set-collapse').click(function(){
			var $self = $(this);
	
			// element
			$(this).parents('.photo-set-wrap')
			.find('.photo-set-belt-wrap').slideToggle(100, function(){
				if($(this).is(":hidden")) $self.html('+'); // collapse
				else{
					$self.html('&ndash;'); // expand
					self.inspect(self.photo_id, $(this).attr('data-id'));
				}
			});
		});
	};

	// bind prev-link to event handler
	self.bind_prev = function(){

		// set previous-link click handler
		$('div.photo-set-nav .prev').click(function(){
	
			var api = $(this).parents('.photo-set-belt-wrap').children('.photo-set-belt').scrollable();
			self.manage_nav('good', $(this).parents('.photo-set-belt-wrap'));

			var $set = $(this).parents('.photo-set-belt-wrap');

			// manage navigation
			if($(api.getItems()[api.getIndex()-1]).attr('last-item')){
				self.manage_nav('remove-prev', $set);
				return; // return false
			}

			// if begining of list
			if(api.getIndex() == 0){
	
				var $photo = $(api.getItems()[0]);

				// manage navigation
				if($photo.attr('first-item')){
					self.manage_nav('remove-prev', $set);
					return; // return false
				}

				self.photo_client.read({id:$photo.attr('data-id'), set:$set.attr('data-id'), prev:'1'}, {
				success: function(photo){
					// make image item
					var image_item = self.make_image_item(photo);
					// append item
					api.getItemWrap().prepend(image_item);	
					// manage navigation
					self.manage_nav('good', $set);
				},
				error:function(){
					// make image item
					var image_item = self.make_image_item({first_item:1});
					// append item
					api.getItemWrap().prepend(image_item);
					// manage navigation
					self.manage_nav('remove-prev', $set);
				}});
	
			};
		});
	};

	// bind next-link to event handler
	self.bind_next = function(){

		// set next-link click handler
		$('div.photo-set-nav .next').click(function(){
	
			var api = $(this).parents('.photo-set-belt-wrap').children('.photo-set-belt').scrollable();
			self.manage_nav('good', $(this).parents('.photo-set-belt-wrap'));
			var curr_index = api.getIndex()+1;
			var next_index = curr_index+1;

			var $set = $(this).parents('.photo-set-belt-wrap');

			// manage navigation
			if($(api.getItems()[next_index]).attr('last-item')){
				self.manage_nav('remove-next', $set);
				return; // return false
			}
	
			// if end-of-list
			if(curr_index == api.getSize()-1) {

				var $photo = $(api.getItems()[curr_index]);

				var photo_id = '', set_id = '';
				if($photo.attr('data-id')){
					photo_id = $photo.attr('data-id');
					set_id = $set.attr('data-id');
				}


				self.photo_client.read({id:photo_id, set:set_id, next:'1'}, {
				success:function(photo){
					// make image item
					image_item = self.make_image_item(photo);
					// append item
					api.getItemWrap().append(image_item);
					// manage navigation
					self.manage_nav('good', $set);
				},
				error:function(){
					// make image item
					image_item = self.make_image_item({last_item:1});
					// append item
					api.getItemWrap().append(image_item);
					// manage navigation
					self.manage_nav('remove-next', $set);
				}});
			}
		});
	};

	// make elements scrollable
	self.make_scrollable = function(){
		$('.photo-set-belt').scrollable({
			size: 0,
			speed: 150,
			keyboard: false
		});
	};

	// initial populate
	self.init_populate = function(){
	// finds open photo sets & loads them
		var photo_sets = $('.photo-sets-wrap .photo-set-belt-wrap:visible');
		$.each(photo_sets, function(i, photo_set){
			self.inspect(self.photo_id, $(photo_set).attr('data-id'));
		});
	};

	// inspect slider (do we need to populate)
	self.inspect = function(photo_id, set_id){
		// set_id defaults to 0
		if(set_id==undefined) set_id = 0;
		// if we don't have photos
		if(self.photos[set_id] == undefined){
			self.loading_msg_handler('show', set_id);
			// get photos from database
			self.photo_neighbor_client.read({id:{{ photo.pk }}, set:set_id}, function(photos_list){
				self.photos[set_id] = photos_list; // save photos
				self.populate(set_id, self.photos[set_id]);
				// hide loading message; half-a-second delay
				window.setTimeout(function(){ self.loading_msg_handler('hide', set_id)}, 500);
			});
		};
	};

	// populate slide (pull prev-photo/next-photo)
	self.populate = function(set_id, photos){
		var image_item = {};
		$.each(photos, function(i, photo){

			if(!photo){ // remove prev-link or next-link
				if(i==0){
					self.manage_nav('remove-prev', $('.photo-set-belt-wrap[data-id="'+ set_id +'"]'));
					image_item = self.make_image_item({first_item:1}, i);
				}
				else if(i==1){
					self.manage_nav('remove-next', $('.photo-set-belt-wrap[data-id="'+ set_id +'"]'));
					image_item = self.make_image_item({last_item:1}, i);
				};
			}
			else {
				// make image item
				image_item = self.make_image_item(photo, i);
			}

			// append item
			$('.photo-set-belt-wrap[data-id="'+ set_id +'"]')
			.find('.photo-set-images').append(image_item);
		});
	};

	// loading-message handler
	self.loading_msg_handler = function(action, set_id){
		if(action == 'show') $('.photo-set-belt-wrap[data-id="'+ set_id +'"] .load-msg').show();
		else $('.photo-set-belt-wrap[data-id="'+ set_id +'"] .load-msg').hide();
	};

	// make image item
	self.make_image_item = function(photo, i){

		if(!photo) return; // return false

		var $new_link = $('<a></a>');
		var $new_div = $('<div></div>');

		// TODO: clean up this crap
		if(photo.first_item){
			$new_link.attr('href', 'javascript:;' );
			$new_link.attr('first-item', 1);
			$new_div.html('You are at the first photo.');
			$new_link.append($new_div);
		}
		else if(photo.last_item){
			$new_link.attr('href', 'javascript:;' );
			$new_link.attr('last-item', 1);
			$new_div.html('You are at the last photo.');
			$new_link.append($new_div);
		}
		else{
			$new_link.attr('href', photo.absolute_url );
			$new_link.attr('data-id', photo.pk);			
			// make new image
			$new_img = $('<img />');
			$new_img.attr('src', photo.square_url );
			// append image to link
			$new_link.append($new_img);
		};


		// return
		return $new_link[0];

	};

	self.manage_nav = function(action, $wrap){

		var $prev = $wrap.find('.left-arrow');
		var $next = $wrap.find('.right-arrow');

		switch(action){
			case 'good':
				$prev.show();
				$next.show();
			break;
			case 'remove-next':
				$next.hide();
				$prev.show();
			break;
			case 'remove-prev':
				$prev.hide();
				$next.show();
			break;
		}
	};
}

</script>
{% endblock %}