{% extends "photos/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load tagging_tags %}

{% block head_title %}{% blocktrans %}Latest Photos{% endblocktrans %}{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/site_media/static/css/photos.css">
{% endblock %}

{% block body %}

<style type="text/css">
	.gallery-photo-thumb {
		float: left;
		margin: 0 5px 5px;
		text-align: center;
		height: 125px;
	}
	.gallery-photo-thumb img {
		padding: 3px;
		border: 1px solid black;
		background-color: white;
	}
</style>

<div class="t">
    <div id="photos-header-wrap">
        <h1>{% trans "Search Photos" %}</h1>
    </div>

    <div class="photos-nav">
    	<a href="/">&laquo; Homepage</a>
    	<a href="{% url photos_batch_add %}">Add photos</a>
	</div>

    <div id="photos-wrap">
        {% if photos %}
        {% autopaginate photos 28 %}
            {% for photo in photos %}

                <div class="gallery-photo-thumb">
                    <a href="{% url photo id=photo.id set_id=0 %}"><img src="{{ photo.get_small_crop_url }}" alt="{{ photo.title }}"/></a>
                    <div>From <a href="{# url profile_detail photo.member.username #}">{{ photo.member.username }}</a></div>
                </div>

            {% endfor %}
		    <div style="clear:both;"></div>
            {% paginate %}
        {% else %}
            <div>{% trans "No photos were found." %}</div>
        {% endif %}
		<div id="drag-enter">
        	<div>Drag/Drop Photos Here</div>
        </div>
    </div>

    <div id="preview" style="display:none;"></div>
</div>
    
{% endblock %}

{% block extra_body %}
<script src="/site_media/static/js/jquery.inputfieldtext.js" type="text/javascript"></script>
<script src="/site_media/static/js/jquery.dropzone.js" type="text/javascript"></script>
<script type="text/javascript">

	$('input#search-photos').inputFieldText('Search photos ...', 'search-photos-hint');

	$(document).ready(function(){
		$('#drag-enter').dropzone({send_to: '/photos/file-upload/'});
	});
</script>
{% endblock %}