{% load base_tags %}
{% load perm_tags %}

{% has_perm user photologue.view_photo as can_view %}
{% has_perm user photologue.add_photo as can_add %}
{% has_perm user photologue.change_photo as can_change %}
{% has_perm user photologue.delete_photo as can_delete %}

<ul>
    <li class="photo-view"><a href="{% url photo_medium_640 opt_object.pk %}">View all sizes</a></li>

	{% if can_change %}
    <li class="photo-edit" data-id="{{ opt_object.pk }}"><a href="{% url photo_edit opt_object.pk photo_set_id %}">Edit</a></li>
    {% endif %}

	{% if can_delete %}
    <li class="photo-delete" data-id="{{ opt_object.pk }}"><a href="{% url photo_destroy opt_object.pk photo_set_id %}">Delete</a></li>
	{% endif %}
</ul>