{% load i18n %}

{% blocktrans with corp_memb.corp_profile.name as memname %}Hello,<br /><br />

We have received a request to verify an email address for signing up the membership under 
the corporate "{{ memname }}" on 
{{ SITE_GLOBAL_SITEDISPLAYNAME }}. <br /><br />

To verify and continue to sign up for the membership, click the following URL:{% endblocktrans %}<br /><br />

<a href="{{ SITE_GLOBAL_SITEURL }}{% url "membership.verify_email"  object.pk object.guid %}">{{ SITE_GLOBAL_SITEURL }}{% url "membership.verify_email"  object.pk object.guid  %}</a>
<br /><br />

{% blocktrans %}Thanks,

<br /><br />

{{ SITE_GLOBAL_SITEDISPLAYNAME }}
{% endblocktrans %}
