{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{{SITE_GLOBAL_SITEPRIMARYKEYWORDS }} {% firstof MODULE_JOBS_LABEL 'Job' %} {% trans 'Listings for' %} {{SITE_GLOBAL_SITEDISPLAYNAME }} - {% trans 'employment opportunities and' %} {% firstof MODULE_JOBS_LABEL trans 'Job' %} {% trans 'openings' %}{% endblock %}
{% block meta_description %}{% firstof MODULE_JOBS_LABEL trans 'Job' %} {% trans 'search page for' %} {{SITE_GLOBAL_SITEDISPLAYNAME }} {% trans 'in' %} {{SITE_GLOBAL_SITEGEOGRAPHICLOCATION }} {% trans 'listing' %} {% firstof MODULE_JOBS_LABEL trans 'Job' %} {% trans 'openings and employment opportunities' %}{% endblock %}
{% block meta_keywords %}{% trans 'Employment Search' %}, {% firstof MODULE_JOBS_LABEL trans 'Job' %} {% trans 'Search' %}, {{SITE_GLOBAL_SITEDISPLAYNAME }}, {% trans 'Employment' %}, {{SITE_GLOBAL_SITEGEOGRAPHICLOCATION }} {% firstof MODULE_JOBS_LABEL_PLURAL trans 'Jobs' %}, {% trans 'employment opportunities, employment, hiring, staffing, agencies' %}{% endblock %}

{% block messages %}{{ block.super }}{% endblock %}