{% extends "jobs/base.html" %}
{% load job_tags %}
{% load perm_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{% blocktrans %}View Price Details:{% endblocktrans %} {% firstof MODULE_JOBS_LABEL trans 'Job' %} {% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jobs.css">
{% endblock %}

{% block body %}
<div class="t">

    {% job_pricing_nav request.user job_pricing %}

    <h1>{% blocktrans %}View Price Details:{% endblocktrans %}{% firstof MODULE_JOBS_LABEL trans 'Job' %} </h1>

    <div class="jobpricing-details">

        <div class="quick-options">
            {% job_pricing_options request.user job_pricing %}
          </div>

        <div class="clear"></div>

        <div class="pricing-item">
            <div class="label">{% trans "Duration:" %}</div>
            <div class="field"><b>{{ job_pricing.duration }}</b></div>
            <div class="clear-left"></div>
        </div>

        <div class="pricing-item">
            <div class="label">{% trans "Title:" %}</div>
            <div class="field"><b>{{ job_pricing.get_title }}</b></div>
            <div class="clear-left"></div>
        </div>

        <div class="pricing-item">
            <div class="label">{% trans "Regular Price:" %}</div>
            <div class="field"><b>{{ job_pricing.regular_price|format_currency }}</b></div>
            <div class="clear-left"></div>
        </div>

        <div class="pricing-item">
            <div class="label">{% trans "Premium Price:" %}</div>
            <div class="field"><b>{{ job_pricing.premium_price|format_currency }}</b></div>
            <div class="clear-left"></div>
        </div>

        <div class="pricing-item">
            <div class="label">{% trans "Member Regular Price:" %}</div>
            <div class="field"><b>{{ job_pricing.regular_price_member|format_currency }}</b></div>
            <div class="clear-left"></div>
        </div>

        <div class="pricing-item">
            <div class="label">{% trans "Member Premium Price:" %}</div>
            <div class="field"><b>{{ job_pricing.premium_price_member|format_currency }}</b></div>
            <div class="clear-left"></div>
        </div>

        <div class="pricing-item">
            <div class="label">{% trans "Include Tax:" %}</div>
            <div class="field"><b>{{ job_pricing.include_tax }}</b></div>
            <div class="clear-left"></div>
        </div>

        <div class="pricing-item">
            <div class="label">{% trans "Tax Rate:" %}</div>
            <div class="field"><b>{{ job_pricing.tax_rate }}</b></div>
            <div class="clear-left"></div>
        </div>

        <div class="pricing-item">
            <div class="label">{% trans "Show Member Pricing:" %}</div>
            <div class="field"><b>{{ job_pricing.show_member_pricing }}</b></div>
            <div class="clear-left"></div>
        </div>

        <div class="sep-line"></div>

        <div class="pricing-item">
            <div class="label"><b>{% trans "Status:" %}</b></div>
            <div class="field">{% if job_pricing.status %}Active{%else%}Inactive{%endif%}</div>
            <div class="clear-left"></div>
        </div>
        <div class="pricing-item">
            <div class="label"><b>{% trans "Created by:" %}</b></div>
            <div class="field"><a href="{% if job_pricing.creator_username %}{% url profile job_pricing.creator_username %}{% else %}#{% endif %}">{{ job_pricing.creator_username }}</a></div>
            <div class="clear-left"></div>
        </div>
        <div class="pricing-item">
            <div class="label"><b>{% trans "Created on:" %}</b></div>
            <div class="field">{{ job_pricing.create_dt|date:"long" }}</div>
            <div class="clear-left"></div>
        </div>


         <!-- delete-job_pricing form -->
            <form name="job-pricing-delete" method="POST" action="{% url job_pricing.delete job_pricing.pk %}">{% csrf_token %}
                <input type="hidden" name="action" value="delete">
            </form>

    </div>


</div>
{% endblock %}
{{ block.super }}
{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function(){

            // delete confirmation
            $('.delete').click(function(){
                var delete_job_pricing = confirm("Permenantly delete this job price?");    // confirm
                if(delete_job_pricing) $(this).parents('.jobpricing-details').find('form[name="job-pricing-delete"]').submit() // delete: if OK
                return false;    // cancel
            });
        });
    </script>

{% endblock %}
