{% extends "jobs/base.html" %}
{% load job_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{% blocktrans with t=job.get_title %}{{ t }}{% endblocktrans %}{% endblock %}
{% block meta_description %}{% blocktrans with d=job.get_description %}{{ d }}{% endblocktrans %}{% endblock %}
{% block meta_keywords %}{% blocktrans with k=job.get_keywords %}{{ k }}{% endblocktrans %}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ job.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jobs.css">
{% endblock %}

{% block body %}

<div class="t">
    {% job_nav request.user job %}

    <div class="job-wrap">
        <h1>{{ job.title }}</h1>

        <h2>{% firstof MODULE_JOBS_LABEL trans 'Job' %} {% trans "Information" %}</h2>

{% if job.description %}
        <div class="section-block">
            <div class="label">{% trans "Description" %}</div>
            <div class="value">{% blocktrans with d=job.description|safe %}{{ d }}{% endblocktrans %}</div>
        </div>
{% endif %}

{% if job.job_url %}
        <div class="section-line">
            <div class="label">{% trans "URL" %}</div>
            <div class="value">{{ job.job_url|urlize }}</div>
            <div class="clear"></div>
        </div>
{% endif %}

{% if job.level %}
        <div class="section-line">
            <div class="label">{% trans "Level" %}</div>
            <div class="value">{{ job.level }}</div>
            <div class="clear"></div>
        </div>
{% endif %}

{% if job.period %}
        <div class="section-line">
            <div class="label">{% trans "Period" %}</div>
            <div class="value">{{ job.period }}</div>
            <div class="clear"></div>
        </div>
{% endif %}

{% if job.position_reports_to %}
        <div class="section-line">
            {% blocktrans with job.position_reports_to as job_report %}<div class="label">Position Reports To</div>
            <div class="value">{{ job_report }}</div>{% endblocktrans %}
            <div class="clear"></div>
        </div>
{% endif %}

{% if job.location %}
        <div class="section-line">
            <div class="label">{% trans "Location" %}</div>
            <div class="value">{{ job.location }}</div>
            <div class="clear"></div>
        </div>
{% endif %}

{% if job.start_dt %}
        <div class="section-line">
            {% blocktrans with job.start_dt as jobstart%}<div class="label">Starts On</div>
            <div class="value">{{ jobstart }}</div>{% endblocktrans %}
            <div class="clear"></div>
        </div>
{% endif %}

{% if job.salary_from and job.salary_to %}
        <div class="section-line">
            {% blocktrans with job.salary_from as salfrom and job.salary_to as salto %} <div class="label">Salary</div>
            <div class="value">{{ salfrom }} to {{ salto }}</div>
            <div class="clear"></div>{% endblocktrans %}
        </div>
{% endif %}

{% if job.code %}
        <div class="section-line">
            <div class="label">{% trans "Code" %}</div>
            <div class="value">{{ job.code }}</div>
            <div class="clear"></div>
        </div>
{% endif %}


{% if job.experience or job.skills or job.education or job.computer_skills %}
        <h2>{% trans "Job Requirements" %}</h2>
{% endif %}

{% if job.experience %}
<div class="section-block">
    <div class="label">{% trans "Experience" %}</div>
    <div class="value">{% blocktrans with e=job.experience|striptags|linebreaks %}{{ e }}{% endblocktrans %}</div>
</div>
{% endif %}
{% if job.skills %}
<div class="section-block">
    <div class="label">{% trans "Skills" %}</div>
    <div class="value">{% blocktrans with s=job.skills|striptags|linebreaks %}{{ s }}{% endblocktrans %}</div>
</div>
{% endif %}
{% if job.computer_skills %}
<div class="section-block">
    <div class="label">{% trans "Computer Skills" %}</div>
    <div class="value">{% blocktrans with c=job.computer_skills|striptags|linebreaks %}{{ c }}{% endblocktrans %}</div>
</div>
{% endif %}
{% if job.education %}
<div class="section-block">
    <div class="label">{% trans "Education Required" %}</div>
    <div class="value">{% blocktrans with e=job.education|striptags|linebreaks %}{{ e }}{% endblocktrans %}</div>
</div>
{% endif %}


{% if job.contact_company or job.contact_address or job.contact_city or job.contact_state  %}
        <h2>{% trans "Company Information" %}</h2>
        <div class="company-wrap">
            <div>{{ job.contact_company }}</div>
            <div>{{ job.contact_address }}</div>
            <div>{{ job.contact_city }} {{ job.contact_state }} {{ job.contact_zip_code }}</div>
            <div>{{ job.contact_country }}</div>
        </div>
{% endif %}

{% if job.contact_name or job.contact_phone or job.contact_email or job.contact_fax or job.contact_website or job.contact_method or job.is_agency %}
        <h2>{% trans "Contact Information" %}</h2>
        <div class="contact-wrap">
            <div>{{ job.contact_name }}</div>
            <div>{% trans "Phone:" %} {{ job.contact_phone|phonenumber }}</div>
            <div>{% trans "Fax:" %} {{ job.contact_fax }}</div>
            <div>{{ job.contact_email|obfuscate_email }}</div>
            <div>{{ job.contact_website|urlize }}</div>
        </div>

        {% if job.contact_method %}
                <div class="section-line">
                    <div class="label">{% trans "Contact Method" %}</div>
                    <div class="value">{{ job.contact_method|striptags|linebreaks }}</div>
                    <div class="clear"></div>
                </div>
        {% endif %}

        {% if job.is_agency %}
                <div class="section-line">
                    <div class="label">{% trans "Agency" %}</div>
                    <div class="value">{{ job.is_agency }}</div>
                    <div class="clear"></div>
                </div>
        {% endif %}
{% endif %}
        {% include 'jobs/meta.html' %}
        {% url job job.pk as the_url %}
        <p>{% fb_like_button_iframe the_url %}</p>
    </div>

</div>
{% endblock %}
