{% extends "newsletters/base.html" %}
{% load i18n %}
{% load base_filters %}

{% block title %}
{{ block.super }}{% trans 'Tendenci Newsletter Generator - Marketing Action'%}
{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/newsletters.css">
{% endblock %}

{% block content %}
<div class="t">
 <div id="t-newsletters">
    <h2>{% trans 'View Newsletter' %} - {% trans 'Status' %}: {{ object.send_status }}</h2>
        <div class='step-section cf'>
            <div class="step-number">{% trans 'Step 1' %}</div>
            <div class="step-contents">
                <div>
                    {% trans 'Specify Action Name and General Properties.' %}
                </div>
                <div class="step-content-item">
                    <strong>{{ newsletter.actionname }}</strong>
                </div>
            </div>
        </div>
        <div class='step-section cf'>
            <div class="step-number">{% trans 'Step 2' %}</div>
            <div class="step-contents">
                <div>
                    {% trans 'E-mail to bind to this Marketing Action.' %}
                </div>
                <div class="step-content-item">
                    {% trans 'Sender' %} : <a href="mailto:{{ object.email.sender }}">{{ object.email.sender }}</a>&nbsp;&nbsp;&nbsp;<a class="body-copy-yellow" href="{% url 'email.viewbody' object.email.pk %}">{% trans 'View Email' %}</a>&nbsp;&nbsp;<a class="body-copy-yellow" href="{% url 'email.edit' object.email.pk %}">{% trans 'Edit Email' %}</a>
                </div>
                <div class="step-content-item">
                    <strong>{{ object.email.subject }}</strong>
                </div>

            </div>
        </div>
        <div class='step-section cf'>
            <div class="step-number">{% trans 'Step 3' %}</div>
            <div class="step-contents">
                <div>
                    {% if object.member_only %}
                        {% trans 'Members Only' %}
                    {% else %}
                        {% trans 'Select a Group' %}
                    {% endif %}
                </div>
                {% if not object.member_only %}
                <div class="step-content-item">
                    <strong>{{ object.group }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;<a class="body-copy-yellow" href="{% url 'groups' %}">{% trans 'Search UserGroup' %}</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class='step-section cf'>
            <div class="step-number">{% trans 'Step 4' %}</div>
            <div class="step-contents">
                <div>
                    {% trans 'Confirm acceptance of site policies and common sense.' %}
                </div>
                <div class="step-content-item body-copy-alerts">
                {% if object.member_only %}
                    {% blocktrans %}
                    I agree that I have permission from all users of the user group to send them e-mail. I understand that by sending this e-mail the transaction, including my IP address, is recorded. Furthermore I am legally bound by common courtesy, common sense, and the acceptable use policy (aup) and privacy policy of this site.
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans with group=object.group.name %}
                    I agree that I have permission from all users of the <strong>{{ group }}</strong> user group to send them e-mail. I understand that by sending this e-mail the transaction, including my IP address, is recorded. Furthermore I am legally bound by common courtesy, common sense, and the acceptable use policy (aup) and privacy policy of this site.
                    {% endblocktrans %}
                {% endif %}{% if object.sla %}<span class="body-copy-alerts"><strong>SLA = Agreed</strong></span>{% endif %}
                </div>
            </div>
        </div>
        <div class='step-section cf'>
            <div class="step-number">{% trans 'Step 5' %}</div>
            <div class="step-contents">
                <div>
                    {% trans 'Send Email' %}
                </div>
                <div class="step-content-item">
                {% blocktrans %}
                <strong>Note:</strong> This could take up to 30 minutes or longer depending on the size of your distribution list.
                </div>
                {% endblocktrans %}
                <div class="step-content-item">
                    <span class="body-copy-yellow">{% trans 'Status of email' %} : {{ object.send_status }}</span><br />
                    {% if object.send_status == 'sent' or object.send_status == 'resent' %}
                    <p>{% trans "The e-mail has completed processing - all e-mails have been distributed." %}</p>
                    {% endif %}
                </div>
                {% if object.send_status == 'sent' or object.send_status == 'resent' %}
                <div class="step-content-item">
                    <p>{% trans 'Total E-mail Sent' %}: {{ object.email_sent_count }}</p>
                    <p>{% trans 'E-mails completed sending at' %}: {{ object.date_email_sent }}</p>
                    {% if object.date_last_resent %}
                    <p>{% trans 'Date of last resent' %}: {{ object.date_last_resent }}</p>
                    <p>{% trans 'Resent Count' %}: {{ object.resend_count }}
                    {% endif %}
                    <p>
                    <span>{% trans 'Date Created' %}: {{ object.date_created }}</span>&nbsp;&nbsp;
                    <span>{% trans 'Date Submitted' %}: {{ object.date_submitted }}
                    </p>
                </div>
                {% endif %}
                {% if object.send_status == 'resending' or object.send_status == 'sending' or object.send_status == 'queued' %}
                <div class="step-content-item">
                <p>{% trans "Kindly refresh this page or wait for the confirmation email to check the status of your newsletter." %}</p>
                </div>
                {% endif %}
                <div class="step-content-item">
                    <a class="body-copy-yellow" href="javascript:void(0);" id="resend-email" >{% trans 'Resend Email' %}</a>
                </div>
            </div>
        </div>
 </div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script type="text/javascript">
    jQuery(document).ready(function(j) {
        j("#resend-email").click(function() {
            var x = confirm("Resend this newsletter?");
            if (x == true)
                window.location.href = "{% url 'newsletter.resend.view' object.pk %}"
            else
                return false;
        });
    });
</script>
{% endblock %}
