{% load invoice_tags %}
{% load perm_tags %}
{% load base_filters %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% if obj_name %}{{ obj_name|capfirst}} {% endif %} {% trans "Invoice" %}</title>
<style>
td.td-right {
    text-align: right;
}
td{
    padding: 3px;
    width: 40%;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
address{
    font-style: italic;
}
div.invoice-meta{

}
.table.table-tendenci-reports {
    border: 1px solid #cccccc;
}
.invoice-table-header{
    font-style: bold;
}
</style>
</head>

<body>
<div class="t">
  {% if invoice.region and invoice.region.invoice_header %}
  {{ invoice.region.invoice_header_with_absurl|safe  }}
  {% else %}
  {% include "invoices/include/default_invoice_header.html" %}
 {% endif %}
 
  
{% include "invoices/include/invoice_view_display.html" %}
<br />

  <div class="invoice-table">
    <table class="table table-tendenci-reports" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="invoice-table-header"><strong>{% trans 'Description' %}</strong></td>
        <td class="td-right"><strong>{% trans 'Line Amount' %}</strong></td>
      </tr>
      {% invoice_object_display request invoice %}
    </table>
  </div>

  <div class="invoice-total-wrap">
    <div class="invoice-total">
      <table class="table">
  {% if payment_method %}
  <tr>
    <td></td>
    <td class="td-right">{% trans "Method:" %} &nbsp;&nbsp;&nbsp;{{ payment_method }}</td>
  </tr>
  {% endif%}
  
  <tr>
    <td></td>
    <td class="td-right">{% trans "Sub Total:" %} &nbsp;&nbsp;&nbsp;{{ invoice.subtotal|add_decimal:invoice.discount_amount|format_currency }}</td>
  </tr>
  
  {% if invoice.variance and invoice.variance != 0 %}
  {% if invoice.total != tmp_total %}
  <tr>
    <td></td>
    <td class="td-right">{% trans "Adjustment:" %} &nbsp;&nbsp;&nbsp;{{ invoice.variance|format_currency }}</td>
  </tr>
  {% endif%}
  {% endif%}
  
  {% if invoice.discount_amount > 0 %}
  <tr>
    <td></td>
    <td class="td-right">{% trans "Discount Applied (discount code" %} &nbsp;&nbsp;&nbsp;-{{ invoice.discount_amount|format_currency }}</td>
  </tr>
  {% endif %}
  
  {% if invoice.gratuity %}
  <tr>
    <td></td>
    <td class="td-right">{% trans "Gratuity:" %} &nbsp;&nbsp;&nbsp;{{ invoice.graguity_in_percentage }}</td>
  </tr>
  {% endif %}
  
  {% if invoice.tax %}
  <tr>
    <td></td>
    <td class="td-right">{% if MODULE_INVOICES_TAXLABEL %}{{ MODULE_INVOICES_TAXLABEL }}{% else %}{% trans "Tax" %}{% endif %}{% if invoice.tax_rate %} {{ invoice.tax_rate|percentage }}{% endif %}: &nbsp;&nbsp;&nbsp;{{ invoice.tax|format_currency }}</td>
  </tr>
  {% endif %}
  {% if invoice.tax_2 %}
  <tr>
    <td></td>
    <td class="td-right">{{ invoice.tax_label_2 }}{% if invoice.tax_rate_2 %} {{ invoice.tax_rate_2|percentage }}{% endif %}:&nbsp;&nbsp;&nbsp;{{ invoice.tax_2|format_currency }}</td>
  </tr>
  {% endif %}
  <tr>
    <td></td>
    <td class="td-right">{% trans "Total:" %} &nbsp;&nbsp;&nbsp;{{ invoice.total|format_currency }}</td>
  </tr>
  <tr>
    <td></td>
    <td class="td-right">{% trans "Payments/Credits:" %} &nbsp;&nbsp;&nbsp;{{ invoice.payments_credits|format_currency }}</td>
  </tr>
  {% if invoice.refunds %}
  <tr>
    <td></td>
    <td class="td-right">{% trans "Refunds:" %}&nbsp;&nbsp;&nbsp;{{ invoice.net_refunds|format_currency }}</td>
  </tr>
  {% endif %}
  <tr class="invoice-total-balance">
    <td></td>
    <td class="td-right"><strong>{% trans "Balance due:" %} &nbsp;&nbsp;&nbsp;{{ invoice.balance|format_currency }}</strong></td>
  </tr> 
</table>
    </div>
  </div>
  <div style="clear: both"></div>
  
  {% if invoice.region and invoice.region.invoice_footer %}
   {{ invoice.region.invoice_footer_with_absurl|safe  }}
  {% else %}
  {% include "invoices/include/default_invoice_footer.html" %}
 {% endif %}
</div>
</body>

</html>
