{% extends "invoices/base-print.html" %}
{% load invoice_tags %}
{% load perm_tags %}
{% load base_filters %}

{% block title %}{{ block.super }}{% if obj_name %}{{ obj_name|capfirst }}{% endif %} {% trans 'Invoice' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/invoices.css' %}?v=2">
{% endblock %}

{% block content %}
<div class="t">
  {% if invoice.region and invoice.region.invoice_header %}
  {{ invoice.region.invoice_header|safe  }}
  {% else %}
 {% include "invoices/include/default_invoice_header.html" %}
  {% endif %}
  
  {% include "invoices/include/invoice_view_display.html" %}

  <div class="invoice-table">
    <table class="table table-tendenci-reports" border="0" cellspacing="0" cellpadding="0">
      <tr class="invoice-table-header">
        <td>{% trans 'Description' %}</td>
        <td class="td-right">{% trans 'Line Amount' %}</td>
      </tr>
      {% invoice_object_display request invoice %}
    </table>
  </div>

  <div class="invoice-total-wrap">
    <div class="invoice-total">
      {% invoice_total_display request invoice %}
    </div>
    {% if invoice.is_void %}
    <div class="void-stamp"><span>VOIDED</span></div>
    {% endif %}
  </div>
  <div style="clear: both"></div>
  <div class="payment-table">
    {% payment_history_display request invoice %}
  </div>
  {% if invoice.region and invoice.region.invoice_footer %}
   {{ invoice.region.invoice_footer|safe  }}
  {% else %}
   {% include "invoices/include/default_invoice_footer.html" %}
  {% endif %}
</div>
{% endblock %}
