{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load news_tags %}


{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{% static 'famfamfam/icons/newspaper.png' %}"/>{% firstof MODULE_NEWS_LABEL trans "News" %}
    </a>

    {% if news %}
        {% news_current_app request.user news %}
    {% else %}
        {% news_current_app request.user %}
    {% endif %}
</li>
{% endblock %}

