#header, #footer{ background-color: #01437D; border-bottom: solid 3px #999; }
 
#branding h1{ color: #fff; }
.module h2, .module caption, .inline-group h2 { background:#ccc url({{ STATIC_URL }}admin/img/admin/nav-bg.gif) bottom left repeat-x; color: #333940; }
a.section:link, a.section:visited { color: #666666; }
#branding #site-name img{margin-right:20px; height:32px; width:62px;}
#footer {color: #eee;}
#footer a:link, #footer a:visited {color: #eee; text-decoration: underline;}