{% load base_tags %}
{% load perm_tags %}


{% has_perm user site_settings.change_setting as can_edit_setting %}
{% has_perm user studygroups.add_studygroup as can_add_studygroup %}
{% has_perm user studygroups.add_position as can_add_position %}

{% if app_object %}
    {% has_perm user studygroups.view_studygroup app_object as can_view_studygroup %}
    {% has_perm user studygroups.change_studygroup app_object as can_edit_studygroup %}
    {% has_perm user studygroups.delete_studygroup app_object as can_delete_studygroup %}
{% else %}
    {% has_perm user studygroups.view_studygroup as can_view_studygroup %}
    {% has_perm user studygroups.change_studygroup as can_edit_studygroup %}
{% endif %}


<ul class="dropdown-menu">
    <li>
        <div class="yamm-content custom-yamm-content content-dropdown">
            <div class="row">
                <ul class="list-unstyled content-dropdown-col col-sm-12 col-xs-12">
                    {% if app_object %}
                        <li>
                            <span class="content-head text-content-head">{% trans 'All' %} {% firstof MODULE_STUDYGROUPS_LABEL_PLURAL "Study Groups" %}</span>
                        </li>
                    {% endif %}

                    {% if can_edit_setting %}
                        <li class="content-item">
                            <span class="app-name">
                                <a href="{% url 'settings.index' 'module' 'studygroups' %}">{% trans 'Settings' %}</a>
                            </span>
                        </li>
                    {% endif %}

                    <li class="content-item">
                        <span class="app-name">
                            <a href="{% url 'studygroups.search' %}">{% trans "Search" %} {% firstof MODULE_STUDYGROUPS_LABEL_PLURAL "Study Groups" %}</a>
                        </span>
                    </li>

                    {% if can_add_studygroup %}
                        <li class="content-item">
                            <span class="app-name">
                                <a href="{% url 'studygroups.add' %}">{% trans "Add" %} {% firstof MODULE_STUDYGROUPS_LABEL "Study Group" %}</a>
                            </span>
                        </li>
                    {% endif %}

                    {% if can_add_position %}
                        <li class="content-item">
                            <span class="app-name">
                                <a href="{% url 'admin:studygroups_position_add' %}">{% trans "Add Position" %}</a>
                            </span>
                        </li>
                    {% endif %}
                </ul>

                {% if app_object %}
                    {% if can_view_studygroup or can_edit_studygroup %}
                        <ul class="list-unstyled content-dropdown-col col-sm-12 col-xs-12">
                            <li>
                                <span class="content-head text-content-head">{% trans "This" %} {% firstof MODULE_STUDYGROUPS_LABEL "Study Group" %}</span>
                            </li>

                            {% if can_view_studygroup %}
                                <li class="content-item">
                                    <span class="app-name">
                                        <a href="{{ app_object.get_absolute_url }}">{% trans "View" %} {% firstof MODULE_STUDYGROUPS_LABEL "Study Group" %}</a>
                                    </span>
                                </li>
                            {% endif %}

                                <li class="content-item">
                                    <span class="app-name">
                                        <a href="{% url 'files' %}?group={{ app_object.group_id }}">{% trans 'Files' %}</a>
                                    </span>
                                </li>

                            {% if can_edit_studygroup %}
                                <li class="content-item">
                                    <span class="app-name">
                                        <a href="{% url 'studygroups.edit' app_object.pk %}">{% trans "Edit" %} {% firstof MODULE_STUDYGROUPS_LABEL "Study Group" %}</a>
                                    </span>
                                </li>

                                <li class="content-item">
                                    <span class="app-name">
                                        <a href="{% url 'studygroups.edit.meta' app_object.pk %}">{% trans "Edit Meta" %}</a>
                                    </span>
                                </li>

                                <li class="content-item">
                                    <span class="app-name">
                                        <a href="{% url 'category.update' app_object.opt_app_label study_group.opt_module_name app_object.pk %}">{% trans "Edit Categories" %}</a>
                                    </span>
                                </li>
                            {% endif %}

                            {% if can_delete_studygroup %}
                                <li class="divider"></li>

                                <li class="content-item">
                                    <span class="app-name">
                                        <a class="delete" href="{% url 'studygroups.delete' app_object.pk %}">{% trans "Delete" %} {% firstof MODULE_STUDYGROUPS_LABEL "Study Group" %}</a>
                                    </span>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </li>
</ul>
