{% extends "memberships/base.html" %}
{% load membership_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}Import Memberships from CSV file{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/memberships.css">
{% endblock %}

{% block body %}

<div id="import-wrap" class="finished">

	<h1>{% trans "Membership Import Finished!" %}</h1>
	<p class="timestamp">{% trans "Step 4/4" %} &middot; {{ datetime.now }}</p>

	<p class="msg"><em>{% blocktrans count memberships|length as mem_length and with added|length as added_length and with skipped|length as skipped_length%}We attempted <em>{{ mem_length }}</em> import; <em>{{ added_length }}</em> added, and <em>{{ skipped_length }} skipped.</p>{% plural %}We attempted <em>{{ mem_length }}</em> imports; <em>{{ added_length }}</em> added, and <em>{{ skipped_length }} skipped.{% endblocktrans %}</p>

	<p class="link"><a href="{% url membership.search %}">{% trans "Back to membership search page." %}</a></p>

</div>
{% endblock %}