{% extends "memberships/base.html" %}
{% load membership_tags %}
{% load base_tags %}
{% load base_filters %}

{% block title %}Import Memberships from CSV file{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/memberships.css">
{% endblock %}

{% block body %}

<div id="import-wrap" class="finished">

	<h1>Membership Import Finished!</h1>
	<p class="timestamp">{{ datetime.now }}</p>

	<p class="msg">We attempted <em>{{ memberships|length}}</em> import{{ memberships|length|pluralize }}; 
	<em>{{ added|length }}</em> {{ added|length|pluralize:"was,were" }} added,
	and <em>{{ skipped|length }}</em> {{ skipped|length|pluralize:"was,were" }} skipped.</p>

	<p class="link"><a href="{% url membership.search %}">Back to membership search page.</a></p>

</div>
{% endblock %}