{% extends "memberships/base-wide.html" %}
{% load membership_tags %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}Import Memberships from CSV file{% endblock %}

{% block extra_head %}
{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/memberships.css">

	<style type="text/css">

		table {
			margin-top: 5px;
			white-space: nowrap;
			border: 1px solid silver;
		}

		tr.header {
			background-color: #DDD;
			text-align: left;
		}

		tr.even {
			background-color: #EEE;
			border: 1px solid silver;
			border-top: 0;
			border-bottom: 0;
		}

		tr td {
			padding: 10px;
		}

	</style>

{% endblock %}

{% block body %}

<div id="import-wrap" class="preview">

	<h1>{% trans "Membership Import Preview" %}</h1>

	<p class="timestamp">{% trans "Step 3/4" %} &middot; {{ datetime.now }}</p>

	<p class="msg"><em>{{ memberships|length}}</em> import{{ memberships|length|pluralize }}; 
	<em>{{ added|length }}</em> will be added, and <em>{{ skipped|length }}</em> will be skipped.
	<em><a title="Looks good!" href="{% url membership_import_confirm %}">Import Now &rarr;</a></em></p>
    {% if added %}
    <div style="margin-top:10px;">
    <h3>To be Added</h3>
	<table>
		<tr class="header">
			<td></td>
			<td>{% trans "Name" %}</td>
			<td>{% trans "Number" %}</td>
			<td>{% trans "Email" %}</td>
			<td>{% trans "Type" %}</td>
			<td>{% trans "Join Date" %}</td>
			<td>{% trans "Expire Date" %}</td>
		</tr>

	{% for membership in added|slice:":25" %}
		<tr class="{% cycle 'odd' 'even' as rowcolors %}">
			<td>{{ forloop.counter }}</td>
			<td><div>{% firstof membership.user.get_full_name trans "No Name" %}</div></td>
			<td><div>{{ membership.member_number }}</div></td>
			<td><div>{{ membership.user.email }}</div></td>
			<td><div>{{ membership.membership_type }}</div></td>
			<td><div>{{ membership.subscribe_dt|date:"M d, Y" }}</div></td>
			<td><div>{{ membership.expire_dt|date:"M d, Y" }}</div></td>
		</tr>
	{% endfor %}
	</table>
    </div>
    {% endif %}
    {% if skipped %}
    <div style="margin-top:10px;">
    <h3>To be Skipped (Already Exists)</h3>
    <table>
		<tr class="header">
			<td></td>
			<td>{% trans "Name" %}</td>
			<td>{% trans "Number" %}</td>
			<td>{% trans "Email" %}</td>
			<td>{% trans "Type" %}</td>
			<td>{% trans "Join Date" %}</td>
			<td>{% trans "Expire Date" %}</td>
		</tr>

	{% for skip in skipped|slice:":25" %}
        <tr class="{% cycle 'odd' 'even' as rowcolors %}">
            <td>{{ forloop.counter }}</td>
            <td><div>{% firstof skip.user.get_full_name trans "No Name" %}</div></td>
            <td><div>{{ skip.member_number }}</div></td>
            <td><div>{{ skip.user.email }}</div></td>
            <td><div>{{ skip.membership_type }}</div></td>
            <td><div>{{ skip.subscribe_dt|date:"M d, Y" }}</div></td>
            <td><div>{{ skip.expire_dt|date:"M d, Y" }}</div></td>
        </tr>
	{% endfor %}
	</table>
    </div>
    {% endif %}
    <div style="margin-top:10px;">
    <h3>To be Ignored (No Membeship Types)</h3>
    <table>
		<tr class="header">
			<td></td>
			<td>{% trans "Name" %}</td>
			<td>{% trans "Number" %}</td>
			<td>{% trans "Email" %}</td>
			<td>{% trans "Type" %}</td>
			<td>{% trans "Join Date" %}</td>
			<td>{% trans "Expire Date" %}</td>
		</tr>
    {% if no_memtypes %}
        {% for skip in no_memtypes|slice:":25" %}
                <tr class="{% cycle 'odd' 'even' as rowcolors %}">
                    <td>{{ forloop.counter }}</td>
                    <td><div>{{skip.first_name }} {{ skip.last_name }}</div></td>
                    <td><div></div></td>
                    <td><div>{{ skip.email }}</div></td>
                    <td><div>{{ skip.membership_type }}</div></td>
                    <td><div>{{ skip.subscribe_date|date:"M d, Y" }}</div></td>
                    <td><div>{{ skip.expiration_date|date:"M d, Y" }}</div></td>
                </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}

</div>
{% endblock %}
