{% extends "events/base.html" %}
{% load event_tags %}
{% load perm_tags %}
{% load styled_forms %}

{% block title %}{{ block.super }}{% trans "Addon Add" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'timepicker/timepicker.css' %}" />
<link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}

{% block content %}
<div class="t">
    <h1>{% trans "Addon Edit" %}</h1>

    <div class="event-wrap">

        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="forms">
            {{ form|styled_form }}
            <h3>{% trans "Options" %}</h3>
            {{ formset|styled_multi_forms }}
            <input type="submit" value="{% trans "Save Changes" %}" />
        </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    {{ form.media }}
    <script type="text/javascript" src="{% static 'js/global/tinymce.event_handlers.js' %}"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'timepicker/timepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slug.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
{% endblock %}
