{% extends "events/base.html" %}
{% load event_tags %}
{% load perm_tags %}
{% load styled_forms %}

{% block title %}{{ block.super }} {{ event.title }} {% trans "Addons" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/timepicker.css' %}" />
<link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}

{% block content %}
<div class="t">
    <h1>{{ event.title }} {% trans "Addons" %}</h1>

    <div class="addons-wrap">
        {% for addon in addons %}
            <div class="addon-title">
            <strong>{{ addon.title }}</strong>
            <a href="{% url "event.delete_addon" event.id addon.id %}">{% trans "Delete" %}</a>
            {% if addon.status %}
                <a href="{% url "event.disable_addon" event.id addon.id %}">{% trans "Disable" %}</a>
            {% else %}
                <a href="{% url "event.enable_addon" event.id addon.id %}">{% trans "Enable" %}</a>
            {% endif %}
            <a href="{% url "event.edit_addon" event.id addon.id %}">{% trans "Edit" %}</a>
            </div>
            <table class="addon-detail">
            <tr><td><strong>{% trans "Price" %}</strong></td><td>{{ SITE_GLOBAL_CURRENCYSYMBOL }}{{ addon.price }}</td></tr>
            <tr><td><strong>{% trans "Enabled" %}</strong></td><td>{{ addon.status }}</td></tr>
            {% if addon.options.all %}
                <tr>
                    <td><strong>{% trans "Options" %}</strong></td>
                    <td>
                    {% for op in addon.options.all %}
                    {{ op.title }}{% if not forloop.last%}, {% endif %}
                    {% endfor %}
                    </td>
                </tr>
            {% endif %}
            </table>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
