{% extends "memberships/base.html" %}
{% load styled_forms %}

{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/memberships.css">
{% endblock %}

{% block body %}
<div class="t">
    
    <h1 style="margin-bottom:15px;">Membership Application</h1>
    
    <div style="margin-bottom:3px;">
        We apologize, you must be within your renewal period to view this application.
    </div>
    <div style="margin-bottom:12px;">
        Your renewal period starts in 
        {{ membership.get_renewal_period_dt.0|timeuntil }} 
        on {{ membership.get_renewal_period_dt.0|date }}.
    </div>

    <div>
        You will be notified at {{ user.email }}. 
        <a style="font-size:.8em;" href="{% url profile.edit user.pk %}">edit email</a>
    </div>
</div>
{% endblock %}