{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load staticfiles %}
{% load dashboard_tags %}


{% block current_app %}
  <li class="dropdown">
      <button type="button" class="btn btn-primary" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
          {% spaceless %}
            <img class="nav-icon" src="{% static 'famfamfam/icons/page_green.png' %}"/>
            <span class="nav-label">{% firstof MODULE_DASHBOARDS_LABEL trans "Dashboards" %}</span>
            <span class="caret"></span>
          {% endspaceless %}
      </button>

      {% if dashboard %}
          {% dashboard_current_app request.user dashboard %}
      {% else %}
          {% dashboard_current_app request.user %}
      {% endif %}
  </li>
{% endblock %}

