{% load base_filters %}
{% load base_tags %}
{% load cache %}
{% load theme_tags %}

{% theme_extends "base.html" %}

{% block html_body %}
<div id="container">
	<div id="header"> 
		<h1><a href="/">{{ SITE_GLOBAL_SITEDISPLAYNAME }}</a></h1> 
		<h2>An example Tendenci 5 site!</h2> 
	</div> 

	<div id="headerimage"> 
		<img src="{{ THEME_URL }}media/images/headers/9.jpg" width="940" height="198" alt="" /> 
	</div> 
        
    <div id="menu"> 
    	{% spaceless %}{% theme_include "nav.html" %}{% endspaceless %}
    </div>
    
    <div class="content content-middle content-wide"> 
        {% block messages %}
        	{% if request.impersonation_message %}
        	<ul class="messages">
            	<li>{{ request.impersonation_message|safe }}</li>
            </ul>
            {% endif %}
             {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        {% endblock %}
            
        {% block body %}{% endblock %}
        
    </div><!-- /content content-middle -->

    <div id="footer">
      {% spaceless %}{% theme_include "footer.html" %}{% endspaceless %}
    </div>
        
</div><!-- /container -->
{% endblock %}
