{% extends "base_homepage.html" %}
{% load account_tags %}

{% block title %}Tendenci CMS - Member Management and Events for Associations and Organizations{% endblock %}
{% block meta_description %}The Tendenci Content Management System CMS offer Businesses, Orgaizations, and Associations the Platform to create an easy to use website and allows web marketing to customers, clients, or members. Tendenci offers Membership support, Event registration, Email Newsletters, and Automatic Search Engine Optimization.{% endblock %}
{% block meta_keywords %}Tendenci CMS, membership management, content management system, email marketing, electronic newsletters, event registration, business directories, online catalogs, job resume board, RSS, Podcast, {{ SITE_GLOBAL_SITEPRIMARYKEYWORDS }}{% endblock %}

{% block extra_head %}
<style type="text/css">
  .offline a {
    color: #DDD;
  }
  .online a {
    color: #551A8B;
  }
</style>
{% endblock %}

{% block menu %}
    <div id="menu">{% spaceless %}{% include "nav.html" %}{% endspaceless %}<div class="clear"></div></div>
{% endblock %}

{% block login %}
<div class="login-container">
  
  <div class="login">
        {% if user.is_authenticated %}
            <a href="/dashboard">Dashboard</a> | <a id="logout" href="{% url auth_logout %}">Log Out ({{user.username}})</a>            
        {% endif %}
        {% if not user.is_authenticated %}
            {% if MODULE_USERS_SELFREGISTRATION %}<a href="{% url registration_register %}">Register</a>&nbsp;&ndash;&nbsp;{% endif %}<a id="modal" href="#login-screen">Log In</a>
            <div style="display: none;">
                {% login_form %}
            </div>
        {% endif %}
    </div>

	<div id="phone-number"><h4>P: 281-497-6567</h4></div>
    
<div class="clear"></div>
</div>
{% endblock %}

{% block body %}
{% endblock %}