<ul>
    <li><a href="http://support.tendenci.com/support">Support</a>
      <div class="sub">
            <ul>
              <li><a href="http://support.tendenci.com/en/helpfiles">Help Files</a></li>
              <li><a href="http://support.tendenci.com/en/cev/cmon/">Training Classes</a></li>
              <li><a href="http://blog.tendenci.com/">Tendenci Blog</a></li>
              <li><a href="http://getsatisfaction.com/schipul/products/schipul_tendenci">Feedback/Ideas</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="http://support.tendenci.com/support-request-form/">Contact Support</a></li>
            </ul>
      </div>
     </li>
     <div class="clear"></div>
</ul>