<ul>
   <li><a href="{{ SITE_GLOBAL_SITEURL }}/why-tendenci">Why Tendenci?</a></li>
    <li><a href="{{ SITE_GLOBAL_SITEURL }}/modules">Features</a>
      <div class="sub">
            <ul>
              <li><h2><a href="{{ SITE_GLOBAL_SITEURL }}/memberships">Membership Management</a></h2></li>
              <li><a href="{{ SITE_GLOBAL_SITEURL }}/emailmarketing">Email Newsletters</a></li>
                <li><a href="{{ SITE_GLOBAL_SITEURL }}/contact-forms">Custom Forms</a></li>
                <li><a href="{{ SITE_GLOBAL_SITEURL }}/surveys">Surveys</a></li>
                <li><a href="{{ SITE_GLOBAL_SITEURL }}/users-membership-organizations-and-associations">Membership Groups</a></li>
              <li><a href="{{ SITE_GLOBAL_SITEURL }}/discussiongroups">Discussion Forums</a></li>
            </ul>
            <ul>
              <li><h2><a href="{{ SITE_GLOBAL_SITEURL }}/cms">Content Management</a></h2></li>
                <li><a href="{{ SITE_GLOBAL_SITEURL }}/photos">Photo Galleries</a></li>
                <li><a href="{{ SITE_GLOBAL_SITEURL }}/publish-articles-press-releases">Publish Articles</a></li>
              <li><a href="{{ SITE_GLOBAL_SITEURL }}/sem">Search Engine SEO</a></li>
              <li><a href="{{ SITE_GLOBAL_SITEURL }}/rss-syndication-for-associations-and-organizations">RSS Feeds</a></li>
                <li><a href="{{ SITE_GLOBAL_SITEURL }}/podcasting-integration-with-your-content-and-rss">Podcasting</a></li>
            </ul>
            <ul>
              <li><h2><a href="{{ SITE_GLOBAL_SITEURL }}/calendarevents">Event Registration</a></h2></li>
                <li><a href="{{ SITE_GLOBAL_SITEURL }}/online-business-directory">Business Directories</a></li>
                <li><a href="{{ SITE_GLOBAL_SITEURL }}/catalogs-for-shopping-cart-capabilities">Online Catalogs</a></li>
                <li><a href="{{ SITE_GLOBAL_SITEURL }}/online-job-board">Job Board</a></li>
                <li><a href="{{ SITE_GLOBAL_SITEURL }}/web-site-tracking-and-reporting-tool">Web Reporting</a></li>

            </ul>
        </div>
    </li>
  <li><a href="{{ SITE_GLOBAL_SITEURL }}/training">Training</a>
  <div class="sub">
            <ul>
              <li><a href="http://support.tendenci.com/en/cev/cmon/">Training Calendar</a></li>
            </ul>
  </div>
      </li>
    <li><a href="{{ SITE_GLOBAL_SITEURL }}/demos">Demos</a></li>
    <li><a href="{{ SITE_GLOBAL_SITEURL }}/gallery">Clients</a></li>
    <li><a href="{{ SITE_GLOBAL_SITEURL }}/about">About Us</a>
      <div class="sub">
            <ul>
              <li><a href="{{ SITE_GLOBAL_SITEURL }}/news/search">News</a></li>
              <li><a href="http://blog.tendenci.com">Our Blog</a></li>
              <li><a href="http://www.facebook.com/tendenci">Facebook Fanpage</a></li>
              <li><a href="http://www.twitter.com/tendenci">Tendenci Twitter</a></li>
              <li><a href="{{ SITE_GLOBAL_SITEURL }}/contact">Contact Us</a></li>
            </ul>
  </div>
      </li>
    <li><a class="support orange" href="http://support.tendenci.com/support">Support</a>
      <div class="sub orange">
            <ul>
              <li><a href="http://support.tendenci.com/en/helpfiles">Help Files</a></li>
              <li><a href="http://support.tendenci.com/en/cev/cmon/">Training Classes</a></li>
              <li><a href="http://blog.tendenci.com/">Tendenci Blog</a></li>
              <li><a href="http://getsatisfaction.com/schipul/products/schipul_tendenci">Feedback/Ideas</a></li>
              <li><a href="{{ SITE_GLOBAL_SITEURL }}/contact">Contact Us</a></li>
              <li><a href="http://support.tendenci.com/support-request-form/">Contact Support</a></li>
              
            </ul>
  </div>
      </li>
  <div class="clear"></div>
</ul>