{% load pybb_tags %}
<div class="avatar">
    {% pybb_get_profile user=user as user_profile %}
    <a href="{{ user_profile.get_absolute_url }}">
        {% if user_profile.avatar %}
            {% if 'sorl.thumbnail'|check_app_installed %}
                {% include 'pybb/_sorl_thumbnail_avatar.html' %}
            {% elif 'easy_thumbnails'|check_app_installed %}
                {% include 'pybb/_easy_thumbnail_avatar.html' %}
            {% else %}
                <img src="{{ user_profile.avatar.url }}" alt="{{ user_profile.get_display_name }} avatar" width="{{ PYBB_AVATAR_WIDTH }}" height="{{ PYBB_AVATAR_HEIGHT }}"/>
            {% endif %}
        {% else %}
            {% if user_profile %}
                <img src="{{ user_profile.get_gravatar_url }}" alt="{{ user_profile.get_display_name }} avatar" width="{{ PYBB_AVATAR_WIDTH }}" height="{{ PYBB_AVATAR_HEIGHT }}"/>
            {% else %}
                <img src="{{ PYBB_DEFAULT_AVATAR_URL }}" alt="default avatar" width="{{ PYBB_AVATAR_WIDTH }}" height="{{ PYBB_AVATAR_HEIGHT }}"/>
            {% endif %}
        {% endif %}
    </a>
</div>
