{% extends 'pybb/base.html' %}
{% load pybb_tags %}

{% block title %}{{ forum.name }}{% endblock title %}

{% block content %}
{% block breadcrumb %}
{% with forum as object %}
{% include "pybb/breadcrumb.html" %}
{% endwith %}
{% endblock %}

<div class="forum">
  <div class="page-header">
    <h1>{{ forum.name }}</h1>
  </div>
    
  {% if user|pybb_may_create_topic:forum %}
  <div class="controls pull-right">
    {% include "pybb/_button_new_topic.html" %}
  </div>
  {% endif %}
  
  {% if forum.headline %}
  <div class="forum-headline alert alert-block">
    {{ forum.headline|safe }}
  </div>
  {% endif %}
  
  {% if not user.is_authenticated %}
  {% include 'pybb/_need_to_login_message.html' %}
  {% endif %}
  
  {% include 'pybb/forum_list.html' with forum_list=forum.forums_accessed category='' parent_forum=forum %}
  
  {% include "pybb/topic_list.html" %}
  
  {% include "pybb/pagination.html" %}

</div>
{% endblock content %}
