{% extends "events/base.html" %}
{% load event_tags %}
{% load perm_tags %}
{% load styled_forms %}
{% load i18n %}

{% block title %}{{ block.super }}Edit{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui/jquery-ui-1.8.2.custom.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/timepicker.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events.css">
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/tiny_mce.js"></script>
{% endblock %}

{% block body %}
<div class="t">
    {% event_nav request.user event %}

    <h1>{% firstof MODULE_EVENTS_LABEL 'Event' %}{% trans " Edit" %}</h1>

    <div class="event-wrap">

    	<form action="{% url event.edit event.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    	<div class="forms">
			{{ multi_event_forms|styled_multi_forms }}          
			<input type="submit" value="Save Changes" />
		</div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/global/tinymce.event_handlers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.2.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.time.picker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slug.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/formset.js"></script>
    <script type="text/javascript">
        var slugit = new Slugify({
			input_element : 'input#id_title',
			slug_element : 'input#id_slug',
			submit_element : 'input[type="submit"]',
			help: false,
			limit : 150
		});

        $(".datepicker").live('focus', function() {
            $(this).datepicker({ dateFormat: 'yy-mm-dd' });
        });

        $(".timepicker").live('focus', function() {
            $(this).timePicker({
              show24Hours: false,
              step: 15
            });
        });
        
      
	</script>
	
	 <script type="text/javascript">
    	$(document).ready(function() {
    		
	    	// for custom registration form options
	    	
	    	{% if MODULE_EVENTS_ANONYMOUSMEMBERPRICING %}
		    $('#one-or-separate-form input[type="radio"]')[1].disabled=true;
		    $($('#one-or-separate-form label')[1]).css({'color': '#aaa'});
		    {% endif %}
	    	
	    	if ($('input#id_regconf-enabled').is(':checked')){
	    		$('.id_regconf-use_custom_reg').show();
	    	}else{
	    		$('#use-custom-reg-checkbox input[type=checkbox]').attr('checked', false);
	    		$('.id_regconf-use_custom_reg').hide();
	    		$(".regconfpricing_formset div[class$='reg_form']").hide();
	    	}
	        if ($('#use-custom-reg-checkbox input[type=checkbox]').is(':checked')){
	        	$('#one-or-separate-form').show();
	        	if ($('#one-or-separate-form input[type="radio"]').filter(':checked').val() == '1'){
	        		$(".regconfpricing_formset div[class$='reg_form']").hide();
	        	}else{
	        		$(".regconfpricing_formset div[class$='reg_form']").show();
	        	}
	        }else{
	        	$('#one-or-separate-form').hide();
	        	$(".regconfpricing_formset div[class$='reg_form']").hide();
	        }
	        
	        $('input#id_regconf-enabled').click(function () {
		      	if ($('input#id_regconf-enabled').is(':checked')){
		    		$('.id_regconf-use_custom_reg').show();
		    		if ($('#one-or-separate-form input[type="radio"]').filter(':checked').val() == '1'){
		        		$(".regconfpricing_formset div[class$='reg_form']").hide();
		        	}else{
		        		$(".regconfpricing_formset div[class$='reg_form']").show();
		        	}
		    	}else{
		    		$('#use-custom-reg-checkbox input[type=checkbox]').attr('checked', false);
		    		$('.id_regconf-use_custom_reg').hide();
		    		$(".regconfpricing_formset div[class$='reg_form']").hide();
		    	}
		    });
	        
	        $('#use-custom-reg-checkbox input[type=checkbox]').click(function () {
		      	if ($('#use-custom-reg-checkbox input[type=checkbox]').is(':checked')){
		        	$('#one-or-separate-form').show();
		        	if ($('#one-or-separate-form input[type="radio"]').filter(':checked').val() == '1'){
		        		$(".regconfpricing_formset div[class$='reg_form']").hide();
		        	}else{
		        		$(".regconfpricing_formset div[class$='reg_form']").show();
		        	}
		        }else{
		        	$('#one-or-separate-form').hide();
		        	$(".regconfpricing_formset div[class$='reg_form']").hide();
		        }
		    });
		    $('#one-or-separate-form input[type="radio"]').click(function () {
		      	if ($(this).filter(':checked').val() == '1'){
	        		$(".regconfpricing_formset div[class$='reg_form']").hide();
	        	}else{
	        		$(".regconfpricing_formset div[class$='reg_form']").show();
	        	}
		    });
		    
		    
		    
	    });
	    
    </script>
{% endblock %}
