{% load base_filters %}
{% load i18n %}

{% with obj.registrant_set.all as registrants %}
	{% if registrants %}
		{% for reg in registrants %}
			<tr>
			    <td>
					{% if reg.user %}
						<a href="{% url profile reg.user.username %}">
					{% endif %}
					{% if reg.first_name or reg.last_name or reg.email %}
						{{ reg.first_name }} {{ reg.last_name }}
						{% if reg.email %} 
							({{ reg.email }})
						{% endif %}
					{% else %}
						{% trans "Registrant" %} {{ forloop.counter }} {% trans "(name not available)" %}
					{% endif %}
					{% if reg.user %}
						</a>
					{% endif %}
				</td>
				<td class="td-right">
				    {{ reg.amount|format_currency }}
				</td>
			</td>
		{% endfor %}
	{% endif %}
{% endwith %}
{% with obj.regaddon_set.all as regaddons %}
    {% if regaddons %}
        {% for regaddon in regaddons %}
    		<tr>
    			<td>
                {{ regaddon.addon.title }}
                ({% for regoption in regaddon.regaddonoption_set.all %}{{ regoption.option.title }}{% if not forloop.last %},{% endif %}{% endfor %})
                </td>
                <td class="td-right">
					<span>{{ regaddon.amount|format_currency }}</span>
    			</td>
    		</tr>
        {% endfor %}
    {% endif %}
{% endwith %}
