{% load base_tags %}
{% load perm_tags %}

{% has_perm user site_settings.change_setting as can_edit_setting %}
{% has_perm user events.add_event as can_add_event %}

{% if nav_object %}
	{% has_perm user events.view_event nav_object as can_view_event %}
	{% has_perm user events.change_event nav_object as can_edit_event %}
	{% has_perm user events.delete_event nav_object as can_delete_event %}
{% else %}
	{% has_perm user events.view_event as can_view_event %}
	{% has_perm user events.change_event as can_edit_event %}
	{% has_perm user events.delete_event as can_delete_event %}
{% endif %}

<div id="showh">
	<ul id="primary">
	
	<li>		
	<a href="{% url dashboard %}" title="Tendenci Home Page">
		<img border="0" src="{{ STATIC_URL }}images/tendenci34x15.gif" 
		alt="Tendenci User Home" align="top" width="34" height="15"></a>
	</li>

	<li>
		<span>{% firstof MODULE_EVENTS_LABEL 'Event' %}</span>
		<ul id="secondary">
			<li><a href="{% url events %}">{% firstof MODULE_EVENTS_LABEL 'Event' %}:</a></li> 
			{% if can_edit_setting %}
				<li><a href="{% url settings.index "module" "events" %}">Settings</a></li>
			{% endif %}
			{% if nav_object %}
				{% if can_view_event %}
				<li><a href="{{ nav_object.get_absolute_url }}">View</a></li>
				{% endif %}
				{% if can_edit_event %}
				<li><a href="{% url event.edit nav_object.pk %}">Edit</a></li>
				<li><a href="{% url event.edit.meta nav_object.pk %}">Edit Meta</a></li>
				<li><a href="{# url category.update nav_object.opt_app_label nav_object.opt_module_name nav_object.pk #}">Edit Categories</a></li>
				{% endif %}

				{% if can_delete_event %}
				<li><a class="delete" href="{% url event.delete nav_object.pk %}">Delete</a></li>
				{% endif %}

			{% endif %}
			<li><a href="{% url event.search %}">Search</a></li>
			<li><a href="{% url event.month today.year today.month %}">Month</a></li>
			{% if can_add_event %}
			<li><a href="{% url event.add %}">Add</a></li>
			{% endif %}

			{% if user.is_authenticated %}
			<li><a href="{% url auth_logout %}">Log Off</a></li> 
			{% endif %}
		</ul>
		
	</li>
	{% if MODULE_NEWS_ENABLED %}
	<li><a href="{% url news %}">{% firstof MODULE_NEWS_LABEL 'News' %}</a></li>
	{% endif %}
	</ul>
</div>