{% extends "events/base-print.html" %}
{% load event_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{{ block.super }}Print - {{ event.get_title }}{% endblock %}
{% block meta_description %}{{ event.get_description }}{% endblock %}
{% block meta_keywords %}{{ event.get_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ event.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events.css">
{% endblock %}

{% block body %}
<div class="t-print">

	<div class='hide-this'>
		<h1>{% trans "Print View" %}</h1>

		<div class="guide">
			<div><a href="{{ event.get_absolute_url }}">&laquo; {% trans "Back to regular event view" %}</a></div>
			<div>{% trans "Your printed page will look <em>something</em> like this." %}</div>
		</div>
	</div>

    <div class="event-wrap">
        <h2>{{ event.title }}</h2>
        <div class="content">{{ event.description|safe }}</div>
        <div class="meta">
            <div class="submitted">{% blocktrans with event.create_dt|date:"long" as submit_date event.creator as event_creator %}Submitted on {{ submit_date }} by {{ event_creator }}{% endblocktrans %}</div>
        </div>
    </div>

</div>
{% endblock %}