{% extends "events/base.html" %}
{% load pagination_tags %}
{% load event_tags %}
{% load base_tags %}
{% load perm_tags %}

{% block title %}{{ block.super }}Search{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events.css">
<link rel="alternate" type="application/rss+xml" title="Latest Events" href="{% url event.feed %}" />
{% endblock %}

{% block body %}
<style type="text/css">
	.t .event-wrap-search .attend-wrap {
		border-top: 1px solid #DDD;
	}
	.t .event-wrap-search .attend-wrap .attend {
		border: 1px solid silver;
		float: right;
		margin-top: 10px;
		padding: 5px;
		background-color: #F7F7F7;
	}
	.t .event-wrap-search .attend-wrap .attend a {
		text-decoration: none;
	}
	.t .event-wrap-search .content {
		margin-bottom: 10px;
	}

	.search-view .event-wrap {
		background-color: #EEE;
		border: 1px solid silver;
		margin-bottom: 10px;
		padding: 0;
	}
	.event-wrap h3 {
	}
	.search-view .event-wrap div.description {
		margin-bottom: 10px;
	}
	.event-wrap div.time-stamp {
		float: left;
		width: 80px;
		text-align: center;
		font-size: 1.1em;
		font-weight: bold;
		margin: 15px 0 0 15px


	}
	.event-wrap .event-info {
		background-color: white;
		padding: 10px;
		margin-left: 110px;
		
	}
	.search-view .no-events {
		font-size: 1.4em;
		background-color: #FFC;
		padding: 10px;
	}
	
	.search-view .event-info .attend-wrap {
		border-top: 1px solid #DDD;
	}
	.search-view .event-info .attend-wrap .attend {
		border: 1px solid silver;
		float: right;
		margin-top: 10px;
		padding: 5px;
		background-color: #F7F7F7;
	}
	.search-view .event-info .attend-wrap .attend a {
		text-decoration: none;
	}
	.search-view .event-info .options {
		float: right;
	}

	.search-view .event-info .time-period {
		margin-bottom: 10px;
	}
	
	.search-view .event-info .options {
		top: 0;
	}

	.search-view .event-info .registered .attend {
		background-color: orange;
		border: 1px solid orange;
	}
	.search-view .event-info .registered .attend a {
		color: white;
	}


</style>

<div class="t search-view">
{% event_nav request.user %}
    <h1>{{ SITE_GLOBAL_SITEPRIMARYKEYWORDS }} {% firstof MODULE_EVENTS_LABEL 'Event' %} Search</h1>  

	{% event_search %}
    {% autopaginate events 10 %}
	
	<div class="events-wrap">
    {% for event in events %}
		{% with event.object as event %}
    	{% has_perm user events.view_event event as can_view %}
    	{% if can_view %}
		<div class="event-wrap">
			<div class="time-stamp">{{ event.start_dt|date:"M j, Y" }}</div>
			<div class="event-info">

				<div class="options">{% event_options user event %}</div>
				
				<h3><a href="{% url event event.pk %}">{{ event.title }}</a></h3>
				<div class="place">{{ event.place }}</div>

				<div class="time-period">
					{{ event.start_dt|date:"M j, Y P" }} - {{ event.end_dt|date:"M j, Y P" }}
				</div> 

				<div class="description">{{ event.description|striptags|truncatewords:"80"|safe }}</div>

				{% if event.registration_configuration.enabled %}

					{% is_registered_user user event as registered_user %}

					{{ registered_user }}

					{% if registered_user %}
					<div class="attend-wrap registered">
						<div class="attend"><a href="{% url event.register event.pk %}">You are registered</a></div>
						<div style="clear:both;"></div>
					</div>
					{% else %}
					<div class="attend-wrap">
						<div class="attend"><a href="{% url event.register event.pk %}">Attend this event</a></div>
						<div style="clear:both;"></div>
					</div>
					{% endif %}

				{% endif %}

			</div>
			<div style="clear:both;"></div>

            <!-- delete-event form -->
            <form name="event-delete" method="POST" action="{% url event.delete event.pk %}">
                <input type="hidden" name="action" value="delete">
            </form>
		</div>
		{% endif %}
		{% endwith %}
	{% empty %}
		<div>0 Results Found</div>
    {% endfor %}
	</div>

    {% paginate %}
</div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
		$(document).ready(function(){
			// delete confirmation
			$('.delete').click(function(){
				var delete_object = confirm("Permenantly delete {% firstof MODULE_EVENTS_LABEL 'Event' %}?");	// confirm
				if(delete_object) $(this).parents('.event-wrap-search').find('form[name="event-delete"]').submit() // delete: if OK
				return false;	// cancel
			});
		});
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/global/dropdown.js"></script>
	<script type="text/javascript">
		var iconrow = new dropdown({
			container:	'more-options-wrap',
			trigger:	'more-options-trigger',
			target:		'more-options-target'
		});
	</script>
{% endblock %}