{% extends "events/base-wide.html" %}
{% load event_tags %}
{% load tagging_tags %}
{% load base_tags %}
{% load category_tags %}
{% load humanize %}

{% block title %}{{ block.super }}{{ event.get_title }}{% endblock %}
{% block meta_description %}{{ event.get_description }}{% endblock %}
{% block meta_keywords %}{{ event.get_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ event.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events.css">
<link type="text/css" href="{{ STATIC_URL }}css/jquery_ui_all_custom/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="t">

    {% event_nav user event %}

    <div class="event-wrap">

		<div class="info">
	        <h1>{{ event.title }}</h1>
	        <div class="content">
                <p>{{ event.description|safe }}</p>
                <h3>Group Pricings</h3>
                {% for gp in event.registration_configuration.groupregistrationconfiguration_set.all %}
                    {{ gp }} - early:{{ gp.early_price }} - regular:{{ gp.regular_price }} - late:{{ gp.late_price }}
                    <a href="{% url event.delete_group_pricing gp.id %}">Remove</a>
                {% endfor %}
            </div>
		</div>

		<div class="vitals">

            {% register_button %}
			
			<div class="place">
				<div><strong>{{ event.place.name }}</strong></div>
				<div class="line">{{ event.place.address }}</div>
				<div class="line">{{ event.place.city_state|join:", "}} {{ event.place.zip }} {{ event.place.country }}</div>
				<div class="line">{{ event.place.description|urlize|linebreaks }}</div>
			</div>

			<div class="time-period">
				<div class="line">{{ event.start_dt|date:"M j, Y" }}</div> 
				<div class="line">{{ event.start_dt|date:"P" }} - {{ event.end_dt|date:"P" }}</div>
			</div>
			
			<div class="hr"></div>
            
            {% for speaker in speakers %}

                {% if speaker.name %}
                <div class="speaker-wrap">
                    <div class="speaker">
                        <strong>Speaker</strong> {{ speaker.name }}
                    </div>
                    <div>
                        {% for img in speaker.files %}
                        <div class="event-speaker">
                          <img alt="Speaker: {{ speaker.name }}" src="{% url file img.pk %}"  width="260" />
                        </div>
                        {% endfor %}
                        {{ speaker.description|safe|urlize|linebreaks }}
                        <br>
                        <a href="{% url event.delete_speaker speaker.id %}">Remove</a>
                    </div>
                </div>
                {% endif %}
            
            {% endfor %}

			{% if organizer.name %}
			<div class="organizer-wrap">
				<div class="organizer"><strong>Organizer</strong> {{ organizer.name }}</div>
				<div>{{ organizer.description|safe|urlize|linebreaks }}</div>
			</div>
			{% endif %}

		</div>

		<div style="clear:both;"></div>
    </div>

    <!-- delete-event form -->
    <form name="event-delete" method="POST" action="{% url event.delete event.pk %}">
        <input type="hidden" name="action" value="delete">
    </form>

</div>
{% endblock %}

<div class="meta">
<div class="submitted">Submitted on {{ event.create_dt|date:"D d M Y P" }}
by {% firstof event.creator.get_profile.display_name event.creator %}</div>
</div>

{% url event event.pk as the_url %}
<p>{% fb_like_button_iframe the_url %}</p>

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery_ui_all_custom/jquery-ui-1.8.5.custom.min.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			// delete confirmation
			$('.delete').click(function(){
				var delete_event = confirm('Permenantly delete {% firstof MODULE_EVENTS_LABEL 'Event' %}?');	// confirm
				if(delete_event) $('.t').find('form[name="event-delete"]').submit() // delete: if OK
				return false;	// cancel
			});

			// Dialog			
			$('#event_export_dialog').dialog({
				autoOpen: false,
				width: 600,
				buttons: { 
					"Close": function() { 
						$(this).dialog("close"); 
					} 
				}
			});
			// Dialog Link
			$('#event_export_link').click(function(){
				$('#event_export_dialog').show();
		        $('#event_export_dialog').dialog('open'); 
		 
				return false;
			});
		});
    </script>
{% endblock %}
