{% extends "events/base-wide.html" %}
{% load event_tags %}
{% load tagging_tags %}
{% load base_tags %}
{% load category_tags %}
{% load humanize %}

{% block title %}{{ block.super }}{{ event.get_title }}{% endblock %}
{% block meta_description %}{{ event.get_description }}{% endblock %}
{% block meta_keywords %}{{ event.get_keywords }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events.css">
{% endblock %}

{% block body %}

<div class="t">

    {% event_nav user event %}

    <div class="event-wrap">

		<div class="info">
	        <h2>{{ event.title }}</h2>
	        <div class="content">{{ event.description|safe }}</div>
		</div>

		<div class="vitals">


			{% if event.registration_configuration.enabled %}
			<div class="register-wrap">
			{% with event.registration_configuration.price as price %}
			{% if price %}
				<div class="register-btn">
					<a href="{% url event.register event.pk %}">${{ price|floatformat:"2" }} to Register</a>
				</div>
			{% else %}
				<div class="register-btn">
					<a href="{% url event.register event.pk %}">Register for Free</a>
				</div>
			{% endif %}
			{% endwith %}
			</div>

			<div>Registration ends {{ event.registration_configuration.late_dt|naturalday }}</div>

			<div class="hr"></div>
			{% endif %}
			
			<div class="place">
				<div><strong>{{ event.place.name }}</strong></div>
				<div class="line">{{ event.place.address }}</div>
				<div class="line">{{ event.place.city_state|join:", "}} {{ event.place.zip }} {{ event.place.country }}</div>
			</div>

			<div class="time-period">
				<div class="line">{{ event.start_dt|date:"M j, Y" }}</div> 
				<div class="line">{{ event.start_dt|date:"P" }} - {{ event.end_dt|date:"P" }}</div>
			</div>
			
			<div class="hr"></div>

			{% if speaker.name %}<div class="speaker"><strong>Speaker</strong> {{ speaker.name }}</div>{% endif %}
			{% if organizer.name %}<div class="organizer"><strong>Organizer</strong> {{ organizer.name }}</div>{% endif %}

		</div>

		<div style="clear:both;"></div>
    </div>

    <!-- delete-event form -->
    <form name="event-delete" method="POST" action="{% url event.delete event.pk %}">
        <input type="hidden" name="action" value="delete">
    </form>

</div>
{% endblock %}

<div class="meta">
<div class="submitted">Submitted on {{ event.create_dt|date:"D d M Y P" }}
by {% firstof event.creator.get_profile.display_name event.creator %}</div>
</div>

{% url event event.pk as the_url %}
<p>{% fb_like_button_iframe the_url %}</p>

{% block extra_body %}
    <script type="text/javascript">
		$(document).ready(function(){
			// delete confirmation
			$('.delete').click(function(){
				var delete_event = confirm('Permenantly delete {% firstof MODULE_EVENTS_LABEL 'Event' %}?');	// confirm
				if(delete_event) $('.t').find('form[name="event-delete"]').submit() // delete: if OK
				return false;	// cancel
			});
		});
    </script>
{% endblock %}