{% extends "news/base.html" %}
{% load news_tags %}
{% load styled_forms %}

{% block title %}{{ block.super }}{% trans 'Edit Meta Information' %}{% endblock %}

{% block content %}
<div class="t">
    <h1>{% firstof MODULE_NEWS_LABEL trans 'News' %} {% blocktrans with news.headline as news_head %}Meta Information for <br />
    {{ news_head }}{% endblocktrans %}</h1>

    <div class="news-wrap">
        <form action="{% url "news.edit.meta" news.pk %}" method="post">{% csrf_token %}
        <div class="form-group">
            {{ form|styled_form }}
            <input class="btn btn-default" type="submit" value="{% trans 'Save Changes' %}" />
             or <a href="javascript:history.go(-1);">{% trans "Cancel" %}</a>
        </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){

            // delete confirmation
            $('.delete').on("click", function(){
                var delete_news = confirm("Permenantly delete {% firstof MODULE_NEWS_LABEL 'News' %}?");    // confirm
                if(delete_news) $(this).parents('.news-wrap').find('form[name="news-delete"]').submit() // delete: if OK
                return false;    // cancel
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/global/dropdown.js' %}"></script>
    <script type="text/javascript">
    var iconrow = new dropdown({
        container:    'more-options-wrap',
        trigger:    'more-options-trigger',
        target:        'more-options-target'
    });
    </script>
{% endblock %}
