{% extends "news/base.html" %}
{% load base_filters %}
{% load base_tags %}
{% load category_tags %}
{% load meta_tags %}
{% load news_tags %}
{% load tagging_tags %}


{% block title %}{{ news.get_title }}{% endblock %}
{% block meta_description %}{{ news.get_description }}{% endblock %}
{% block meta_keywords %}{{ news.get_keywords }}{% endblock %}
{% block meta_canonical_url %}<link rel="canonical" href="{{ news.get_canonical_url }}" />{% endblock %}

{% block extra_head %}
    {% meta_og_image news "thumbnail" %}
    {% meta_og_image news "body" %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% tags_for_object news as tags %}

    <article id="t-news-news-{{ news.pk }}" class="t-news-news">
        <div class="page-header">
            <h1>{{ news.headline }}</h1>
        </div>

        <div class="t-news-news-body">
            {{ news.body|safe }}
        </div>

        {% include "news/meta.html" with show_source=True show_contact=True %}
    </article>
{% endblock %}
