{% extends "memberships/base.html" %}
{% load base_tags %}
{% load base_filters %}
{% load i18n %}

{% block title %}{% trans "Export Memberships" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/memberships.css">
    <style>
       #membership-export ul li{
          list-style: none;  
        }
    </style>
{% endblock %}

{% block body %}
<div id="membership-export-wrap">
    {% if corp_profile %}
    <h1>{% trans "Roster Export for Corp. Membership: " %}{{ corp_profile.name }}</h1>
    {% else %}
    <h1>{% trans "Membership Export" %}</h1>
    {% endif %}
   
    <div id="membership-export">
        
        <form method="post" action="">{% csrf_token %}
        {{ form.as_p }}
        
        {% if request.user.email %}
        <div style="color:#880000; padding: 1em 0;">
            ***An email notification will be sent to <strong>{{ request.user.email }}</strong> once the export is ready.
        </div>
        {% endif %}
        <input class="btn" type='submit' value='Export'>
        </form>
    
    </div>
</div>
{% endblock %}
