form.settings-form p {
	padding: 5px;
	color: #777;
}

form.settings-form label {
	display: block;
	margin-bottom: 2px;
	font-weight: bold;
	color: #555;
}

form.settings-form input {
	display: block;
	margin-bottom: 3px;
	color: #555;
}

form.settings-form select {
	display: block;
	margin-bottom: 3px;
	max-width: 55%;
	color: #555;
}

form.settings-form input[type="text"] {
	width: 40%;
	padding: 3px;
	font-size: 14px;
}

form.settings-form textarea {
	display: block;
}
