.t h2 {
    margin: 0 auto 10px 0;
}

.t .groups-wrap {
    margin-bottom: 20px;
}

.t .groups-wrap .wrap-search-item {
    border: 1px solid #CCC;
}

.t .groups-wrap .group-wrap {
    padding: 10px 10px 0px 10px;
    position: relative;
}

.t .groups-wrap .group-wrap h2 {
    width: 85%;
}

.t .groups-wrap .group-wrap .content {
    margin-bottom: 0px;
}

.t .options {
    text-align: right;
    position: absolute;
    top: -30px; right: 0;
    padding: 5px;
    white-space: nowrap;
}
.t .options-search {
    position: static;
}
.t .quick-options {
    float: right;
    margin: 0 0 15px 0;
    text-align: right;
}
.t .quick-options ul {
    margin: 0; padding: 0;
    list-style-type: none;
}
.t .quick-options ul li {
    display: inline;
}

.t .dropdown-options {
    float: right;
    display: none; /* todo: port-over dropdown js */
}
.t .dropdown-options span {
    font-size: .7em;
}
.t .dropdown-options ul {
    display: none;
}

.t h1 {
    margin: 0;
}
.t .back-to-search {
    margin-bottom: 20px;
}


.t ul.groups-nav {
    margin: 0; padding: 0;
    list-style-type: none;
    margin-bottom: 20px;
}
.t ul.groups-nav li {
    display: inline;
}

/* group search */
.t form.search-form input[type="text"] {
    padding:5px;
    width:273px;
}

.t form.search-form {
    margin-bottom: 45px;
}

.t form.search-form div .errorlist {
    margin-left: 15px;
    margin-top: 2px;
    color: red;
}

.t form.search-form .q .errorlist {
    margin-left: 6px;
}

.t form.search-form input[type="submit"] {
    height: 28px;
    width: 100px;
    margin-left: 4px;
    vertical-align: -10px;
}

.t form.search-form #id_search_category {
    height: 30px;
    margin-top: 2px;
}

.t form.search-form span  {
    padding-top: 10px;
    padding-right: 6px;
}

.t form.search-form div.search-category,
.t form.search-form div.q,
.t form.search-form span  {
    float: left;
}

/* edit perms */
 .t .t-group .t-perm h2{
    font-size: 1.4em;
  }
  .t .t-group .t-perm .field-wrapper{
    margin: 1em 0;
  }
.t .group-view #group-options {
    width: 300px;
    border: 1px solid silver;
    padding: 10px;
    float: right;
    margin-right: 10px;
    background-color: white;

    -moz-box-shadow: 0 0 5px #BBB;
    -webkit-box-shadow: 0 0 5px #BBB;
    box-shadow: 0 0 5px #BBB;
}

.t .group-view #group-options ul {
    margin-left: 0;
}

.t .group-view #group-options li {
    margin-bottom: 10px;
    list-style-type: none;
}

/* Group View Page */
.t .group-view h2 {
    margin: 10px 0 10px 0;
}

.t .group-view .group-member-list {
    padding: 5px;
}

.t .group-view .group-member-list .group-member {
    padding: 6px 0 6px 3px;
}

.t .group-view .group-member-list .gray {
    background-color: #EEE;
}

.t .import-result .subscriber {
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid #CCC;
}

.delete-member-form {
    display: inline;
}

.unsubscribe-status {
    color: red;
}

 /* Groups Add/Edit
 ------------------------- */

.errors {
    border: 2px solid #FF8B78;
    background-color: #FFEBE8;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 110px;
    width: 75%;
}
.clear {
    clear: both;
}
.wrap {
    white-space: pre-wrap;
}
.item-text {
    font-size: 1.4em;
    border-bottom: 1px solid silver;
    margin: 20px 0;
    font-weight: bold;
}

/* label:field item */
.item {
    margin-bottom: 10px;
}
.item .errs {
    color: red;
    margin-left: 110px;
}
.item .label {
    float: left;
    font-size: 1.4em;
    text-align: right;
    width: 100px;
    white-space: nowrap;
}
.item .label-wrap {
    white-space: normal;
}


.item .field,
.item .help {
    margin-left: 110px;
}
.item .field input,
.item .field textarea,
.item .field select {
    width: 100%;
}
.item .field .mceLayout {
    /* WYSIWYG; .1 keeps border intact */
    width: 100.1% !important;
}

/* date-time item */
.item-dt {
    margin: 0 0 20px 110px;
}
.item-dt .errs {
    color: red;
}
.item-dt .label {
    font-size: 1.4em;
    margin-bottom: 5px;
}
.item-dt .field input {
    float: left;
    width: 15%;
    margin-right: 5px;
}

/* field:label item */
.item-checkbox {
    margin: 0 0 5px 110px;
}
.item-checkbox .label {
    font-size: 1.4em;
    margin-bottom: 5px;
}
.item-checkbox .field input {
    float: left;
    margin-right: 10px;
}

/* horizontal rule item */
.item-hr {
    height: 1px;
    background-color: silver;
    margin: 10px 0 10px 110px;
    width: 85%;
}
/* horizontal rule long item */
.item-hr-long {
    height: 1px;
    background-color: silver;
    margin: 20px 0 20px 0;
    width: 100%;
}
/* horizontal rule (transparent) item */
.item-hr-clear {
    height: 10px;
    width: 100%;
}

/* perms widget
------------------------------- */

.edit-group-perms .selector { width: 840px; }
.edit-group-perms .selector select { width: 640px; }
.edit-group-perms .selector-available, .edit-group-perms .selector-chosen { float: left; width: 640px; text-align: center; margin-bottom: 5px; }
.edit-group-perms .selector-add, .edit-group-perms .selector-remove { text-indent: 0; background-image: none;}
.edit-group-perms .selector ul.selector-chooser { background-image: none; width: 160px; margin: 0 auto; padding: 10px 240px; height: 28px; }
.edit-group-perms .selector ul.selector-chooser li { display: inline; float: left; padding: 0 16px; }
.edit-group-perms .selector-chosen .selector-filter { display: none; }

.t .group-view .thead{
    border-bottom: 1px dotted #ccc;
}
.t .group-view .gm-table{
    border: 1px solid #ccc;
    margin-top: 1em;
}

.system-generated{
    color: #FF0000;
}

.qmark { font-size: 20px;}
